// Sidebar contains all the styles for the filter sidebar on the left.
//

// Main sidebar
.sidebar-wrapper {
  float: left;
  width: $sidebar-width;
  height: 100%;
  background: #cecece;
  border-right: 1px solid #e2e4e5;
  position: relative;
  z-index: 209;
  transition: all 0.25s ease;
  // Hide the expand controls when the sidebar is visible
  .collapse-button, .collapse-controls {
    display: none;
  }
}

// Sidebar title with the page title, collapse icon etc
.sidebar-title {
  background: #fff;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
  border-bottom: 1px solid #dbddde;

  z-index: 299;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  .sidebar-type-icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 2px; // to align with the slider butto nand bulk edit checkbox
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    text-align: center;

    > .fa {
      position: relative;
      top: 5px;
      color: #c9c9c9;
    }

    .help {
      position: absolute;
      width: 18px;
      height: 18px;
      top: -9px;
      right: -9px;
      border-radius: 19px;
      background: #ededed;
      color: #a5a5a5;
      text-align: center;
      border: 2px solid #fff;
      font-size: 10px;
      i {
        top: 1px;
      }
    }

    .help:hover {
      background: darken(#ededed, 10%);
      color: #fff;
      cursor: pointer;
    }
  }

  h1 {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    color: #737373;
  }

  hr {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    margin-left: 10px;
  }

  .slider-control {
    display: block;
    position: absolute;
    right: 0;
    top: 12px;
    border: 1px solid #e2e5e8;
    border-radius: 2px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
    width: 26px;
    height: 26px;
    @include retina-image('../img/icon-collapse', 11px 12px);
    background-position: center center;
    background-repeat: no-repeat;
  }

  .slider-control:hover {
    border: 1px solid darken(#e2e5e8, 10%);
    border-right: 0;
  }
}

.sidebar {
  background: $sidebar-background;
  font-weight: 400;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  a {
    text-decoration: none;
    color: $sidebar-link-color;
  }

  .section-info {
    display: block;
    margin: 5px 7px;
  }

  .add-new {
    display: inline-block;
    line-height: 1em;
    padding: 5px 8px;
    background: #93be44;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 5px;
    &:hover {
      color: darken(#6f6f70, 15%);
    }
  }

}

// Section title
.list-sidebar-title {
  background: #eef1f3;
  border-radius: 2px;
  padding: 5px 12px;
  border-top: 1px solid #dce4ea;
  border-bottom: 1px solid #dce4ea;
  color: #7f8081;
  font-size: 0.9em;
  font-weight: 600;
  margin: 20px 0 5px 0;
  position: relative;

  &:first-child {
    margin-top: 10px;
  }

  &:before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 15px;
    background: #3c6e98;
    position: absolute;
    top: 4px;
    left: 4px;
  }

  // Single icon
  /* .sidebar-title-settings {
    float: right;
    position: relative;
    top: 2px;
    right: -2px;
    opacity: 0.25;

    &:hover { opacity: 0.75; }
  } */

  .title-down {
    margin-left: 4px;
    color: #c8cacc;
    position: relative;
    top: 1px;
  }

  .title-down:hover {
    color: #333;
  }

  // Controls on the title (me/all buttons on the side of the title)
  .controls {
    position: absolute;
    top: 3px;
    right: 5px;
    font-weight: 800;
    font-size: 10px;

    a {
      text-transform: uppercase;
      display: inline-block;
      line-height: 1em;
      padding: 3px 5px;
      font-size: 0.9em;
      vertical-align: top;
      margin-left: 5px;
      border: 1px solid #d6d8da;
      border-radius: 2px;
      color: #acacac;
    }

    a:hover, a.active {
      color: #fff;
      border: 1px solid $top-bar-blue;
      background: $top-bar-blue;
    }
  }

  .calendar-controls {
    font-size: 0.8em;

    a {
      padding: 3px 5px;
      display: inline-block;
      line-height: 1em;
      border: 1px solid $global-border;
      border-radius: 2px;
      background: #fff;
    }

    .year {
      color: #5b5b5b;
      font-weight: 800;
      padding-left: 8px;
      padding-right: 8px;
      margin-left: 7px;
      margin-right: 3px;

      i {
        margin-left: 5px;
      }
    }

    .calendar {
      color: $top-bar-blue;
      i {
        position: relative;
        top: -1px;
      }
    }
  }
}

.list-sidebar-title.list-sidebar-title-kb {
  border: 0;
  background: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 4px;
}

// SLA on any kind of sidebar .item | these work in any .item
.sla {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1em;

  .sla-button {
    cursor: pointer;
  }

  span {
    margin-right: 5px;
    padding: 0 5px;
  }

  .selected, span:hover {
    background: #1a476d;
    color: #fff;
    border-radius: 99px;
  }

  span:before {
    content: " ";
    display: inline-block;
    width: 5px;
    height: 5px;
    position: relative;
    top: -1px;
    margin-right: 4px;
    background: #3acf5d;
    border-radius: 199px;
  }

  span.sla-yellow:before {
    background: #f6be1a;
  }
  span.sla-red:before {
    background: #ff5460;
  }
}

// Adjustments for slas on active items
.item.active, .item:hover {
  .sla {
    span {
      opacity: 0.5;
    }

    span.selected, span:hover {
      opacity: 1;
    }
  }
}

// Forms in sidebars
.sidebar {

  form {
    padding: 10px;
    .title {
      @include clearfix;
      position: relative;
      margin-bottom: 5px;

      span {
        font-weight: 700;
        font-size: 1.1em;
        color: #a8aaaf;
      }

      a {
        position: absolute;
        bottom: 0;
        right: 0;
        text-decoration: underline;
        font-size: 0.95em;
      }
    }

    input, textarea {
      display: block;
      width: 100%;
      background: #e1e6eb;
      color: #5b5e68;
      font-family: Lato;
      line-height: 1em;
      padding: 5px 5px;
      border: 1px solid #bdbdbd;
      border-radius: 2px;
      margin-bottom: 5px;

      @include placeholder {
        color: #5b5e68;
        font-style: normal;
        opacity: 1;
      }
    }

    input[type="button"], .button, button {
      background: #6899c1;
      border: 0;
      padding: 8px;
      color: #fff;
    }
  }
}

// Top of the sidebar tabs
.sidebar-tabs {
  @extend %flat-list;
  @extend %inline-list;
  font-weight: 800;
  font-size: 0.75em;
  background: #e7e7e7;
  cursor: default;
  height: 24px;
  z-index: 199;
  margin-bottom: 5px;
  border-bottom: 1px solid #d1d4d6;

  li {
    display: block;
    width: 30%;
    float: left;
    height: 24px;
  }

  &.tabs-4 li {
    width: 24%;
  }

  a {
    display: block;
    height: 24px;
    padding-top: 5px;
    position: relative;
    color: #7f7f7f;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    border-right: 1px solid #d1d4d6;
  }

  li.active, li:hover {
    background: #f8f8f8;
    top: 2px;
    z-index: 999;
    border-bottom: 1px solid #f8f8f8;
    a {
      color: #3c6e98;
    }
  }

  li:hover {
    background: #f8f8f8;
  }
}

// A large list of sidebar items (and sublists)
.sidebar-list {
  font-weight: 400;
  line-height: 14px;
  font-size: 12px;
  min-height: 100px;

  ul.with-connectors {
    @extend %flat-list;
    margin-left: 15px;
    margin-bottom: 10px;
  }

  li {
    display: block;
    &:last-child {
      border-bottom: 0;
    }
    position: relative;
  }

  ul {
    margin-left: 0;
    padding-left: 0;

    .sidebar-item {
      border-bottom: 1px solid $sidebar-divider;
      margin-left: 0;
      > .item {
        padding-left: 12px;
      }
    }
  }

  > ul > li ul, .sidebar-urgent-sliders {
    .list-counter {
      background: #dcddde;
      color: #8c8c8d;
    }
  }

  a.item {
    @extend %whitespace;
    display: block;
    padding: 5px;
    padding-left: 16px;
    color: #5b5b5b;
    padding-right: 40px;
    position: relative;
    outline: none;

    > i {
      display: inline-block;
      width: 18px;
      text-align: center;
      margin-left: -5px;
      color: #979797;
    }

    i.fa {
      margin-right: 5px;
    }

    &:hover, &.active {
      background: $top-bar-blue;
      color: #fff;
      position: relative;
      z-index: 89;

      i {
        color: #fff;
      }
    }
  }

  li.droppable a {
    background: $top-bar-blue;
    color: #fff;
  }

  .labelCharacter {
    font-weight: 700;
    color: #979797;
  }

  .item-label {
    margin-left: 5px;
  }

  a.item.item-strong {
    font-weight: 700;
    border-bottom: 1px solid $sidebar-divider;
    margin-bottom: 5px;
    position: relative;
  }

  .with-connectors {
    // Between the main line and items (horizontal small lines)
    position: relative;
    margin-bottom: 5px;

    // vertical line on secondary list
    &:after {
      display: block;
      content: " ";
      position: absolute;
      left: -0px;
      top: 0;
      width: 1px;
      height: 100%;
      background: #c7c8c9;
      z-index: 81;
    }

    > li:after {
      display: block;
      content: " ";
      position: absolute;
      left: 5px;
      top: 12px;
      width: 5px;
      height: 1px;
      background: #c7c8c9;
      z-index: 99;
      opacity: 0.5;
    }

    &.depth-1,
    &.depth-2,
    &.depth-3,
    &.depth-4,
    &.depth-5 {
      padding-left: 10px;
    }
  }

  .list-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: $sidebar-background;
    z-index: 89;
    text-align: center;
    border-radius: 2px;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    margin-right: 3px;
    margin-top: -4px;
  }

  // Custom status icons on filters
  a.status-icon, .status-icon {
    background: #56b3ff;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    color: #fff;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.5em;

    // position text or icons in the container
    span, .fa {
      position: relative;
      top: 3px;
    }
  }

  .sidebar-brand {
    padding: 5px;
    background: #e1e6eb;
    border-bottom: 1px solid #dedfe0;

    * {
      vertical-align: middle;
    }

    a {
      @extend %whitespace;
      display: block;
      text-decoration: none;
      background: #f1f4f6;
      border: 1px solid #c1cad4;
      border-radius: 2px;
      padding: 2px;
      padding-right: 20px;
      position: relative;

      i {
        position: absolute;
        right: 10px;
        top: 9px;
      }
    }

    .faded {
      opacity: 0.5;
    }

    .brand-logo {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 2px;
      text-align: center;
      background: rgba(0, 0, 0, 0.1);
      margin-right: 5px;
    }

    ul {
      @extend %flat-list;

      li {
        a {
          border-bottom: 0;
          border-radius: 0;
        }

        &:last-child a {
          border-bottom: 1px solid #c1cad4;
        }
      }
    }
  }

  .flag {
    background: none;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
  }

  .avatar {
    display: block;
    width: 16px;
    height: 16px;
    background-size: cover;
  }

  .user-photo {
    font-size: 11px;
  }
}

a.item.urgent {
  color: #fff;
  padding: 0;
  border-radius: 2px;
  line-height: 20px;
  margin: 6px 20px;
  margin-right: 40px;
  margin-left: 20px;
  height: 20px;
  position: relative;
  top: 5px;

  &.level-1 {
    background: #70de7d;
  }
  &.level-2 {
    background: #aede70;
  }
  &.level-3 {
    background: #bbde70;
  }
  &.level-4 {
    background: #ffa454;
  }
  &.level-5 {
    background: #ff9454;
  }
  &.level-6 {
    background: #ff7854;
  }
  &.level-7 {
    background: #ff6054;
  }
  &.level-8 {
    background: #e53f3f;
  }
  &.level-9 {
    background: #cf2d2d;
  }
  &.level-10 {
    background: #ac2020;
  }

  .label {
    display: inline-block;
    padding: 0 5px;
  }

  .level {
    float: right;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.7);
    padding: 0 7px;
  }

  &:hover {
    &:before {
      display: none;
    }
  }
}

// Numbers next to list items
.list-counter-bucket {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 5px;
  font-size: 0.9em;
  z-index: 99;

  a {
    display: inline-block;
    line-height: 1em;
    padding: 3px 5px;
    text-align: center;
    position: relative;
    top: 4px;
    z-index: 99;
    color: #fff;
    font-weight: 600;
    font-size: 0.9em;

    i {
      font-size: 1.3em;
      line-height: 0.4em;
      position: relative;
      top: 1px;
      left: -1px;
      color: #333;
    }

    &.edit-icon {
      padding: 3px 1px;
    }
  }

  a.list-counter.list-counter-button {
    color: #fff;
    background: $green;

    &:hover {
      background: darken($green, 10%);
      color: #fff;
    }
  }

  a.list-counter, .list-counter, a.list-counter-dropdown, .list-counter-dropdown {
    background: $sidebar-color-selected-counter;
    border-radius: 199px;
    color: #fff;
    outline: none;

    &.active, &:hover {
      background: #dae6f0;
      color: #27557b;
    }
  }

  a.list-counter.faded {
    background: none;
  }
}

.collapse {
  transition: max-height 0.25s ease-in-out;
  overflow: hidden;

  &.open {
    max-height: 1000px;
  }
  &.closed {
    max-height: 0;
  }
}
