#header h1 {
	font-size: 15px;
	font-weight: bold;
	color: #46515f;
	text-shadow: 0 1px 0 #fff;
	padding: 10px;
}

#header {
	border-bottom: 1px solid #d3d9e0;

	-webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;

	background: #eef1f5;
	background: -webkit-gradient(linear, 0 bottom, 0 top, from(#ebeef3 ), to(#f0f3f6));
    background: -moz-linear-gradient(90deg, #ebeef3, #f0f3f6 );
}

#footer {
	padding: 11px;
	text-align: center;


	-webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;

	background: #ced3d9;
	background: -webkit-gradient(linear, 0 bottom, 0 top, from(#d8dce1 ), to(#c2c8cf));
    background: -moz-linear-gradient(90deg, #d8dce1, #c2c8cf );

	-webkit-box-shadow: inset 0 1px 1px #959ba1, 0 1px 1px #3d4041;
    -moz-box-shadow: inset  0 1px 1px #959ba1, 0 1px 1px #3d4041;
    box-shadow: inset 0 1px 1px #959ba1, 0 1px 1px #3d4041;
}