#window_head {
	height: 52px;
}

table#pane_shell {
	/* this is so the table goes all the way to the bottom,
	mainly so the sidebar stripe doesnt abruptly cut off
	since that looks weird */
	position: absolute;
	top: 52px;
	bottom: 0;
}
table#pane_shell td#pane_nav {
	width: 165px;
	border-right: 1px solid #BBBBBB;
}


table#pane_shell td#pane_content div#content_wrap {
	padding: 10px;
}

table#pane_shell.no-nav td#pane_content {
	background-color: #E4E8ED;
	padding: 10px;
}

table#pane_shell.no-nav td#pane_content div#content_wrap {
	background-color: #fff;
	-moz-border-radius: 8px;
	border-radius: 8px;
	max-width: 1000px;
}