<div class="new-user new-user-overlay show-fields edit-fields-overlay" style="display:none">
	<p class="error-message" style="none"></p>
	<div class="field-wrap">
		<div class="label-wrap"><label>Name</label></div>
		<div class="field-input">
			<input type="text" name="person[first_name]" value="" placeholder="First Name" style="width: 150px" />
			<input type="text" name="person[last_name]" value="" placeholder="Last Name" style="width: 150px" />
		</div>
	</div>
	<div class="field-wrap">
		<div class="label-wrap"><label>Email</label></div>
		<div class="field-input">
			<input type="text" name="person_email[email]" value="" placeholder="Email Address" />
		</div>
	</div>
	<div class="buttons" style="text-align: center; margin-top: 10px;">
		<div class="loading-off">
			<button class="save-trigger dp-button small">Save</button>
			<button class="close-trigger dp-button gray small">Cancel</button>
		</div>
		<div class="loading-on">
			<span>Saving ...</span>
		</div>
	</div>
</div>