// Editing stuff dropdown
.select-dropdown-editing {
  display: block;
  width: 100%;

  .selected {
    position: relative;
    display: block;
    width: 100%;
    background: #daeaf7;
    color: #4681b2;
    border-bottom: 1px solid #b6c9d8;
    border-radius: 2px;
    text-decoration: none;
    padding: 8px 10px;
    line-height: 1em;

    i, span {
      display: inline-block;
      vertical-align: middle;
    }

    .dropdown-title {
      font-size: 0.9em;
      color: #4681b2;
      margin-left: 5px;
    }

    .icon {
      display: inline-block;
      color: #c3d2de;
      border-left: 1px solid #c3d2de;
      padding-left: 10px;
      padding-right: 10px;
      position: absolute;
      right: 0;
    }
  }

}

// Generic dropdown styles

$secondary-surface: #6b6b6b;
$secondary-surface-border: #d5d6d7;

.search-matched-word {
  background: #e6d183;
  color: #333;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
}

.dropdown {
  border-top: 4px solid darken($secondary-surface, 15%);
  border-bottom: 4px solid darken($secondary-surface, 5%);

  position: absolute;
  top: 35px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 0.9em;
  text-align: left;

  header, footer {
    @include clearfix;
  }

  header {
    background: $secondary-surface;
    padding: 10px;
    font-size: 1.2em;
    color: #fff;

    h1 {
      color: #eaeaea;
      font-size: 1em;
      font-weight: 400;
    }

    .header-controls {
      font-size: 0.65em;
      text-transform: uppercase;
      font-weight: 600;
      float: right;

      a {
        opacity: 0.3;
        color: #fff;

        &:hover {
          opacity: 0.8;
        }
      }

      > a {
        i {
          margin-right: 5px;
        }
      }

      .close {
        display: inline-block;
        padding: 5px 15px;
        margin-left: 15px;
        padding-right: 10px;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
      }

      .minimize {
        @extend .close;
        padding-right: 0;
        i {
          top: 1px;
        }
      }

      a.department {
        display: inline-block;
        background: #4b4b4b;
        opacity: 1;
        color: #919191;
        padding: 5px 10px;
        line-height: 1em;
        border-radius: 2px;

        span {
          color: #dbdbdb;
          margin-left: 5px;
          i {
            margin-right: 2px;
          }
        }
      }
    }
  }

  footer {
    //background: #e1e6eb;
    padding: 5px;
    border-top: 1px solid $secondary-surface-border;
  }

  .button {
    text-decoration: none;
    background: #4681b2;
    color: #fff;
    display: inline-block;
    line-height: 1em;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    vertical-align: middle;
    border-radius: 2px;

    i {
      font-size: 1.4em;
      vertical-align: middle;
      margin-left: 5px;
      line-height: 12px;
    }
  }

  // Top right button for dropdowns
  .control {
    position: absolute;
    top: 15px;
    right: 23px;

    i {
      font-size: 1.5em;
      opacity: 0.3;
    }
  }

  h1, h2 {
    margin-bottom: 0;
    color: #333;
  }
}

// Tabs for dropdown headers
ul.dropdown-tabs {
  @extend %flat-list;
  background: $secondary-surface;
  padding-left: 10px;
  padding-top: 10px;

  li {
    display: inline-block;
    width: auto;
    position: relative;
    top: 1px;

    a {
      padding: 10px;
      display: block;
      text-decoration: none;
      color: #9ea1a4;
      font-weight: 500;
      font-size: 1.1em;
    }
  }

  .selected {
    a {
      background: #f5f6f7;
      color: #333;
      border: 1px solid #d5d6d7;
      // border-bottom: #f5f6f7;
    }
  }
}

.user-details-table {
  border: 1px solid #dcddde;
  border-radius: 2px;
  background: #fff;
  color: #838383;
  margin: 10px;
  margin-top: 0;

  > div {
    border-bottom: 1px solid #dcddde;
    padding: 0 10px;
    position: relative;

    &:last-child {
      border-bottom: 1px solid #fff;
    }
  }

  .get-more {
    display: inline-block;
    position: absolute;
    right: 8px;
    bottom: 8px;
    text-decoration: none;
    line-height: 1em;
    padding: 3px;
    border-radius: 2px;
    background: #e9e9ea;
    color: #b1b1b1;
    font-weight: 600;
    font-size: 0.85em;

    i.fa-globe {
      padding: 2px;
      font-size: 16px;
    }
  }

  .ticket-id {
    display: inline-block;
    line-height: 1em;
    padding: 3px 5px;
    font-size: 0.8em;
    font-weight: 600;
    background: #ececec;
    color: #afafaf;
    border-radius: 2px;
    margin-right: 5px;
  }

  .ticket-date {
    opacity: 0.3;
    font-size: 0.85em;
    font-weight: 600;
    margin-left: 5px;
  }

  a {
    color: #4681b2;
    text-decoration: underline;
    max-width: 190px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.grey {
      color: #919191;

      strong {
        color: darken(#919191, 15%);
      }
    }
  }

  .label {
    display: inline-block;
    width: 50px;
    padding-right: 5px;
    text-align: right;
  }

  .location {
    img {
      position: relative;
      top: 1px;
      margin: 0 2px;
    }
  }

  .details-row {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 50px;

    > * {
      display: inline-block;
      vertical-align: bottom;
    }
  }

  .chat-message-row {
    @extend .details-row;
    position: relative;
    margin: 10px 0;
    margin-top: 5px;
    padding-right: 0;
    min-height: 28px;

    .chat-avatar {
      margin-left: 0;
      margin-right: 5px;
    }

    .user, .message {
      display: inline-block;
      vertical-align: middle;

      * {
        display: inline-block;
        vertical-align: middle;
      }

      p {
        margin-bottom: 0;
        line-height: 1.3em;
      }
    }

    .user {
      width: 35px;
    }

    .message {
      width: 400px;
      font-size: 1.1em;
    }

    .message.message-typed {
      font-style: italic;
      p {
        color: #a5a5a5;
      }
    }

    .message.message-typed.no-text {
      p {
        display: block;
        width: 200px;
        margin: 0 auto;
        text-align: center;
        color: #cecece;
      }
    }

    .user-typing {
      display: block;
      font-style: italic;
      margin-bottom: 5px;
      opacity: 0.5;
      font-size: 0.9em;
    }
  }
}

.typing-cursor {
  display: inline-block;
  width: 2px;
  height: 1.3em;
  margin-top: -3px;
  background: #d0d0d0;
  vertical-align: middle;
  margin-left: 3px;
}

.emoticon {
  display: inline-block;
}

/* Generated data URIs used for preview purposes only */
/* Be sure that you replace data URIs with generated images */
.sprite {
  background-image: url('../img/emoticons/emoticon-grid.png');
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .sprite {
    background-image: url('../img/emoticons/emoticon-grid_2x.png');
    background-size: 414px 18px;
  }
}

.sprite-emoticon-1 {
  width: 18px;
  height: 18px;
  background-position: 0 0;
}

.sprite-emoticon-2 {
  width: 18px;
  height: 18px;
  background-position: -18px 0;
}

.sprite-emoticon-3 {
  width: 18px;
  height: 18px;
  background-position: -36px 0;
}

.sprite-emoticon-4 {
  width: 18px;
  height: 18px;
  background-position: -54px 0;
}

.sprite-emoticon-5 {
  width: 18px;
  height: 18px;
  background-position: -72px 0;
}

.sprite-emoticon-6 {
  width: 18px;
  height: 18px;
  background-position: -90px 0;
}

.sprite-emoticon-7 {
  width: 18px;
  height: 18px;
  background-position: -108px 0;
}

.sprite-emoticon-8 {
  width: 18px;
  height: 18px;
  background-position: -126px 0;
}

.sprite-emoticon-9 {
  width: 18px;
  height: 18px;
  background-position: -144px 0;
}

.sprite-emoticon-10 {
  width: 18px;
  height: 18px;
  background-position: -162px 0;
}

.sprite-emoticon-11 {
  width: 18px;
  height: 18px;
  background-position: -180px 0;
}

.sprite-emoticon-12 {
  width: 18px;
  height: 18px;
  background-position: -198px 0;
}

.sprite-emoticon-13 {
  width: 18px;
  height: 18px;
  background-position: -216px 0;
}

.sprite-emoticon-14 {
  width: 18px;
  height: 18px;
  background-position: -234px 0;
}

.sprite-emoticon-15 {
  width: 18px;
  height: 18px;
  background-position: -252px 0;
}

.sprite-emoticon-16 {
  width: 18px;
  height: 18px;
  background-position: -270px 0;
}

.sprite-emoticon-17 {
  width: 18px;
  height: 18px;
  background-position: -288px 0;
}

.sprite-emoticon-18 {
  width: 18px;
  height: 18px;
  background-position: -306px 0;
}

.sprite-emoticon-19 {
  width: 18px;
  height: 18px;
  background-position: -324px 0;
}

.sprite-emoticon-20 {
  width: 18px;
  height: 18px;
  background-position: -342px 0;
}

.sprite-emoticon-21 {
  width: 18px;
  height: 18px;
  background-position: -360px 0;
}

.sprite-emoticon-22 {
  width: 18px;
  height: 18px;
  background-position: -378px 0;
}

.sprite-emoticon-23 {
  width: 18px;
  height: 18px;
  background-position: -396px 0;
}

.sidebar-dropdown-content {
  display: none;
  @extend .dropdown;
  position: absolute;
  bottom: auto;
  left: 140px;
  top: 120px;
  background: #f5f6f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;

  header {
    color: #a8a8a9;
    padding: 10px;
    font-size: 1.1em;
    strong {
      color: #fff;
    }
  }

  .dropdown-content {
    padding: 10px;
  }

  ul {
    @extend %flat-list;
    margin: 0;
    width: 160px;

    li {
      border-bottom: 1px solid $global-border;
    }

    a {
      font-size: 1.1em;
      display: block;
      text-align: left;
      line-height: 1em;
      padding: 10px;
      top: 0;
      text-decoration: none;
    }

    i {
      color: #b0b1b2;
      margin-right: 3px;
      font-size: 1em;
      position: relative;
    }
  }

  form {
    font-size: 1.1em;
    width: 300px;

    label {
      display: block;
      margin-bottom: 5px;
      color: #919191;
    }

    input[type="text"], .select-dropdown {
      background: #fff;
      border: 1px solid $global-border;
      border-radius: 2px;
      display: block;
      line-height: 1em;
      padding: 10px 5px;
      margin-bottom: 10px;
      font-size: 1em;

      i {
        float: right;
        margin-right: 10px;
      }

      @include placeholder {
        color: #5b5e68;
        font-style: italic;
        opacity: 0.25;
      }
    }

    .select-dropdown {
      border-bottom: 2px solid $global-border;
      text-decoration: none;
    }

    input[type="button"], input[type="submit"], .button, button {
      background: #4681b2;
      padding: 10px;
      border: 0;
      color: #fff;
      font-size: 1em;
    }

    .extra-option {
      text-align: center;
      padding: 2px;
      font-size: 0.85em;
      font-weight: 700;

      a {
        opacity: 0.5;
      }
      a:hover {
        opacity: 1;
      }
    }
  }
}

// .minimized {
//   z-index: 999;
// }
