.dpw-date-picker-custom-date-and-time {
  width: 299px;
  padding: 5px;
  padding-bottom: 0px;


  .dpw-date-picker-custom-date {
    width: 100px;
    padding-right: 0px !important;
  }

  .dpw-date-picker-custom-time {
    width: 186px;
  }

  .dpw-date-picker-custom-date, .dpw-date-picker-custom-time {
    border: 1px solid #ececec;
    border-radius: 2px;
    height: 35px;
    padding: 5px 10px;
    display: inline-block;
    color: #8c8c8c;
    padding-top: 9px;
    font-size: 11px;
    font-weight: 600;
    vertical-align: top;

    i {
      margin-right: 6px;
      font-size: 12px;
    }
  }


  [type="text"].text-entry-date {
    border: 0px;
    color: inherit;
    font-weight: inherit;
    padding: 0px;
    font-size: 10px;

    line-height: 1em;
    display: inline-block;
    width: 60px;
  }



  .dpw-date-picker-custom-time { position: relative; }


  .custom-time-dropdowns {
    position: absolute;
    left: 30px;
    top: 5px;
    cursor: pointer;
  }

  .custom-time-dropdown {
    border: 1px solid #ececec;
    border-radius: 2px;
    display: inline-block;
    padding: 4px 6px;
    padding-right: 2px;
    font-size: 10px;

    i {
      margin-left: 3px;
      font-size: 10px;
      color: #d6d6d6;
    }

    &:hover {
      background: #62ad8c;
      border: 1px solid #62ad8c;
      color: #fff;
      i { color: inherit; }
    }

  }

}














.dpw-date-picker {

  .dpw-date-picker-calendar-jump  {
    text-align: center;
    position: relative;
    height: 32px;
    padding-top: 10px;
    width: 287px;

    color: #c7c7c7;

    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      color: #868686;
    }

    .year-jumper {
      i {
        margin-left: 3px;
      }
    }

    .month-jumper {
      position: absolute;
      top: 4px;
      padding: 5px;

      i { font-size: 14px; }
    }

    .month-jumper-back { left: 10px; }
    .month-jumper-forward { right: 10px; }

  }





  .dpw-date-picker-calendar {
    padding: 5px 5px 5px 0;
    display: inline-block;

    table {
      border-collapse: collapse;
      width: 287px;
      font-size: 11px;
      font-weight: 600;
      background: #fff;
      border: 1px solid #ececec;
      border-radius: 2px;
      text-align: center;
      color: #868686;
    }

    thead {
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      color: #bdbdbd;

      td + td { border-right: 0px; }

      td {
        height: 30px;
        border-bottom: 1px solid #ececec;
      }
    }

    td {
      width: 40px;
      height: 35px;
      position: relative;
      padding: 0;
      margin: 0;
    }

    td + td { border-right: 1px solid #ececec; }

    td.non-date {
      color: #dcdcdc;
    }




    td {
      .date-title {
        position: relative;
        z-index: 1556;
      }
    }

    td.selected-range {
      color: #fff;

      &:before {
        content: "";
        display: block;
        width: 42px;
        height: 25px;
        background: #62ad8c;
        position: absolute;
        z-index: 1554;
        top: 5px;
      }
    }


    td.selected-range.selected-range-end, td.selected-range.selected-range-start {
      cursor: pointer;
    }

    td.selected-range.selected-range-end {
      &:before {
        left: -1px;
        width: 36px;
        border-top-right-radius: 99px;
        border-bottom-right-radius: 99px;
      }

      &:after {
        content: "";
        display: block;
        width: 26px;
        height: 21px;
        background: #589b7e;
        position: absolute;
        z-index: 1555;
        left: 6px;
        border-radius: 99px;
        top: 7px;
      }
    }


    td.selected-range.selected-range-start {
      &:before {
        right: -1px;
        width: 36px;
        border-top-left-radius: 99px;
        border-bottom-left-radius: 99px;

      }

      &:after {
        content: "";
        display: block;
        width: 26px;
        height: 21px;
        background: #589b7e;
        position: absolute;
        z-index: 1555;
        right: 6px;
        border-radius: 99px;
        top: 7px;
      }
    }









  }


}
