.scrollarea {
  .scrollbar-container{
    opacity: 0 !important;

    &:hover{
      opacity: .7 !important;
    }

    &.active{
      opacity: .7 !important;
    }
  }

  &:hover .scrollbar-container{
    opacity: .3 !important;
  }
}
