.user-options {
  display: inline-block;
  vertical-align: top;
  height: $inner-top-bar-height;
  position: absolute;
  right: 5px;

  .notification-button {
    position: relative;
    margin-right: 5px;
    padding-right: 5px;
    .notification-count {
      right: -3px;
    }

    i:last-child {
      margin-left: 5px;
    }
  }

  .user-options-button {
    .title {
      padding-left: 10px;
      padding-right: 5px;
      display: inline-block;
      margin-top: $text-top-margin;
    }
  }

  .fa {
    font-size: 1.2em;
  }
}

.user-options-button {
  @extend %top-bar-container;
  text-align: center;
  position: relative;
  color: #fff;
  display: inline-block;
  vertical-align: top;

  .user-photo {
    display: inline-block;
    width: $inner-top-bar-height - 6px;
    height: $inner-top-bar-height - 6px;
    background-size: cover;
    vertical-align: top;
    margin-top: 2px;
    margin-right: 2px;
    border-radius: 2px;

    &.gravatar {
      position: absolute;
      top: 0;
      left: 2px !important;
    }

    &.text-fallback {
      background-color: #CDD2D4 !important;
      margin-left: 2px;

      .text {
        color: black;
        font-size: 150%;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }

  i {
    margin-left: 5px;
    margin-right: 5px;
  }

  &:hover { background: #32628b; }
}







// Account dropdown content styles
.account-dropdown {
  right: 0px;
  background: #edf0f3;
  width: 250px;
  display: none;
  z-index: 299;

  .select-window-mode {
    text-align: center;
    background: #edf0f3;
    margin-bottom: 10px;

    span {
      display: block;
      text-align: center;
      font-size: 1.1em;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 10px;
      color: #63696f;
    }

    a {
      display: inline-block;
      width: 40%;
      margin-left: 2%;
      margin-right: 2%;
      text-align: center;
      height: 60px;
      padding: 3px;
      background: #d4d5d6;
      text-decoration: none;
      color: #333;
      font-weight: 400;
      border-radius: 4px;
      text-align: left;
      outline: none;
      &:hover { background: #cbcbcb; }
      span { font-size: 0.95em; }
    }

    .column-mode, .focus-mode {
      position: relative;
      div {
        display: inline-block;
        border: 1px solid #b2b4b7;
        min-width: 10px;
        border-radius: 4px;
        height: 54px;
        margin-right: 2.5%;
      }
    }

    .icon-selected {
      display: block;
      position: absolute;
      top: -5px;
      right: -5px;
      height: 17px;
      width: 17px;
      border: 2px solid #edf0f3;
      background: $green;
      border-radius: 199px;
      font-size: 0.85em;
      color: #fff;
      text-align: center;
      padding-top: 1px;
    }

    .column-mode {
      div {

        &.bucket-1 {
          width: 15%;
        }

        &.bucket-2 {
          width:40%;
        }

        &.bucket-3 {
          width: 40%;
          margin-right: 0%;
        }
      }
    }

    .focus-mode {
      div {
        &.bucket-1 {
          width: 15%;
        }

        &.bucket-2 {
          width:80%;
        }
      }
    }

  }

  ul {
    @extend %flat-list;
    background: #e1e6eb;

    a {
      display: block;
      padding: 10px;
      color: #63696f;
      text-decoration: none;
      border-bottom: 1px solid #c8cdd2;
      margin: 0px 5px;
      font-weight: 600;
      font-size: 1.05em;

      i {
        display: inline-block;
        width: 15px;
        color: #b6bbc0;
        margin-right: 5px;
        text-align: center;
      }
    }

    li:last-child a { border-bottom: 0px; }
  }
}
