.widget-form {
  width: 400px;

  .row {
    .option-label {
      float: left;
      width: 100px;
    }

    .option-group {
      margin: 10px 5px 10px 100px;

      &.no-label {
        margin-left: 20px;
      }

      input[type="text"] {
        width: 80%;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          margin: 0;
          display: block;

          .color-picker, label, input[type="radio"] {
            display: inline-block;
            margin: 10px 5px 10px 0;
          }

          .sub-options {
            clear: left;
          }
        }

        &.option-group-row {
          li {  }
        }

        &.inline {
          li {
            float: left;
          }
        }
      }
    }
  }
}
