.widget-form {
  width: 500px;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin: 0;
      padding: 0;
      display: block;
    }

    &.options {
      li {
        padding: 10px;

        h4 {
          display: inline-block;
        }

        .option-label {
          float: left;
          width: 80px;
        }

        .option-group {
          margin: 0 5px 10px 80px;

          &.no-label {
            margin-left: 20px;
          }

          input[type="text"] {
            width: 80%;
          }

          ul {
            li {
              padding: 5px;

              .color-picker, label, input {
                display: inline-block;
                margin: 10px 5px 10px 0;
              }

              .sub-options {
                clear: left;
                padding-left: 20px;

                label {
                  width: 80px;
                }

                input[type="text"] {
                  width: 40%;
                }
              }
            }

            &.option-group-row {
              li {
                &:first-child {
                  padding-top: 0;
                }
              }
            }

            &.inline {
              li {
                padding-top: 0;
                display: inline-block;
              }
            }

            &.float-left {
              li {
                float: left;
              }
            }
          }
        }
      }
    }
  }
}
