.dp-section {
  position: fixed;
  top: 54px;
  right: 0;
  left: 0;
  bottom: 0;
}
.dp-section-nav {
  position: fixed;
  top: 54px;
  bottom: 0;
  left: 55px;
  width: 235px;
}
.dp-section-list {
  position: fixed;
  top: 54px;
  bottom: 0;
  left: 290px;
  width: 475px;
  background: #F5F7FA;
}
.dp-section-page {
  position: fixed;
  top: 54px;
  bottom: 0;
  left: 290px;
  right: 0;
}
.dp-section-page.with-list {
  border-left: 1px solid #A8ABB2;
  left: 765px;
}
