.dp-app-header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: @topHeight;
	z-index: 2;
}

.dp-app-nav {
	position: absolute;
	top: @topHeight;
	bottom: 0;
	left: 0;
	width: @appNavWidth;
	background: #2b2f33;
	z-index: 2;
}

.dp-section {
	position: fixed;
	top: @topHeight;
	right: 0;
	left: 0;
	bottom: 0;
}

.dp-section-nav {
	position: fixed;
	top: @topHeight;
	bottom: 0;
	left: @appNavWidth;
	width: @navWidth;
	overflow: auto;
	display: none;
}

.dp-section-body {
	position: fixed;
	top: @topHeight;
	left: @appNavWidth;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.dp-section-list {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 44%;
	background: #F5F7FA;
	overflow: auto;
	display: none;
}

.dp-section-page {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	overflow: auto;
}

.with-section-nav {
	.dp-section-nav {
		display: block;
	}

	.dp-section-body {
		left: @appNavWidth + @navWidth;
	}
}

.with-section-list {
	.dp-section-list {
		display: block;
	}

	.dp-section-page {
		border-left: 1px solid #A8ABB2;
		width: 56%;
	}
}