body {
	background: #F5F7FA;
}

.dp-app-header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: @topHeight;
	z-index: 2;
}

.dp-app-nav {
	position: absolute;
	top: @topHeight;
	bottom: 0;
	left: 0;
	width: @appNavWidth;
	background: #2b2f33;
	z-index: 2;
}

.dp-section {
	position: fixed;
	top: @topHeight;
	right: 0;
	left: 0;
	bottom: 0;
}

.dp-section-nav {
	position: fixed;
	top: @topHeight;
	bottom: 0;
	left: @appNavWidth;
	width: @navWidth;
	overflow: auto;
	display: none;
}

// When the nav col is enabled (all the time?)
.with-section-nav {
	.dp-section-nav {
		display: block;
	}

	.dp-section-body {
		left: @appNavWidth + @navWidth;
	}
}

//######################################################################################################################
//# Section Body
//######################################################################################################################

// Main center pane wrapper
.dp-section-body {
	position: fixed;
	top: @topHeight;
	left: @appNavWidth;
	right: 0;
	bottom: 0;
	overflow: auto;
}

// List wrapper
.dp-section-list {
	position: absolute;
	top: 0;;
	left: 0;
	right: 0;
	display: none;
}

// Page wrapper
.dp-section-page {
	position: absolute;
	top: 0;
	right: 0;
	left: 15px;
	display: none;
}

.with-section-list {
	.dp-section-list {
		display: block;
	}
}

.with-section-page {
	.dp-section-page {
		display: block;
	}
}

.with-section-page.with-section-list {
	.dp-section-list {
		width: @listWidth;
		right: auto;
	}
	.dp-section-page {
		left: @listWidth;
	}
}

.dp-section-page article.pane-content {
	margin-left: 0;
}


// TODO:Cleanup
.help-page-trigger { display: none; }
.pane-header { display: none !important; }
.dp-help-page.dp-section-page { display: none !important; }