a {
	&, &:focus {
		outline: none;
	}
}

.btn {
	> i {
		margin-right: 5px;
	}
	&.only-icon > i {
		margin-right: 0;
	}
}

.modal-footer {
	margin-top: 0;
	text-align: center;
}

.agent-icon {
	display: inline-block;
	background-color: transparent;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	.rounded(3px);
	vertical-align: baseline;

	&.agent-icon-22x {
		width: 22px;
		height: 22px;
	}
}

.icon-light {
	color: #888;
}

.icon-22x {
	font-size: 18px;
	font-weight: normal;
}

.text-middle {
	display: inline-block;
	vertical-align: middle;
	line-height: 100%;
}

form {
	padding: 0;
	margin: 0;
}

.dp-ping-flash {
	display: none;
}

.saved-ping {
	margin-right: 5px;
	color: #888;
}

//######################################################################################################################
//# Page Header
//######################################################################################################################

.dp-app-header {
	.gradient-v(@agent_header_bg_color, darken(@agent_header_bg_color, 2%), @topHeight);
	border-top: 1px solid @agent_header_bg_color;
	border-bottom: 1px solid @agent_header_border_color;

	.user-profile {
		background-color: @agent_header_userprofile_bg_color;
		height: (@agent_header_height - 8);
		width: 234px;
		margin: 4px 0 0 6px;
		padding: 3px 5px 3px 3px;
		border: 1px solid @agent_header_userprofile_border_color;
		border-radius: 3px;
		box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
		color: @agent_header_userprofile_text_color;
		line-height: 100%;
		white-space: nowrap;
		overflow: hidden;

		.gravatar {
			border: 1px solid darken(@agent_header_userprofile_border_color, 30%);
			margin-right: 4px;
			border-radius: 3px;
			overflow: hidden;
			width: 33px;
			height: 33px;
		}

		 .username {
			white-space: nowrap;
			margin-left: 38px;
			font-size: 11px;
			padding: 3px 0 2px 0;
			line-height: 100%;
			width: 158px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		ul {
			margin: 1px 0 0 0;
			padding: 0;
			line-height: 15px;
			width: 200px;
		}

		ul li {
			display: inline-block;
			margin: 0;
			margin-right: 7px;
			font-size: 11px;
			line-height: 100%;
			color: lighten(@agent_header_userprofile_text_color, 25%);
		}

		ul li:last-child {
			margin-right: 0;
		}

		ul li:hover {
			cursor: pointer;
			color: darken(@agent_header_userprofile_text_color, 8%);
		}

		ul li a {
			font-size: 11px;
			color: lighten(@agent_header_userprofile_text_color, 25%);
			border-bottom: 1px solid #165d94;
		}

		ul li a:hover, ul li:hover a {
			color: darken(@agent_header_userprofile_text_color, 8%);
		}
	}

	a.logo {
		display: block;
		height: 28px;
		width: 103px;
		background: url('@{img_path}/header-logo.png') no-repeat left top;
		margin: 10px 10px 0 10px;
	}
}


//######################################################################################################################
//# App Nav
//######################################################################################################################

.dp-app-nav {
	overflow: hidden;
	ul {
		margin: 0;
		padding: 0;
		li {
			padding: 0;
			margin: 0;
			list-style-type: none;
		}
	}

	ul.btm {
		position: absolute;
		bottom: 0;
		width: @appNavWidth;
		overflow: hidden;
	}

	.app-icon {
		text-indent: 200%;
		white-space: nowrap;
		display: block;
		overflow: hidden;

		width: 100%;
		height: 60px;

		background: url("@{admin_static_path}/img/app-icons.png") no-repeat;
	}

	.state-on .app-icon {
		background-color: #1D2022;
		box-shadow: 0 -1px 1px #080909;
	}

	.app-icon-home {
		background-position: -1px 9px;
	}

	.state-on .app-icon-home,
	.app-icon-home:focus,
	.app-icon-home:hover {
		background-position: -1px -90px;
	}

	.app-icon-cog {
		background-position: -643px 4px;
	}

	.state-on .app-icon-cog,
	.app-icon-cog:focus,
	.app-icon-cog:hover {
		background-position: -643px -96px;
	}

	.app-icon-chat {
		background-position: -721px 0;
	}
	.state-on .app-icon-chat,
	.app-icon-chat:focus,
	.app-icon-chat:hover {
		background-position: -721px -100px;
	}

	.app-icon-ticket {
		background-position: -92px 9px;
	}
	.state-on .app-icon-ticket,
	.app-icon-ticket:focus,
	.app-icon-ticket:hover {
		background-position: -92px -91px;
	}

	.app-icon-crm {
		background-position: -251px 5px;
	}
	.state-on .app-icon-crm,
	.app-icon-crm:focus,
	.app-icon-crm:hover {
		background-position: -251px -95px;
	}

	.app-icon-publish {
		background-position: -408px 4px;
	}
	.state-on .app-icon-publish,
	.app-icon-publish:hover,
	.app-icon-publish:focus {
		background-position: -408px -96px;
	}

	.app-icon-twitter {
		background-position: -570px 9px;
	}
	.state-on .app-icon-twitter,
	.app-icon-twitter:hover,
	.app-icon-twitter:focus {
		background-position: -570px -91px;
	}

	.app-icon-rate {
		background-position: -331px 5px;
	}
	.state-on .app-icon-rate,
	.app-icon-rate:hover,
	.app-icon-rate:focus {
		background-position: -331px -95px;
	}
}

//######################################################################################################################
//# Nav Section (First Pane)
//######################################################################################################################

.dp-section-nav {
	background: #eceef0;
	border-right: 1px solid #b7bac0;

	.nav-rows > li.active > a {
		color: #3476BE;
		background: #D4E4FF;

		i.icon-caret-right {
			display: block;
		}
	}


	.nav {
		a {
			color: darken(#878787, 15%);
			padding-left: 13px;
			padding-top: 10px;
			padding-bottom: 10px;
			line-height: 100%;

			border-bottom: 1px solid #ccc;

			span {
				display: inline-block;
				vertical-align: middle;
			}

			i.icon-caret-right {
				position: absolute;
				right: -6px;
				top: 11px;
				display: none;
				font-size: 12px;
			}

			i.icon-caret-down {
				position: relative;
				top: -1px;
				font-size: 11px;
				margin-left: 3px;
				vertical-align: middle;
			}

			i {
				display: inline-block;
				width: 16px;
				text-align: center;
				margin-right: 11px;
				font-size: 150%;
				vertical-align: middle;
			}
		}
	}

	.nav.sub-nav {
		display: none;

		a {
			padding-left: 35px;
		}
	}
}

//######################################################################################################################
//# List Section (Second Pane)
//######################################################################################################################

.dp-section-list {
	.container();
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

//######################################################################################################################
//# Page Section (Third Pane)
//######################################################################################################################

.dp-section-page {
	.container();
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

.dp-view-loading {
	margin-top: 100px;
	h1 {
		line-height: 1000px;
		color: transparent;

		height: 32px;
		overflow: hidden;
		background: url("@{img_path}/spinners/loading-big-circle.gif") no-repeat 50% 50%;
	}
}

//######################################################################################################################
//# Pane Styles
//######################################################################################################################

header.pane-header {
	margin: 0;
	padding: 0;
	background: #D1D3D7;
	border-bottom: 1px solid darken(#D1D3D7, 10%);
	color: darken(#D1D3D7, 45%);

	h3 {
		padding: 15px;
		margin: 0;
		font-size: 16px;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-wrap: none;
	}
}

header.pane-controls {
	background: #E9EBF0;
	border-bottom: 1px solid darken(#E9EBF0, 10%);
	padding: 10px 0;

	> .row {
		margin-left: 0;
		margin-right: 0;
	}
}

article.pane-content {
	.container();

	&.no-pad {
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;

		&.pad-top {
			padding-top: 15px;
		}
	}

	&.pad-top {
		padding-top: 15px;
	}
}

//######################################################################################################################
//# Nav Style
//######################################################################################################################

.nav-rows {
	> li {
		&:hover > a, &:focus > a, &.active > a {
			color: #3476BE;
			background: #D4E4FF;
		}
	}
}

//######################################################################################################################
//# List style
//######################################################################################################################

.dp-item-list {
	padding: 0;
	margin: 0;

	> li {
		list-style-type: none;
		background-color: #F5F7FA;
	}

	> li, > .dp-itm {
		display: block;
		padding: 0;
		margin: 0;

		&.active > a {
			color: #3476BE;
			background: #D4E4FF;
		}

		&.with-drag-handle > a {
			padding-left: 34px;
		}

		> a {
			position: relative;
			display: block;
			text-decoration: none;
			color: @text-color;
			padding: 9px 13px;
			line-height: 100%;

			border-bottom: 1px solid #ccc;

			h4, h5, h6 {
				margin: 0;
				padding: 0;
			}
			h4 {
				font-size: @font-size-base;
				max-width: 70%;
				text-overflow: ellipsis;
				white-space: nowrap;
				text-wrap: none;
				overflow: hidden;
			}
		}

		.sub-item-indent {
			margin-right: 6px;
			> i {
				color: #888;
				font-style: normal;
			}
		}

		&.active > a .sub-item-indent > i {
			color: #3476BE;
		}
	}

	a:hover > .drag-handle {
		color: #888;
	}

	a > h4 > .title-text {
		vertical-align: text-bottom;
	}
	a:hover > h4 > .title-text {
		text-decoration: underline;
	}

	.drag-handle {
		position: absolute;
		left: 9px;
		top: 7px;
		font-size: 18px;
		color: #ccc;
		cursor: move;
	}

	.tree-char {
		position: relative;
		top: 2px;
		display: inline-block;
		width: 30px;
		color: #999;
	}
	.tree-char.middle:before {
		content: "\2514\2500"
	}
	.tree-char.last:before {
		content: "\2514\2500"
	}
}

//######################################################################################################################
//# Main Tabs Style
//######################################################################################################################

nav.dp-main-tabs {
	height: 49px;
	background-color: #EEEEEE;
	overflow: hidden;

	ul {
		list-style-type: none;
		height: 49px;
		margin: 0;
		padding: 0;
		border-bottom: 3px solid #999999;

		li {
			cursor: pointer;
			display: block;
			float: left;
			margin-left: 13px;
			.border-radius(4px, 4px, 0, 0);

			line-height: 37px;
			padding-left: 15px;
			padding-right: 15px;
			border: 1px solid #999999;
			border-bottom: none;

			margin-top: 8px;

			a {
				color: @text-color;
				text-decoration: none;
				font-size: 120%;
			}

			&.active {
				padding-bottom: 3px;
				background: #fff;
			}
		}
	}
}

//######################################################################################################################
//# Panel Style
//######################################################################################################################

.panel {
	> table.table {
		> thead > tr {
			td, th {
				background: #F2F2F2;
				font-size: 14px;
				font-weight: bold;
				color: lighten(@text-color, 10%);
				padding-top: 5px;
				padding-bottom: 5px;
				border-bottom-width: 2px;
				font-weight: normal;
			}
		}
	}
}

.panel.panel-default {
	background: transparent;
	border: 1px solid #ccc;
	margin-bottom: 30px;
	.rounded(0);
	box-shadow: none;

	.panel-heading {
		border-bottom: 3px solid #aaa;
		.rounded(0);
		background: transparent;

		h3 {
			padding: 0;
			margin-top: 5px;
			margin-bottom: 5px;
			margin-left: 0;
			margin-right: 0;
			font-size: 120%;
		}
	}
}

.panel.panel-fill {
	background: transparent;
	border: none;
	margin-bottom: 30px;
	box-shadow: none;

	&.indent {
		.panel-body {
			margin-left: 30px;
			margin-right: 30px;
		}
	}

	.panel-heading {
		border-bottom: 3px solid #aaa;

		nav.dp-controls {
			float: right;
			margin-top: -3px;
			margin-right: -3px;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;
					margin: 0;
					padding: 0;
					margin-left: 3px;
				}
			}
		}

		h3 {
			padding: 0;
			margin-top: 5px;
			margin-bottom: 5px;
			margin-left: 0;
			margin-right: 0;
			font-size: 120%;
		}
	}
}

.pane-footer {
	margin-top: 25px;
	border-top: 2px solid #999999;
	background: #EEEEEE;
	padding: 20px;
}


.panel.panel-innertable {
	margin: 30px;
	border: 1px solid #DDD;
	.rounded(2px);

	td {
		vertical-align: middle;
	}

	.table tbody > tr > th, .table tbody > tr > td {
		border-top: 1px dotted #BBB;
	}
	.table tbody > tr.first-of-type td {
		border-top: 2px solid #BBB;
	}

	.panel-heading {
		margin: 0;
		padding: 10px 8px;
		background: #EEEEEE;
		border-bottom: 1px solid #DDD;

		h3 {
			margin: 0;
			padding: 0;
			font-weight: normal;
			font-size: 140%;
		}
	}
}

.inner-footer {
	margin: 30px;
	background: #E9E9E9;
	border: 1px solid #DDD;
	padding: 15px;
	.rounded(2px);
}

//######################################################################################################################
//# Help
//######################################################################################################################

span.help-icon {
	font-family: FontAwesome;
	font-size: 12px;
	color: #c5c5c5;
	cursor: help;

	&:before {
		content: "\f059";
	}

	&:hover {
		color: #66AFE9;
	}
}

section.dp-help-page {
	background: @admin_help_bg;
	border: 1px solid darken(@admin_help_bg, 18%);
	margin: 25px;
	line-height: 160%;
	font-size: 110%;
	.rounded(5px);

	article {
		padding: 30px;

		h1 { font-size: 24px; }
		h2 { font-size: 20px; }
		h3 { font-size: 16px; }
		h1, h2, h3 {
			margin: 0 0 14px;
			padding-bottom: 8px;
			border-bottom: 1px solid darken(@admin_help_bg, 18%);
		}

		p {
			margin: 14px 0;
		}

		dl {
			margin: 0;
			dt {
				margin-top: 10px;

				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
}

.modal {
	display: block;
}

//######################################################################################################################
//# Forms
//######################################################################################################################

.dp-form {
	h3 {
		font-weight: normal;
		font-size: 120%;
		padding: 0;
		margin: 8px 0 0 0;
	}

	h4 {
		font-weight: normal;
		font-size: 110%;
	}

	.form-group {
		border-bottom: 1px dotted #aaa;
		padding-bottom: 15px;
	}

	.inner-group + .inner-group {
		margin-top: 15px;
	}

	.help-block:last-child {
		margin-bottom: 0;
	}

	label h4 {
		display: inline-block;
		margin-bottom: 0;
		margin-left: 3px;
	}
}

.form-control, .form-control:focus {
	box-shadow: none;
	padding-left: 8px;
	padding-right: 8px;
	.rounded(2px);
}

.select2-results {
	margin: 0;
	padding: 0;

	.select2-result-label {
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-wrap: none;
	}
}

.select2-container-active .select2-choice {
	border-color: #CCCCCC;
	box-shadow: none;
}

.select2-container {
	margin-bottom: 5px;
	.select2-choice {
		line-height: 24px;
		background: #fff;
		.rounded(2px);
		border-color: #CCCCCC;

		.select2-arrow {
			background: #ddd;
			border-left: 1px solid #CCCCCC;
			.rounded(0);

			b {
				background-position: 0 0;
			}
		}
	}
}

.select2-dropdown-open {
	.select2-choice {
		background: #fff;
		border-color: #66AFE9;

		.select2-arrow {
			border-left: 1px solid #CCCCCC;
		}
	}
}

.select2-search {
	.rounded(2px);
	padding: 0;

	input {
		border-left: none;
		border-right: none;
	}
}

.select2-drop {
	overflow: hidden;
	.border-radius(0, 0, 2px, 2px);
}


//######################################################################################################################
//# Switch
//######################################################################################################################

.dp-switch {
	display: inline-block;
	cursor: pointer;
	position: relative;
	text-align: left;
	overflow: visible;
	vertical-align: middle;
	cursor: pointer;
	position: relative;

	width: 45px;
	height: 25px;

	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
	.rounded(20px);

	background-color: #D9D9D9;

	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;

	input[type=radio], input[type=checkbox] {
		visibility: hidden;
	}

	label {
		display: block;
		background: #fff;
		-webkit-box-shadow:  1px 1px 1px 0px rgba(0, 0, 0, 0.1);
        box-shadow:  1px 1px 1px 0px rgba(0, 0, 0, 0.1);
		.rounded(20px);
		width: 10px;
		overflow: hidden;
		width: 21px;
		height: 19px;
		margin: 3px;
		cursor: pointer;

		-webkit-transition: margin 0.2s ease-out;
		-moz-transition: margin 0.2s ease-out;
		-o-transition: margin 0.2s ease-out;
		transition: margin 0.2s ease-out;
	}

	&.switch-on {
		background-color: #5DDA70;

		label {
			margin-left: 21px;
		}
	}

	&.locked label span {
		display: block;
		font-family: FontAwesome;
		font-size: 16px;
		line-height: 21px;
		width: 100%;
		height: 100%;
		text-align: center;
		font-weight: normal;
		font-style: normal;
		color: #bbb;
		vertical-align: middle;

		text-shadow: 1px 0px 0px rgba(0,0,0, 0.4);

		&:before {
			content: "\f023";
		}
	}

	//----
	// Bunch of states we can have
	//-----

	.mouse-target {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: transparent;
		border: none;
		margin: 0;
		padding: 0;
		z-index: 1;
	}

	.show-on-locked-on  { display: none; }
	.show-off-locked-on { display: none; }

	&.locked {
		.show-off-locked-on { display: block; }

		&.switch-on {
			.show-on-locked-on  { display: block; }
			.show-off-locked-on { display: none; }
		}
	}

	.show-on-locked-off  { display: none; }
	.show-off-locked-off { display: block; }

	&.switch-on {
		.show-on-locked-off  { display: block; }
	}

	&.locked {
		.show-off-locked-off { display: none; }
		.show-on-locked-off { display: none; }
	}

	.show-on { display: none; }
	.show-off { display: block; }
	&.switch-on {
		.show-on { display: block; }
		.show-off { display: none; }
	}
}


//######################################################################################################################
//# Toastr
//######################################################################################################################

.toast-title {
	font-weight: bold;
}
.toast-message {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.toast-message a,
.toast-message label {
	color: #ffffff;
}
.toast-message a:hover {
	color: #cccccc;
	text-decoration: none;
}

.toast-close-button {
	position: relative;
	right: -0.3em;
	top: -0.3em;
	float: right;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	-webkit-text-shadow: 0 1px 0 #ffffff;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.8;
	-ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: ~"alpha(opacity=80)";
}
.toast-close-button:hover,
.toast-close-button:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.4;
	-ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: ~"alpha(opacity=40)";
}

button.toast-close-button {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}
.toast-top-full-width {
	top: 0;
	right: 0;
	width: 100%;
}
.toast-bottom-full-width {
	bottom: 0;
	right: 0;
	width: 100%;
}
.toast-top-left {
	top: 12px;
	left: 12px;
}
.toast-top-right {
	top: 12px;
	right: 12px;
}
.toast-bottom-right {
	right: 12px;
	bottom: 12px;
}
.toast-bottom-left {
	bottom: 12px;
	left: 12px;
}
#toast-container {
	position: fixed;
	z-index: 999999;
	/*overrides*/

}
#toast-container * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#toast-container > div {
	margin: 0 0 6px;
	padding: 15px 15px 15px 50px;
	width: 300px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	background-position: 15px center;
	background-repeat: no-repeat;
	-moz-box-shadow: 0 0 12px #999999;
	-webkit-box-shadow: 0 0 12px #999999;
	box-shadow: 0 0 12px #999999;
	color: #ffffff;
	opacity: 0.8;
	-ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: ~"alpha(opacity=80)";
}
#toast-container > :hover {
	-moz-box-shadow: 0 0 12px #000000;
	-webkit-box-shadow: 0 0 12px #000000;
	box-shadow: 0 0 12px #000000;
	opacity: 1;
	-ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: ~"alpha(opacity=100)";
	cursor: pointer;
}
#toast-container > .toast-info {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-error {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-success {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}
#toast-container > .toast-warning {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
	width: 96%;
	margin: auto;
}
.toast {
	background-color: #030303;
}
.toast-success {
	background-color: #51a351;
}
.toast-error {
	background-color: #bd362f;
}
.toast-info {
	background-color: #2f96b4;
}
.toast-warning {
	background-color: #f89406;
}
/*Responsive Design*/
@media all and (max-width: 240px) {
	#toast-container > div {
		padding: 8px 8px 8px 50px;
		width: 11em;
	}
	#toast-container .toast-close-button {
		right: -0.2em;
		top: -0.2em;
	}
}
@media all and (min-width: 241px) and (max-width: 480px) {
	#toast-container > div {
		padding: 8px 8px 8px 50px;
		width: 18em;
	}
	#toast-container .toast-close-button {
		right: -0.2em;
		top: -0.2em;
	}
}
@media all and (min-width: 481px) and (max-width: 768px) {
	#toast-container > div {
		padding: 15px 15px 15px 50px;
		width: 25em;
	}
}
