a {
	&, &:focus {
		outline: none;
	}
}

//######################################################################################################################
//# Page Header
//######################################################################################################################

.dp-app-header {
	.gradient-v(@agent_header_bg_color, darken(@agent_header_bg_color, 2%), @topHeight);
	border-top: 1px solid @agent_header_bg_color;
	border-bottom: 1px solid @agent_header_border_color;

	.user-profile {
		background-color: @agent_header_userprofile_bg_color;
		height: (@agent_header_height - 9);
		width: 236px;
		margin: 4px 0 0 6px;
		padding: 3px 5px 3px 3px;
		border: 1px solid @agent_header_userprofile_border_color;
		border-radius: 3px;
		box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
		color: @agent_header_userprofile_text_color;
		line-height: 100%;
		white-space: nowrap;
		overflow: hidden;

		.gravatar {
			border: 1px solid darken(@agent_header_userprofile_border_color, 30%);
			margin-right: 4px;
			border-radius: 3px;
			overflow: hidden;
			width: 31px;
			height: 31px;
		}

		 .username {
			white-space: nowrap;
			margin-left: 38px;
			font-size: 11px;
			padding: 3px 0 2px 0;
			line-height: 100%;
			width: 158px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		ul {
			line-height: 15px;
			margin-left: 2px;
			width: 200px;
		}

		ul li {
			display: inline-block;
			margin-right: 6px;
			font-size: 11px;
			line-height: 100%;
			color: lighten(@agent_header_userprofile_text_color, 25%);
		}

		ul li:last-child {
			margin-right: 0;
		}

		ul li:hover {
			cursor: pointer;
			color: darken(@agent_header_userprofile_text_color, 8%);
		}

		ul li a {
			font-size: 11px;
			color: lighten(@agent_header_userprofile_text_color, 25%);
			border-bottom: 1px solid #165d94;
		}

		ul li a:hover, ul li:hover a {
			color: darken(@agent_header_userprofile_text_color, 8%);
		}
	}

	a.logo {
		display: block;
		height: 28px;
		width: 103px;
		background: url('@{img_path}/header-logo.png') no-repeat left top;
		margin: 10px 10px 0 10px;
	}
}


//######################################################################################################################
//# App Nav
//######################################################################################################################

.dp-app-nav {
	overflow: hidden;
	ul {
		margin: 0;
		padding: 0;
		li {
			padding: 0;
			margin: 0;
			list-style-type: none;
		}
	}

	ul.btm {
		position: absolute;
		bottom: 0;
		width: @appNavWidth;
		overflow: hidden;
	}

	.app-icon {
		text-indent: 200%;
		white-space: nowrap;
		display: block;
		overflow: hidden;

		width: 100%;
		height: 60px;

		background: url("@{admin_static_path}/img/app-icons.png") no-repeat;
	}

	.state-on .app-icon {
		background-color: #1D2022;
		box-shadow: 0 -1px 1px #080909;
	}

	.app-icon-home {
		background-position: -1px 9px;
	}

	.state-on .app-icon-home,
	.app-icon-home:focus,
	.app-icon-home:hover {
		background-position: -1px -90px;
	}

	.app-icon-cog {
		background-position: -643px 4px;
	}

	.state-on .app-icon-cog,
	.app-icon-cog:focus,
	.app-icon-cog:hover {
		background-position: -643px -96px;
	}

	.app-icon-chat {
		background-position: -721px 0;
	}
	.state-on .app-icon-chat,
	.app-icon-chat:focus,
	.app-icon-chat:hover {
		background-position: -721px -100px;
	}

	.app-icon-ticket {
		background-position: -92px 9px;
	}
	.state-on .app-icon-ticket,
	.app-icon-ticket:focus,
	.app-icon-ticket:hover {
		background-position: -92px -91px;
	}

	.app-icon-crm {
		background-position: -251px 5px;
	}
	.state-on .app-icon-crm,
	.app-icon-crm:focus,
	.app-icon-crm:hover {
		background-position: -251px -95px;
	}

	.app-icon-publish {
		background-position: -408px 4px;
	}
	.state-on .app-icon-publish,
	.app-icon-publish:hover,
	.app-icon-publish:focus {
		background-position: -408px -96px;
	}

	.app-icon-twitter {
		background-position: -570px 9px;
	}
	.state-on .app-icon-twitter,
	.app-icon-twitter:hover,
	.app-icon-twitter:focus {
		background-position: -570px -91px;
	}

	.app-icon-rate {
		background-position: -331px 5px;
	}
	.state-on .app-icon-rate,
	.app-icon-rate:hover,
	.app-icon-rate:focus {
		background-position: -331px -95px;
	}
}

//######################################################################################################################
//# Nav Section (First Pane)
//######################################################################################################################

.dp-section-nav {
	background: #eceef0;
	border-right: 1px solid #b7bac0;

	.nav-rows > li.active > a {
		color: #3476BE;
		background: #D4E4FF;

		i.icon-caret-right {
			display: block;
		}
	}


	.nav {
		a {
			color: darken(#878787, 15%);
			padding-left: 13px;
			padding-top: 10px;
			padding-bottom: 10px;
			line-height: 100%;

			border-bottom: 1px solid #ccc;

			span {
				display: inline-block;
				vertical-align: middle;
			}

			i.icon-caret-right {
				position: absolute;
				right: -6px;
				top: 11px;
				display: none;
				font-size: 12px;
			}

			i.icon-caret-down {
				position: relative;
				top: -1px;
				font-size: 11px;
				margin-left: 3px;
				vertical-align: middle;
			}

			i {
				display: inline-block;
				width: 16px;
				text-align: center;
				margin-right: 11px;
				font-size: 150%;
				vertical-align: middle;
			}
		}
	}

	.nav.sub-nav {
		a {
			padding-left: 35px;
		}
	}
}

//######################################################################################################################
//# List Section (Second Pane)
//######################################################################################################################

.dp-section-list {
	.container();
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

//######################################################################################################################
//# Page Section (Third Pane)
//######################################################################################################################

.dp-section-page {
	.container();
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}


//######################################################################################################################
//# Pane Styles
//######################################################################################################################

header.pane-header {
	margin: 0;
	padding: 0;
	background: #D1D3D7;
	border-bottom: 1px solid darken(#D1D3D7, 10%);
	color: darken(#D1D3D7, 45%);

	h3 {
		padding: 15px;
		margin: 0;
		//font-size: 120%;
		font-size: 16px;
	}
}

header.pane-controls {
	background: #E9EBF0;
	border-bottom: 1px solid darken(#E9EBF0, 10%);
	padding: 10px 0;

	> .row {
		margin-left: 0;
		margin-right: 0;
	}
}

article.pane-content {
	.container();

	&.no-pad {
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;

		&.pad-top {
			padding-top: 15px;
		}
	}

	&.pad-top {
		padding-top: 15px;
	}
}

//######################################################################################################################
//# Nav Style
//######################################################################################################################

.nav-rows {
	> li {
		&:hover > a, &:focus > a, &.active > a {
			color: #3476BE;
			background: #D4E4FF;
		}
	}
}

//######################################################################################################################
//# List style
//######################################################################################################################

.dp-item-list {
	padding: 0;
	margin: 0;

	> li {
		list-style-type: none;
	}

	> li.title {
		padding: 9px 15px;
		padding-top: 20px;
		border-bottom: 3px solid #aaa;
		font-size: 110%;
	}

	> li, > .dp-itm {
		display: block;
		padding: 0;
		margin: 0;

		&.active > a {
			color: #3476BE;
			background: #D4E4FF;
		}

		> a {
			display: block;
			text-decoration: none;
			color: @text-color;
			padding: 9px 15px;
			line-height: 100%;

			border-bottom: 1px solid #ccc;

			h4, h5, h6 {
				margin: 0;
				padding: 0;
			}
			h4 {
				font-size: @font-size-base;
			}
		}

		.sub-item-indent {
			margin-right: 6px;
			i {
				color: #888;
				font-style: normal;
			}
		}

		&.active .sub-item-indent i {
			color: #3476BE;
		}
	}
}

//######################################################################################################################
//# Main Tabs Style
//######################################################################################################################

nav.dp-main-tabs {
	height: 35px;
	background-color: #E1E1E6;
	border-bottom: 1px solid darken(#E1E1E6, 10%);

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: block;
			float: left;
			margin-left: 13px;

			line-height: 29px;
			padding-left: 15px;
			padding-right: 15px;
			border: 1px solid darken(#E1E1E6, 10%);
			border-bottom: none;

			margin-top: 4px;

			a {
				text-decoration: none;
				font-size: 120%;
			}

			&.active {
				padding-bottom: 1px;
				background: #fff;
			}
		}
	}
}

//######################################################################################################################
//# Panel Style
//######################################################################################################################

.panel {
	> table.table {
		> thead > tr {
			td, th {
				background: #F2F2F2;
				font-size: 14px;
				font-weight: bold;
				color: lighten(@text-color, 10%);
				padding-top: 5px;
				padding-bottom: 5px;
				border-bottom-width: 2px;
				font-weight: normal;
			}
		}
	}
}

.panel.panel-default {
	background: transparent;
	border: 1px solid #ccc;
	margin-bottom: 30px;
	.rounded(0);
	box-shadow: none;

	.panel-heading {
		border-bottom: 3px solid #aaa;
		.rounded(0);
		background: transparent;

		h3 {
			padding: 0;
			margin-top: 5px;
			margin-bottom: 5px;
			margin-left: 0;
			margin-right: 0;
			font-size: 120%;
		}
	}
}

.panel.panel-fill {
	background: transparent;
	border: none;
	margin-bottom: 30px;
	box-shadow: none;

	.panel-heading {
		border-bottom: 3px solid #aaa;

		nav.dp-controls {
			float: right;
			margin-top: -3px;
			margin-right: -3px;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;
					margin: 0;
					padding: 0;
					margin-left: 3px;
				}
			}
		}

		h3 {
			padding: 0;
			margin-top: 5px;
			margin-bottom: 5px;
			margin-left: 0;
			margin-right: 0;
			font-size: 120%;
		}
	}
}

//######################################################################################################################
//# Help
//######################################################################################################################

section.dp-help-page {
	background: @admin_help_bg;
	border: 1px solid darken(@admin_help_bg, 18%);
	margin: 25px;
	line-height: 160%;
	font-size: 110%;
	.rounded(5px);

	article {
		padding: 30px;

		h1 { font-size: 24px; }
		h2 { font-size: 20px; }
		h3 { font-size: 16px; }
		h1, h2, h3 {
			margin: 0 0 14px;
			padding-bottom: 8px;
			border-bottom: 1px solid darken(@admin_help_bg, 18%);
		}

		p {
			margin: 14px 0;
		}

		dl {
			margin: 0;
			dt {
				margin-top: 10px;

				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
}

.modal {
	display: block;
}

.dp-switch {
	.rounded(4px);
	overflow: hidden;

	&.switch-off {
		background: #E74C3C;
		border: 2px solid #E74C3C;
	}

	&.switch-on {
		background: #1ABC9C;
		border: 2px solid #1ABC9C;
	}

	.has-switch label {
		top: 0 !important;
		line-height: 29px !important;
	}
}

.has-switch label {
	top: 0 !important;
	line-height: 19px !important;
	.rounded(4px);
}