# IDE project files
/.idea/*
!/.idea/codeStyleSettings.xml
/web/app/.idea/
/nbproject/
/catalog.xml
/.settings/
/.buildpath
/.project
/.tags
*.komodoproject
*.sublime*
/running_tests.trigger

# vendors and build files
/app/vendor
/web/node_modules
/web/bower_components
/web/app/node_modules
/web/app/bower_components
/web/app-build
/web/loader-build

# cache and log files
/app/sys/cache/*
/app/sys/bootstrap.php
/app/sys/compiled.php
/app/sys/config/build-time.php
/app/sys/config/build-num.php
/app/sys/config/template-map.php
/app/sys/Resources/distro-checksums.php
/app/sys/Resources/cloudflare-ips.php
app/sys/Resources/agent-perm-names.php
/app/src/Application/InstallBundle/Data/schema.php
/auto-update-status.php
/auto-update-is-running.trigger
/app/src/Application/DeskPRO/Dpql/Parser.out
/app/src/Cloud/bin/twitter-cloud.log
/app/src/Cloud/bin/twitter-cloud-control.txt
/app/src/Cloud/bin/twitter-cloud.pid

/data/last-email_error.dat
/data/is_installed.dat
/data/chat_is_available.trigger
/data/cli-server-reqs-check.dat
/data/cli-phpinfo.html
/data/helpdesk-offline-message.txt
/data/dql.cache.php
/data/log-analytics.sqlite
/data/languages.cache
/data/twitter.pid
/data/logs/*
/data/logs/emails/*
/data/debug/*
/data/tmp/*
!/data/tmp/page-cache
/data/tmp/page-cache/*
!/data/tmp/page-cache/index.html
!/data/tmp/swiftmailer-cache
/data/tmp/swiftmailer-cache/*
!/data/tmp/swiftmailer-cache/index.html
/data/backups/*
/data/files/*
/data/manuals
/data/emailstore

/web/build
/web/app/build/*/build.js
/web/stylesheets/agent
/web/stylesheets/admin
/web/stylesheets/report
/app/sys/config/changed-files.php
/app/sys/logs/dev.log

# Place devs can use as scratch space
/_dev

# Per-site files
/config.php
/config.testing.php
/config.build.php
/app/src/Cloud/Resources/cloud_serve/_sys/config.php
/app/src/Cloud/Resources/cloud_serve/_sys/dp-config.php
/app/testing/logs/*
!/app/testing/logs/.gitkeep
/app/testing/data/dbset-cache
demodata/
