# IDE project files
/.idea/
/nbproject/
/catalog.xml
/.settings/
/.buildpath
/.project
*.komodoproject
*.sublime*

# cache and log files
/deskpro_backend/sys/cache/
/deskpro_backend/sys/bootstrap.php
/deskpro_backend/sys/compiled.php
/deskpro_backend/sys/config/build-time.php
/deskpro_backend/sys/Resources/distro-checksums.php
/deskpro_backend/src/Application/InstallBundle/Data/schema.php

/data_logs/
/data_backups/
/data_files/

/deskpro_assets/build
/deskpro_assets/stylesheets/agent
/deskpro_assets/stylesheets/admin
/deskpro_assets/stylesheets/report

# Per-site files
/config.php
/deskpro_backend/sys/config/dev_debug.php
/deskpro_backend/sys/VERSION
