# IDE project files
/.idea/
/nbproject/
/catalog.xml
/.settings/
/.buildpath
/.project

# cache and log files
/appfiles/sys/cache/
/appfiles/sys/logs/
/static/build

# Per-site files
/appfiles/config.php
/appfiles/sys/VERSION
