<Files ~ "^config\.php|cron\.php|import\.php|upgrade\.php|schedule\.bat$">
	Order allow,deny
	Allow from none
	Deny from all
</Files>

<IfModule mod_rewrite.c>
	RewriteEngine On

	# If you are getting 404 errors then you may need to uncomment
	# the following line and change it to the path of DeskPRO.
	#RewriteBase /deskpro

	RewriteCond %{REQUEST_FILENAME} -f [OR]
	RewriteCond %{REQUEST_FILENAME} -l [OR]
	RewriteCond %{REQUEST_FILENAME} -d
	RewriteRule ^.*$ - [NC,L]
	RewriteRule ^web/ - [NC,L]
	RewriteRule ^__checkurlrewrite$ index.php?_sys=checkurl [NC,L]
	RewriteRule ^sitemap.xml$ file.php [NC,L]
	RewriteRule ^.*$ index.php [NC,L]
</IfModule>
