<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="DeskPRO Rule 1" stopProcessing="true">
					<match url="^.*$" />
					<conditions logicalGrouping="MatchAny">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" />
					</conditions>
					<action type="None" />
				</rule>
				<rule name="DeskPRO Rule 2" stopProcessing="true">
					<match url="^web/" />
					<action type="None" />
				</rule>
				<rule name="DeskPRO Rule 3" stopProcessing="true">
					<match url="^__checkurlrewrite$" />
					<action type="Rewrite" url="index.php?_sys=checkurl" appendQueryString="false" />
				</rule>
				<rule name="DeskPRO Rule 4" stopProcessing="true">
					<match url="^sitemap.xml$" />
					<action type="Rewrite" url="file.php" />
				</rule>
				<rule name="DeskPRO Rule 5" stopProcessing="true">
					<match url="^.*$" />
					<action type="Rewrite" url="index.php" />
				</rule>
			</rules>
		</rewrite>
		<security>
			<requestFiltering>
				<fileExtensions allowUnlisted="true" >
				    <add fileExtension=".bat" allowed="false"/>
				</fileExtensions>
				<denyUrlSequences>
				    <add sequence="/data"/>
				    <add sequence="/app"/>
				    <add sequence="cron.php"/>
				    <add sequence="config.php"/>
				    <add sequence="import.php"/>
				    <add sequence="upgrade.php"/>
				</denyUrlSequences>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>