<?xml version="1.0" encoding="UTF-8"?>
<!--
This file will be automatically replaced when DeskPRO is upgraded.
Any edits you make will be overwritten.
See https://support.deskpro.com/kb/articles/196
-->
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Block folders beginning with .">
				  <match url="&quot;(^|/)\.&quot;" ignoreCase="false" />
				  <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
				</rule>
				<rule name="Web" stopProcessing="true">
				  <match url="^web/" />
				  <action type="None" />
				</rule>
				<rule name="Admin Interface" stopProcessing="true">
				  <match url="^admin/.*$" />
				  <action type="Rewrite" url="index.php" />
				</rule>
				<rule name="Agent Interface" stopProcessing="true">
				  <match url="^agent/.*$" />
				  <action type="Rewrite" url="index.php" />
				</rule>
				<rule name="Rewrite Test" stopProcessing="true">
				  <match url="^__checkurlrewrite$" />
				  <action type="Rewrite" url="index.php?_sys=checkurl" appendQueryString="false" />
				</rule>
				<rule name="Rewrite Test #2" stopProcessing="true">
				  <match url="^__checkurlrewrite/path$" />
				  <action type="Rewrite" url="index.php?_sys=checkurlpath" appendQueryString="false" />
				</rule>
				<rule name="Sitemap" stopProcessing="true">
				  <match url="^sitemap.xml$" />
				  <action type="Rewrite" url="file.php" />
				</rule>
				<rule name="Imported Rule 1" stopProcessing="true">
				  <match url="^.*$" />
				  <conditions logicalGrouping="MatchAny">
					<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" />
				  </conditions>
				  <action type="None" />
				</rule>
				<rule name="Other Files" stopProcessing="true">
				  <match url="^.*$" />
				  <action type="Rewrite" url="index.php" />
				</rule>
			</rules>
		</rewrite>
		<security>
			<requestFiltering>
				<fileExtensions allowUnlisted="true" >
				    <add fileExtension=".bat" allowed="false"/>
				</fileExtensions>
				<hiddenSegments applyToWebDAV="true">
				    <add segment="cron.php"/>
				    <add segment="config.php"/>
				    <add segment="import.php"/>
				    <add segment="upgrade.php"/>
				</hiddenSegments>
				<denyUrlSequences>
					<add sequence="app/apps/"/>
				    <add sequence="app/bin"/>
				    <add sequence="app/dev"/>
				    <add sequence="app/docs"/>
				    <add sequence="app/languages"/>
				    <add sequence="app/src"/>
				    <add sequence="app/sys"/>
				    <add sequence="app/testing"/>
				    <add sequence="app/vendor"/>
				    <add sequence="app/vendor-src"/>
				    <add sequence="app/.htaccess"/>
				    <add sequence="app/unschedule.bat"/>
				    <add sequence="app/composer.json"/>
				    <add sequence="app/composer.lock"/>
				    <add sequence="data/backups/"/>
				    <add sequence="data/debug/"/>
				    <add sequence="data/files/"/>
				    <add sequence="data/logs/"/>
				    <add sequence="data/tmp/"/>
				</denyUrlSequences>
				<verbs allowUnlisted="false">
	                <add verb="GET" allowed="true" />
	                <add verb="POST" allowed="true" />
	                <add verb="DELETE" allowed="true" />
	                <add verb="PUT" allowed="true" />
	            </verbs>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>