// The secondary dropdown color scheme
$base-color: #fff;
$base-background: #62ad8c;
$hover-color: #559e7e;
$border-color: #62ad8c;

.dpw-navigation-dropdown-secondary {
  background: $base-background;
  a { color: $base-color; }

  > ul {
    > li:first-child a { border-top: 1px solid $border-color; }
    > li:first-child a:hover { border-top: 1px solid $hover-color; }
  }

  .dpw-navigation-dropdown-item-mark .dpw-navigation-dropdown-item-icon i {
    font-size: 15px !important;
    color: $base-color;
  }

  .dpw-navigation-dropdown-item {
    border-bottom: 1px solid #559e7e;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-top: 1px solid #559e7e;
  }

  .dpw-navigation-dropdown-item:hover {
    background: $hover-color;
    border-bottom: 1px solid #559e7e;
    border-top: 1px solid #559e7e;
    i { color: #fff; }
  }

  .dpw-navigation-dropdown-item.active {
    background: $hover-color;
    border: 1px solid $hover-color;
    border-left: 1px solid $hover-color;
    border-right: 1px solid $hover-color;
    border-bottom: 1px solid $hover-color;
    border-top: 0;
    color: #fff;
    position: relative;
    z-index: 998;
    i { color: #fff; }
  }
}

// The macros dropdown color scheme
$base-color: #6b6b6b;
$base-background: #f5f5f5;
$hover-color: #62ad8c;
$border-color: #dcddde;

.dpw-navigation-dropdown-other {
  background: $base-background;
  a { color: $base-color; }

  > ul {
    > li:first-child > a { border-top: 1px solid $border-color; }
    > li:first-child > a:hover { border-top: 1px solid $hover-color; }
  }

  .dpw-navigation-dropdown-item-mark .dpw-navigation-dropdown-item-icon i {
    font-size: 15px !important;
    color: $base-color;
  }

  .dpw-navigation-dropdown-item {
    border-bottom: 1px solid #dcddde;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-top: 1px solid #dcddde;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    height: 26px;
  }

  .dpw-navigation-dropdown-item:hover {
    background: $hover-color;
    border-bottom: 1px solid #559e7e;
    border-top: 1px solid #559e7e;
    i { color: #fff; }
  }

  .dpw-navigation-dropdown-item.active {
    background: $hover-color;
    border: 1px solid $hover-color;
    border-left: 1px solid $hover-color;
    border-right: 1px solid $hover-color;
    border-bottom: 1px solid $hover-color;
    border-top: 0;
    color: #fff;
    position: relative;
    z-index: 998;
    i { color: #fff; }
  }
}
