.dpw-navigation-dropdown-reply-controls {
  margin-top: 0;
  margin-bottom: 7px;

  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    margin-right: 10px;
    color: #b5b5b5;

    .dpw--checkbox-boxy {
      width: 14px;
      height: 14px;
      border: 1px solid #dadada;
      i { font-size: 9px;}
    }
  }

  .control-text {
    display: inline-block;
    vertical-align: middle;
  }

  .add-mass-reply.active {
    color: #62ad8c;

    .dpw--checkbox-boxy {
      border: 1px solid #62ad8c;
      i { color: #62ad8c; }
    }
  }

  .add-agent-note.active {
    color: #c2bc7e;

    .dpw--checkbox-boxy {
      border: 1px solid #c2bc7e;
      i { color: #c2bc7e; }
    }
  }
}


.dpw-navigation-dropdown-reply-item-reply-footer {
  .info-text, .set-status-to {
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
  }

  .info-text {
    margin-left: 5px;
    margin-right: 2px;
    color: #b5b5b5;
  }

  .set-status-to {
    background: #fbdc55;
    padding: 3px 5px;
    color: #827129;
    border-radius: 2px;

    i { margin-left: 2px; }
  }
}

.dpw-navigation-dropdown-reply-item-reply {
  border: 1px solid #62ad8c;
  border-radius: 2px;
  margin-bottom: 5px;

  &.item-reply-note { border: 1px solid #dbd59b; }

  textarea {
    padding: 10px;
    display: block;
    border: 0;
    font-family: inherit;
    line-height: 1.7em;
    background: #f1f1f1;
    width: 100%;
    resize: vertical;
  }

  textarea::-webkit-input-placeholder { font-style: italic; font-size: 12px; color: #acacac; }
  textarea:-moz-placeholder { font-style: italic; font-size: 12px; color: #acacac; }
  textarea::-moz-placeholder { font-style: italic; font-size: 12px; color: #acacac; }
  textarea:-ms-input-placeholder { font-style: italic; font-size: 12px; color: #acacac; }
}

/* .item-reply.item-note {
  border: 1px solid #e5dfa7;
} */

.dpw-navigation-dropdown-reply-item-reply-actions {
  background: #e8e9eb;
  position: relative;

  > a.action {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    display: inline-block;
    padding: 7px 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    color: #a7aaae;
    text-decoration: none;

    span { color: #c2c4c6; }

    i {
      margin-right: 4px;
      color: #81858b;
      font-size: 12px;
      top: 1px;
    }
    i.fa-caret-down { margin-left: 4px; }
  }

  > a:hover { background: lighten(#e8e9eb, 5%); }
}


.dpw-navigation-dropdown-reply-live-editor {
  background: #f9f9f9;
  height: 24px;
  border-bottom: 1px;
}
