.dpw-sla-label {
  line-height: 1em;
  display: block;
  background: #62ad8c;
  padding: 4px 6px 6px 6px;
  border-radius: 2px;
  color: #fff;
  font-size: 11px;
  text-decoration: none;
  margin-bottom: 4px;
  margin-right: 3px;

  .fa-times {
    opacity: 0.5;
    margin-right: 5px;
  }

  &:hover .fa-times  { opacity: 1; }
}

.dpw-sla-long-list .dpw--popup-item-collection { margin-top: 5px; }

.dpw-sla-pile {
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  > ul.dpw-sla-list-blank {
    li {
      a {
        display: block;
        background: #fff;
        color: #878686;

        .fa-times { float: right; }
      }
    }
  }
}
