@import "../../../Admin/Resources/style/admin-style";
@import "style";

//######################################################################################################################
//# Report Overview
//######################################################################################################################

section.report-wrapper {
	> header {
		border: 1px solid #D9DBDB;
		border-bottom: none;
		.border-radius(5px, 5px, 0, 0);
		background: #F5F5F5;

		h2 {
			margin: 0 !important;
			padding: 5px;
			font-size: 12pt;
			font-weight: bold;
			line-height: 100%;
			color: #000;
		}

		h3 {
			margin: 0 !important;
			padding: 0 5px 5px 5px;
			font-size: 10pt;
			font-weight: normal;
			line-height: 100%;
			color: #545454;
		}
	}

	> article {
		position: relative;
		border: 1px solid #D9DBDB;
		padding: 8px;

		tr.total-row {
			td {
				border-top: 10px solid #fff;
				background: #EBF2FE;

			}
		}
	}
}

section.report-wrapper table.stat-table {
	tr > td {
		padding: 2px;
		vertical-align: middle;
	}
	tr > td.title {
		text-align: right;
		span {
			white-space: nowrap;
			display: block;
		}
	}
}

section.report-wrapper table.stat-value-multi {

	tr > td {
		padding: 1px 1px 1px 0;
		&:first-child {
			padding-left: 1px;
		}
		> div {
			border: none !important;
			.inner-shadow(0, 0, 4px, 0.4);
		}
	}

	tr > td:hover > div {
		.opacity(.75);
	}
}

section.report-wrapper table.stat-value {
	tr > td.value > div {
		background-color: #AAC9E5;
		padding: 1px;
		.inner-shadow(0, 0, 4px, 0.4);
	}
}

section.report-wrapper table.stat-value-multi {

}

section.report-wrapper .no-data {
	padding: 40px;
	text-align: center;
	border: 1px dashed #999;
	margin: 10px;

	h3 {
		font-size: 14pt;

	}
}

//######################################################################################################################
//# Report Builder
//######################################################################################################################

.dp-pane.report_builder {
	width: 650px;
}

.dp-report-category {

	article {

		> em {

			color: #AAAAAA;
			float: right;
			font-style: normal;
			margin: 15px;
		}

		> a.header {

			display: block;
			width: 595px;

			.inner {
				color: #333;
				text-decoration: none;
				border-bottom: 3px solid #AAAAAA;
				display: inline-block;
				font-size: 130%;
				font-weight: normal;
				margin: 10px;
				padding: 0 0 2px;
			}
		}
	}

	.dp-item-list {

		> li > a {

			padding: 7px 13px 7px 18px;

			h4 {
				text-overflow: clip;
				max-width: 95% !important;
			}
		}
	}

	.report-chart-icon {
		.iconbase(16px, 16px);
		position: relative;
		top: 3px;

		&.report-chart-icon-bar {
			background-image: url('@{img_path}/report/icons/chart_bar.png');
		}
		&.report-chart-icon-line {
			background-image: url('@{img_path}/report/icons/chart_line.png');
		}
		&.report-chart-icon-area {
			background-image: url('@{img_path}/report/icons/chart_line.png');
		}
		&.report-chart-icon-pie {
			background-image: url('@{img_path}/report/icons/chart_pie.png');
		}
	}
}