{% extends 'AdminBundle::layout.twig.html' %}
{% block content %}

<div class="block" id="block-forms">
	<div class="content">
		<h2 class="title">{{template_name}}</h2>
		<div class="inner">
			<form action="{{ path('admin_styles_edittemplate', {'style_id': style.id, 'template_name': template}) }}" method="get" class="form">
				<input type="hidden" name="template_name" value="{{template_name}}" />
				<div class="group">
					<label class="label">Contents</label>
					<textarea class="text_area" name="template_content" rows="25" cols="80">{{template_content}}</textarea>
				</div>
				<div class="group navform wat-cf">
					<button class="button" type="submit">
						<img src="{{ asset('images/icons/tick.png') }}" alt="Save" /> Save
					</button>
					<a href="{{ path('admin_styles_templates', {'style_id': style.id}) }}" class="button">
						<img src="{{ asset('images/icons/cross.png') }}" alt="Cancel"/> Cancel
					</a>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
{% block sidebar %}
	{% include 'AdminBundle:Styles:_style_sidebar.twig.html' %}
{% endblock %}