{% extends 'AdminBundle::layout.twig.html' %}
{% block content %}

<div class="block" id="block-tables">
	<div class="content">
		<div style="float: right; padding: 5px 5px 0 0;">
			<a href="{{ path('admin_styles_newstyle') }}" class="button">
				<img src="{{ asset('images/icons/tick.png') }}" alt="New Style" /> Create New Style
			</a>
		</div>
		<h2 class="title">Styles</h2>
		<div class="inner">
			<form action="#" class="form">
				<table class="table">
					<tr>
						<th class="first" width="10">&nbsp;</th>
						<th>Style</th>
						<th width="250">&nbsp;</th>
					</tr>
					{% for style in all_styles %}
					<tr class="even">
						<td><input type="radio" name="default_style_id" value="{{style.id}}" /></td>
						<td>
							{% if style.depth %}
								{% for i in 0..style.depth %}--{% endfor %}
							{% endif %}
							{{style.title}}
						</td>
						<td class="last">
							<a href="{{ path('admin_styles_templates', {'style_id': style.id}) }}">Templates</a> &middot;
							<a href="{{ path('admin_styles_resources', {'style_id': style.id}) }}">Resources</a> &middot;
							<a href="{{ path('admin_styles_editstyle', {'style_id': style.id}) }}">Properties</a>
						</td>
					</tr>
					{% endfor %}
				</table>
				<div class="actions-bar wat-cf">
					<div class="actions">
						<button class="button" type="submit">
							Change Default Style
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
{% block sidebar %}
	{% include 'AdminBundle:Styles:_style_sidebar.twig.html' %}
{% endblock %}