<form name="create_issue_form" ng-submit="create_issue_form.$valid && confirm()">
    <div class="modal-header">
        <h3 class="modal-title">New JIRA Issue:</h3>
    </div>
    <div class="modal-body">

        <label style="display: block; margin: 10px 0;">
            Project:
            <select ng-model="issue.project"
                    ng-options="project as project.name for project in meta.projects"
                    required>
            </select>
        </label>

        <label style="display: block; margin: 10px 0;">
            Issue Type:
            <select ng-model="issue.issuetype"
                    ng-options="type as type.name for type in issue.project.issuetypes"
                    required>
            </select>
        </label>

        <label ng-if="meta.default_fields_summary.indexOf('priority') > -1" style="display: block; margin: 10px 0;">
            Priority:
            <select ng-model="issue.priority"
                    ng-options="priority as priority.name for priority in meta.priorities"
                    required>
            </select>
        </label>

        <label ng-if="meta.default_fields_summary.indexOf('summary') > -1" style="display: block; margin: 10px 0;">
            Summary:
            <input type="text" ng-model="issue.summary" required />
        </label>

        <label ng-repeat="field in issue.issuetype.filtered_fields" style="display: block; margin: 10px 0;">
            {{ field.name }}
        </label>

        <br />

        <button class="btn btn-primary" dp-submit-form style="display: block; margin: 0 auto;">Create JIRA Issue</button>

    </div>
</form>
