<div class="modal-header">
    <h3 class="modal-title">JIRA Issue:</h3>
</div>
<div class="modal-body">

    <ul>
        <li>
            Key: {{ issue.key }}
        </li>
        <li ng-repeat="field in issue.filtered_fields">
            {{ meta.fieldName(field.id) }}: {{ meta.fieldValue(field.id, field.value) }}
        </li>
    </ul>

    <div ng-if="issue.fields.comment">
        <h4>{{ meta.fieldName('comment') }}:</h4>
        <ul>
            <li ng-repeat="comment in issue.fields.comment.comments">
                {{ meta.renderComment(comment) }}
            </li>
        </ul>


        <div ng-show="sending_comment">->spinner<-</div>
        <form name="comment_form" ng-submit="comment_form.$valid && sendComment(message); message = null;" ng-show="!sending_comment">
            <textarea name="message" ng-model="message" required></textarea>
            <br />
            <button dp-submit-form>Add Comment</button>
        </form>
    </div>

</div>