<div class="modal-header">
    <h3 class="modal-title">Link JIRA Issue:</h3>
</div>
<div class="modal-body">

    <ul>
        <li ng-if="isFieldEnabled('summary', 'issuekey')">
            Key: {{ issue.key }}
        </li>
        <li ng-if="isFieldEnabled('summary', 'summary')">
            {{ names.summary }}: {{ issue.summary }}
        </li>
        <li ng-if="isFieldEnabled('summary', 'description')">
            {{ names.description }}: {{ issue.description }}
        </li>
        <li ng-repeat="field in issue.filtered_fields">
            {{ names[field.id] }}: {{ render(field.value) }}
        </li>
    </ul>

    <button ng-click="confirm()">Confirm</button>

</div>