<section>
	<header>
		<h4>JIRA</h4>
	</header>
	<article>

        <button style="display:block; margin: 0 auto;" ng-click="createIssueModal()">
            Create JIRA Issue
        </button>

        <input type="text" placeholder="Enter JIRA Issue" style="display:block; margin: 0 auto;" />

        <button style="display:block; margin: 0 auto;">
            Link to JIRA Issue
        </button>

	</article>
</section>

<script type="text/ng-template" id="deskpro_jira2/Ticket/create-issue-modal.html">
    <div class="modal-header">
        <h3 class="modal-title">New JIRA Issue:</h3>
    </div>
    <div class="modal-body">

        <label style="display: block; margin: 10px 0;">
            Project:
            <select ng-model="issue.project"
                    ng-options="project as project.name for project in meta.projects">
            </select>
        </label>

        <label style="display: block; margin: 10px 0;">
            Issue Type:
            <select ng-model="issue.issuetype"
                    ng-options="type as type.name for type in issue.project.issuetypes">
            </select>
        </label>

        <label ng-if="meta.default_fields_summary.indexOf('priority') > -1" style="display: block; margin: 10px 0;">
            Priority:
            <select ng-model="issue.issuetype"
                    ng-options="type as type.name for type in issue.project.issuetypes">
            </select>
        </label>

        <label ng-if="meta.default_fields_summary.indexOf('summary') > -1" style="display: block; margin: 10px 0;">
            Summary:
            <input type="text" ng-model="issue.summary" />
        </label>

        <label ng-repeat="field in issue.issuetype.filtered_fields" style="display: block; margin: 10px 0;">
            {{ field.name }}
        </label>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="confirm()">Confirm</button>
        <button class="btn btn-warning" ng-click="dismiss()">Cancel</button>
    </div>

</script>