<section>
	<header>
		<h4>JIRA</h4>
	</header>
	<article>

        <button style="display:block; margin: 0 auto;" ng-click="createIssueModal()">
            Create JIRA Issue
        </button>

        <input type="text" placeholder="Enter JIRA Issue" ng-model="search_issue" style="display:block; margin: 0 auto;" />
        <div ng-show="404 === search_issue_state">Issue not found</div>
        <div ng-show="407 === search_issue_state">Issue already linked</div>
        <div ng-show="1 === search_issue_state">spinner</div>
        <button style="display:block; margin: 0 auto;" ng-click="search()">
            Link to JIRA Issue
        </button>


        <div ng-show="issues.loading">-> spinner <-</div>
        <ul ng-show="!issues.loading">
            <li ng-repeat="issue in issues" ng-click="issueModal(issue)">
                <div ng-if="isFieldEnabled('list', 'issuekey')">Key: {{ issue.key }}</div>
                <div ng-repeat="field in meta.default_fields_list">{{ issues.names[field] }}: {{ render(issue.fields[field]) }}</div>
                <div>-</div>
            </li>
        </ul>

        <button style="display:block; margin: 0 auto;" ng-click="sendCommentModal()">
            Send Comment
        </button>

	</article>
</section>

<script type="text/ng-template" id="deskpro_jira2/Ticket/create-issue-modal.html">
    <!--#include file="Ticket/create-issue-modal.html" -->
</script>

<script type="text/ng-template" id="deskpro_jira2/Ticket/issue-details-modal.html">
    <!--#include file="Ticket/issue-details-modal.html" -->
</script>

<script type="text/ng-template" id="deskpro_jira2/Ticket/link-issue-modal.html">
    <!--#include file="Ticket/link-issue-modal.html" -->
</script>

<script type="text/ng-template" id="deskpro_jira2/Ticket/send-comment-modal.html">
    <!--#include file="Ticket/send-comment-modal.html" -->
</script>