{% extends 'AgentBundle:Settings:settings-layout.twig.html' %}
{% block current_page "ticket-queues" %}
{% block page_head %}
<script type="text/javascript">
$(document).ready(function() {
	// Set up search builder
	var editor = new DeskPRO.Form.RuleBuilder($('#criteria_tpl'));
	editor.addEvent('newRow', function(new_row) {
		$('.remove', new_row).click(function() {
			new_row.remove();
		});
	});
	$('#criteria_list .add-term').data('add-count', 0).click(function() {
		var count = parseInt($(this).data('add-count'));
		var basename = 'terms['+count+']';

		$(this).data('add-count', count+1);

		editor.addNewRow($('#criteria_list .search-terms'), basename);
	});

	{% if queue.terms %}
		{% for id,term in queue.terms %}
			editor.addNewRow($('#criteria_list .search-terms'), 'terms[exist_{{id}}]', {
				rule_type: '{{term.rule_type}}',
				op: '{{term.op}}',
				choice: {
					{% for k,v in term %}{{k}}: '{{v}}',{% endfor %}
					nothing: null
				}
			});
		{% endfor %}
	{% endif %}
});
</script>
{% endblock %}
{% block content %}

<form action="{{ path('agent_settings_ticketqueues_edit', { 'queue_id': queue.id|default(0) }) }}" method="post" accept-charset="utf-8">

<div class="form-panel">
	<div class="row">
		<label for="macro_title">Queue title</label>
		<input type="input" name="queue[title]" class="input-title" value="{{queue.title}}" />
	</div>
	<div class="row">
		<label for="macro_title">Group by</label>
		<select name="queue[group_by]">
			<option value="">(No grouping)</option>
			{% for id,name in {'priority_id':'Priority', 'status': 'Status', 'department_id': 'Department', 'category_id': 'Category', 'product_id': 'Product', 'agent_id': 'Agent', 'agent_team_id': 'Agent Team'} %}
				<option value="{{id}}" {%if queue.group_by == id %}selected="selected"{%endif%}>{{name}}</option>
			{% endfor %}
		</select>
	</div>
	
	<div class="row">
		<label>Criteria</label>
		<div class="search-form" id="criteria_list">
			<div class="search-terms"></div>
			<div class="term"><span class="add-term">+</span> Add a new term</div>
		</div>
		<div id="criteria_tpl" class="search-builder-tpl" style="display:none">
			<div class="row">
				<div class="term">
					<div class="type"></div>
					<div class="op"></div>
					<div class="choice"></div>
					<div class="remove">-</div>
				</div>
			</div>
			{% include 'AgentBundle:TicketSearch:termbuilder-html.twig.html' with {'term_options': term_options} %}
		</div>
	</div>
</div>

<div style="text-align:center">
	<button type="submit" class="dp-button">Save Queue</button>
</div>

</form>

</form>
{% endblock %}