{% block meta %}{% endblock %}

{% set twitter_account %}{% block twitter_account %}{% endblock %}{%endset%}


{% set flagged_content %}{% block flagged_content %}{% endblock %}{%endset%}
{% set overview_content %}{% block overview_content %}{% endblock %}{%endset%}
{% set find_content %}{% block find_content %}{% endblock %}{%endset%}
{% set labels_content %}{% block labels_content %}{% endblock %}{%endset%}

<h1 data-route="navpane:{{ path('agent_ticketsearch_queuespane') }}" >Active</h1>

<h1 data-route="listpane:{{ path('agent_twitter_mensions', {'handle': 'basilBThoppil'}) }}"  class="active">Accounts</h1>
{% if twitter_account %}<div class="main-nav">{{twitter_account|raw}}</div>{%endif%}



<h1 data-route="navpane:{{ path('agent_ticketsearch_overviewpane') }}" class="{% if overview_content %}active{%endif%}">Managed Search</h1>
{% if overview_content %}<div class="main-nav">{{overview_content|raw}}</div>{%endif%}

<h1 data-route="navpane:{{ path('agent_ticketsearch_labelspane') }}" class="{% if labels_content %}active{%endif%}">Monitored Search</h1>
{% if labels_content %}<div class="main-nav">{{labels_content|raw}}</div>{%endif%}
