th {
	text-align: right;
}

/************************************************
* ERRORS & SUCCESS
*************************************************/

/* Sub Categories */
.success li {
	background: url(./images/user/$style[images]/icons/tick.gif) 100% 50% no-repeat;
	padding: 0 25px 0 0;
}


/* Sub Categories */
.error li {
	background: url(./images/user/$style[images]/icons/exclamation.gif) 100% 50% no-repeat;
	padding: 0 25px 0 0;
}

/************************************************
* TOP ICONS
*************************************************/

.topicons {
	float:left;
}

/************************************************
* TOP MENU
*************************************************/

/* The main navigation items */
#menu li {
	float: right;
}

/* The links in the main navigation. Their unique backgrounds are given later */
#menu a {
	padding: 5px 26px 5px 6px;
}

/* Button images for each link */
#top_knowledgebase { background: url(./images/user/$style[images]/nav/knowledgebase.gif) 98% 50% no-repeat; }
#top_trouble { background: url(./images/user/$style[images]/nav/troubleshooter.gif) 98% 50% no-repeat; }
#top_newquestion { background: url(./images/user/$style[images]/nav/ask_a_question.gif) 98% 50% no-repeat; }
#top_downloads { background: url(./images/user/$style[images]/nav/downloads.gif) 98% 50% no-repeat; }
#top_manuals { background: url(./images/user/$style[images]/nav/manual.gif) 98% 50% no-repeat; }
#top_register { background: url(./images/user/$style[images]/nav/register.gif) 98% 50% no-repeat; }
#top_login { background: url(./images/user/$style[images]/nav/login.gif) 98% 50% no-repeat; }
#top_profile { background: url(./images/user/$style[images]/nav/profile.gif) 98% 50% no-repeat; }
#top_questions { background: url(./images/user/$style[images]/nav/my_questions.gif) 98% 50% no-repeat; }

/************************************************
* LEFT COLUMN LISTS
*************************************************/

/* News */
.news li {
	background: url(./images/user/$style[images]/icons/document.gif) 100% 50% no-repeat;
	padding: 2px 20px 2px 0;
	margin-right: 5px;
}

/************************************************
* LEFT COLUMN LINKS STYLES
*************************************************/

/* Section Links */
ul#headerlinks li {
	background-position: 100% 50%;
	padding: 3px 20px 3px 0;
	margin-right:5px;
}

/* Sub Section Links */
ul#links li {
	background-position: 100% 50%;
	padding: 3px 20px 3px;
	margin-right: 5px;
}

/************************************************
* VIEW TICKET
*************************************************/

.comment_section {
	margin-left:0;
	margin-right:10px;
}

.comment_message_tech {
	margin-left:0;
	margin-right:10px;
}

.comment_message_user {
	margin-left:0;
	margin-right:10px;
}

.tech {
	border-left: none;
	border-right: 15px solid #67849C;
	margin-left: 0;
	margin-right: 5px;
}

.user {
	border-left: none;
	margin-left: 0;
	border-right: 5px solid #A6C0D6;
	margin-right: 15px;
}

/************************************************
* FRONT PAGE
*************************************************/

/* Remove list bullet */
.frontnav {
	list-style:none;
}

/* Front page main, large items */
.frontnav li {
	background-position: 100% 50%;
	padding: 14px 75px 10px 5px;
}

/************************************************
* NAVIGATION
*************************************************/

/* This is the breadcrumb navigation in the .topsection */
.navigation {
	padding: 0 20px 25px 4px;
	font-size: 85%;
}

/* The navigation and top navigation are styled here */
.navigation li {
	float: right;
	padding: 3px 20px 3px 10px;
	background: url(./images/user/$style[images]/icons/arrow_right.gif) 100% 50% no-repeat;
}

#navigation_home { background: url(./images/user/$style[images]/nav/house.gif) 100% 50% no-repeat; }

.timezone {
	text-align:left;
}

/************************************************
* KNOWLEDGEBASE
*************************************************/

/* Categories */

.kb_category_link {
	background: url(./images/user/$style[images]/fileicons/folder.gif) 100% 50% no-repeat;
	padding: 0 20px 0 0;
}
.kb_category_related li {
	background: url(./images/user/$style[images]/fileicons/folder.gif) 100% 50% no-repeat;
	padding: 5px 20px 5px 0;
}

/* Listed Articles */
.kb_article_list li {
	background: url(./images/user/$style[images]/icons/document.gif) 100% 50% no-repeat;
	padding-right: 24px;
}

/* Knowledgebase Articles */
.frontarticles li {
	background: url(./images/user/$style[images]/icons/document.gif) 100% 50% no-repeat;
	padding: 2px 20px 2px 0;
}

/* Sub Categories */
.subcat li {
	background: url(./images/user/$style[images]/fileicons/folder.gif) 100% 50% no-repeat;
	padding: 0 20px 0 0;
}

/* Sub Articles */
.articlebit li {
	background: url(./images/user/$style[images]/icons/document.gif) 100% 50% no-repeat;
	padding-right: 24px;
}

/* Knowledgebase HEADER  */
ul#headerlinks li.kb_header_search			{ background: url(./images/user/$style[images]/icons/application_form_magnify.gif) 100% 50% no-repeat; }
ul#headerlinks li.kb_header_browse			{ background: url(./images/user/$style[images]/icons/application_view_list.gif) 100% 50% no-repeat; }
ul#headerlinks li.kb_header_subscriptions	{ background: url(./images/user/$style[images]/icons/transmit.gif) 100% 50% no-repeat; }
ul#headerlinks li.kb_header_submit_article	{ background: url(./images/user/$style[images]/icons/page_add.gif) 100% 50% no-repeat; }
ul#headerlinks li.kb_header_rss				{ background: url(./images/user/$style[images]/icons/rss.gif) 100% 50% no-repeat; }

/************************************************
* PROFILE
*************************************************/

/* PROFILE HEADER */
ul#headerlinks li.profile_header_profile			{ background: url(./images/user/$style[images]/nav/profile.gif) 100% 50% no-repeat; }
ul#headerlinks li.profile_header_password		{ background: url(./images/user/$style[images]/icons/textfield_key.gif) 100% 50% no-repeat; }
ul#headerlinks li.profile_header_email				{ background: url(./images/user/$style[images]/icons/email_edit.gif) 100% 50% no-repeat; }
ul#headerlinks li.profile_header_subscriptions		{ background: url(./images/user/$style[images]/icons/transmit.gif) 100% 50% no-repeat; }

/************************************************
* TROUBLESHOOTERS
*************************************************/

/* Lists of Troubleshooters */

.troubleshooters {
	padding: 0 6px 2px 0;
}
.troubleshooters dt {
	background: url(./images/user/$style[images]/icons/arrow_switch.gif) 100% 50% no-repeat;
	padding: 0 20px 2px 0;
}
.troubleshooters dd {
	padding: 5px 20px 10px 0;
}

/************************************************
* TITLE SECTIONS
*************************************************/

h3 span {
	float: right;
	padding-right: 0;
	padding: 4px 6px;
	padding-right: 0;
	padding-left: 30px;
}

/************************************************
* TABLE STRUCTURE
*************************************************/

.table_form_left {
	text-align: left;
	padding: 6px;
	padding-right: 20px;
}

.table_form_right {
	padding:6px 75px 6px 15px;
}

/************************************************
* HELP PAGE
*************************************************/
ul.help_articles {
	margin-right: 20px;
}

ul.help_articles li {
	background: url(./images/user/$style[images]/icons/document.gif) 100% 50% no-repeat;
	padding: 3px;
	padding-right: 24px;
}

.help_entry ul, .help_entry ol {
	margin-right: 20px;
}

.help_entry h4 {
	margin: 25px 9px 9px 9px;
}

.help_entry .gotop {
	text-align:left;
}

/************************************************
* DOWNLOADS
*************************************************/

/* Download Categories */

.downloads {
	padding: 0 6px 2px 0;
}
.downloads dt {
	background: url(./images/user/$style[images]/fileicons/folder.gif) 100% 50% no-repeat;
	padding: 0 20px 2px 0;
}

.downloads dd {
	padding: 2px 40px 6px 0;
}

/* Download Files */

.downloads_files {
	padding: 0 6px 2px 0;
}
.downloads_files dt {
	padding: 0 20px 2px 0;
}
.downloads_files dd {
	padding: 0 40px 0 0;
}
.downloads_files li {
	padding: 0 20px 2px 0;
}

/************************************************
* ATTACHMENTS
*************************************************/

li.icon-attachment_gif, dt.icon-attachment_gif	{ background: url(./images/user/$style[images]/fileicons/blank.png) 100% 50% no-repeat; }
li.icon-doc_gif, dt.icon-doc_gif				{ background: url(./images/user/$style[images]/fileicons/doc.png) 100% 50% no-repeat; }
li.icon-folder_gif, dt.icon-folder_gif			{ background: url(./images/user/$style[images]/fileicons/folder.png) 100% 50% no-repeat; }
li.icon-gif_gif, dt.icon-gif_gif				{ background: url(./images/user/$style[images]/fileicons/gif.png) 100% 50% no-repeat; }
li.icon-pdf_gif, dt.icon-pdf_gif				{ background: url(./images/user/$style[images]/fileicons/pdf.png) 100% 50% no-repeat; }
li.icon-php_gif, dt.icon-php_gif				{ background: url(./images/user/$style[images]/fileicons/php.png) 100% 50% no-repeat; }
li.icon-txt_gif, dt.icon-txt_gif				{ background: url(./images/user/$style[images]/fileicons/txt.png) 100% 50% no-repeat; }
li.icon-zip_gif, dt.icon-zip_gif				{ background: url(./images/user/$style[images]/fileicons/zip.png) 100% 50% no-repeat; }

/************************************************
* REDIRECTS
*************************************************/

#redirect_box {
	text-align: right;
}