/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

body {
	font-family: Verdana, 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 80%;
	background-color: #fff;
}

#header .notifications:hover #notify_list {
	display: block;
	position: absolute;
	top: 24px;
	margin-left: -11px;
	z-index: 20;
}

#notify_list {
	display: none;
	z-index: 10000;

	background: #fff; /* old browsers */

	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 0px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;

	-webkit-box-shadow: 3px 5px 8px #474747;
	-moz-box-shadow: 3px 5px 8px #474747;
	box-shadow: 3px 5px 8px #474747;

	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #666;
}

#notify_list > ul {
	-moz-border-radius: 5px;
	border-radius: 5px;

	width: 350px;
}

#notify_list > ul > li {
	border-top: 2px solid rgba(200, 200, 200, 0.3);
	padding: 6px;
	margin-top: 6px;
}

#notify_list > ul > li:first-child {
	border-top: none;
	margin-top: none;
	padding-top: none;
}

#notify_list > ul > li > h4 {
	font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	color: #000;

	text-shadow: 1px 1px 1px #eee;
	filter: dropshadow(color=#000, offx=1, offy=1);

	font-size: 11pt;
	font-weight: normal;
	margin: 3px 0 5px 0;
}

#notify_list > ul > li > ul {
}


#notify_list > ul > li > ul > li {
	font-size: 8pt;
	line-height: 120%;
	padding: 5px 0 5px 8px;
	border: 1px solid transparent;
}

#notify_list > ul > li > ul > li:hover {
	background-color: #fff;
	border: 1px solid #5E95CC;
}

#notify_list > ul > li > ul > li > span.dismiss {
	visibility: hidden;
	display: block;
	float: right;
	font-size: 6pt;
	margin-top: -3px;
	margin-right: 2px;
	cursor: pointer;
	background-color: #F5DBCE;
	-moz-border-radius: 3px;
	border-radius: 3px;

	width: 10px;
	height: 10px;
	overflow: hidden;

	text-indent: 100px;

	background: transparent url(../../images/tab-close-on.png) no-repeat top right;
}

#notify_list > ul > li > ul > li:hover > span.dismiss {
	visibility: visible;
}

/****************************************
* Header
****************************************/

#header {
	background-color: #175483;
	height: 35px;
	overflow: hidden;
}

#header > h1 {
	background: transparent url(../images/logo.png) no-repeat center left;
	line-height: 35px;
	text-indent: -1000px;
	margin-left: 10px;
	width: 100px;
	float: left;
}



#header > .notifications {
	float: left;
	background-color: #fff;

	-webkit-box-shadow: inset 0px 0px 3px #636363;
	-moz-box-shadow: inset 0px 0px 3px #636363;
	box-shadow: inset 0px 0px 3px #636363;
	
	height: 22px;
	padding-left: 10px;
	
	margin-top: 6px;
	margin-left: 15px;
}

#header > .notifications:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	z-index: 10000;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

#header > .notifications > ul > li {
	float: left;
	line-height: 22px;
	margin-right: 10px;
	
	background-repeat: no-repeat;
	background-position: center left;
	
	padding-left: 19px;
	font-size: 10px;
}

#header > .notifications > ul > li.tickets { background-image: url(../images/notif-tickets.png); }
#header > .notifications > ul > li.twitter { background-image: url(../images/notif-twitter.png); }



#header .search-wrap {
	float: left;
	height: 15px;
	margin-top: 6px;
}

#header .search-wrap .search {
	background-color: #fff;
	height: 15px;
	padding: 3px;
	
	float: left;
	
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 0px;
}

#header .search input {
	background-color: #fff;
	border: none;
	outline: none;
}

#header .search input:focus {
	outline: none;
}

#header .search-wrap .type-select {
	background-color: #ecf1f5;
	
	display: block;
	float: left;

	color: #545d63;
	height: 21px;
	line-height: 20px;
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px solid #d0d6dc;
	
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 6px;
	
	text-indent: -1000px;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	width: 16px;
}

#header .search-wrap .type-select:hover {
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
}

#header .search-wrap .type-select.all { background-image: url(../images/wand.png); }
#header .search-wrap .type-select.tickets { background-image: url(../images/notif-tickets.png); }
#header .search-wrap .type-select.twitter { background-image: url(../images/notif-twitter.png); }

#header .search-wrap .type-select .type-list {
	display:none;
	background-color: #ecf1f5;

	position: absolute;
	top: 27px;
	z-index: 1000;
	margin-left: -5px;
	-webkit-box-shadow: 1px 1px 3px #0d0d0d;
	-moz-box-shadow: 1px 2px 3px #0d0d0d;
	box-shadow: 1px 1px 3px #0d0d0d;
}

#header .search-wrap .type-select .type-list > li {
	color: #000;
	text-indent: 0;
	padding: 3px 10px 3px 23px;
	background-position: 3px 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}

#header .search-wrap .type-select .type-list li.all { background-image: url(../images/wand.png); }
#header .search-wrap .type-select .type-list li.tickets { background-image: url(../images/notif-tickets.png); }
#header .search-wrap .type-select .type-list li.twitter { background-image: url(../images/notif-twitter.png); }

#header .search-wrap .type-select .type-list > li:hover {
	background-color: #fff;
}

#header .search-wrap .type-select:hover .type-list {
	display: block;
}

#header .search-wrap .search-results {
	display: none;
	position: absolute;
	background-color: #fff;
	top: 30px;
	-webkit-box-shadow: 1px 1px 8px #0d0d0d;
	-moz-box-shadow: 1px 2px 8px #0d0d0d;
	box-shadow: 1px 1px 8px #0d0d0d;

	margin-left: -4px;
	border: 1px solid #888;
	
	width: 300px;
	z-index: 1000;
}

#header .search-wrap .search-results.on {
	display: block;
}

#header .search-wrap .search-results .row {
	border-top: 1px solid #ddd;
	clear: both;
	padding: 6px 6px 6px 6px;
}

#header .search-wrap .search-results label {
	float: left;
	width: 90px;
	font-family: 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;
	color: #58616E;
	font-weight: bold;
	font-size: 8pt;
	padding-top: 3px;
}

#header .search-wrap .search-results ul {
	margin-left: 95px;
}

#header .search-wrap .search-results ul li {
	font-size: 8pt;
	padding: 5px 6px 5px 6px;
}

#header .search-wrap .search-results ul li:hover {
	background-color: #1C4985;
	color: #fff;
	cursor: pointer;
}

#header > ul.user-nav {
	float: right;
	padding-right: 6px;
}

#header > ul.user-nav > li {
	float: left;
	padding-right: 19px;
	color: #fff;
	line-height: 34px;
	font-size: 8pt;
}

#header > ul.user-nav > li a {
	color: #fff;
	text-decoration: none;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: center left;
}

#header > ul.user-nav  li.reports a { background-image: url(../images/chart_bar.png); }
#header > ul.user-nav  li.admin a { background-image: url(../images/favorite.png); }





#header > .current-user {
	float: right;
	background: #114063 url(http://www.gravatar.com/avatar/7e53906dbd43989ea9367ab938bfb558?s=24) no-repeat 6px 50%;
	padding-left: 36px;
	padding-right: 10px;
	height: 35px;
	overflow: hidden;
	color: #fff;
	line-height: 35px;
	border-left: 1px solid #0c283e;
	
	cursor: pointer;
}

#header > .current-user > span {
	background: transparent url(../images/arrow-down.png) no-repeat 100% 48%;
	padding-right: 20px;
}

#header > .current-user > ul {
	display: none;
	background-color: #114063;
}

#header > .current-user:hover > ul {
	display: block;
	position: absolute;
	right: 0;
	width: 200px;
	padding: 2px;
	z-index: 10000;
}

#header > .current-user:hover > ul > li {
	font-size: 9pt;
	line-height: 20px;
	padding: 0 15px 0 15px;
}

#header > .current-user:hover > ul > li:hover {
	background-color: #fff;
	color: #000;
}

/****************************************
* Nav
****************************************/

#nav {
	background-color: #ededed;
	height: 42px;
	overflow: hidden;
	padding-left: 10px;
	border-bottom: 1px solid #d0d0d0;
}

#nav > ul > li {
	float: left;
	overflow: hidden;
	margin-right: 10px;
}

#nav > ul > li > em {
	background-color: #eb140f;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #fff;
	font-weight: bold;
	font-size: 10px;
	float: right;
	margin: 5px 5px 0 0;
	padding: 2px 3px 2px 3px;
	z-index: 15;
}

#nav > ul > li > span {
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	width: 50px;
	height: 48px;
	text-indent: -1000px;
	
	border: 1px solid transparent;
	border-bottom: none;
	border-top: none;
}

#nav > ul > li.tickets > span { background-position: center center; background-image: url(../images/app-tickets.png); }
#nav > ul > li.chat    > span { background-position: center 10px; background-image: url(../images/app-chat.png); }
#nav > ul > li.twitter > span { background-position: center 12px; background-image: url(../images/app-twitter.png); }
#nav > ul > li.leads   > span { background-position: center 2px; background-image: url(../images/app-leads.png); }
#nav > ul > li.tasks   > span { background-position: center center; background-image: url(../images/app-tasks.png); }
#nav > ul > li.people  > span { background-position: center 10px; background-image: url(../images/app-people.png); }


#nav > ul > li:hover {
	background-color: #fff;
	cursor: pointer;
}

#nav > ul > li:hover > span {
	background-color: #fff;
	position: relative;
	z-index: 10;
	
	border: 1px solid #9ca5ac;
	border-bottom: none;
	border-top: none;
}


#nav > ul > li > div.menu {
	background-color: #fff;
	color: #000;
	z-index: 5;
	display: none;
	
	top: 76px;
	position: absolute;
	padding: 2px;
	min-width: 200px;
	
	-webkit-box-shadow: 0px -1px 9px #a3a3a3;
	-moz-box-shadow: 0px -1px 9px #a3a3a3;
	box-shadow: 0px -1px 9px #a3a3a3;
	
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 0px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	
	border: 1px solid #9ca5ac;
}

#nav > ul > li:hover > div.menu {
	display: block;	
}


#nav > ul > li.tickets > div.menu {
	width: 600px;
}

#nav > ul > li.tickets > div.menu  div.basic-count {
	background-color: #e5ecf2;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #b3bfc9;
	padding: 5px;
	font-family: 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;
}

#nav > ul > li.tickets > div.menu  div.basic-count > ul {
	
}

#nav > ul > li.tickets > div.menu  div.basic-count > ul > li {
	float: left;
	width: 110px;
	text-align: center;
	font-size: 9pt;
}

#nav > ul > li.tickets > div.menu  div.basic-count > ul > li:hover {
	background-color: #fff;
}

#nav > ul > li.tickets > div.menu  div.basic-count > ul > li label {
	font-weight: bold;
	display: block;
	text-shadow: 1px 1px 1px #ffffff;
	filter: dropshadow(color=#ffffff, offx=1, offy=1);
	margin-bottom: 2px;
}

#nav > ul > li.tickets > div.menu  div.basic-count > ul > li span {
	background-color: #175483;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #fff;
	font-weight: bold;
	font-size: 10pt;
	padding: 3px 3px 2px 3px;
}


#nav > ul > li.tickets > div.menu div.section {
	border: 1px solid #dddddd;
	padding: 7px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#nav > ul > li.tickets > div.menu div.section > h4 {
	font-size: 12px;
	font-family: ;'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;
	color: #447ec6;
}


ul.nav-list > li {
	display: block;
	font-family: Verdana;
	padding: 6px 5px 6px 5px;
	font-size: 10px;
	cursor: pointer;

	text-shadow: 0px 0px 1px #fff;
}

.nav-list-wrapper ul.nav-list > li.sub {
	padding-left: 24px !important;
}

ul.nav-list > li.sub {
	padding: 3px 5px 3px 10px;
	font-size: 7pt;
}

ul.nav-list.small > li span.count {
	font-size: 6pt;
}

ul.nav-list > li:hover {
	background: #919EC0;
	background: -moz-linear-gradient(top, #919EC0 0%, #686E87 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#919EC0), color-stop(100%,#686E87));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919EC0', endColorstr='#686E87',GradientType=0 );

	color: #fff;
	font-weight: bold;
	text-shadow: 0px 0px 1px #000000;
	
	-moz-border-radius: 5px;
	border-radius: 5px;
}

ul.nav-list > li.important {
	color: #851717;
	font-weight: bold;
}

ul.nav-list li span.count {
	font-family: Verdana;
	font-size: 7pt;
	background-color: #666;
	padding: 2px;
	border-radius: 13px;
	-moz-border-radius: 13px;
	color: #ccc;
	min-width: 10px;
	text-align: center;
	float: right;
	line-height: 8px;
	margin-top: -2px;
	
	background-color: #000;
	color: #fff;
}

ul.nav-list li span.new {
	background-color: #000;
	color: #fff;
}





ul.tag-cloud li {
	display: inline;
}

ul.tag-cloud li.tag-size1  { font-size:1.0em; }
ul.tag-cloud li.tag-size2  { font-size:1.3em; }
ul.tag-cloud li.tag-size3  { font-size:1.5em; }
ul.tag-cloud li.tag-size4  { font-size:1.7em; }
ul.tag-cloud li.tag-size5  { font-size:1.9em; }
ul.tag-cloud li.tag-size6  { font-size:2.1em; }
ul.tag-cloud li.tag-size7  { font-size:2.3em; }
ul.tag-cloud li.tag-size8  { font-size:2.5em; }
ul.tag-cloud li.tag-size9  { font-size:2.7em; }
ul.tag-cloud li.tag-size10 { font-size:2.9em; }





#nav .event-message-wrap {
	float: right;
	margin-top: 9px;
	margin-right: 15px;
}

#nav .event-message-wrap .event-message {
	float: left;
	color: #000;
	text-shadow: 1px 0px 1px #ffffff;
	filter: dropshadow(color=#ffffff, offx=1, offy=0);
	font-family: 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;
	font-size: 10pt;
	
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 6px 15px 6px 15px;
	
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 6px;
}

#nav .event-message-wrap button {
	border: none;
	outline: none;
	background: #f2f5f7;
	height: 27px;
	padding: 3px 3px 3px 3px;
	margin: 0;
	line-height: 23px;
	
	overflow: hidden;
	
	float: right;
	display: block;
	
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 0px;
	
	border: 1px solid #ccc;
	border-left: none;
	cursor: pointer;
	color: #555;
}

#nav .event-message-wrap button:hover {
	background-color: #d9e0e7;
	color: #000;
}

#nav .event-message-wrap button span {
	background: transparent url(../images/shape_rotate_anticlockwise.png) no-repeat center right;
	padding-right: 20px;
}


#nav div.event-message em {
	color: #d6921c;
	font-weight: bold;
	font-style: normal;
}

/****************************************
* Page
****************************************/

table#layout {
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
}

table#layout > tbody > tr > td {
	padding: 10px;
}

.pane {	
	position: relative;
}

.pane-content {
	border: 1px solid #c8b7b7;
	border-top: none;

	position: absolute;
	top: 27px;
	left: 0;
	right: 0;
	bottom: 0;

	-webkit-box-shadow: 0px 0px 3px #a3a3a3;
	-moz-box-shadow: 0px 0px 2px #a3a3a3;
	box-shadow: 2px 2px 3px #a3a3a3;
	
	overflow: auto;
}

.pane-head {
	background: #D8E1E9; /* old browsers */
	background: -moz-linear-gradient(top, #D8E1E9 0%, #AAB9C6 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D8E1E9), color-stop(100%,#AAB9C6)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D8E1E9', endColorstr='#AAB9C6',GradientType=0 ); /* ie */
	
	height: 25px;
	line-height: 24px;
	overflow: hidden;
	
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	
	color: #fff;
	font-family: Verdana, 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 8pt;
	
	border-bottom: 2px solid #5c5c5c;
}

.pane-head > ul {
	margin-left: 10px;
}

.pane-head > ul > li {
	float: left;
	border-right: 1px solid #323332;
	color: #fff;
	overflow: hidden;
	cursor: pointer;

	margin-top: 5px;
	overflow: hidden;
	max-width: 100px;
	background-color: #797979;
	border: 1px solid #6e6e6e;
	border-bottom: none;
	margin-right: 3px;
	margin-left: 3px;

	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	
	position: relative;
	
	height: 20px;
	line-height: 20px;
	
	padding: 0 8px 0 8px;
}

.pane-head > ul > li.on {
	background-color: #5c5c5c;
}


