<div class="ticket-bar">
	<div class="counter"><span class="count">0</span> Selected</div>
	<div class="bar">
		<ul class="tools">
			<li class="macros-apply" style="display:none"><span class="icon icon-check">Apply</span></li>
			<li class="macros-cancel" style="display:none"><span class="icon icon-cross">Cancel</span></li>
			<li class="macros"><span class="icon icon-script-gear">Macros</span></li>
			<li class="actions"><span class="icon icon-mouse">Actions</span></li>
		</ul>
	</div>
	<ul class="ticket-macros-menu" style="display:none">
		{% for macro in macros %}
			<li data-macro-id="{{macro.id}}">{{macro.title}}</li>
		{% endfor %}
	</ul>
	<ul class="ticket-action-menu" style="display:none">
		<li data-option-id="standard" data-option-name="agent_id" data-option-value="{{person.id}}">Assign to me</li>
		{% if person.getAgentTeamIds %}
			<li data-option-id="standard" data-option-name="agent_team_id" data-option-value="{{person.getAgentTeamIds[0]}}">Assign to my group</li>
		{% endif %}
		<li class="sep">-</li>
		<li data-option-id="open">Open in tabs</li>
		<li class="sep">-</li>
		<li data-option-id="delete"><span class="icon icon-page-delete">Delete Ticket</span></li>
		<li data-option-id="delete-block"><span class="icon icon-page-delete dev-feature-inactive">Delete Ticket and Block User</span></li>
		<li data-option-id="spam"><span class="icon icon-page-delete dev-feature-inactive">Mark as Spam</span></li>
		<li class="sep">-</li>
		<li data-option-id="status" data-status="open">Set Status: Awaiting Agent</li>
		<li data-option-id="status" data-status="pending">Set Status: Awaiting User</li>
		<li data-option-id="status" data-status="resolved">Set Status: Resolved</li>
	</ul>
	<ul class="selected-menu" style="display:none">
		<li data-op="all">Select All</li>
		<li data-op="none">Select None</li>
		<li data-op="invert">Invert Selection</li>
	</ul>
</div>