<div class="ticket-bar">
	{% include 'AgentBundle:Ticket:reply-form.twig.html' with {'with_ticket_context': true} %}
	<div class="bar">
		<button class="dp-button small submit-trigger" style="display:none;">Submit Mass Reply</button>
		<ul class="tools">
			<li class="submit-reply trigger" style="display:none;"><span class="icon icon-check">Reply (<span class="count">0</span>)</span></li>
			<li class="macros-apply left-most" style="display:none"><span class="icon icon-check">Apply</span></li>
			<li class="macros-cancel" style="display:none"><span class="icon icon-cross">Cancel</span></li>
			<li class="macros left-most"><span class="icon icon-script-gear">Macros</span></li>
			<li class="actions"><span class="icon icon-mouse">Actions</span></li>
		</ul>
		<div class="placeholder">
			<input type="text" class="placeholder" value="Start typing a reply..." />
		</div>
	</div>
	<ul class="ticket-macros-menu" style="display:none">
		{% for macro in macros %}
			<li data-macro-id="{{macro.id}}">{{macro.title}}</li>
		{% endfor %}
	</ul>
	<ul class="ticket-action-menu" style="display:none">
		<li data-option-id="open">Open in tabs</li>
		<li class="sep">-</li>
		<li data-option-id="standard" data-option-name="agent_id" data-option-value="{{person.id}}">Assign to me</li>
		{% if person.getAgentTeamIds %}
			<li data-option-id="standard" data-option-name="agent_team_id" data-option-value="{{person.getAgentTeamIds[0]}}">Assign to my team</li>
		{% endif %}
		<li class="sep">-</li>
		<li>
			<span>Assign to agent</span>
			<ul class="submenu">
				{% for id,title in ticket_options.agents %}
					<li data-option-id="standard" data-option-name="agent_id" data-option-value="{{id}}" style="line-height: 15px">
						<div style="margin-right: 5px; float: left">
							<img src="{{ path('serve_person_picture_size', {'person_id': id, 'size': 15}) }}" alt="" width="15" height="15" />
						</div>
						{{title}}
					</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<span>Assign to agent team</span>
			<ul class="submenu">
				{% for id,title in ticket_options.agent_teams %}
					<li data-option-id="standard" data-option-name="agent_team_id" data-option-value="{{id}}">{{title}}</li>
				{% endfor %}
			</ul>
		</li>
		<li class="sep">-</li>
		<li>
			<span>Set Department</span>
			{% include 'AgentBundle:Common:menu-department.twig.html' with {'departments': ticket_options.departments_hierarchy, 'add_classname': 'submenu'} %}
		</li>
		<li>
			<span>Set Category</span>
			{% include 'AgentBundle:Common:menu-ticket-category.twig.html' with {'categories': ticket_options.ticket_categories_hierarchy, 'add_classname': 'submenu'} %}
		</li>
		<li>
			<span>Set Product</span>
			<ul class="submenu">
				{% for id,title in ticket_options.products %}
					<li data-option-id="standard" data-option-name="product_id" data-option-value="{{id}}">{{title}}</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<span>Set Priority</span>
			<ul class="submenu">
				{% for id,title in ticket_options.priorities %}
					<li data-option-id="standard" data-option-name="priority_id" data-option-value="{{id}}">{{title}}</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<span>Set Flag</span>
			{% include 'AgentBundle:Common:menu-flags.twig.html' with {'add_classname': 'submenu'} %}
		</li>
		<li class="sep">-</li>
		<li data-option-id="delete"><span class="icon icon-page-delete">Delete Ticket</span></li>
		<li data-option-id="delete-block"><span class="icon icon-page-delete dev-feature-inactive">Delete Ticket and Block User</span></li>
		<li data-option-id="spam"><span class="icon icon-page-delete dev-feature-inactive">Mark as Spam</span></li>
		<li class="sep">-</li>
		<li>
			<span>Set Status</span>
			<ul class="submenu">
				<li data-option-id="standard" data-option-name="status" data-option-value="open">Open</li>
				<li data-option-id="standard" data-option-name="status" data-option-value="pending">Pending</li>
				<li data-option-id="standard" data-option-name="status" data-option-value="resolved">Resolved</li>
			</ul>
		</li>
	</ul>
</div>