/*************************************/
/* Ticket Tab */
/*************************************/

.page-ticket li[id$="replybox_replytab_btn"].on {
    background: #FFA1A9 !important;
}

.page-ticket li[id$="replybox_replytab_btn"] {
    text-shadow: none !important;

    /* Collapse the original line */
    text-indent: -9999px !important;
    line-height: 0 !important;

}

.page-ticket li[id$="replybox_replytab_btn"]:after {
    content: "Reply To Customer";
    text-indent: 0;
    display: block;
    line-height: 26px;
}

.page-ticket li[id$="replybox_notetab_btn"] {
    text-shadow: none !important;

    /* Collapse the original line */
    text-indent: -9999px !important;
    line-height: 0 !important;
}

.page-ticket li[id$="replybox_notetab_btn"]:after {
    content: "Internal Note";
    text-indent: 0;
    display: block;
    line-height: 26px;
}


/*************************************/
/* Org Tab */
/*************************************/

.org-is-operator li[data-tab-for$="tickets_tab"] {
    display: none;
}

.org-isnot-operator li[data-tab-for$="tickets_tab"] {
    /* Collapse the original line */
    text-indent: -9999px !important;
    line-height: 0 !important;
}

.org-isnot-operator li[data-tab-for$="tickets_tab"] span {
    display: none !important;
}

.org-isnot-operator li[data-tab-for$="tickets_tab"]:after {
    content: "Organization Tickets";
    text-indent: 0;
    display: block;
    line-height: 26px;
}