<ul class="menu flag {{add_classname}}" data-option-name="flag" style="display:none">
	<li data-option-value="none"><span class="icon icon-flag-none">None</span></li>
	<li class="sep">-</li>
	<li data-option-value="blue"><span class="icon icon-flag-blue">Blue</span></li>
	<li data-option-value="green"><span class="icon icon-flag-green">Green</span></li>
	<li data-option-value="orange"><span class="icon icon-flag-orange">Orange</span></li>
	<li data-option-value="pink"><span class="icon icon-flag-pink">Pink</span></li>
	<li data-option-value="purple"><span class="icon icon-flag-purple">Purple</span></li>
	<li data-option-value="red"><span class="icon icon-flag-red">Red</span></li>
	<li data-option-value="yellow"><span class="icon icon-flag-yellow">Yellow</span></li>
</ul>