<article>
    <div ng-if="loading">
        Loading... please wait.
    </div>
    <div ng-if="!loading">
        <table class="tickets-simple" width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr ng-repeat="ticket in tickets">
                <td>
                    <div class="fade-container">
                        <div class="line" style="height: 21px;">
                            <a data-route="ticket:/agent/tickets/{{ticket.id}}" data-route-title="@text"><span class="id-number">#{{ ticket.id }}</span> {{ticket.subject}}</a>
                        </div>
                        <div class="line">
                            <a class="as-popover" data-route="person:/agent/people/{{ticket.person.id}}" style="background: url('{{ticket.person.picture_url_16}}') no-repeat 0 50%; padding-left: 18px;">{{ticket.person.display_name}}</a>
                        </div>
                        <div class="bound-fade"></div>
                    </div>
                </td>
                <td>
                    <div class="status-pill status urgency-{{ ticket.urgency }} {{ ticket.status }}" style="float: right; position: relative; top: 0px;">
                        <label ng-if="ticket.status == 'awaiting_agent'">Awaiting Agent</label>
                        <label ng-if="ticket.status == 'awaiting_user'">Awaiting User</label>
                        <label ng-if="ticket.status == 'resolved'">Resolved</label>
                        <label ng-if="ticket.status == 'archived'">Archived</label>
                        <label ng-if="ticket.status == 'hidden'">Hidden</label>
                        <i ng-if="ticket.status == 'awaiting_agent'" class="ticket-urgency" data-urgency="{{ ticket.urgency }}">{{ ticket.urgency }}</i>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</article>