{% extends 'AdminBundle::layout.twig.html' %}
{% block content %}

<div style="text-align: right">
	<a class="dp-button green" href="{{ path(route_basename~'new_choosetype') }}">Create New Field</a>
	<br /><br />
</div>

<ul class="item-list">
	{% for field in fields %}
		<li>
			<div style="float:right">
				<ul class="controls">
					<li class="edit"><a href="{{ path(route_basename~'edit', {'field_id': field.id}) }}">Edit</a></li>
				</ul>
			</div>
			<div style="float:left;">#{{field.id}}</div>
			<div style="margin-left: 65px">
				<strong>{{field.title}}</strong>
				<div style="font-size: 90%">{{field.handler_class}}</div>
			</div>
		</li>
	{% else %}
		<li>
			You have no custom fields defined.
		</li>
	{% endfor %}
</ul>

{% endblock %}
{% block sidebar %}
{% endblock %}