<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="robots" content="NOINDEX" />
	<meta http-equiv="X-UA-Compatible" content="IE=100" />
	<title>DeskPRO</title>

	<style type="text/css" media="screen">
		#window_loading_overlay {
			position:absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: #165887;
			z-index: 10000000;
			text-align: center;
		}

		#window_loading_overlay .box {
			width: 400px;
			text-align: left;
			margin: 150px auto 0 auto;

			background-color: #fff;
			padding: 30px;

			-moz-border-radius: 20px;
			border-radius: 20px;

			-webkit-box-shadow: 5px 5px 5px #000000;
			-moz-box-shadow: 5px 5px 5px #000000;
			box-shadow: 5px 5px 5px #000000;

			text-align: center;
		}

		#window_loading_overlay .box h1 {
			font-family: Arial, Tahoma, Helvetica, sans-serif;
			font-size: 14pt;

			text-shadow: 1px 1px 2px #B2BBC2;
			filter: dropshadow(color=#B2BBC2, offx=1, offy=1);
		}

		#window_loading_overlay .box p {
			background: transparent url({{ asset('images/loading-big-circle.gif') }}) no-repeat top center;
			margin-top: 20px;
			padding-top: 52px;

			text-shadow: 0px 1px 1px #B2BBC2;
			filter: dropshadow(color=#B2BBC2, offx=1, offy=1);
		}
	</style>
</head>
<body>
<div id="window_loading_overlay">
	<div class="box">
		<h1>Loading Interface</h1>
		<p>Please wait while the interface is loaded</p>
	</div>
</div>

<div id="window_head">
	<div id="window_head_top">
		<div class="logo">DeskPRO</div>
		<ul class="header-tabs">
			<li class="on tickets" data-tab-name="helpdesk">Helpdesk</li>
			<li data-tab-name="crm">CRM</li>
			<li data-tab-name="social">Social</li>
			<li data-tab-name="publish">Publish</li>
		</ul>
		<ul class="current-user">
			<li class="person">{{person.display_name}} (<a href="{{ path('user_logout') }}">Log Out</a>)</li>
			<li class="settings settings-link">Settings</li>
			<li class="reports icon-chart">Reports</li>
			<li class="admin"><a href="{{ path('admin') }}">Admin</a></li>
		</ul>
	</div>
	<div id="window_header_nav">
		<div class="group helpdesk on">
			<ul>
				<li class="tickets" data-route="navpane:{{ path('agent_ticketsearch_queuespane') }}"><span class="icon tickets">Tickets</span></li>
				<li class="chat" data-route="navpane:{{ path('agent_ticketsearch_queuespane') }}" data-route-alt="listpane.alt:{{ path('agent_ticketsearch') }}"><span class="dev-feature-inactive icon chat">Chat</span></li>
				<li class="ideas" data-route="navpane:{{ path('agent_ticketsearch_queuespane') }}" data-route-alt="listpane:{{ path('agent_ticketsearch') }}"><span class="dev-feature-inactive icon ideas">Ideas</span></li>
				<li class="forums" data-route="navpane:{{ path('agent_ticketsearch_queuespane') }}" data-route-alt="listpane:{{ path('agent_ticketsearch') }}"><span class="dev-feature-inactive icon tickets">Q&amp;A</span></li>
				<li class="forms" data-route="navpane:{{ path('agent_ticketsearch_queuespane') }}" data-route-alt="listpane:{{ path('agent_ticketsearch') }}"><span class="dev-feature-inactive icon tickets">Forms</span></li>
			</ul>
		</div>
		<div class="group crm">
			<ul>
				<li data-route="navpane:{{ path('agent_peoplesearch_findpane') }}" data-route-alt="listpane:{{ path('agent_peoplesearch') }}"><span class="icon people">People</span></li>
				<li data-route="navpane:{{ path('agent_peoplesearch_labelspane') }}" data-route-alt="listpane:{{ path('agent_peoplesearch') }}"><span class="dev-feature-inactive icon organizations">Organizations</span></li>
				<li data-route="navpane:{{ path('agent_ticketsearch_queuespane') }}" data-route-alt="listpane.alt:{{ path('agent_ticketsearch') }}"><span class="dev-feature-inactive icon leads">Leads</span></li>
			</ul>
		</div>
		<div class="group social">
			<ul>
				<li data-route="navpane:{{ path('agent_ticketsearch_queuespane') }}" data-route-alt="listpane.alt:{{ path('agent_ticketsearch') }}"><span class="dev-feature-inactive icon tweets">Twitter</span></li>
				<li data-route="navpane:{{ path('agent_ticketsearch_queuespane') }}" data-route-alt="listpane.alt:{{ path('agent_ticketsearch') }}"><span class="dev-feature-inactive icon facebook">Facebook</span></li>
				<li data-route="navpane:{{ path('agent_ticketsearch_queuespane') }}" data-route-alt="listpane.alt:{{ path('agent_ticketsearch') }}"><span class="dev-feature-inactive icon leads">Referrers</span></li>
				<li data-route="navpane:{{ path('agent_ticketsearch_queuespane') }}" data-route-alt="listpane.alt:{{ path('agent_ticketsearch') }}"><span class="dev-feature-inactive icon linkedin">LinkedIn</span></li>
			</ul>
		</div>
		<div class="group publish">
			<ul>
				<li data-route="navpane:{{ path('agent_ticketsearch_queuespane') }}" data-route-alt="listpane:{{ path('agent_ticketsearch') }}"><span class="dev-feature-inactive icon knowledgebase">Knowledgebase</span></li>
				<li data-route="navpane:{{ path('agent_ticketsearch_queuespane') }}" data-route-alt="listpane:{{ path('agent_ticketsearch') }}"><span class="dev-feature-inactive icon troubleshooters">Troubleshooters</span></li>
				<li data-route="navpane:{{ path('agent_ticketsearch_queuespane') }}" data-route-alt="listpane:{{ path('agent_ticketsearch') }}"><span class="dev-feature-inactive icon files">Files</span></li>
			</ul>
		</div>

		<div class="nav-right">
			<div class="search-box">
				<input type="text" name="q" />
			</div>
			<div class="create-box">
				<span id="create_new_menu_trigger">Create New</span>
				<ul id="create_new_menu" style="display:none">
					<li data-route="page:{{ path('agent_ticket_new') }}">
						<span class="icon tickets">Ticket</span>

					</li>
					<li class="sep">-</li>
					<li><span class="icon people dev-feature-inactive">Person</span></li>
					<li><span class="icon organizations dev-feature-inactive">Organization</span></li>
					<li class="sep">-</li>
					<li><span class="icon knowledgebase dev-feature-inactive">Knowledgebase Article</span></li>
					<li><span class="icon troubleshooters dev-feature-inactive">Troubleshooters</span></li>
					<li><span class="icon ideas dev-feature-inactive">Idea</span></li>
					<li><span class="icon files dev-feature-inactive">File</span></li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% include 'AgentBundle:Main:layout-wrappers.twig.html' %}

<div id="global_ajax_error" style="display:none; width: 340px; text-align: center;">
	<p>A network exception occurred and your last request did not complete. Please try again.</p>
	<div class="buttons" style="margin-top: 30px; text-align: center;">
		<button class="close-trigger dp-button small">Close</button>
	</div>
</div>
<div id="alert_overlay" style="display:none; min-width: 150px;">
	<p id="alert_overlay_msg"></p>
	<div class="buttons" style="margin-top: 30px; text-align: center;">
		<button class="close-trigger dp-button small">Okay</button>
	</div>
</div>

{####################
 # RESOURCE LOADING
 ####################}

<span id="test_route" data-route="navpane:{{ path('agent_ticketsearch_findpane') }}" style="display:none"></span>

{% include 'AgentBundle:Main:resources.twig.html' %}

<script>
	var BASE_URL = '{{ path('user') }}';
	var ASSETS_BASE_URL = '{{ asset('') }}';

	$(document).ready(function() {
		// Remove loading overlay
		$('#window_loading_overlay').remove();

		window.DeskPRO_Window = new DeskPRO.Agent.Window()
		window.DeskPRO_Window.set('agent.ui.show-listpane', '{{ show_listpane|default('auto') }}');

		window.DeskPRO_Window.initPage();

		window.DeskPRO_Window.runPageRouteFromElement($('#window_header_nav .tickets'));
		//window.DeskPRO_Window.runPageRouteFromElement($('#test_route'));

		// Debug: auto load a ticket tab
		//window.DeskPRO_Window.runPageRoute('ticket:{{ path('agent_ticket_view', {'ticket_id': 3}) }}');
	});
</script>

</body>
</html>