@import "include.less";

//----------------------------------------------------------------------------------------------------------------------
// GENERAL / RESET
//----------------------------------------------------------------------------------------------------------------------

body {
	font-family: Helvetica, Arial, Geneva, sans-serif;
}

.pull-left { float: left; }
.pull-right { float: right; }
.pull-center { text-align: center; }

// Phrase texts are spans that are hidden unless they have 'phrase-on' added
// See JS Orb.enablePhraseEl()
.dp-phrase {
	display: none;
	padding: 0;
	margin: 0;
	background: transparent;
	color: inherit;
	font: inherit;

	&.dp-phrase-on {
		display: inline;
	}
}

// Simple toggle used mainly to show/hide loading messages or spinners
.dp-is-loading  { display: none; }
.dp-not-loading { display: block; }
.dp-loading-on {
	.dp-is-loading  { display: block; }
	.dp-not-loading { display: none; }
}

table.layout-table {
	border: none;
	margin: 0;
	padding: 0;
	background: transparent;

	> tbody > tr > td, > tr > td {
		background: transparent;
		padding: 0;
		margin: 0;
		border: none;
		font-size: 100%;
		line-height: 100%;
		vertical-align: top;
		text-align: left;
	}
}

//----------------------------------------------------------------------------------------------------------------------
// HEADER
//----------------------------------------------------------------------------------------------------------------------

#dp_header {
	.gradient-v(@agent_header_bg_color, darken(@agent_header_bg_color, 2%), @agent_header_height);
	height: @agent_header_height;
	border-top: 1px solid @agent_header_bg_color;
	border-bottom: 1px solid @agent_header_border_color;
	overflow: visible;

	.group {
		position: relative;
		margin: 10px 0 0 10px;
		padding: 0 10px;
		height: 40px;
		background: url('@{img_path}/header-delimiter.png') no-repeat left top;
	}

	a.logo {
		display: block;
		height: 28px;
		width: 103px;
		background: url('@{img_path}/header-logo.png') no-repeat left top;
	}
}

//-------------------------
// User profile
//-------------------------

#dp_header .user-profile {
	background-color: @agent_header_userprofile_bg_color;
	height: (@agent_header_height - 17);
	min-width: 230px;
	margin: 4px 0 0 6px;
	padding: 3px 5px 3px 3px;
	border: 1px solid @agent_header_userprofile_border_color;
	border-radius: 3px;
	box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	color: @agent_header_userprofile_text_color;

	 .gravatar {
		border: 1px solid darken(@agent_header_userprofile_border_color, 30%);
		margin-right: 4px;
		border-radius: 3px;
		overflow: hidden;
	}

	 .username {
		white-space: nowrap;
		margin-left: 38px;
	}

	ul {
		line-height: 14px;
	}

	ul li {
		display: inline-block;
		margin-right: 6px;
		color: lighten(@agent_header_userprofile_text_color, 25%);
	}

	ul li:hover {
		cursor: pointer;
		color: darken(@agent_header_userprofile_text_color, 8%);
	}

	ul li a {
		font-size: 12px;
		color: lighten(@agent_header_userprofile_text_color, 25%);
		border-bottom: 1px solid #165d94;
	}

	ul li a:hover, ul li:hover a {
		color: darken(@agent_header_userprofile_text_color, 8%);
	}
}

//-------------------------
// Chat
//-------------------------

// Chat Button
#dp_header .btn-group-chat {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;

	.btn {
		display: inline-block;
		position: relative;
		margin: 4px 0 0 6px;
		height: (@agent_header_height - 15);
		width: 180px;
		padding: 4px 12px 0px 0;
		font-size: 14px;
		line-height: 16px;
		color: #fff;
		text-align: left;
		vertical-align: middle;
		cursor: pointer;
		border: 1px solid darken(@agent_header_userchat_bg_color, 15%);
		border-radius: 3px;
		box-shadow: inset 0px 1px 0px 0px lighten(@agent_header_userchat_bg_color, 5%), 0px 1px 2px 0px darken(@agent_header_userchat_bg_color, 20%);
		.gradient-v(@agent_header_userchat_bg_color, darken(@agent_header_userchat_bg_color, 3%), @agent_header_height);

		&:hover {
			background: darken(@agent_header_userchat_bg_color, 1%);
		}

		&.all-offline {
			box-shadow: inset 0px 1px 0px 0px lighten(@agent_header_userchat_alloff_bg_color, 5%), 0px 1px 2px 0px darken(@agent_header_userchat_alloff_bg_color, 20%);
			.gradient-v(@agent_header_userchat_alloff_bg_color, darken(@agent_header_userchat_alloff_bg_color, 3%), @agent_header_height);
			border: 1px solid darken(@agent_header_userchat_alloff_bg_color, 15%);

			&:hover {
				background: darken(@agent_header_userchat_alloff_bg_color, 1%);
			}

			.arrow {
				border-left: 1px solid darken(@agent_header_userchat_alloff_bg_color, 5%);
			}
		}

		&.me-offline {
			box-shadow: inset 0px 1px 0px 0px lighten(@agent_header_userchat_off_bg_color, 5%), 0px 1px 2px 0px darken(@agent_header_userchat_off_bg_color, 20%);
			.gradient-v(@agent_header_userchat_off_bg_color, darken(@agent_header_userchat_off_bg_color, 3%), @agent_header_height);
			border: 1px solid darken(@agent_header_userchat_off_bg_color, 15%);

			&:hover {
				background: darken(@agent_header_userchat_off_bg_color, 1%);
			}

			.arrow {
				border-left: 1px solid darken(@agent_header_userchat_off_bg_color, 5%);
			}
		}

		.chat-big-icon {
			width: 36px;
			height: 36px;
			background: url('@{img_path}/header-btn-chat-icon.png') no-repeat 9px 7px;
		}

		.status {
			font-size: 12px;
			line-height: 16px;
		}

		ul.info {
			line-height: 11px;
			margin: 0 12px 0 36px;

			li {
				display: inline-block;
				font-size: 11px;
				line-height: 12px;

				&:first-child {
					padding-right: 6px;
				}
			}
		}

		.arrow {
			position: absolute;
			right: 0;
			top: 0;
			width: 25px;
			height: 36px;
			border-left: 1px solid darken(@agent_header_userchat_bg_color, 5%);
		}

		.caret {
			display: inline-block;
			width: 0;
			height: 0;
			vertical-align: top;
			border-top: 4px solid #fff;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
			content: "";
			margin: 16px 0 0 9px;
		}
	}
}

// Chat Button: Active State
#dp_header .btn-group-chat.active {
	.btn {
		border-radius: 3px 3px 0 0;
		.arrow {
			background-color: rgba(255,255,255,0.20);
		}
	}

	.dropdown-menu {
		display: block;
	}

	.dp-header-group-chat-dropdown {
		display: block;
	}
}

// Chat dropdown
.dp-header-group-chat-dropdown {
	display: none;
	.zindex-chrome;
	position: absolute;
	left: 7px;
	top: 43px;
	min-height: 178px;
	width: 790px;
	overflow: hidden;
	background: @agent_bigmenu_bg_color;
	border-radius: 0 3px 3px 3px;
	box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.3);

	.column1 {
		width: 182px;
		height: 100%;
		border-right: 1px solid @agent_bigmenu_border_color;
		color: @agent_bigmenu_text_color;
	}

	.column2 {
		width: 607px;
		height: 100%;
		color: @agent_bigmenu_border_color;
	}

	#agent_status_menu_me_list {
		border-bottom: 1px solid @agent_bigmenu_border_color;
		padding: 12px;
		height: 30px;

		.avatar {
			width: 30px;
			height: 30px;
			float: left;
		}

		a.signin {
			display: inline-block;
			position: relative;
			margin: 0 0 0 12px;
			height: 30px;
			padding: 0 10px;
			font-size: 12px;
			line-height: 30px;
			color: #fff;
			text-align: left;
			vertical-align: middle;
			cursor: pointer;
			border: 1px solid #0a4066;
			border-radius: 3px;
			background: #2c84c5 url('@{img_path}/header-btn-chat-blue.png') repeat-x top center;
			box-shadow: inset 0px 1px 0px 0px rgba(106, 184, 225, 1);

			&:hover {
				background-position: 0 30px;
			}
		}
	}

	.agents.list {
		padding: 0 10px;

		li.header {
			height: 30px;
			line-height: 30px;
			color: #686a6f;
			font-weight: normal;

			a {
				font-size: 10px;
				text-align: right;
			}
		}

		li {
			font-weight: bold;
			clear: both;
			line-height: 24px;
			font-size: 11px;

			.avatar {
				width: 16px;
				height: 16px;
				float: left;
				margin: 4px 0;
				background-repeat: no-repeat;
				padding-right: 5px;
			}
		}

		&.department-grouped > li {
			padding: 0 0 10px 0;
			margin: 0;
			h4 {
				background-color: lighten(@agent_bigmenu_border_color, 15%);
				margin: 0;
				padding: 3px 0;
				line-height: 100%;
				text-align: center;
				font-size: 95%;
			}
		}
	}

	.agents-list-groupdep {
		float: right;
		line-height: 100%;
		margin-top: 6px;
		margin-right: -4px;
		padding: 2px;
		border: 1px solid #c3c8cd;
		color: @agent_bigmenu_text_color;
		.rounded(2px);

		&.toggle-on {
			background-color: @agent_highlight_text_bg_color;
		}
	}

	.user-listing {
		table {
			width: 100%;

			caption, thead tr {
				border-bottom: 1px solid @agent_bigmenu_border_color;
				text-align: left;
				background-color: lighten(@agent_bigmenu_border_color, 15%);
				color: @agent_bigmenu_text_color;
			}

			thead tr th {
				padding: 5px 6px;
				line-height: 100%;
			}
			caption {
				padding: 0 6px;
				line-height: 30px;
			}

			tr {
				border-bottom: 1px solid @agent_bigmenu_border_color;
			}

			td {
				padding: 6px;
				font-size: 8pt;
				vertical-align: middle;
			}

			.with-country {
				padding-left: 20px;
				background-repeat: no-repeat;
				background-position: 0 2px;
			}
		}

		.reload-table-btn {
			float: right;
			display: block;
			height: 17px;
			line-height: 17px;
			margin-top:6px;

			background: url(../../images/spinners/spinner-btn-light-frame.gif) no-repeat 100% 50%;
			padding-right: 18px;
			color: transparent;
			font-size: 9px;
			font-style: normal;
			font-weight: normal;
			text-transform: uppercase;
			cursor: pointer;
		}

		.reload-table-btn:hover {
			background: url(../../images/spinners/spinner-btn-frame.gif) no-repeat 100% 50%;
			color: #000;
		}
	}

	.refreshing .user-listing {
		.reload-table-btn {
			background-image: url(../../images/spinners/spinner-btn-light.gif);
			color: transparent;
		}

		.refreshing-clicked .reload-table-btn {
			background-image: url(../../images/spinners/spinner-btn.gif);
			color: transparent;
		}
	}
}

//-------------------------
// Actions
//-------------------------

#dp_header .btn-group-actions {
	position: relative;
	margin: 8px 0 0 10px;
	padding: 0px 4px 0 10px;
	height: (@agent_header_height - 10);
	background: url('@{img_path}/header-delimiter.png') no-repeat left top;
	display: block;

	.btn-wrap {
		a.btn {
			.gradient-v(@agent_header_btn_bg_color, darken(@agent_header_btn_bg_color, 5%));
			display: inline-block;
			height: 30px;
			line-height: 30px;
			padding: 0 12px;
			margin-right: 5px;
			color: #fff;
			border-radius: 3px;
			border: 1px solid darken(@agent_header_btn_bg_color, 25%);
			box-shadow: inset 0px 1px 0px lighten(@agent_header_btn_bg_color, 10%), 0px 1px 2px fade(darken(@agent_header_btn_bg_color, 30%), 60%);

			i {
				margin-right: 5px;
			}
		}

		&.active {
			a.btn {
				background: #fff;
				color: #3e3e40;
				box-shadow: none;
				border-radius: 3px 3px 0 0;
			}

			ul.btn-menu {
				display: block;
			}
		}

		ul.btn-menu {
			display: none;
			background: @agent_menu_bg_color;
			.zindex-chrome;
			position: absolute;
			left: 11px;
			top: 28px;
			border-radius: 0 3px 3px 3px;
			box-shadow:  0px 1px 2px rgba(0, 0, 0, 0.3);
			li {
				width: 200px;
				border-bottom: 1px solid darken(@agent_menu_bg_color, 5%);
				a {
					display: block;
					color: @agent_menu_text_color;
					line-height: 35px;
					padding: 0 10px;

					&:hover {
						background-color: @agent_menu_highlight_bg_color;
						color: @agent_menu_highlight_text_color;

						kbd {
							color: @agent_menu_highlight_text_color;
						}
					}

					.wrap {
						display: block;
						float: left;
						width: 14px;
						margin-right: 7px;
						text-align: center;
					}
					kbd {
						float: right;
						text-transform: uppercase;
						color: lighten(@agent_menu_text_color, 35%);
					}
				}
			}
			li.last {
				border-bottom: none;
			}
		}
	}
}

//-------------------------
// Search box
//-------------------------

#dp_header .searchbox {
	margin-top: 8px;
	position: relative;
	input {
		width: 100px;
		height: 30px;
		padding: 0px 10px 0px 30px;
		border: 1px solid #0a4066;
		color: #7a7f85;
		border-radius: 5px;
		background: #e6eaed url('@{img_path}/header-search-icon.png') no-repeat 8px 8px;
	}
	input.active {
		border-radius: 5px 5px 0 0;
	}
	input:focus {
		background-color: #fff;
	}
	.quick-search-results {
		display: none;
		position: absolute;
		top: 31px;
		left: 1px;
		z-index: 3;
		width: 360px;
		height: 410px;
		background: #fff;
		border: 1px solid #ced1d3;
		border-top: none;
		ul li.title {
			background-color: #f7f9fa;
			height: 30px;
			padding: 0 10px;
			border-top: 1px solid #ced1d3;
			border-bottom: 1px solid #ced1d3;
			text-transform: uppercase;
			color: #818285;
			line-height: 30px;
			a {
				float: right;
				border: 1px solid #c5c8cb;
				background: #fff;
				padding: 5px 7px;
				font-size: 10px;
				line-height: 10px;
				font-weight: bold;
				margin-top: 4px;
				border-radius: 3px;
			}
			a:hover {
				background-color: #2f88c8;
				border-color: #2f88c8;
			}
		}
		ul li a {
			display: block;
			padding: 6px 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		ul li a:hover {
			background-color: #1abc9c;
			color: #fff;
		}
		ul li a strong {
			background: #717780;
			color: #fff;
			padding: 2px 7px;
			font-size: 11px;
			font-weight: normal;
			border-radius: 10px;
			margin-right: 5px;
			float: left;
			line-height: 15px;
		}
		ul li a .gravatar {
			float: left;
			width: 20px;
			height: 20px;
			background: #2f88c8;
			margin-right: 5px;
		}
		ul ul a {
			padding-left: 30px;
		}
	}
}

//-------------------------
// Notifications
//-------------------------

#dp_header .notifications-group {
	height: 30px;
	width: 240px;
	margin-top: 9px;
	margin-right: 9px;
	padding-right: 9px;
	padding-left: 5px;
	background: url('@{img_path}/header-delimiter.png') no-repeat left top;

	> ul {
		> li {
			background: url('@{img_path}/header-notification-icons.png') no-repeat;
			width: 30px;
			height: 30px;
			margin-right: 6px;
			float: left;
			position: relative;
			cursor: pointer;
		}
		> li.tickets { background-position: 4px 8px; }
		> li.tickets:hover, > li.tickets.active { background-position: 4px -32px;	}
		> li.people { background-position: -54px 8px; }
		> li.people:hover, > li.people.active { background-position: -54px -32px; }
		> li.chat { background-position: -114px 8px; }
		> li.chat:hover, > li.chat.active { background-position: -114px -32px; }
		> li.publish { background-position: -173px 8px; }
		> li.publish:hover, > li.publish.active { background-position: -173px -32px; }
		> li.tasks { background-position: -234px 8px; }
		> li.tasks:hover, > li.tasks.active { background-position: -234px -32px; }
		> li.twitter { background-position: -295px 8px; }
		> li.twitter:hover, > li.twitter.active { background-position: -295px -32px; }

		> li span.badge {
			display: inline-block;
			padding: 0 3px;
			font-size: 10px;
			font-weight: bold;
			line-height: 14px;
			color: #ffffff;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			white-space: nowrap;
			vertical-align: baseline;
			.gradient-v(@agent_header_badge_bg_color, darken(@agent_header_badge_bg_color, 10%), 15px);
			.rounded(3px);
			position: absolute;
			right: -3px;
			top: -2px;
		}
	}
}

.active .dp-header-notify-menu {
	display: block;
}

.dp-header-notify-menu {
	display: none;
	position: absolute;
	top: 35px;
	left: -8px;
	z-index: 3;
	width: 360px;
	background: @agent_menu_bg_color;
	border: 1px solid darken(@agent_menu_bg_color, 20%);
	border-top: none;
	border-radius: 3px;
	cursor: default;
	box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.3);
	.zindex-chrome;

	.arrow-up {
		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #fff;
		position: absolute;
		left: 14px;
		top: -8px;
	}

	header {
		border-bottom: none;
		line-height: 30px;
		padding: 0 9px;
		color: @agent_menu_text_color;
		text-transform: uppercase;
		font-size: 12px;

		a.pref-link {
			float: right;
			font-size: 11px;
			line-height: 100%;
			margin: 9px 0 0 0;
			color: lighten(@agent_menu_text_color, 20%);

			&:hover {
				color: @agent_menu_text_color;
			}
		}
	}

	footer {
		display: none;
		a.btn {
			float: left;
			display: block;
			margin: 10px 9px;
			height: auto;
			padding: 6px 8px;
			border: 1px solid darken(@agent_menu_bg_color, 20%);
			color: @agent_link_color;
			border-radius: 3px;
		}
		a.btn:hover {
			background-color: @agent_menu_highlight_bg_color;
			color: @agent_menu_highlight_text_color;
		}
	}

	ul {
		display: none;
		li {
			background: none;
			width: auto;
			margin: 0;
			float: none;
			cursor: pointer;
			padding: 5px 8px 5px 9px;
			border-bottom: 1px solid darken(@agent_menu_bg_color, 20%);
			.clearfix;
			line-height: 100%;

			&:hover {
				background-color: @agent_menu_highlight_bg_color;
				color: @agent_menu_highlight_text_color;
				cursor: pointer;

				.dismiss {
					border-color: @agent_menu_highlight_text_color;
					i {
						color: @agent_menu_highlight_text_color;
					}

					&:hover {
						i { color: #000; }
						border-color: #000;
					}
				}
			}

			.dismiss {
				float: left;
				display: block;
				height: 12px;
				width: 12px;
				margin-right: 8px;
				border: 1px solid darken(@agent_menu_bg_color, 20%);
				border-radius: 3px;
				padding: 5px 6px 8px 9px;
				i {
					color: @agent_link_color;
				}
			}
			big {
				float: left;
				font-size: 12px;
				font-weight: bold;
				max-width: 215px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				margin: 2px 0 2px 0;
				padding: 0;
				line-height: 100%;
			}
			small {
				float: left;
				display: block;
				font-size: 11px;
				font-weight: normal;
				width: 215px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				margin: 0;
				padding: 0;
				line-height: 100%;
			}
			time {
				float: right;
				font-size: 11px;
				margin-top: 8px;
				line-height: 100%;
			}
		}
	}
}

.dp-notifications-on {
	.dp-header-notify-menu {
		header {
			border-bottom: 1px solid darken(@agent_menu_bg_color, 20%);
		}

		ul {
			display: block;
		}

		footer {
			display: block;
		}
	}
}

//-------------------------
// Search help
//-------------------------

#dp_header .extended-search-dialog {
	position: absolute;
	right: -74px;
	top: 50px;
	z-index: 3;
	width: 400px;
	height: 260px;
	background: #41464d;
	border-radius: 5px;
	color: #fff;
	padding: 0 20px 15px;
	color: #dde3e9;
	font-size: 12px;
	h3, h4 {
		text-transform: uppercase;
		font-size: 13px;
		font-weight: normal;
		text-align: center;
		margin: 8px 0;
		padding: 8px 0;
	}
	h3 {
		border-bottom: 1px solid #5f666f;
	}
	h4 {
		border-top: 1px solid #5f666f;
	}
	.list-with-icons {
		height: 80px;
		background-color: #2b2f33;
		border-radius: 3px;
		padding: 0 4px;
		li {
		float: left;
		height: 50px;
		width: 54px;
		margin: 16px 1px;
		padding: 0;
		background-image: url('@{img_path}/agent/app-nav/navigation-icons.png');
		background-repeat: no-repeat;
		}
		li:hover {
			cursor: pointer;
		}
		.tickets_section {
		  background-position: -1px 0;
		}
		.tickets_section:hover {
		  background-position: -1px -100px;
		}
		.chat_section {
			background-position: -80px 0;
		}
		.chat_section:hover {
		  background-position: -80px -100px;
		}
		.people_section {
		  background-position: -161px 0;
		}
		.people_section:hover {
		  background-position: -161px -100px;
		}
		.feedback_section {
		  background-position: -239px 0;
		}
		.feedback_section:hover {
		  background-position: -239px -100px;
		}
		.publish_section {
		  background-position: -317px 0;
		}
		.publish_section:hover {
		  background-position: -317px -100px;
		}
		.tasks_section {
		  background-position: -399px 0;
		}
		.tasks_section:hover {
		  background-position: -399px -100px;
		}
		.twitter_section {
		  background-position: -478px 0;
		}
		.twitter_section:hover {
		  background-position: -478px -100px;
		}
	}
}

//----------------------------------------------------------------------------------------------------------------------
// CONTENT PANE
//----------------------------------------------------------------------------------------------------------------------

#dp_center {
	top: 51px;
	#switch_view_horizontal_btns ul {
		float: right;
		position: relative;
		display: inline-block;
		font-size: 0;
		white-space: nowrap;
		vertical-align: middle;
		margin: 5px 5px 0 0;
		li {
			display: inline-block;
			float: left;
		}
		li:hover {
			cursor: pointer;
		}
		li.view1 {
			background: url('@{img_path}/switch-buttons-left.png') no-repeat top center;
			width: 33px;
			height: 26px;
		}
		li.view1:hover {
			background-position: center center;
		}
		li.view1.active {
			background-position: bottom center;
		}
		li.view2 {
			background: url('@{img_path}/switch-buttons-center.png') no-repeat top center;
			width: 34px;
			height: 26px;
		}
		li.view2:hover {
			background-position: center center;
		}
		li.view2.active {
			background-position: bottom center;
		}
		li.view3 {
			background: url('@{img_path}/switch-buttons-right.png') no-repeat top center;
			width: 32px;
			height: 26px;
		}
		li.view3:hover {
			background-position: center center;
		}li.view3.active {
			background-position: bottom center;
		}


	}
}

//----------------------------------------------------------------------------------------------------------------------
// NAVIGATION
//----------------------------------------------------------------------------------------------------------------------

#dp_nav_sections {
	background-color: @agent_nav_bg_color;
	border-right: 1px solid darken(@agent_nav_bg_color, 15%);
	bottom: 0;
	box-shadow: -2px -5px 4px darken(@agent_nav_bg_color, 10%) inset;
	font-size: 10px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: (@agent_header_height + 1);
	bottom: 0;
	width: @agent_nav_width;

	li span.count-badge {
		display: inline-block;
		padding: 0 3px;
		font-size: 10px;
		font-weight: bold;
		line-height: 14px;
		color: #ffffff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		white-space: nowrap;
		vertical-align: baseline;
		.gradient-v(@agent_header_badge_bg_color, darken(@agent_header_badge_bg_color, 10%), 15px);
		.rounded(3px);
		position: absolute;
		right: 5px;
		top: 10px;
	}

	ul {
		.pos-absolute(0, 0, 0, 0);
		margin: 0;
		padding: 0;
	}

	li {
		background-position: repeat-y;
		display: block;
		width: 100%;
		cursor: pointer;
		padding: 1px 0 0 1px;
		position: relative;

		a {
			color: #FFFFFF;
			display: block;
			padding: 7px 0 9px;
			text-align: center;

			span {
				color: #C0C2CA;
				display: block;
				font-weight: normal;
				height: 40px;
				width: 54px;
				margin: 0;
				padding: 0;
				background-image: url('@{img_path}/agent/app-nav/navigation-icons.png');
				background-repeat: no-repeat;
			}
		}
	}

	li.active{
		background-color: #1f2225;
		background-color: darken(@agent_nav_bg_color, 6%);
		z-index: 999;
		box-shadow: 0 -1px 1px darken(@agent_nav_bg_color, 15%);
	}

	li a span.ticketNavIcon { background-position: -1px 0; }

	li:hover a span.ticketNavIcon, li.active a span.ticketNavIcon { background-position: -1px -100px; }
	li a span.chatNavIcon { background-position: -80px 0; }
	li:hover a span.chatNavIcon, li.active a span.chatNavIcon { background-position: -80px -100px; }
	li a span.peopleNavIcon { background-position: -161px 0; }
	li:hover a span.peopleNavIcon, li.active a span.peopleNavIcon { background-position: -161px -100px; }
	li a span.feedbackNavIcon { background-position: -239px 0; }
	li:hover a span.feedbackNavIcon, li.active a span.feedbackNavIcon { background-position: -239px -100px; }
	li a span.publishNavIcon { background-position: -317px 0; }
	li:hover a span.publishNavIcon, li.active a span.publishNavIcon { background-position: -317px -100px; }
	li a span.tasksNavIcon { background-position: -399px 0; }
	li:hover a span.tasksNavIcon, li.active a span.tasksNavIcon { background-position: -399px -100px; }
	li a span.twitterNavIcon { background-position: -478px 0; }
	li:hover a span.twitterNavIcon, li.active a span.twitterNavIcon { background-position: -478px -100px; }
	li a span.settingsNavIcon { background-position: -551px 0; }
	li:hover a span.settingsNavIcon, li.active a span.settingsNavIcon { background-position: -551px -100px; }
	li a span.agentchatNavIcon { background-position: -629px 0; }
	li:hover a span.agentchatNavIcon, li.active a span.agentchatNavIcon { background-position: -629px -100px; }

	li#settings_section{
		position: absolute;
		left: 0;
		bottom: 66px;
	}
	li#chat_agent_section {
		position: absolute;
		left: 0;
		bottom: 0;
	}
}

//----------------------------------------------------------------------------------------------------------------------
// Spinner icons
//----------------------------------------------------------------------------------------------------------------------

i.spinner-flat {
	.iconbase(16px, 11px);
	display: inline-block;
	background-image: url(../../images/spinners/loading-small-flat.gif);
}