@import "include.less";

//----------------------------------------------------------------------------------------------------------------------
// GENERAL / RESET
//----------------------------------------------------------------------------------------------------------------------

body {
	font-family: Helvetica, Arial, Geneva, sans-serif;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}


//----------------------------------------------------------------------------------------------------------------------
// HEADER
//----------------------------------------------------------------------------------------------------------------------

#dp_header {
	.gradient-v(@agent_header_bg_color, darken(@agent_header_bg_color, 2%), @agent_header_height);
	height: @agent_header_height;
	border-top: 1px solid @agent_header_bg_color;
	border-bottom: 1px solid @agent_header_border_color;
	overflow: visible;

	.group {
		position: relative;
		margin: 10px 0 0 10px;
		padding: 0 10px;
		height: 40px;
		background: url('@{img_path}/header-delimiter.png') no-repeat left top;
	}

	a.logo {
		display: block;
		height: 28px;
		width: 103px;
		background: url('@{img_path}/header-logo.png') no-repeat left top;
	}
}

//-------------------------
// User profile
//-------------------------

#dp_header .user-profile {
	background-color: @agent_header_userprofile_bg_color;
	height: (@agent_header_height - 17);
	min-width: 230px;
	margin: 4px 0 0 6px;
	padding: 3px 5px 3px 3px;
	border: 1px solid @agent_header_userprofile_border_color;
	border-radius: 3px;
	box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	color: @agent_header_userprofile_text_color;

	 .gravatar {
		border: 1px solid darken(@agent_header_userprofile_border_color, 30%);
		margin-right: 4px;
		border-radius: 3px;
		overflow: hidden;
	}

	 .username {
		white-space: nowrap;
		margin-left: 38px;
	}

	ul {
		line-height: 14px;
	}

	ul li {
		display: inline-block;
		margin-right: 6px;
		color: lighten(@agent_header_userprofile_text_color, 25%);
	}

	ul li:hover {
		cursor: pointer;
		color: darken(@agent_header_userprofile_text_color, 8%);
	}

	ul li a {
		font-size: 12px;
		color: lighten(@agent_header_userprofile_text_color, 25%);
		border-bottom: 1px solid #165d94;
	}

	ul li a:hover, ul li:hover a {
		color: darken(@agent_header_userprofile_text_color, 8%);
	}
}

//-------------------------
// Chat
//-------------------------

// Chat Button
#dp_header .btn-group-chat {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;

	.btn {
		display: inline-block;
		position: relative;
		margin: 4px 0 0 6px;
		height: (@agent_header_height - 15);
		width: 170px;
		padding: 2px 12px 1px 0;
		font-size: 14px;
		line-height: 16px;
		color: #fff;
		text-align: left;
		vertical-align: middle;
		cursor: pointer;
		border: 1px solid #0a4066;
		border-radius: 3px;
		box-shadow: inset 0px 1px 0px 0px lighten(@agent_header_userchat_bg_color, 5%), 0px 1px 2px 0px darken(@agent_header_userchat_bg_color, 20%);
		.gradient-v(@agent_header_userchat_bg_color, darken(@agent_header_userchat_bg_color, 3%), @agent_header_height);
		&:hover {
			background: darken(@agent_header_userchat_bg_color, 1%);
		}

		.chat-big-icon {
			width: 36px;
			height: 36px;
			background: url('@{img_path}/header-btn-chat-icon.png') no-repeat 9px 7px;
		}

		.status {
			font-size: 12px;
			line-height: 16px;
		}

		ul.info {
			line-height: 12px;
			margin: 0 12px 0 36px;

			li {
				display: inline-block;
				font-size: 10px;
				line-height: 12px;
			}
		}

		.arrow {
			position: absolute;
			right: 0;
			top: 0;
			width: 25px;
			height: 36px;
			background: url('@{img_path}/header-btn-delimiter.png') no-repeat left center;
		}

		.caret {
			display: inline-block;
			width: 0;
			height: 0;
			vertical-align: top;
			border-top: 4px solid #fff;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
			content: "";
			margin: 16px 0 0 9px;
		}
	}
}

// Chat Button: Active State
#dp_header .btn-group-chat.active {
	.btn {
		border-radius: 3px 3px 0 0;
		.arrow {
			background-color: rgba(255,255,255,0.20);
		}
	}

	.dropdown-menu {
		display: block;
	}

	.dp-header-group-chat-dropdown {
		display: block;
	}
}

// Chat dropdown
.dp-header-group-chat-dropdown {
	display: none;
	.zindex-chrome;
	position: absolute;
	left: 7px;
	top: 43px;
	height: 178px;
	width: 790px;
	overflow: hidden;
	background: #fff;
	border-radius: 0 3px 3px 3px;
	box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.3);

	.column1 {
		width: 182px;
		height: 100%;
		border-right: 1px solid #c3c8cd;
		color: #535456;
	}

	.column2 {
		width: 607px;
		height: 100%;
		color: #535456;
	}

	#agent_status_menu_me_list {
		border-bottom: 1px solid #c3c8cd;
		padding: 12px;
		height: 30px;

		.avatar {
			width: 30px;
			height: 30px;
			float: left;
		}

		a.signin {
			display: inline-block;
			position: relative;
			margin: 0 0 0 12px;
			height: 30px;
			padding: 0 10px;
			font-size: 12px;
			line-height: 30px;
			color: #fff;
			text-align: left;
			vertical-align: middle;
			cursor: pointer;
			border: 1px solid #0a4066;
			border-radius: 3px;
			background: #2c84c5 url('@{img_path}/header-btn-chat-blue.png') repeat-x top center;
			box-shadow: inset 0px 1px 0px 0px rgba(106, 184, 225, 1);

			&:hover {
				background-position: 0 30px;
			}
		}
	}

	.agents.list {
		padding: 0 10px;

		li.header {
			height: 30px;
			line-height: 30px;
			color: #686a6f;
			font-weight: normal;

			a {
				font-size: 10px;
				text-align: right;
			}
		}

		li {
			font-weight: bold;
			clear: both;
			line-height: 24px;
			font-size: 11px;

			.avatar {
				width: 16px;
				height: 16px;
				float: left;
				margin: 4px 0;
				background-repeat: no-repeat;
				padding-right: 5px;
			}
		}
	}

	table#agent_status_online_users {
		width: 100%;

		caption, thead tr {
			border-bottom: 1px solid #c3c8cd;
			text-align: left;
			background-color: #f7f9fa;
		}

		caption, thead tr th {
			padding: 4px 6px;
		}

		caption {
			font-size: 12px;
			padding-top: 5px;
		}

		tr {
			border-bottom: 1px solid #e6e8ea;
		}

		td {
			padding: 6px;
		}

		.with-country {
			padding-left: 20px;
			background-repeat: no-repeat;
			background-position: 0 2px;
		}
	}
}

//-------------------------
// Actions
//-------------------------

#dp_header .btn-group-actions {
	position: relative;
	margin: 8px 0 0 10px;
	padding: 0 10px;
	height: (@agent_header_height - 10);
	background: url('@{img_path}/header-delimiter.png') no-repeat left top;
	display: block;

	.btn-wrap {
		a.btn {
			.gradient-v(@agent_header_btn_bg_color, darken(@agent_header_btn_bg_color, 5%));
			display: inline-block;
			height: 30px;
			line-height: 30px;
			padding: 0 12px;
			margin-right: 5px;
			color: #fff;
			border-radius: 3px;
			border: 1px solid darken(@agent_header_btn_bg_color, 25%);
			box-shadow: inset 0px 1px 0px lighten(@agent_header_btn_bg_color, 10%), 0px 1px 2px fade(darken(@agent_header_btn_bg_color, 30%), 60%);

			i {
				margin-right: 5px;
			}
		}

		&.active {
			a.btn {
				background: #fff;
				color: #3e3e40;
				box-shadow: none;
				border-radius: 3px 3px 0 0;
			}

			ul.btn-menu {
				display: block;
			}
		}

		ul.btn-menu {
			display: none;
			background: @agent_menu_bg_color;
			.zindex-chrome;
			position: absolute;
			left: 11px;
			top: 28px;
			border-radius: 0 3px 3px 3px;
			box-shadow:  0px 1px 2px rgba(0, 0, 0, 0.3);
			li {
				width: 200px;
				border-bottom: 1px solid darken(@agent_menu_bg_color, 5%);
				a {
					display: block;
					color: @agent_menu_text_color;
					line-height: 35px;
					padding: 0 10px;

					&:hover {
						background-color: @agent_menu_highlight_bg_color;
						color: @agent_menu_highlight_text_color;

						kbd {
							color: @agent_menu_highlight_text_color;
						}
					}

					.wrap {
						display: block;
						float: left;
						width: 14px;
						margin-right: 7px;
						text-align: center;
					}
					kbd {
						float: right;
						text-transform: uppercase;
						color: lighten(@agent_menu_text_color, 35%);
					}
				}
			}
			li.last {
				border-bottom: none;
			}
		}
	}
}

//-------------------------
// Search box
//-------------------------

#dp_header .searchbox {
	margin-top: 8px;
	position: relative;
	input {
		width: 100px;
		height: 30px;
		padding: 0px 10px 0px 30px;
		border: 1px solid #0a4066;
		color: #7a7f85;
		border-radius: 5px;
		background: #e6eaed url('@{img_path}/header-search-icon.png') no-repeat 8px 8px;
	}
	input.active {
		border-radius: 5px 5px 0 0;
	}
	input:focus {
		background-color: #fff;
	}
	.quick-search-results {
		display: none;
		position: absolute;
		top: 31px;
		left: 1px;
		z-index: 3;
		width: 360px;
		height: 410px;
		background: #fff;
		border: 1px solid #ced1d3;
		border-top: none;
		ul li.title {
			background-color: #f7f9fa;
			height: 30px;
			padding: 0 10px;
			border-top: 1px solid #ced1d3;
			border-bottom: 1px solid #ced1d3;
			text-transform: uppercase;
			color: #818285;
			line-height: 30px;
			a {
				float: right;
				border: 1px solid #c5c8cb;
				background: #fff;
				padding: 5px 7px;
				font-size: 10px;
				line-height: 10px;
				font-weight: bold;
				margin-top: 4px;
				border-radius: 3px;
			}
			a:hover {
				background-color: #2f88c8;
				border-color: #2f88c8;
			}
		}
		ul li a {
			display: block;
			padding: 6px 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		ul li a:hover {
			background-color: #1abc9c;
			color: #fff;
		}
		ul li a strong {
			background: #717780;
			color: #fff;
			padding: 2px 7px;
			font-size: 11px;
			font-weight: normal;
			border-radius: 10px;
			margin-right: 5px;
			float: left;
			line-height: 15px;
		}
		ul li a .gravatar {
			float: left;
			width: 20px;
			height: 20px;
			background: #2f88c8;
			margin-right: 5px;
		}
		ul ul a {
			padding-left: 30px;
		}
	}
}

//-------------------------
// Notifications
//-------------------------

#dp_header .notifications-group {
	height: 30px;
	width: 240px;
	margin-top: 9px;
	margin-right: 9px;
	padding-right: 9px;
	background: url('@{img_path}/header-delimiter.png') no-repeat left top;

	> ul {
		> li {
			background: url('@{img_path}/header-notification-icons.png') no-repeat;
			width: 30px;
			height: 30px;
			margin-left: 10px;
			float: left;
			position: relative;
			cursor: pointer;
		}
		> li.message { background-position: 4px 8px; }
		> li.message:hover, > li.message.active { background-position: 4px -32px;	}
		> li.agent { background-position: -54px 8px; }
		> li.agent:hover, > li.agent.active { background-position: -54px -32px; }
		> li.chat { background-position: -114px 8px; }
		> li.chat:hover, > li.chat.active { background-position: -114px -32px; }
		> li.globe { background-position: -173px 8px; }
		> li.globe:hover, > li.globe.active { background-position: -173px -32px; }
		> li.tick { background-position: -234px 8px; }
		> li.tick:hover, > li.tick.active { background-position: -234px -32px; }
		> li.twitter { background-position: -295px 8px; }
		> li.twitter:hover, > li.twitter.active { background-position: -295px -32px; }

		> li span.badge {
			display: inline-block;
			padding: 0 3px;
			font-size: 10px;
			font-weight: bold;
			line-height: 14px;
			color: #ffffff;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			white-space: nowrap;
			vertical-align: baseline;
			.gradient-v(@agent_header_badge_bg_color, darken(@agent_header_badge_bg_color, 10%), 15px);
			.rounded(3px);
			position: absolute;
			right: -3px;
			top: -2px;
		}
	}
}

.active .dp-header-notify-menu {
	display: block;
}

.dp-header-notify-menu {
	display: none;
	position: absolute;
	top: 35px;
	left: -8px;
	z-index: 3;
	width: 360px;
	background: @agent_menu_bg_color;
	border: 1px solid darken(@agent_menu_bg_color, 20%);
	border-top: none;
	border-radius: 3px;
	cursor: default;
	box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.3);
	.zindex-chrome;

	.arrow-up {
		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #fff;
		position: absolute;
		left: 14px;
		top: -8px;
	}

	header {
		border-bottom: 1px solid darken(@agent_menu_bg_color, 20%);
		line-height: 30px;
		padding: 0 10px;
		color: @agent_menu_text_color;
		text-transform: uppercase;
		font-size: 12px;
	}

	footer {
		a.btn {
			float: left;
			display: block;
			margin: 10px 9px;
			height: auto;
			padding: 6px 8px;
			border: 1px solid darken(@agent_menu_bg_color, 20%);
			color: @agent_link_color;
			border-radius: 3px;
		}
		a.btn:hover {
			background-color: @agent_menu_highlight_bg_color;
			color: @agent_menu_highlight_text_color;
		}
	}

	ul {
		li {
			background: none;
			width: auto;
			margin: 0;
			float: none;
			cursor: pointer;
			padding: 5px 8px 9px;
			border-bottom: 1px solid darken(@agent_menu_bg_color, 20%);
			.clearfix;

			&:hover {
				background-color: @agent_menu_highlight_bg_color;
				color: @agent_menu_highlight_text_color;
				cursor: pointer;

				.dismiss {
					border-color: @agent_menu_highlight_text_color;
					i {
						color: @agent_menu_highlight_text_color;
					}
				}
			}

			.dismiss {
				float: left;
				height: 12px;
				width: 12px;
				margin-right: 8px;
				margin-top: 3px;
				border: 1px solid darken(@agent_menu_bg_color, 20%);
				border-radius: 3px;
				padding: 4px 7px 9px 8px;
				i {
					color: @agent_link_color;
				}
			}
			big {
				float: left;
				font-size: 12px;
				font-weight: bold;
				width: 260px;
			}
			small {
				float: left;
				font-size: 11px;
				font-weight: normal;
				width: 260px;
			}
			time {
				float: right;
				font-size: 11px;
				margin-top: 6px;
			}
		}
	}
}

//-------------------------
// Search help
//-------------------------

#dp_header .extended-search-dialog {
	position: absolute;
	right: -74px;
	top: 50px;
	z-index: 3;
	width: 400px;
	height: 260px;
	background: #41464d;
	border-radius: 5px;
	color: #fff;
	padding: 0 20px 15px;
	color: #dde3e9;
	font-size: 12px;
	h3, h4 {
		text-transform: uppercase;
		font-size: 13px;
		font-weight: normal;
		text-align: center;
		margin: 8px 0;
		padding: 8px 0;
	}
	h3 {
		border-bottom: 1px solid #5f666f;
	}
	h4 {
		border-top: 1px solid #5f666f;
	}
	.list-with-icons {
		height: 80px;
		background-color: #2b2f33;
		border-radius: 3px;
		padding: 0 4px;
		li {
		float: left;
		height: 50px;
		width: 54px;
		margin: 16px 1px;
		padding: 0;
		background-image: url('@{img_path}/agent/app-nav/navigation-icons.png');
		background-repeat: no-repeat;
		}
		li:hover {
			cursor: pointer;
		}
		.tickets_section {
		  background-position: -1px 0;
		}
		.tickets_section:hover {
		  background-position: -1px -100px;
		}
		.chat_section {
			background-position: -80px 0;
		}
		.chat_section:hover {
		  background-position: -80px -100px;
		}
		.people_section {
		  background-position: -161px 0;
		}
		.people_section:hover {
		  background-position: -161px -100px;
		}
		.feedback_section {
		  background-position: -239px 0;
		}
		.feedback_section:hover {
		  background-position: -239px -100px;
		}
		.publish_section {
		  background-position: -317px 0;
		}
		.publish_section:hover {
		  background-position: -317px -100px;
		}
		.tasks_section {
		  background-position: -399px 0;
		}
		.tasks_section:hover {
		  background-position: -399px -100px;
		}
		.twitter_section {
		  background-position: -478px 0;
		}
		.twitter_section:hover {
		  background-position: -478px -100px;
		}
	}
}

//----------------------------------------------------------------------------------------------------------------------
// CONTENT PANE
//----------------------------------------------------------------------------------------------------------------------

#dp_center {
	top: 51px;
	#switch_view_horizontal_btns ul {
		float: right;
		position: relative;
		display: inline-block;
		font-size: 0;
		white-space: nowrap;
		vertical-align: middle;
		margin: 5px 5px 0 0;
		li {
			display: inline-block;
			float: left;
		}
		li:hover {
			cursor: pointer;
		}
		li.view1 {
			background: url('@{img_path}/switch-buttons-left.png') no-repeat top center;
			width: 33px;
			height: 26px;
		}
		li.view1:hover {
			background-position: center center;
		}
		li.view1.active {
			background-position: bottom center;
		}
		li.view2 {
			background: url('@{img_path}/switch-buttons-center.png') no-repeat top center;
			width: 34px;
			height: 26px;
		}
		li.view2:hover {
			background-position: center center;
		}
		li.view2.active {
			background-position: bottom center;
		}
		li.view3 {
			background: url('@{img_path}/switch-buttons-right.png') no-repeat top center;
			width: 32px;
			height: 26px;
		}
		li.view3:hover {
			background-position: center center;
		}li.view3.active {
			background-position: bottom center;
		}


	}
}