@import "lib.less";

#dp_logo_wrap {
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url("../../images/agent/header/header-divider.png") /** sprite-ref: ui-v; sprite-alignment: left */;
	float: right;
	width: 54px;
	height: 41px;
	padding-left: 7px;
	overflow: hidden;
}

#dp_logo_wrap .button-wrap {
	margin: 3px 0 0 3px;
	.gradient(#5a90b8, #3c6094);
	border: 1px solid #314559;
	.border-radius(3px, 3px, 3px, 3px);
	box-shadow: 0 1px 0 #386DA1, 0 1px 0 #75B3DA inset, 0 0 1px #5283AF inset;
	width: 46px;
	height: 31px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}

#dp_logo_wrap .button-wrap h1 {
	display: block;
	line-height: 100%;
	padding: 0;
	text-indent: -500px;
	background: url(../../images/dp-logo-24.png) no-repeat 0 0;
	height: 24px;
	width: 24px;
	overflow: hidden;
	margin: 4px 0 0 5px;
	.rounded(3px);
}

#dp_logo_wrap .button-wrap .drop {
	.iconbase(6px, 5px);
	background-image: url(../../images/agent/dropdown-white.png);
	position: absolute;
	top: 14px;
	right: 5px;
}

#dp_logo_expand_wrap {
	display: none;
	position: absolute;
	top: 0; right: 0; bottom: 0; left:0;
	z-index: 100000;

	.dropdown-header {
		.gradient(#f2f2f2, #f2f2f2);
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
		border-top: 1px solid #314559;
		border-left: 1px solid #314559;
		border-right: 1px solid #314559;
		.border-radius(4px, 4px, 0, 0);
		position: absolute;
		top: 3px;
		right: 3px;
		width: 46px;
		height: 37px;

		h1 {
			display: block;
			line-height: 100%;
			padding: 0;
			text-indent: -500px;
			background: url(../../images/dp-logo-24.png) no-repeat 0 0;
			height: 24px;
			width: 24px;
			overflow: hidden;
			margin: 4px 0 0 5px;
			.rounded(3px);
		}

		.drop {
			.iconbase(7px, 5px);
			background-image: url(../../images/agent/button-uparrow.png);
			position: absolute;
			top: 13px;
			right: 5px;
		}
	}

	.dropdown-content {
		.gradient(#f2f2f2, #f2f2f2);
		box-shadow: 0 0 1px rgba(255, 255, 255, 0.9) inset, 0 4px 5px -3px rgba(0, 0, 0, 0.2);
		.border-radius(0, 0, 4px, 4px);
		border-left: 1px solid #B6BABF;
		border-right: 1px solid #B6BABF;
		border-bottom: 1px solid #B6BABF;

		position: absolute;
		right: 3px;
		top: 41px;
		padding: 10px;

		a {
			color: #6F7072;
			display: block;
			background: url(../../images/dp-logo-color.png) no-repeat 50% 0;
			width: 300px;
			padding-top: 66px;
			font-size: 13pt;
			font-family: @heading-font;
			font-weight: bold;
			text-align: center;

			span {
				font-weight: normal;
				color: #F15A22;

			}
		}
		a:hover {
			color: #000;

			span {
				text-decoration: underline;
			}
		}
	}
}


#dp_header_user {
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-image: url("../../images/agent/header/header-divider.png") /** sprite-ref: ui-v; sprite-alignment: right */;
	float: left;
	width: 56px;
	height: 41px;
	overflow: hidden;
}

#dp_header_user .button-wrap {
	margin: 3px 0 0 3px;
	.gradient(#5a90b8, #3c6094);
	border: 1px solid #314559;
	.border-radius(3px, 3px, 3px, 3px);
	box-shadow: 0 1px 0 #386DA1, 0 1px 0 #75B3DA inset, 0 0 1px #5283AF inset;
	width: 45px;
	height: 31px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}

#dp_header_user .button-wrap h1 {
	display: block;
	line-height: 100%;
	padding: 0;
	height: 24px;
	width: 24px;
	overflow: hidden;
	margin: 4px 0 0 4px;

	cite {
		display: block;
		background-repeat: no-repeat;
		background-position: 0 0;
		.rounded(3px);
		height: 24px;
		width: 24px;
		overflow: hidden;
	}
}
#dp_header_user .button-wrap .drop {
	.iconbase(6px, 5px);
	background-image: url(../../images/agent/dropdown-white.png);
	position: absolute;
	top: 15px;
	right: 6px;
}



#DP-NotificationSection{
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-image: url("../../images/agent/header/header-divider.png") /** sprite-ref: ui-v; sprite-alignment: right */;
	float: left;
	height: 41px;
	width: 215px;
}
#notificationWrap{
	float: left;
	height: 34px;
	padding: 8px 19px 0 0;
	position: relative;
	width: 201px;
}

.notifications{
	.header-btn();
 	float: right;
    position: relative;
	cursor: pointer;
}
.notifications:hover{
	.header-btn-over();
}

.notifMenuWrap{
	position: absolute;
	top: 0;
}
.notifMenuWrap a.iconImg{
    background-position:top left;
    background-repeat: no-repeat;
    background-image: url(../../images/agent/tabs/tabtype-ticket-white.png) /** sprite-ref: ui-v; sprite-alignment: left */;
	font-size: 10px;
	color: #fff;
	cursor: pointer;
	display: block;
	text-indent: -999px;
}
.notifMenuWrap a.chat{
  	background-position:top left;
    background-repeat: no-repeat;
    background-image: url(../../images/agent/tabs/tabtype-ticket-white.png) /** sprite-ref: ui-v; sprite-alignment: left */;
    float: left;
    height: 13px;
    padding: 5px 4px;
    width: 20px;
}
.notifMenuWrap a.mail{
	background-position: 7px -42px;
 	border-right: 1px solid #314559;
	box-shadow: 1px 0 0 #4A8FC8;
	float: left;
	height: 12px;
	padding: 6px 7px 5px;
	width: 16px;
}
.notifMenuWrap a.warning{
	background-position: 6px -1362px;
	border-right: 1px solid #314559;
	box-shadow: 1px 0 0 #4A8FC8;
	float: left;
	height: 13px;
	padding: 6px 7px;
	width: 15px;
}

.notif-item .counter {
	.gradient(#bf6060, #804040);
	.border-radius(10px, 10px, 10px, 10px);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 0px 1px rgba(255, 255, 255, 0.2) inset,  0 2px 3px rgba(0, 0, 0, 0.3);
	border: 1px solid #543237;
	color: #fff;
	font-size: 8px;
	font-weight: bold;
	padding: 1px 3px;
	line-height: 100%;
	left: 0;
	position: absolute;
	top: -5px;
	text-shadow: 0 1px 0 #443a3c;
	text-align: center;
	z-index: 99;
	text-indent: 0;
	font-family: @count-badge-font;
}
.notifMenuWrap span#ticketsCounter{
	left: 17px;
}
.notifMenuWrap span#chatCounter{
	left: 51px;
}

/* Notification Dropdown */
#notificationDropdown{
	position: absolute;
	top: 41px;
	z-index: 40000;
}
.notifDropdown{
	background: rgba(242,242,242, 0.98);
	.border-radius(0, 0, 5px, 5px);
	border: 1px solid #B6BABF;
	border-top: medium none transparent !important;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.9) inset, 0 4px 5px -3px rgba(0, 0, 0, 0.2);
	position: relative;
	width: 450px;
	float: left;
	z-index: 999;
}
.ie .notifDropdown{
	background: #f2f2f2;
	top: 41px;
	display: block;
}
ul#dp_notify_list{
	background: transparent;
}
ul#dp_notify_list li{
	cursor: pointer;
	position: relative;
	display: block;
	border-bottom: 1px solid #E3E4E6;
	float: left;
	width: 100%;
	padding-bottom: 6px;
	overflow: hidden;
	min-height: 24px;
}
ul#dp_notify_list li a{
	line-height: 24px;
	position: absolute;
	top: 0px;
	left: 5px;
	height: 24px;
	color: #5F5D5E;
	white-space: nowrap;
}
ul#dp_notify_list li:hover a{
	color: #302F2F;
}
ul#dp_notify_list li span{
	font-size: 13px;
	color: #9DA2A6;
	text-shadow: 0 1px 0 #fff;
	float: right;
}
ul#dp_notify_list li .timeago {
	position: absolute;
	top: 2px;
	padding-right: 19px;
	padding-left: 8px;
	right: 0;
	color: lighten(@body-text-color, 30%);
	margin: 0;
	background-color: #F1F1F1;
	z-index: 1;
}
ul#dp_notify_list li .dismiss {
	position: absolute;
	top: 7px;
	right: 4px;
	.iconbase(10px, 10px);
	background-image: url(../../images/agent/icons/delete-small.png) /** sprite-ref: ui-v */;
	cursor: pointer;
	.opacity(50);
	z-index: 2;
}
ul#dp_notify_list li em:hover {
	.opacity(100);
}
ul#dp_notify_list li span.dismissHover{
	position: absolute;
	right: 10px;
	top: 5px;
	color: red;
	padding: 0;
	display: none;
}
ul#dp_notify_list li:hover{
	background: rgba(255,255,255,0.5);
}
ul#dp_notify_list li:last-child:hover{
	background: transparent;
}

ul#dp_notify_list li.dismissAll{
	padding: 5px 10px;
	text-align: center;
}
ul#dp_notify_list li.dismissAll a{
    display: inline;
	.gradient(#6baccc, #5182b3);
	border: 1px solid #4B7095;
	box-shadow: inset 0 1px 0 #82bdd7;
	.border-radius(3px, 3px, 3px, 3px);
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0, 0.5);
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	padding: 3px 10px 4px;
	position: relative;
	font-family: @heading-font;
}
ul#dp_notify_list li.dismissAll a:hover{
	.gradient(#72b8d8, #578bbf);
	position: relative;
}

ul#dp_notify_list li.notifPaging{
	.gradient(#f6f6f6, #e9e9e9);
	position: relative;
}
ul#dp_notify_list li.notifPaging span{
	float: left;
	padding: 5px 0 5px 9px;
}

ul#dp_notify_list li .info {
	clear: both;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 9px;
}

.notifHead{
	.gradient(#f2f2f2, #f2f2f2);
	box-shadow: 0 2px 1px 0 #D2D2D2 inset;
	border-left: 1px solid #314559;
	.border-radius(3px, 3px, 0, 0);
	border-right: 1px solid #314559;
	border-top: 1px solid #314559;
	height: 27px;
	left: -1px;
	padding: 3px 4px;
	position: absolute;
	top: -34px;
	cursor: pointer;
}
.notif-item {
	float: left;
	display: block;
	width: 28px;
	height: 23px;
}
.notif-item .counter { display:none; }
.notif-item.with-count .counter { display:block; }
.notifMail{
	background-position: 7px 7px;
    background-repeat: no-repeat;
    background-image: url(../../images/agent/tabs/tabtype-ticket-white.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 7px; sprite-margin-top: 6px; sprite-margin-bottom: 11px; */;
}
.notifDropdown .notifMail{
	background-position: 4px 4px;
    background-repeat: no-repeat;
    background-image: url(../../images/agent/tabs/tabtype-ticket.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 4px; sprite-margin-top: 3px; sprite-margin-bottom: 11px; */;
}
.notifDropdown .notifChat{
	background-position: 5px 3px;
	background-repeat: no-repeat;
	background-image: url(../../images/agent/tabs/tabtype-chat.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 5px; sprite-margin-top: 2px; sprite-margin-bottom: 11px; */;
}
.notifDropdown .notif-item {
	width: 24px;
}
.notifChat{
	background-position: 6px 6px;
    background-repeat: no-repeat;
    background-image: url(../../images/agent/tabs/tabtype-chat-white.png) /** sprite-ref: ui-v; sprite-alignment: left sprite-margin-left: 6px; sprite-margin-top: 5px; sprite-margin-bottom: 11px; */;
}
.notifMail .counter{
	left: 18px;
	position: absolute;
	top: -5px;
}
.notifChat .counter{
	left: 51px;
	position: absolute;
	top: -5px;
}
/* Pagination Notification Menu*/
ul#dp_notify_list li.notifPaging ul#notifPages{}
ul#dp_notify_list li.notifPaging ul#notifPages li{
	border-bottom: medium none;
	display: inline;
	width: auto;
	color: #737a80;
	text-shadow: 0 1px 0 #fff;
	padding: 0 2px;
}
ul#dp_notify_list li.notifPaging ul#notifPages li.mark{
	color: #BEBEBE;
	font-size: 10px;
	font-weight: normal;
	padding: 6px 0 0;
	cursor: text;
	background: transparent !important;
}
ul#dp_notify_list li.notifPaging ul#notifPages li.active,
ul#dp_notify_list li.notifPaging ul#notifPages li.pages:hover,
ul#dp_notify_list li.notifPaging ul#notifPages li.pText:hover{
	padding: 4px 2px;
	background: transparent;
}
ul#dp_notify_list li.notifPaging ul#notifPages li.right{
	float: right;

}
ul#dp_notify_list li.notifPaging ul#notifPages li.off a{
	color: #b8c0c5 !important;
}
ul#dp_notify_list li.notifPaging ul#notifPages li.off:hover a{
	background: transparent;
	border: 1px solid transparent;
}

ul#dp_notify_list li.notifPaging ul#notifPages li a{
	padding: 5px 4px;
}
ul#dp_notify_list li.notifPaging ul#notifPages li.active a,
ul#dp_notify_list li.notifPaging ul#notifPages li:hover a{
	background: #fff;
	border: 1px solid #a5a6a7;
	.border-radius(10px, 10px, 10px, 10px);
	padding: 0px 3px;
}

ul#dp_notify_list li#dp_notify_list_none {
	text-align: center;
	cursor: default;
	background: transparent;
	&:hover { background: transparent; }

	a {
		display: block;
		padding: 0px 12px 0 0;
		margin-right: 30px;
		margin-bottom: 8px;
		text-align: right;
		background: url(../../images/agent/pagenav-right.png) no-repeat 100% 50%;
	}

	article {
		display: block;
		padding: 25px 25px 0 25px;
	}
	em {
		display: block;
		padding: 25px;
		border: 1px dashed #C4C6CB;
		background-color: #FAFCFC;
		font-style: normal;
		font-size: 10pt;
		font-family: @heading-font;
		.rounded(5px);
	}
}

/* End of Notification Dropdown */

/* Search Categories */
#dp_omnibox_wrap{
	position: relative;
	display: block;
	float: left;
	height: 41px;
	width: 467px;
	position: relative;
	cursor:	text;
	overflow: hidden;
	min-width: 369px;
	white-space: nowrap;
}
.ie #dp_omnibox_wrap{
	box-shadow: 2px 0 4px 0 #396388;
}

.searchBoxWrap{
	padding: 0 5px 0 22px;
}
#dp_omniinput {
	outline: none;
	border: none;
	background-color: #FAFAFA;
	width: 100%;

	font-family: @body-font;
	font-size: 13px;
	padding: 0;
	margin: 0;
	height: 24px;
	line-height: 24px;

	&.loading {
		background-image: url(../../images/spinners/loading-small.gif);
		background-repeat: no-repeat;
		background-position: 100% 50%;
	}
}

#dp_omnibox .type-icon {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 13px;
	padding: 0;

	cursor: pointer;
}

#dp_omnibox .type-icon .icon {
    position: absolute;
	top: 6px;
	left: 5px;
	width: 13px;
	height: 13px;


	background-repeat: no-repeat;
	background-image: url(../../images/agent/mag-right.png) /** sprite-ref: ui-v; sprite-alignment: left; */;
}

#dp_omniresults {
	position: absolute;
	width: 300px;
	top: 32px;
	background: #fff;

	display: none;

	.gradient(#f4f5f6, #dfe5eb);
	.rounded(5px);

	border: 1px solid lighten(#8D9094, 20%);
	.box-shadow(0 1px 3px rgba(0,0,0,.25));
	z-index: 29001;

	overflow: auto;
}

#dp_omniresults section {
    padding-bottom: 8px;
	> header {
	    .gradient(#d9dfe6, #b9c5d0);
		font-size: 13px;
		font-family: @heading-font;
		font-weight: bold;
		text-shadow: 0 1px 0 rgba(255,255,255,0.5);
		color: #738699;
		text-transform: uppercase;
		padding: 0;
		padding-left: 6px;
		line-height: 24px;

		> .expand-btn {
		    display: block;
			font-size: 13px;
			float: right;
			background-color: #fff;
			.rounded(3px);
			line-height: 100%;
			padding: 1px 4px 1px 4px;
			text-transform: none;
			font-weight: normal;
			font-family: @body-font;
			position: relative;
			top: 4px;
			right: 5px;
			border: 1px solid #B0B9C4;
			cursor: pointer;
		}
	}

	ul.result-list > li {
		padding: 3px 5px 3px 8px;
		height: 18px;
		overflow: hidden;
		white-space:nowrap;
		text-overflow: ellipsis;

		.subtitle {
			padding-left: 8px;
			color: #818891;
			font-size: 10px;
		}

		&:hover, &.result-focus {
			background-color: #5182B3;
			color: #fff;

			.prop-id {
				background-color: darken(#B1CBE1, 40%);
			}

			.subtitle {
				color: darken(#fff, 20%);
			}
		}

		.prop-id {
			font-size: 9px;
			float: left;
			display: block;
			margin-right: 5px;
			background-color: #B1CBE1;
			padding: 0 4px 0 4px;
			.rounded(10px);
		}
	}
}

#DP-CreateSection{
	position: relative;
	float: left;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url("../../images/agent/header/header-divider.png") /** sprite-ref: ui-v; sprite-alignment: left */;
}

#DP-InterfaceSwitcher{
	position: relative;
	float: right;
}

#DP-StatusSection{
	position: relative;
	float: right;
}

#DP-UserSection{
	position: relative;
	float: right;
	padding-right: 5px;
}



.floatLeft{
	position: relative;
	float: left;
}

.floatRight{
	position: relative;
	float: right;
}

#dp_header{
	background-color:#2d5680;
	background-repeat: repeat-x;
	background-image: url("../../images/agent/header/header-bg.png") /** sprite-ref: ui-v; sprite-alignment: repeat; */;
	height: 41px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	overflow: hidden;
}

#dp_omnibox{
	height: 23px;
	min-height: 23px;
	margin: 8px 7px 0 10px;
	position: absolute;
	top: 0; left: 0; right: 120px;
	font-size: 10px;
	line-height: 12px;
	color: #2b3233;
	background-color: #fafafa;
	border: 1px solid #3a4a59;
	.rounded(3px);
	box-shadow: 0 1px 0 #3b71a9, inset 0 1px 3px rgba(0,0,0,0.15);
	overflow: hidden;
	z-index: 9999;
}

#dp_omnibox_adv {
	.header-btn();
	position: absolute;
	right: 10px;
	top: 8px;

	&:hover {
		.header-btn-over();
	}

	a {
		color: #fff;
	}

	span {
		background-repeat: no-repeat;
		background-position: 5px 4px;
		background-image: url(../../images/agent/header/gear-light.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 5px; sprite-margin-top: 4px; sprite-margin-bottom: 10px; */;
		float: left;
		padding: 0 0 0 25px;
		display: block;
		height: 25px;
	}
}

#dp_omniinput::-webkit-input-placeholder {
    font-size: 13px;
    color: lighten(#3A4A59, 10%) !important;
}
#dp_omniinput:-moz-placeholder {
    font-size: 13px;
    color: lighten(#3A4A59, 10%) !important;
}

/* DP Create Ticket */
#DP-CreateSection{
	position: relative;
	float: left;
	width: 100px;
	height: 41px;

}
.DP-createTicket{
	overflow: hidden;
	font-family: @toolbar-font;
	padding: 8px 10px;
}
.DP-createTicket #createContentTrigger{
	.header-btn();
	float: left;
	padding-right: 9px;
}

.DP-createTicket #createContentTrigger a{
	.header-btn-label();
	float: left;
}
.DP-createTicket #createContentTrigger a span{
	background-repeat: no-repeat;
	background-position: 7px 7px;
    background-image: url(../../images/agent/header/header-plus.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 7px; sprite-margin-top: 7px; sprite-margin-bottom: 10px; */;
	float: left;
	padding: 0 0 0 22px;
	display: block;
	line-height: 21px;
	height: 21px;
}
/* DP Create Ticket Dropdown */
#createTicketToggle{
	left: 19px;
	position: absolute;
	top: 8px;
	z-index: 40000;
}

#agent_status .label-away,
#agent_status .label-dnd {
    display: none;
    position: absolute;
    top: -2px;
    left: 20px;
    width: 40px;
    height: 15px;
    color:#000;

    background: transparent !important;
    font-style: normal;
    font-size: 10px;
    color: #fff;
}

#agent_status .label-away {

}
#agent_status .label-dnd {

}

#agent_status { position: relative; text-indent: 0;}
#agent_status.away, #agent_status.dnd {
	padding-right: 30px;
}

#agent_status.away .label-away { display: block; }
#agent_status.dnd .label-dnd{ display: block; }

.DP-adminStatus li.agentStatus a {

}

#agent_status_menu {
	left: 19px;
	position: absolute;
	top: 8px;
	z-index: 999999; // has to be above the screen disabled overlay
}

#agent_status_menu .createDropdown {
	margin-top: 18px;
	margin-left: 6px;
}

#agent_status_menu .createDropdown ul {
	border-radius: 4px !important;
}

.createDropdown ul{
    padding-top: 5px;
	background: rgba(242,242,242,0.98);
	border-bottom: 1px solid #B6BABF;
	border-left: 1px solid #B6BABF;
	.border-radius(0, 0, 4px, 4px);
	border-right: 1px solid #B6BABF;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.9) inset, 0 4px 5px -3px rgba(0, 0, 0, 0.2);
	text-align: left;
	position: relative;
	z-index: 1;
}
.ie .createDropdown ul{
	background: #f2f2f2;
}

.createDropdown ul.createBtnPopups li{
	display: block;
	width: 168px;
	padding: 0 5px;
}

.createDropdown ul.createBtnPopups li:hover:first-child{

}
.createDropdown ul.createBtnPopups li:last-child{
	margin-bottom: 5px;
}
.createDropdown ul.createBtnPopups li:hover:last-child{
	margin-bottom: 5px;
}

.createDropdown ul.createBtnPopups li a{
	border: 1px solid transparent;

	color: #717579;
	cursor: pointer;
	display: block;
	font-size: 13px;
	line-height: 23px;
}
.createDropdown ul.createBtnPopups li span{
    display: block;
    padding: 0 0 0 25px;
}

.createDropdown ul.createBtnPopups li:hover a{
	.gradient(lighten(#72b8d8,30%), lighten(#578bbf, 30%));

	border: 1px solid lighten(#406080, 30%);
	.border-radius(2px, 2px, 2px, 2px);
	box-shadow: 0 1px 0px rgba(255, 255, 255, 0.2) inset ;
	color: darken(#9DA2A6, 30%);
	position: relative;
}

.createDropdown ul.createBtnPopups li:hover span{
    margin: 0;
    padding: 0 0 0 25px;

}

.createDropdown ul.createBtnPopups li kbd {
	margin-left: 4px;
	margin-right: 4px;
	float: right;
	font-family: @body-font;
	font-size: 9px;
	width: 6px;
	text-align: center;
	display: block;
}

.createDropdown ul.createBtnPopups li a span.createTicket{
	background-repeat: no-repeat;
	background-position: 4px 7px;
	background-image: url(../../images/agent/tabs/tabtype-ticket.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 4px; sprite-margin-top: 7px; sprite-margin-bottom: 6px; */;
}

.createDropdown ul.createBtnPopups li a span.createPerson{
	background-repeat: no-repeat;
	background-position: 4px 6px;
	background-image: url(../../images/agent/tabs/tabtype-person.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 4px; sprite-margin-top: 6px; sprite-margin-bottom: 6px; */;
}

.createDropdown ul.createBtnPopups li a span.createOrg{
	background-repeat: no-repeat;
	background-position: 4px 7px;
	background-image: url(../../images/agent/tabs/tabtype-org.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 4px; sprite-margin-top: 7px; sprite-margin-bottom: 6px; */;
}
.createDropdown ul.createBtnPopups li a span.createTask{
	background-repeat: no-repeat;
	background-position: 5px 7px;
	background-image: url(../../images/agent/tabs/tabtype-task.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 6px; sprite-margin-top: 7px; sprite-margin-bottom: 6px; */;
}

.createDropdown ul.createBtnPopups li a span.createArticle{
	background-repeat: no-repeat;
	background-position: 6px 7px;
	background-image: url(../../images/agent/tabs/tabtype-content.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 6px; sprite-margin-top: 7px; sprite-margin-bottom: 6px; */;
}

.createDropdown ul.createBtnPopups li a span.createNews{
	background-repeat: no-repeat;
	background-position: 4px 7px;
	background-image: url(../../images/agent/tabs/tabtype-news.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 4px; sprite-margin-top: 7px; sprite-margin-bottom: 6px; */;
}

.createDropdown ul.createBtnPopups li a span.createDownload{
	background-repeat: no-repeat;
	background-position: 5px 6px;
	background-image: url(../../images/agent/tabs/tabtype-download.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 5px; sprite-margin-top: 6px; sprite-margin-bottom: 6px; */;
}

.createDropdown ul.createBtnPopups li a span.createFeedback {
	background-repeat: no-repeat;
	background-position: 7px 6px;
	background-image: url(../../images/agent/tabs/tabtype-feedback.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 7px; sprite-margin-top: 6px; sprite-margin-bottom: 6px; */;
}

.createDropdown ul.createBtnPopups li a span.createDeals {
	background-repeat: no-repeat;
	background-position: 7px 6px;
	background-image: url(../../images/agent/tabs/tabtype-deal.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 7px; sprite-margin-top: 6px; sprite-margin-bottom: 6px; */;
}

.createDropdown ul.createBtnPopups li a span.statusAvailable {
	background-repeat: no-repeat;
	background-position: 4px 6px;
	background-image: url(../../images/agent/tabs/tabtype-person.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 4px; sprite-margin-top: 6px; sprite-margin-bottom: 6px; */;
}

.createDropdown ul.createBtnPopups li a span.statusAway {
	background-repeat: no-repeat;
	background-position: 4px 6px;
	background-image: url(../../images/agent/tabs/tabtype-away.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 4px; sprite-margin-top: 6px; sprite-margin-bottom: 6px; */;
}

.createDropdown ul.createBtnPopups li a span.statusDnd {
	background-repeat: no-repeat;
	background-position: 4px 6px;
	background-image: url(../../images/agent/tabs/tabtype-dnd.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 4px; sprite-margin-top: 6px; sprite-margin-bottom: 6px; */;
}

.createHeader, .switcherHeader{
	font-family: @toolbar-font;
	.gradient(#f2f2f2, #f2f2f2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	.border-radius(3px, 3px, 0, 0);
	border-top: 1px solid #314559;
	border-left: 1px solid #314559;
	border-right: 1px solid #314559;
	.border-radius(4px, 4px, 0, 0);
	color: #737980;
	height: 26px;
	line-height: 23px;
	padding: 2px 0 0px 7px;
	position: relative;
	text-shadow: 0 1px 0 #FFFFFF;
	width: 65px;
}
.createHeader a {
	background-repeat: no-repeat;
	background-position: 0px 3px;
	background-image: url(../../images/agent/toolbar-plus.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 0px; sprite-margin-top: 3px; sprite-margin-bottom: 10px; */;
}
.createHeader a, .switcherHeader a{
	color: #737980;
	cursor: pointer;
	font-size: 13px;
	text-shadow: 0 1px 0 #FFFFFF;
}
.createHeader a{
	padding: 0 15px;
}
/* End DP Create Ticket */

/* Interfaces Switcher */
#DP-InterfaceSwitcher{
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url("../../images/agent/header/header-divider.png") /** sprite-ref: ui-v; sprite-alignment: left; */;
	position: relative;
	float: right;
	height: 41px;
}
.DP-adminSwitch{
	padding: 7px 9px 8px 10px;
	float: left;

}

.adminSwitcher{
	.gradient(#5a90b8, #3c6094);
	border: 1px solid #314559;
	.border-radius(3px, 3px, 3px, 3px);
	box-shadow: 0 1px 0 #386DA1, 0 1px 0 #6DA6CD inset, 0 0 1px #5283AF inset;
	float: left;
    padding: 0 9px 2px;
	cursor: pointer;
	float: left;
	width: 130px;
	position: relative;
}

.adminSwitcher a{
	position: relative;
	top: 1px;
	background-repeat: no-repeat;
	color: #F2F9FF;
	font-size: 13px;
	font-weight: normal;
	line-height: 22px;
	float: left;
	height: 22px;
	padding: 0 4px 0 23px;
	width: 110px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background-position: 0 3px;
}
.switcherHeader a {
	background-repeat: no-repeat !important;
	font-family: @heading-font;
	position: relative;
	top: -1px;
	left: -1px;
}

.dropdownSwitcherWrap a span {
	background-repeat: no-repeat;
	background-position: 0 0;
	text-shadow: none;
}

.adminSwitcher a.admin { background-image: url(../../images/agent/header/interface-admin-dark.png); }
.switcherHeader a.admin { background-image: url(../../images/agent/header/interface-admin-color.png); background-position: 0 0; }
.dropdownSwitcherWrap a.admin span { background-image: url(../../images/agent/header/interface-admin-dark.png); }

.adminSwitcher a.agent { background-image: url(../../images/agent/header/interface-agent-dark.png); }
.dropdownSwitcherWrap a.agent span { background-image: url(../../images/agent/header/interface-agent-dark.png); }
.dropdownSwitcherWrap .switcherHeader a.agent span { background-image: url(../../images/agent/header/interface-agent-color.png); }

.adminSwitcher a.billing { background-image: url(../../images/agent/header/interface-billing-dark.png); }
.switcherHeader a.billing { background-image: url(../../images/agent/header/interface-billing-color.png); background-position: 0 0; }
.dropdownSwitcherWrap a.billing span { background-image: url(../../images/agent/header/interface-billing-dark.png); }
.dropdownSwitcherWrap .switcherHeader a.billing span { background-image: url(../../images/agent/header/interface-billing-color.png); }

.adminSwitcher a.reports { background-image: url(../../images/agent/header/interface-reports-dark.png); }
.switcherHeader a.reports { background-image: url(../../images/agent/header/interface-reports-color.png); background-position: 0 0; }
.dropdownSwitcherWrap a.reports span { background-image: url(../../images/agent/header/interface-reports-dark.png); }
.dropdownSwitcherWrap .switcherHeader a.reports span { background-image: url(../../images/agent/header/interface-reports-color.png); }

.adminSwitcher a.user { background-image: url(../../images/agent/header/interface-user-dark.png); }
.switcherHeader a.user { background-image: url(../../images/agent/header/interface-user-color.png); background-position: 0 0; }
.dropdownSwitcherWrap a.user span { background-image: url(../../images/agent/header/interface-user-dark.png); }
.dropdownSwitcherWrap .switcherHeader a.user span { background-image: url(../../images/agent/header/interface-user-color.png); }

.adminSwitcher li:hover a.admin { background-image: url(../../images/agent/header/interface-admin-color.png); }
.dropdownSwitcherWrap li:hover a.admin span { background-image: url(../../images/agent/header/interface-admin-color.png); }

.adminSwitcher li:hover a.agent { background-image: url(../../images/agent/header/interface-agent-color.png); }
.dropdownSwitcherWrap li:hover a.agent span { background-image: url(../../images/agent/header/interface-agent-color.png); }

.adminSwitcher li:hover a.billing { background-image: url(../../images/agent/header/interface-billing-color.png); }
.dropdownSwitcherWrap li:hover a.billing span { background-image: url(../../images/agent/header/interface-billing-color.png); }

.adminSwitcher li:hover a.reports { background-image: url(../../images/agent/header/interface-reports-color.png); }
.dropdownSwitcherWrap li:hover a.reports span { background-image: url(../../images/agent/header/interface-reports-color.png); }

.adminSwitcher li:hover a.user { background-image: url(../../images/agent/header/interface-user-color.png); }
.dropdownSwitcherWrap li:hover a.user span { background-image: url(../../images/agent/header/interface-user-color.png); background-position: 0 1px; }

.adminSwitcher a span{
    background-repeat: no-repeat;
	float: right;
	height: 20px;
	padding: 5px 12px 0 0;
	position: relative;
    background-position: 0 10px;
    background-image: url(../../images/agent/dropdown-white.png) /** sprite-ref: ui-v; sprite-alignment: right; sprite-margin-top: 10px;*/
}
.adminSwitcher:hover{
	.gradient(#5c93ba, #4670aa);
	position: relative;
}

.dropdownSwitcherWrap ul li a span {
    margin-left: 2px;
    padding-left: 23px;
}

.createDropdown ul.createBtnPopups li a span.createTicket:hover{

}

/* Dropdown - Switcher Interfaces */
#interfacesToggle{
    position: absolute;
    z-index: 40000;
	position: absolute;
	display: none;
}
.dropdownSwitcherWrap{
}

.dropdownSwitcherWrap ul{
	margin-left:1px;
	.gradient(#f2f2f2, #f2f2f2);
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.9) inset, 0 4px 5px -3px rgba(0, 0, 0, 0.2);
	.border-radius(0, 0, 4px, 4px);
	border-left: 1px solid #B6BABF;
	border-right: 1px solid #B6BABF;
	border-bottom: 1px solid #B6BABF;
	text-align: left;
	width: 147px;
	position: relative;
	z-index: 40000;
	padding: 2px 0 2px 0;
}

.dropdownSwitcherWrap li{
	display: block;
	padding: 2px 5px 2px 4px;
	line-height: 23px;
}
.dropdownSwitcherWrap li a{
	text-shadow: 0 1px 0 #fff;
	font-size: 13px;
	font-weight: normal;
	color: #9DA2A6;
	display: block;
	padding: 0 0 0 2px!important;
	border: 1px solid transparent;
}

.dropdownSwitcherWrap li:hover a {
	.gradient(lighten(#72b8d8,30%), lighten(#578bbf, 30%));

	border: 1px solid lighten(#406080, 30%);
	.border-radius(2px, 2px, 2px, 2px);
	box-shadow: 0 1px 0px rgba(255, 255, 255, 0.2) inset ;
	color: darken(#9DA2A6, 30%);
	margin: 0;
}
.switcherHeader{
	height: 21px;
	padding: 5px 0 0 10px !important;
	width: 139px !important;
	z-index: 40000;
	font-size: 13px;
}
.switcherHeader span {
	background-repeat: no-repeat;
	padding: 0 0 0 23px !important;
}
.firefox .windows .switcherHeader a, .safari .windows .switcherHeader a{
	padding: 0 24px 0 18px !important;
}
/* END Interfaces Switcher */

/* Status Admin */
#DP-StatusSection{
	background-repeat: no-repeat;
	background-image: url("../../images/agent/header/header-divider.png") /** sprite-ref: ui-v; sprite-alignment: left; */;
	position: relative;
	float: right;
	height: 41px;

}
.DP-adminStatus{
	height: 31px;
    padding: 10px 7px 5px 10px;
	position: relative;
}
.DP-adminStatus ul{
	margin: 0;
	padding: 0;
}
.DP-adminStatus li{
	float: left;
	padding: 4px 0;
}
.DP-adminStatus li a{
	display: block;
	text-indent: -9999px;
	height: 16px;
	width: 16px;
}

.DP-adminStatus li.agentStatus a {
	background-repeat: no-repeat;
    background-image: url(../../images/agent/header/agent-status.png) /** sprite-ref: ui-v; sprite-alignment: left */;
    margin-right: 15px;
	position: relative;
	height: 12px;
}
.DP-adminStatus li.agentStatus a.away{
	background-repeat: no-repeat;
    background-image: url(../../images/agent/tabs/tabtype-away-red.png) /** sprite-ref: ui-v; sprite-alignment: left */;
    height: 13px;
}

.DP-adminStatus li.agentStatus a.dnd {
	background-repeat: no-repeat;
    background-image: url(../../images/agent/tabs/tabtype-dnd-red.png) /** sprite-ref: ui-v; sprite-alignment: left */;
    height: 13px;
}
.DP-adminStatus li.keyboardIcon a{
	background-repeat: no-repeat;
    background-image: url(../../images/agent/header/keyboard.png) /** sprite-ref: ui-v; sprite-alignment: left */;
	margin-left: 6px;
	margin-right: 2px;
	width: 16px;
	height: 12px;
}

.DP-adminStatus li.networkStatIndicator a{
	background-repeat: no-repeat;
    background-image: url(../../images/agent/header/network-status.png) /** sprite-ref: ui-v; sprite-alignment: left */;
	margin-right: 6px;
	width: 17px;
	height: 12px;
}
.DP-adminStatus li.networkStatIndicator a.on{
    background-repeat: no-repeat;
    background-image: url(../../images/agent/header/network-status-on.png) /** sprite-ref: ui-v; sprite-alignment: left */;
}

.DP-adminStatus li.soundIcon {
	padding-top: 2px;
}
.DP-adminStatus li.soundIcon a{
	background-repeat: no-repeat;
    background-image: url(../../images/agent/header/sound-on.png) /** sprite-ref: ui-v; sprite-alignment: left */;
	margin-left: 10px;
	height: 15px;
}
.DP-adminStatus li.soundIcon a.off{
    background-repeat: no-repeat;
    background-image: url(../../images/agent/header/sound-off.png) /** sprite-ref: ui-v; sprite-alignment: left */;
}
.DP-adminStatus li a .dropdowninfo{
	position: relative;
	z-index: 40000;
}

.DP-adminStatus li a span{
	.gradient(#262626, #111111);
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.2) inset, 0 0 2px rgba(0,0,0,0.3);
	.border-radius(5px, 5px, 5px, 5px);
	line-height: 16px;
	font-size: 13px;
	font-weight: bold;
	padding: 5px 10px;
	min-width: 100px;
	max-width: 200px;
	display: none;
	color: #FFF;
	border: 1px solid #000;
	position: relative;
}
.ie .DP-adminStatus li a span{
	background: #111;
}

.DP-adminStatus li a span:after{
	content:'';
	display:block;
	position:absolute;
	top:-11px;
	left:75px;
	width:0;
	height:0;
	border-color: transparent transparent #111 transparent;
	border-style: solid;
	border-width: 5px;
}

.firefox .windows li.networkStatIndicator a .dropdowninfo{
	left: -85px;
}
.DP-adminStatus li.agentStatus a span{
	left: -158px;
	padding: 5px 10px 5px 10px;
	top: 10px;
	width: 160px;
}
.DP-adminStatus li.agentStatus a span:after{
	left: 160px;
}
.ie .DP-adminStatus li.agentStatus a span{
	width: 170px;
	left: -170px;
}
.ie .DP-adminStatus li.agentStatus a span:after{
	left: 170px;
}

#network_status_tip { width: 200px; }
#network_status_tip .network-status-red { display: none; }
#network_status_tip.error .network-status-red { display: block; }
#network_status_tip.error .network-status-green { display: none; }

.DP-adminStatus li.networkStatIndicator a span{
	left: -135px;
	padding: 5px 30px 5px 10px;
	top: 10px;
	width: 110px;
}
.DP-adminStatus li.networkStatIndicator a span:after{
	left: 135px;
}
.ie .DP-adminStatus li.networkStatIndicator a span{
	width: 130px;
	left: -158px;
}
.ie .DP-adminStatus li.networkStatIndicator a span:after{
	left: 155px;
}

.DP-adminStatus li.agentStatus a:hover .dropdowninfo span, .DP-adminStatus li.networkStatIndicator a:hover .dropdowninfo span{
	display: block;
	text-indent: 0;
}


/* User Control Section */
#DP-UserSection{
	background-repeat: no-repeat;
	background-image: url("../../images/agent/header/header-divider.png") /** sprite-ref: ui-v; sprite-alignment: right; */;
	padding-left: 6px;
	margin-left: -2px;
	position: relative;
	float: right;
	height: 41px;
}

#DP-userControl{
	font-family: @toolbar-font;
	height: 35px;
	overflow: hidden;
	padding: 5px 2px 0 7px;
	position: relative;
}

#DP-userControl .drop {
	float: right;
	position: relative;
	top: 10px;

	background-image: url("../../images/agent/dropdown-white.png");
	background-repeat: no-repeat;
	background-position: 50% 50% !important;

	width: 6px;
	height: 5px;
	display: block;
	padding: 0;
	margin: 0 4px 0 7px !important;
}


.currentUserAvatar .userWrapper{
	.gradient(#5a90b8, #3c6094);
	border: 1px solid #314559;
	.border-radius(3px, 3px, 3px, 3px);
	box-shadow: 0 1px 0 #386DA1, 0 1px 0 #6DA6CD inset, 0 0 1px #5283AF inset;
	float: left;
	position: relative;
	margin-right: 4px;
}
.userWrapper a{
	cursor: pointer;
	float: left;
	padding: 2px 3px 0px 3px;
	line-height: 100%;
}

.userWrapper a em {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 2px;
	position: relative;
	.rounded(4px);
	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.8);
}

.currentUserAvatar span{
	background-position: left -1184px !important;
	cursor: pointer;
	float: left;
	margin-left: 1px;
	margin-top: 6px;
	padding: 5px;
}
/* User Profile Dropdown */
.userProfileDropdownHeader{
    position: relative;
	.gradient(#f2f2f2, #f2f2f2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	border-top: 1px solid #314559;
	border-left: 1px solid #314559;
	border-right: 1px solid #314559;
	.border-radius(4px, 4px, 0, 0);
    position: absolute;
    left: -2px;
	top: -38px;
	width: 47px;
	height: 37px;
}
.userProfileDropdownHeader a{
	padding: 2px 3px 0 3px;
	float: left;
	cursor: pointer;
}
.userProfileDropdownHeader a em {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #fff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 2px;
	position: relative;
	.rounded(4px);
}
.userProfileDropdownHeader .drop {
	.iconbase(7px, 5px);
	background-image: url(../../images/agent/button-uparrow.png);
	position: relative;
	top: 6px;
	right: 1px;
}

#userSetting{
	left: 3px;
    position: absolute;
	top: 41px;
	z-index: 40000;
}


.userProfileDropdown{
	.gradient(#f2f2f2, #f2f2f2);
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.9) inset, 0 4px 5px -3px rgba(0, 0, 0, 0.2);
	.border-radius(0, 0, 4px, 4px);
	border-left: 1px solid #B6BABF;
	border-right: 1px solid #B6BABF;
	border-bottom: 1px solid #B6BABF;
	width: 180px;
    z-index: 40000;
	position: relative;
}

.userProfileDropdown li{
	border-bottom: 1px solid #B6BABF;
}

.userProfileDropdown li a{
	text-align: left;
	text-shadow: 0 1px 0 #fff;
	font-size: 13px;
	font-weight: normal;
	color: #9DA2A6;
	line-height: 25px;
	padding: 0 0 0 7px;
	display: block;
}
.userProfileDropdown li a{
	padding: 0 0 0 25px;
}
.userProfileDropdown li.myAccount a, .userProfileDropdown li.myAccount:hover a{

}
.userProfileDropdown li.setting a, .userProfileDropdown li.setting:hover a{
	background-repeat: no-repeat;
	background-position: 8px 6px;
	background-image: url(../../images/agent/header/menu-settings.png);
}
.userProfileDropdown li.help a, .userProfileDropdown li.help:hover a{
	background-repeat: no-repeat;
	background-position: 7px 6px;
	background-image: url(../../images/agent/header/menu-help.png);
}

.userProfileDropdown li p{
	color: #737A80;
	font-size: 13px;
	padding: 5px 0 5px 10px;
}

.userProfileDropdown li.logggedAs{
	border: none;
}

.userProfileDropdown li.logggedAs p{
	font-size: 10px;
	padding-bottom: 0;
}

.userProfileDropdown li:hover a{
	backgroundcolor: #f8f8f8;
	color: #737a80;
}
.userProfileDropdown li:last-child:hover a{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.userProfileDropdown li.logout{
	padding: 4px 12px;
	border-bottom: none;
}
.userProfileDropdown li.logout a{
	.gradient(#cd5353, #b43e3e);
	border: 1px solid #673434;
	box-shadow: inset 0 1px 0 #d86565;
	.border-radius(3px, 3px, 3px, 3px);
	display: block;
	text-align: center;
	color: #fff;
	text-shadow: 0 1px 0 #893131;
	padding: 0;
	line-height: 23px;
	font-weight: bold;
	position: relative;
	font-family: @heading-font;
}
.userProfileDropdown li.logout:hover a{
	.gradient(#d85858, #bf4242);
	.border-radius(3px, 3px, 3px, 3px);
	position: relative;
}
/* END User Control Section */



#dp_searchsheet {
	position: absolute;
	top: 38px;
	background: #fff;

	display: none;
	min-width: 660px;

	.gradient(#f4f5f6, #dfe5eb, 350);
	.rounded(5px);

	border: 1px solid lighten(#8D9094, 20%);
	.box-shadow(0 1px 3px rgba(0,0,0,.25));
	z-index: 29001;
}

#dp_searchsheet .header-section {
	position: absolute;
	top: 0; right: 0; left: 0;
 	height:	32px;
 	background-color: rgba(255,255,255,0.7);
 	border-bottom: 1px solid lighten(#8D9094, 20%);

 	.border-radius(4px, 4px, 0, 0);

 	font-size: 13px;
 	line-height: 32px;

  	> .close {
		.iconbase(30px, 30px);
		background-image: url(../../images/agent/close-big.png);
		cursor: pointer;
		position: absolute;
		top: 2px;
		right: 2px;

		&:hover {
			background-image: url(../../images/agent/close-big-over.png);
		}
  	}

 	> em {
		float: left;
		font-style: normal;
		padding: 0 10px 0 10px;
		font-weight: bold;
   		font-family: @body-font-bold;
 	}

 	> ul {
		float: left;
		cursor: pointer;

		> li {
			float: left;
			font-family: @body-font-bold;
			padding: 0 10px 0 10px;

			&.on {
				background-color: lighten(#C2C3C5, 12%);
				.inner-shadow();
			}
		}
 	}
}

#dp_searchsheet .footer-section {
	position: absolute;
	right: 0; bottom: 0; left: 0;
	height:	32px;

	text-align: center;

	>button {
		.gradient(#598eb6, #3c6094);
		border: 1px solid #3f5973;
		box-shadow: inset 0 1px 0 #75b3da, inset 0 0 1px #4169a0, 0 1px 0 #cfd3d7;
		.border-radius(4px, 4px, 4px, 4px);
		color: #fafafa;
		text-shadow: 0 1px 0 #000;
		font-size: 13px;
		font-weight: bold;
		margin: 0 auto;
		padding: 5px 10px 4px;
		text-align: center;
		cursor:pointer;
		position: relative;
		line-height: 100%;
	}
}

#omnisearch_reset {
	position: absolute;
	top: 10px;
	right: 41px;
	cursor: pointer;
	color: #94999E;
	font-size: 13px;
	display: block;
	line-height: 100%;

	&:hover {
		color: #575A5D;
	}
}

#dp_searchsheet .sheet-section {
	min-height: 100px;
	margin-top: 33px;
	margin-bottom: 33px;

	display: none;

	&.on {
		display: block;
	}
}

#dp_searchsheet .sheet-section ul.property-list {
    margin: 0;

	> li {
	    box-sizing: border-box;
		float: left;
		width: 45%;
		padding: 0 4px 0 4px;
		margin: 10px;

		background: #fff url(../../images/agent/source-title-gear.png) no-repeat 98% 3px;
		cursor: pointer;

		border: 1px solid transparent;

		&:hover {
			border: 1px solid #4686C1;
		}

		&.search-input {
			background: #fff;
			float: none;
			width: auto;
			margin-top: 44px;
			margin-right: 16px;
			padding: 8px;

			input[type="text"] {
				margin-bottom: 6px;
			}
		}

		// Selected items in each list
		.values > ul > li {
			font-size: 10px;
			background: url(../../images/user/breadcrumb-bullet.gif) no-repeat 0 4px;
			padding-left: 8px;
		}

		.values > input {
			width: 90%;
			margin: 2px;
		}
	}
}

#dp_searchsheet_tickets li.search-input {
	margin-top: -8px !important;
}

#dp_searchsheet .search-form {
	padding-left: 9px;
	padding-right: 15px;
	padding-bottom: 10px;

	.term {
		box-shadow: none;
		background-color: #fff;
		.rounded(0);
		padding: 2px 4px;

		border: 1px solid transparent;

		&:hover {
			border: 1px solid #4686C1;
		}
	}

	.menu-trigger {
	    display: inline-block;
		padding: 0;
		line-height: 100%;
		padding: 1px 10px 1px 3px;
	}
}


#dp_keyboard_shortcuts {
	position: absolute;
	top: 38px;
	right: 15px;
	background: #fff;

	display: none;
	width: 660px;

	.gradient(#f4f5f6, #dfe5eb);
	.rounded(5px);

	border: 1px solid lighten(#8D9094, 20%);
	.box-shadow(0 1px 3px rgba(0,0,0,.25));
	z-index: 29001;
}

#dp_keyboard_shortcuts > header {
	position: absolute;
	top: 0; right: 0; left: 0;
 	height:	32px;
 	background-color: rgba(255, 255, 255, 0.7);
 	border-bottom: 1px solid lighten(#8D9094, 20%);

 	.border-radius(4px, 4px, 0, 0);

 	font-size: 13px;
 	line-height: 32px;

  	> .close {
		.iconbase(30px, 30px);
		background-image: url(../../images/agent/close-big.png);
		cursor: pointer;
		position: absolute;
		top: 2px;
		right: 2px;

		&:hover {
			background-image: url(../../images/agent/close-big-over.png);
		}
  	}

 	> em {
		float: left;
		font-style: normal;
		padding: 0 10px 0 10px;
		font-weight: bold;
   		font-family: @body-font-bold;
 	}
}

#dp_keyboard_shortcuts > article {
	margin: 15px;
	margin-top: 33px;

	h3 {
		margin-top: 15px;
	}
}

#dp_keyboard_shortcuts .row {
	padding: 3px 3px 3px 8px;

	kbd {
	    background: #fff;
	 	.rounded(3px);
		padding: 1px 4px 1px 4px;
		position: relative;
		top: -1px;
	}
}


.header-btn {
	.gradient(#5a90b8, #3c6094);
	border: 1px solid #354A61;
	.border-radius(3px, 3px, 3px, 3px);
	box-shadow: 0 1px 0 #386DA1, 0 1px 0 #6DA6CD inset, 0 0 1px #598FBE inset;
	height: 23px;
	cursor: pointer;
	position: relative;
}

.header-btn-over {
	.gradient(#5c93ba, #4670aa);
}

.header-btn-label {
	display: block;
	color: #F2F9FF;
	font-size: 13px;
	font-weight: normal;
	line-height: 22px;
	height: 22px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	position: relative;
	top: 1px;
}




#dp_header > section {
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-image: url("../../images/agent/header/header-divider.png") /** sprite-ref: ui-v; sprite-alignment: right */;
	float: left;
	overflow: hidden;
	padding: 6px 9px 8px 10px;
}

#dp_header > section.on nav {
	.inner-shadow-color(0, 0, 28px, rgba(255, 255, 255, 0.1));
	border: 1px solid lighten(#314559, 5%);

	h1 {
		text-shadow: 0 1px 1px rgba(0,0,0,0.6);
	}
}

#dp_header > section nav {
	padding: 1px 9px 2px 9px;
	.gradient(#5a90b8, #3c6094);
	border: 1px solid #314559;
	.border-radius(3px, 3px, 3px, 3px);
	box-shadow: 0 1px 0 #386DA1, 0 1px 0 #75B3DA inset, 0 0 1px #5283AF inset;
	overflow: hidden;
	cursor: pointer;
	position: relative;

	&:hover {
		.gradient(#5c93ba, #4670aa);
	}
}

#dp_header > section nav h1 {
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	font-size: 13px;
	font-weight: normal;
	line-height: 22px;
	color: #F2F9FF;
	font-family: @body-font;

	a {
		color: #F2F9FF;
		text-decoration: none;
	}
}


#dp_header > section nav i {
	.iconbase(6px, 5px);
	background-image: url(../../images/agent/dropdown-white.png);
	position: absolute;
	top: 15px;
	right: 6px;
}

#submit_beta_feedback {
	position: absolute;
	left: 0;
	top: 400px;
	width: 36px;
	height: 239px;
	background: url(../../images/submit-beta-feedback.png) no-repeat 0 0;
}