@static_path: '../..';
@img_path: "@{static_path}/images";

//----------------------------------------------------------------------------------------------------------------------
// HEADER
//----------------------------------------------------------------------------------------------------------------------

@agent_text_color: #444;

@agent_header_bg_color: #1d7ab2;
@agent_header_btn_bg_color: #2c85c6;

@agent_header_height: 49px;
@agent_header_border_color: #273036;

@agent_header_userprofile_bg_color: #1a6299;
@agent_header_userprofile_border_color: #2d85c4;
@agent_header_userprofile_text_color: #bcd6e8;

@agent_header_userchat_bg_color: #00a98e;
@agent_header_userchat_off_bg_color: #927A43;
@agent_header_userchat_alloff_bg_color: #920002;

@agent_header_badge_bg_color: #FB0016;

@agent_link_color: #1B6CA7;

@agent_menu_bg_color: #fff;
@agent_menu_text_color: #67686A;
@agent_menu_highlight_bg_color: #1abc9c;
@agent_menu_highlight_text_color: #fff;

@agent_bigmenu_bg_color: #fff;
@agent_bigmenu_text_color: #535456;
@agent_bigmenu_border_color: #c3c8cd;

@agent_nav_bg_color: #2B2F33;
@agent_nav_width: 54px;

@agent_highlight_text_bg_color: #F8FF82;

@agent_sidetabs_bg: #41464d;

@agent_source_bg_color: #eff1f4;

@agent_panetabs_bg_color: #d5d6da;
@agent_panetabs_color: #2273af;
@agent_panetabs_text_color: #5a606a;
@agent_panetabs_active_text_color: #fff;

@agent_panetabs_height: 39px;

//----------------------------------------------------------------------------------------------------------------------
// MIXINS
//----------------------------------------------------------------------------------------------------------------------

/**
 * Sets the width and height
 */
.size(@width: 5px, @height: 5px) {
	height: @height;
	width: @width;
}

/**
 * Sets the absolute width and height (overflow is hidden)
 */
.size-absolute(@width: 5px, @height: 5px) {
	height: @height;
	width: @width;
	overflow: hidden;
}

/**
 * Sets width and height to @size
 */
.size-square(@size: 5px) {
	height: @size;
	width: @size;
}

/**
 * Sets the absolute position
 */
.pos-absolute(@top, @right, @bottom, @left) {
	position: absolute;
	top: @top;
	right: @right;
	bottom: @bottom;
	left: @left;
}

/**
 * Adds styling that prevents cursor selection in the browser
 */
.noselect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/**
 * Adds basic CSS suitable for an inline icon image
 */
.iconbase(@w: 16px, @h: 16px) {
    display: inline-block;
	width: @w;
	height: @h;
	overflow: hidden;
	text-indent: -100px;
	line-height: 100%;
	margin: 0;
	padding: 0;

	background-repeat: no-repeat;
	background-position: 0 0;
}

/**
 * Clearfix
 */
.clearfix() {
	zoom: 1;
	&:before { content: ''; display: block; }
	&:after { content: ''; display: table; clear: both; }
}

/**
 * Generates a horizontal gradient
 */
.gradient-h(@startColor: #555, @endColor: #333, @size: 20) {
	@startSend: `"@{startColor}".replace(/#/, '').replace(/rgba\((.*?),(.*?),(.*?),(.*?)\)/, 'rgb($1,$2,$3)')`;
	@startSend_esc: `encodeURI(@{startSend})`;
	@endSend: `"@{endColor}".replace(/#/, '').replace(/rgba\((.*?),(.*?),(.*?),(.*?)\)/, 'rgb($1,$2,$3)')`;
	@endSend_esc: `encodeURI(@{endSend})`;
	background: @startColor url("../../../file.php/gradient?size=@{size}&start_color=@{startSend_esc}&end_color=@{endSend_esc}&direction=horizontal") repeat-y top right ~"/*gradient_h:@{size}:@{startSend}:@{endSend}*/";
}

/**
 * Generates a vertical gradient
 */
.gradient-v(@startColor: #555, @endColor: #333, @size: 20) {
	@startSend: `"@{startColor}".replace(/#/, '').replace(/rgba\((.*?),(.*?),(.*?),(.*?)\)/, 'rgb($1,$2,$3)')`;
	@startSend_esc: `encodeURI(@{startSend})`;
	@endSend: `"@{endColor}".replace(/#/, '').replace(/rgba\((.*?),(.*?),(.*?),(.*?)\)/, 'rgb($1,$2,$3)')`;
	@endSend_esc: `encodeURI(@{endSend})`;
	background: @startColor url("../../../file.php/gradient?size=@{size}&start_color=@{startSend_esc}&end_color=@{endSend_esc}") repeat-x bottom left ~"/*gradient_v:@{size}:@{startSend}:@{endSend}*/";
}

/**
 * Changes opacity
 */
.opacity(@opacity: 100) {
	-khtml-opacity: (@opacity / 100);
	-moz-opacity: (@opacity / 100);
	opacity: (@opacity / 100);
	-ms-filter: e(%('"progid:DXImageTransform.Microsoft.Alpha(Opacity=%d)"', @opacity));
    filter: e(%("progid:DXImageTransform.Microsoft.Alpha(Opacity=%d)", @opacity));
}

/**
 * Adds rounded corners
 */
.rounded(@radius: 2px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

/**
* Set a radius on each corner
*/
.border-radius(@topleft: 0, @topright: 0, @bottomright: 0, @bottomleft: 0) {
	-webkit-border-top-left-radius: @topleft;
	-webkit-border-top-right-radius: @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius: @bottomleft;
	-moz-border-radius-topleft: @topleft;
	-moz-border-radius-topright: @topright;
	-moz-border-radius-bottomright: @bottomright;
	-moz-border-radius-bottomleft: @bottomleft;
	border-top-left-radius: @topleft;
	border-top-right-radius: @topright;
	border-bottom-right-radius: @bottomright;
	border-bottom-left-radius: @bottomleft;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

/**
 * Sets border radius on top-left corner
 */
.border-radius-tl(@topleft: 0, @topright: 0, @bottomright: 0, @bottomleft: 0) {
	-webkit-border-top-left-radius: @topleft;
	-moz-border-radius-topleft: @topleft;
	border-top-left-radius: @topleft;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

/**
 * Sets border radius on top-right corner
 */
.border-radius-tr(@topleft: 0, @topright: 0, @bottomright: 0, @bottomleft: 0) {
	-webkit-border-top-right-radius: @topleft;
	-moz-border-radius-topright: @topleft;
	border-top-right-radius: @topleft;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

/**
 * Sets border radius on bottom-right corner
 */
.border-radius-br(@topleft: 0, @topright: 0, @bottomright: 0, @bottomleft: 0) {
	-webkit-border-bottom-right-radius: @topleft;
	-moz-border-radius-bottomright: @topleft;
	border-bottom-right-radius: @topleft;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

/**
 * Sets border radius on bottom -left corner
 */
.border-radius-bl(@topleft: 0, @topright: 0, @bottomright: 0, @bottomleft: 0) {
	-webkit-border-bottom-left-radius: @topleft;
	-moz-border-radius-bottomleft: @topleft;
	border-bottom-left-radius: @topleft;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

/**
 * Standard zindex levels
 */
@zindex_lvl_chrome: 10000000;
.zindex-chrome0 { z-index: (@zindex_lvl_chrome - 1) }
.zindex-chrome { z-index: (@zindex_lvl_chrome) }
.zindex-chrome2 { z-index: (@zindex_lvl_chrome + 1) }
.zindex-chrome3 { z-index: (@zindex_lvl_chrome + 2) }
.zindex-chrome4 { z-index: (@zindex_lvl_chrome + 3) }
.zindex-chrome5 { z-index: (@zindex_lvl_chrome + 4) }
.zindex-chrome6 { z-index: (@zindex_lvl_chrome + 5) }
.zindex-chrome7 { z-index: (@zindex_lvl_chrome + 6) }
.zindex-chrome8 { z-index: (@zindex_lvl_chrome + 7) }
.zindex-chrome9 { z-index: (@zindex_lvl_chrome + 8) }
.zindex-chrome10 { z-index: (@zindex_lvl_chrome + 9) }