@import "lib.less";

#dp_nav{
    background-color: #363c42;
    background-position: repeat-y;
	background-image: url("../../images/agent/app-nav/nav-back.png") /** sprite-ref: ui-h; sprite-alignment: right; sprite-alignment: repeat; */;
	width: 54px;
}
#dp_nav_sections{
	background: #383B40;
	bottom: 0;
	box-shadow: -2px -5px 4px #222222 inset;
	font-size: 10px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 41px;
	width: 55px;
}

#dp_nav_sections ul{
	position: relative;
	margin: 0;
	padding: 0;
}

#dp_nav_sections li{
    background-color: #363c42;
    background-position: repeat-y;
	background-image: url("../../images/agent/app-nav/nav-pane-back.png") /** sprite-ref: ui-h; sprite-alignment: repeat; */;
	border-bottom: 1px solid #272A2E;
	box-shadow: 0 1px 0 #303439 inset;
	float: left;
	width: 100%;
	cursor: pointer;
	padding: 1px 0 0 1px;
	position: relative;
}
#dp_nav_sections li:first-child{
	margin-top:-1px;
	border-top: 1px solid #272A2E;
	box-shadow: 0 1px 0 #3C3F44 inset;
}
#dp_nav_sections li.dpNavActive{
    background-color: #1f2225;
    background-position: 44px 18px;
    background-repeat: no-repeat;
	background-image: url("../../images/agent/app-nav/pointer.png") /** sprite-ref: ui-v; sprite-alignment: right; sprite-margin-top: 18px; sprite-margin-bottom: 18px; sprite-margin-left: 55px; */;
	padding: 0;
	z-index: 999;
	box-shadow: none;
	border: 1px solid #17191B;
	box-shadow: 0 -1px 0 #17191B;
}
#dp_nav_sections li.dpNavActive:first-child{
	margin-top: 0;
	border-top: 1px solid #17191B;
	box-shadow: 0 -1px 0 #17191B;
}

#dp_nav_sections li .navCounterRed, #DP-chatOnlineCount .navCounterRed{
	.border-radius(7px, 7px, 7px, 7px);
	.gradient(#bf4d4e, #943232);
	box-shadow: 0 1px 5px rgba(0,0,0,0.25), inset 0 1px 0 #d58181;
	border: 1px solid #592d2d;
	display: block;
	right: 5px;
	padding: 0px 2px;
	position: absolute;
	text-align: center;
	top: 0;
	z-index: 99;
	line-height: 13px;
	font-family: @count-badge-font;
	font-size:  9px !important;
}

.count-badge.first {
	top: 0px !important;
	position: absolute;
}
.count-badge{
	top: 3px  !important;
	position: absolute;
	font-family: @count-badge-font;
}

#dp_nav_sections li.dpNavActive .count-badge {
	margin-top: -1px;
}

#dp_nav_sections li span, #DP-chatOnlineCount span{
	color: #fff;
	font-weight: bold;
	text-shadow: 0 1px 0 #000000;
	padding: 1px 2px 0 1px;
}
#dp_nav_sections li a span, #DP-chatOnlineCount a span{
	font-size: 11px;
	font-family: @toolbar-font;
}

#dp_nav_sections li a{
	color: #FFFFFF;
	float: left;
	padding: 7px 0 9px;
	text-align: center;
}
#dp_nav_sections li a span, #dp_nav_sections li.dpNavActive a span {
 	color: #C0C2CA;
    float: left;
    font-weight: normal;
    height: 7px;
    margin: 0 10px;
    padding: 28px 0 0;
    width: 33px;
}

#dp_nav_sections li a span.ticketNavIcon{
	background-repeat: no-repeat;
	background-position: 6px 6px;
    background-image: url(../../images/agent/app-nav/app-tickets.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 6px; sprite-margin-top: 6px; sprite-margin-bottom: 38px; */;
}
#dp_nav_sections li:hover a span.ticketNavIcon {
	background-repeat: no-repeat;
	background-position: 6px 6px;
    background-image: url(../../images/agent/app-nav/app-tickets-on.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 6px; sprite-margin-top: 6px; sprite-margin-bottom: 38px; */;
}
#dp_nav_sections li a span.chatNavIcon{
	background-repeat: no-repeat;
	background-position: 3px 2px;
    background-image: url(../../images/agent/app-nav/app-chat.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 3px; sprite-margin-top: 2px; sprite-margin-bottom: 38px; */;
}
#dp_nav_sections li:hover a span.chatNavIcon {
	background-repeat: no-repeat;
	background-position: 3px 2px;
    background-image: url(../../images/agent/app-nav/app-chat-on.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 3px; sprite-margin-top: 2px; sprite-margin-bottom: 38px; */;
}
#dp_nav_sections li a span.twitterNavIcon{
	background-repeat: no-repeat;
	background-position: 3px 2px;
    background-image: url(../../images/agent/app-nav/app-twitter.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 3px; sprite-margin-top: 2px; sprite-margin-bottom: 38px; */;
}
#dp_nav_sections li:hover a span.twitterNavIcon {
	background-repeat: no-repeat;
	background-position: 3px 2px;
    background-image: url(../../images/agent/app-nav/app-twitter-on.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 3px; sprite-margin-top: 2px; sprite-margin-bottom: 38px; */;
}
#dp_nav_sections li a span.peopleNavIcon{
	background-repeat: no-repeat;
	background-position: 3px 2px;
    background-image: url(../../images/agent/app-nav/app-people.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 3px; sprite-margin-top: 2px; sprite-margin-bottom: 38px; */;
}
#dp_nav_sections li:hover a span.peopleNavIcon {
	background-repeat: no-repeat;
	background-position: 3px 2px;
    background-image: url(../../images/agent/app-nav/app-people-on.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 3px; sprite-margin-top: 2px; sprite-margin-bottom: 38px; */;
}
#dp_nav_sections li a span.feedbackNavIcon{
    margin-left: 4px;
	background-repeat: no-repeat;
	background-position: 15px 0;
    background-image: url(../../images/agent/app-nav/app-feedback.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 15px; sprite-margin-top: 0px; sprite-margin-bottom: 38px; */;
}
#dp_nav_sections li:hover a span.feedbackNavIcon {
	background-repeat: no-repeat;
	background-position: 15px 0;
    background-image: url(../../images/agent/app-nav/app-feedback-on.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 15px; sprite-margin-top: 0px; sprite-margin-bottom: 38px; */;
}
#dp_nav_sections li a span.publishNavIcon{
	background-repeat: no-repeat;
	background-position: 6px 0;
    background-image: url(../../images/agent/app-nav/app-publish.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 6px; sprite-margin-top: 0px; sprite-margin-bottom: 38px; */;
}
#dp_nav_sections li:hover a span.publishNavIcon {
	background-repeat: no-repeat;
	background-position: 6px 0;
    background-image: url(../../images/agent/app-nav/app-publish-on.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 6px; sprite-margin-top: 0px; sprite-margin-bottom: 38px; */;
}

#dp_nav_sections li a span.tasksNavIcon{
	background-repeat: no-repeat;
	background-position: 5px 0;
    background-image: url(../../images/agent/app-nav/app-tasks.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 5px; sprite-margin-top: 0px; sprite-margin-bottom: 38px; */;
}
#dp_nav_sections li:hover a span.tasksNavIcon {
	background-repeat: no-repeat;
	background-position: 5px 0;
    background-image: url(../../images/agent/app-nav/app-tasks-on.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 5px; sprite-margin-top: 0px; sprite-margin-bottom: 38px; */;
}

#dp_nav_sections li a span.dealsNavIcon{
	background-repeat: no-repeat;
	background-position: 6px 0;
    background-image: url(../../images/agent/app-nav/app-deals.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 6px; sprite-margin-top: 0px; sprite-margin-bottom: 38px; */;
}
#dp_nav_sections li:hover a span.dealsNavIcon {
	background-repeat: no-repeat;
	background-position: 6px 0;
    background-image: url(../../images/agent/app-nav/app-deals-on.png) /** sprite-ref: ui-v; sprite-alignment: left; sprite-margin-left: 6px; sprite-margin-top: 0px; sprite-margin-bottom: 38px; */;
}
