@import "lib.less";

/*---- MACRO OVERLAY -----*/
#DP-OverlayMacro, #DP-overlayTicketTable{
	background-color: transparent;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 30001;
}

.overlayWrapper, .overlayWrapperTicketTable{
	background: #fafafa;
	border-radius: 	10px;
	border: 3px solid #0b374d;
	position: absolute;
	width: 900px;
	margin: 80px 0 0 200px;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.9);
	z-index: 30001;
}

.macroHead{
	.gradient(#edeeef, #e0e1e3);
	position: relative;
	padding: 5px 0;
	.border-radius(8px, 8px, 0, 0);
	border-bottom: 1px solid #a1aab3;
}

.macroHead h1, .ticketTableTitle h1{
	color: #595959;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
	text-shadow: 0 1px 0 #fff;
}

.macroAction{
	.gradient(#edeff0, #e9ebec);
	border-bottom: 1px solid #C2C7CC;
	box-shadow: 0 1px 5px #c7c7c7;
	clear: both;
	height: 18px;
	padding: 10px;
	position: relative;
	z-index:1;
}

#macroApplyBtn{
	float: left;
	margin-left: 20px;
	z-index:1;
}
#macroApplyBtn a{
	color: #575E66;
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 10px;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
}
.overlayBtn{
	.gradient(#fefefe, #fefefe);
	box-shadow: 0 1px 0 #FFFFFF, 0 0 0 1px #FFFFFF inset;
	border: 1px solid #898989;
	.border-radius(3px, 3px, 3px, 3px);
	box-shadow: 0 1px 0 #fff;
	padding: 2px 5px 1px;
	position: relative;
	cursor: pointer;
}
.overlayBtn:hover{
	background: #f2f2f2;
}

.macroOption{
	float: left;
	padding: 1px;

}
.macroOption select{
	cursor: pointer;
}

.macroContentWrapper{
	clear: both;
    margin-top: 20px;
    padding: 0 55px;
}

.macroContent{
 	float: left;
	    padding: 0;
}
.macroContent li{
 	display: block;
    float: left;
    padding: 3px 0;
    text-align: right;
	width: 100%;
}
.macroContent li a, .macroContent li label, .macroContent li select{
	font-weight: bold;
	font-size: 11px;
	color: #575e66;
	text-shadow: 0 1px 0 #fff;
	position: relative;
}
.macroContent li a{
	cursor: pointer;
	padding: 5px 5px 3px;
	color: #575e66;
}
.safari .macroContent li a, .windows .macroContent li a{padding: 3px 5px 2px;}
.macroContent li label{
	float: left;
    text-align: right;
    width: 120px;
    word-wrap: break-word;
}
.macroContent li select{
	font-weight: normal;
	cursor: pointer;
	padding: 2px 20px 2px 0 !important;
}
.windows .macroContent li select{
	padding: 2px 1px 2px 0 !important;
}
.safari .macroContent li select{
	width: 140px;
}
.macroContent li.selection{}
.macroContent li.macroBttn{
	margin: 5px 0 0;
}
.macroContent li.massReply{}
.macroContent li.massReply label{
	float: left;
	text-align: left;
	width: auto;
	padding: 1px 0 0;
}
.macroContent li.massReply input{
	float: left;
    margin: 0 5px 0 40px;
}
.macroContent li div.inputTextReply{
	float: left;
	margin: 0 0 10px 35px;
	border-width: 1px;
	border-style: solid;
	border-color: #c8cacc;
	.border-radius(2px, 2px, 2px, 2px);
	position: relative;
	z-index: 1;
}
.ie .macroContent li div.inputTextReply{
	border: 1px solid #c8cacc;
	background: #ccc;
	position: relative;

}
.macroContent li.attacment{
	float: left;
	margin: 0 0 20px 152px;
	text-align: left;
}
span.addAttachment{}
#inputReply{
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) inset;
	border: none;
	background: #fafafa;
	height: 110px;
	padding: 5px;
	font-size: 12px;
	color: #737373;
	outline: none;
	width: 400px;
	margin: 0;
	position: relative;
	z-index: 2;
}

.macroContentSub{
  	clear: left;
	float: left;
	margin: -19px 0 10px 150px;
	text-align: left;
}
.macroContentSub li{
	display: inline;
	float: left;
	padding: 0 5px 5px !important;
	text-align: left;
	width: auto;
}

.macroViewChanges, .ticketTableFoot{
	.gradient(#d5d9dd, #babfc4);
	box-shadow: inset 0 1px 0 #e4e7e9;
	border-top: 1px solid #a1aab3;
	.border-radius(0, 0, 8px, 8px);
	float: left;
	height: 30px;
	padding: 15px 0 0;
	text-align: center;
	width: 900px;
	position: relative;
	z-index: 1;
}
.macroViewChanges a, .ticketTableFoot li#more a{
	.gradient(#598eb6, #3c6094);
	border: 1px solid #3f5973;
	box-shadow: inset 0 1px 0 #75b3da, inset 0 0 1px #4169a0, 0 1px 0 #cfd3d7;
	.border-radius(4px, 4px, 4px, 4px);
	color: #fafafa;
	text-shadow: 0 1px 0 #000;
    font-size: 11px;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px 10px 4px;
    text-align: center;
	cursor:pointer;
	position: relative;
}
.macroViewChanges a:hover, .ticketTableFoot li#more a:hover{
	.gradient(#6099c4, #436ba3);
	position: relative;
}
.closeOverlay{
	background-image: url("../../images/agent/close.png") /** sprite-ref: ui-v */;
	height: 18px;
	width: 18px;
	position: absolute;
	right: 2px;
	top: 2px;
	cursor: pointer;
}
/*---- END MACRO OVERLAY -----*/
/*----- TICKET TABLE -----*/
.overlayWrapperTicketTable{
	left: 20px;
	margin: 0;
	top: 70px;
	width: 1260px;
}
.ticketTableTitle{
	height: 40px;
}
.ticketTableTitle h1{}

.ticketTableWrapper{
	float: left;
	padding-bottom: 30px;
}

.ticketTableheading{
	.gradient(#e6e9ec, #d8dbdf);
	height: 31px;
	border-bottom: 1px solid #d5d5d5;
	border-top: 1px solid #e3e6e9;
	position: relative;
}

.ticketTableheading ul#ticketTableHead{}
.ticketTableheading ul#ticketTableHead li.tableCheckAll{
	float: left;
	padding: 9px 0 8px 5px;
}
.ticketTableheading ul#ticketTableHead li{
	background: url("../../images/agent/divOverlay.jpg") no-repeat bottom right;
	display: inline;
	float: left;
	padding: 10px 0 7px 5px;
}
.safari .ticketTableheading ul#ticketTableHead li, .chrome .ticketTableheading ul#ticketTableHead li,
.ie .ticketTableheading ul#ticketTableHead li{
padding: 9px 0 7px 5px;
}
.ie .ticketTableheading ul#ticketTableHead li{
	padding: 9px 0 6px 5px;
}

.ticketTableheading ul#ticketTableHead li a{
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	color: #595959;
	float: left;
	padding: 1px 3px;
}

.ticketTableheading ul#ticketTableHead li span.pointDown{
	padding: 5px;
	float: right;
	padding: 5px 10px 5px 0;
}
.ticketTableheading ul#ticketTableHead li.tableCheckAll{
	float: left;
	background: none;
	padding: 9px 0 0 7px;
}
.ticketTableheading ul#ticketTableHead li.col1, .tableContent ul#contentTicketTable li ul.subTable li.col1{
	padding-right: 5px;
	width: 515px;
}
.ticketTableheading ul#ticketTableHead li.col1 a{
	padding: 1px 0 1px 20px;
}
.ticketTableheading ul#ticketTableHead li.col2, .tableContent ul#contentTicketTable li ul.subTable li.col2{
	padding-right: 5px;
	width: 295px;
}
.ticketTableheading ul#ticketTableHead li.col3, .tableContent ul#contentTicketTable li ul.subTable li.col3{
	width: 145px;
	padding-right: 5px;
}
.ticketTableheading ul#ticketTableHead li.col4, .tableContent ul#contentTicketTable li ul.subTable li.col4{
	width: 245px;
	background: none;
}

.tableContent{
	float: left;
}

.tableContent ul#contentTicketTable{}

.tableContent ul#contentTicketTable li{
	display: inline;
	float: left;
	padding: 5px 0 5px 2px;
}
.tableContent ul#contentTicketTable li.grey{
	background: #f5f5f5;
	width: 1255px;
}
.tableContent ul#contentTicketTable li.white{
	background: #ffffff;
	width: 1255px;
}
.tableContent ul#contentTicketTable li a{
	font-size: 11px;
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
	color: #666666;
}
.tableContent ul#contentTicketTable li ul.subTable{
	width: 100%;
}
.tableContent ul#contentTicketTable li ul.subTable li{
	padding: 3px 0px 2px 5px;
}
.tableContent ul#contentTicketTable li ul.subTable li span.eye{
	padding: 0 10px;
	text-indent: -1999px;
}
.tableContent ul#contentTicketTable li ul.subTable li a{
	cursor: pointer;
}
.tableContent ul#contentTicketTable li ul.subTable li.tableCheckAll{}

.ticketTableFoot{
	float: left;
	height: 35px;
	padding: 0;
	width: 100%;
}

.ticketTableFoot ul{}

.ticketTableFoot li{
	display: inline;
	float: left;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
}

.ticketTableFoot li a{
	font-size: 11px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
}
.ticketTableFoot li#footCheckBox{
    margin: 10px 6px;
}
.ticketTableFoot li#performAction{
	margin: 11px 20px;
}
.ticketTableFoot li#more{
	float: left;
    margin: 12px 0;
    width: 70%;
}
.ticketTableFoot li#more a{}
.ticketTableFoot li#showingTablelList{
	float: right;
    margin: 12px 10px 0 0;
}

/*----- END TICKET TABLE -----*/
