@import "lib.less";

.popover-inner {
	position: absolute;
	top: 38px;
	right: 0;
	bottom: 0;
	left: 0;
}

.overlayCreateTicketWrapper{
	background: #fafafa;
	.border-radius(4px, 4px, 4px, 4px);
	border: 1px solid #000000;
	position: absolute;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.OverlayCreateTicketHeader{
	background: -moz-linear-gradient(top, #3b3b3b, #0b0b0b);
	background: -webkit-gradient(linear, center top, center bottom, from(#3b3b3b), to(#0b0b0b));
	box-shadow: 0 1px 0 #515151 inset;
	.border-radius(3px, 3px, 0, 0);
 	padding: 0;
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 38px;
}

.OverlayCreateTicketHeader .createTickerTitle{
	float: left !important;
	margin: 0 0 0 190px !important;
	padding: 0;
	text-align: center;
}
.OverlayCreateTicketHeader .createTickerTitle h1{
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
	text-shadow: 0 1px 0 #000;
}

.moveToTabBtn a, .closeCreateTicker a, .finishCreateTicket a{
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	cursor: pointer;
}
.moveToTabBtn{
	float: left;
	margin: 10px 0 0 6px;
}


.moveToTabBtn a{
	background: -moz-linear-gradient(top, #5a90b8, #3c6094);
	background: -webkit-gradient(linear, center top, center bottom, from(#5a90b8), to(#3c6094));
	box-shadow: 0 1px 0 #75b3da inset, 0 0 0 1px #4169a0 inset, 0 1px 0 #323232;
	border: 1px solid #070a0d;
	padding: 4px 5px 3px;
	.border-radius(5px, 5px, 5px, 5px);
	cursor: pointer;
	position: relative;
}

.moveToTabBtn a:hover{
	background: -moz-linear-gradient(top, #6099c4, #436ba3);
	background: -webkit-gradient(linear, center top, center bottom, from(#6099c4), to(#436ba3));
}

.closeCreateTicker{
	float: right;
	margin: 10px 10px 0 0 ;
	width: 41px;
}
.closeCreateTicker a{
	background: -moz-linear-gradient(top, #b04242, #842b2b);
	background: -webkit-gradient(linear, center top, center bottom, from(#b04242), to(#842b2b));
	box-shadow: 0 1px 0 #d05454 inset, 0 0 0 1px #922f2f inset, 0 1px 0 #323232;
	border: 1px solid #070a0d;
	padding: 4px 5px 3px;
	.border-radius(5px, 5px, 5px, 5px);
	position: relative;
}
.closeCreateTicker a:hover{
	background: -moz-linear-gradient(top, #bd4646, #913030);
	background: -webkit-gradient(linear, center top, center bottom, from(#bd4646), to(#913030));
}

.overlayCreateTicketContent{
}

.overlayTicketRow{

}

.rowNumber{
	background: #d5d5d5;
	.border-radius(20px, 20px, 20px, 20px);
	color: #FFFFFF;
	left: 5px;
	padding: 4px 7px 2px;
	position: absolute;
	top: 5px;
}
.greenCircle{background: #6fa653;}
.orangeCircle{background: #d9912b;}
.redCircle{background: #bf4d4d;}
.blueCircle{background: #588ebb;}
.purpleCircle{background: #af5ec9;}

span.createTicketLabel{
	font-size: 11px;
	font-weight: bold;
	color: #575e66;
}

.overlayTicketRow .content, .createTicketAddUser, .assignOptWrapper, .ticketSubject, .ticketMessage, .msgAction{
	margin: 5px 0 5px 30px;
}

.createTicketAddUser span{
	float: left;
	margin: 0 0 5px;
	width: 100%;
}

.createTicketAddUser #addUsers, #writeSubject, #writeMsg{
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) inset;
	border: 1px solid #bdc2c7;
	background: #fafafa;
	.border-radius(3px, 3px, 3px, 3px);
	padding: 2px 4px;
	font-size: 13px;
	color: #737373;
	outline: none;
	width: 300px;
	float: left;
	font-size: 11px;
	position: relative;
}
.createTicketAddUser .addUserButton{
	float: left;
	margin-left: 10px;
	margin-top: 4px;
}
.createTicketAddUser .addUserButton a{
	padding: 4px 10px 2px;
	cursor: pointer;
}

.assignOptWrapper{}

.assignOptWrapper ul{
	margin: 0;
	padding: 0;
}
.assignOptWrapper li{
	display: inline;
	float: left;
	padding: 0 10px 0 0;
	width: 110px;
}
.assignOptWrapper li span, .ticketSubject span, .ticketMessage span{
	float: left;
	margin-bottom: 3px;
    width: 100%;
}

.assignOptWrapper li#AOPT-status{
	margin-right: 10px;
}

.assignOptWrapper li#AOPT-agent{
	 width: 35px;
}
.assignOptWrapper li#AOPT-agent .addUserButton{
	float: left;
	margin: 3px 0;
}

.ticketSubject{
	float: left;
}

.ticketSubject span{}
.subjectInput{
	float: left;
}

.ticketMsgOption{
	float: left;
	margin-bottom: 6px;
	width: 100%;
}

.ticketMsgOption label{
	font-size: 11px;
}

#writeMsg{
	height: 80px;
}

#overlayCreateTicketRow5{
	padding: 0;
	width: 100%;
}
.msgActionWrapper{}

.msgActNavTab{
	background: -moz-linear-gradient(top, #e6e9eb, #d9dee2);
	background: -webkit-gradient(linear, center top, center bottom, from(#e6e9eb), to(#d9dee2));
	border-bottom: 1px solid #c2c6cc;
	height: 25px;
    width: 100%;
}
.msgActNavTab ul{}
.msgActNavTab li{
	display: inline;
	float: left;
	padding: 0;
	border-right: 1px solid #c2c6cc;
	height: 25px;
}
.msgActNavTab li:first-child{
	 padding: 0 0 0 50px;
}
.msgActNavTab li:first-child a{
	 padding: 7px 20px 7px 20px;
}
.msgActNavTab li:last-child{
	border-right: 1px solid transparent;
}

.msgActNavTab li a{
	background: url("../../images/agent/ico16.png") no-repeat;
	color: #697b8c;
	font-size: 11px;
	font-weight: bold;
	float: left;
	padding: 7px 20px 7px 15px;
	cursor: pointer;
}
.safari.windows .msgActNavTab li#properties a, .firefox.windows .msgActNavTab li#properties a,
.ie.windows .msgActNavTab li#properties a{
	padding: 7px 20px 7px 25px !important;
}
.msgActNavTab li#properties a{
	background-position: 90px -319px;
}
.msgActNavTab li#cc a{
	background-position: 37px -319px;
}
.msgActNavTab li#attachment a{
	background-position: 107px -319px;
}

.msgActNavTab li#properties a.msgTabActive {
	background-position: 90px -294px;
	background-color: #fafbfc;
}
.msgActNavTab li#cc a.msgTabActive {
	background-position: 37px -293px;
	background-color: #fafbfc;
}
.msgActNavTab li#attachment a.msgTabActive {
	background-position: 103px -293px;
	background-color: #fafbfc;
}
.msgActNavTab li:hover a{
	background: #f2f2f2 url("../../images/agent/ico16.png") no-repeat 37px -319px;

}

.msgAction{
	clear: both;
}
.msgAction ul{}
.msgAction li{
	display: block;
	margin: 10px 0;
}
.msgAction li label{
	float: left;
	font-size: 11px;
	font-weight: normal;
	margin-right: 10px;
	padding-top: 2px;
	text-align: right;
	width: 100px;
	color: #697b8c;
}
.msgAction select{
	 width: 150px;
}

.finishCreateTicket{
	padding: 5px 10px;
}
.finishCreateTicket a{
	background: -moz-linear-gradient(top, #e6eaee, #cfd7df);
	background: -webkit-gradient(linear, center top, center bottom, from(#e6eaee), to(#cfd7df));
	box-shadow: 0 1px 0 #FFF inset, 0 0 0 1px #dbe1e7 inset;
	border: 1px solid #a3b1bf;
	padding: 4px 15px 3px;
	.border-radius(3px, 3px, 3px, 3px);
	color: #697b8c;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
	font-weight: bold;
	position:relative;
}
.finishCreateTicket a:hover{
	background: -moz-linear-gradient(top, #e6eaee, #dae2eb);
	background: -webkit-gradient(linear, center top, center bottom, from(#e6eaee), to(#dae2eb));
}








.page-new-content .section {
	border-top: 1px solid #E4E4E4;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	clear: both;
}

.page-new-content .section.error {
	background-color: #FFEEF0;
}

.page-new-content .section .error-message {
	color: #981413;
	display: none;
}

.page-new-content .section .error-message-on {
	display: block;
}

.page-new-content .section.error .step .num {
	background-color: #F2E0DA;
	color: #FE2923;
	border: 1px solid #FE2923;
}

.page-new-content .section.first {
	border-top: none;
	margin-top: none;
}

.page-new-content .section .step {
	float: left;
	width: 24px;

	margin: 0 10px 0 5px;
}


.page-new-content .section .step .num {
	border: 2px solid #E4E4E4;
	.border-radius(20px, 20px, 20px, 20px);

	color: #B9BABA;

	font-size: 13px;
	font-weight: bold;

	line-height: 18px;

	display: block;
	width: 18px;
	height: 18px;
	text-align: center;
}

.page-new-content .section.done-x .step .num {
	background-color: #79B44D;
	color: #000;
	border-color: #4F7831;
}

.page-new-content .section .step .check {
	display: block;
	background-image: url("../../images/agnet/icons/check.png") /** sprite-ref: ui-v */;
	width: 20px;
	height: 15px;
	text-indent: -100px;
	overflow: hidden;
	margin-top: 5px;
	display: none;
}

.page-new-content .section.done .step .check {
	display: block;
}

.page-new-content .section .content {
	margin-left: 40px;
}

.page-new-content h4.light {
    font-weight: normal;
}

.page-new-content .section .col {
    float: left;
    min-width: 50px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.page-new-content .section .menu-trigger {
	color: @body-text-color;
	background-color: #FEFEFE;
	.rounded(3px);
	padding: 0 3px 0 3px;
	border: 1px solid #DEDEDE;
	font-size: 11px;
	box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.1);
}

.page-new-content .section .content h4 {
	font-size: 13px;
}

.page-new-content .user-section .more {
    display: none;
}

.page-new-content .user-section.more-on .more {
    display: block;
}

.page-new-content .user-section br {
    display:none;
}
.page-new-content .user-section .more-fields {
    clear: both;
    float:left;
    margin: 4px 0 10px 110px;
}

.page-new-content .user-section .user-search {
	width: 400px;
}

.page-new-content .user-section .switch-user {
	float: right;
	margin: -4px 5px 0 0;
}

.page-new-content dl dt {
	clear: left;
	float: left;
	width: 100px;

	margin-bottom: 3px;
}

.page-new-content dl dd {
	margin-left: 110px;
	margin-bottom: 3px;
}

.page-new-content dl dd.prop select {
	min-width: 200px;
	font-size: 11px;
	line-height: 100%;
}

.page-new-content .message-section .ticket-message {
	width: 80%;
	height: 100px;
}

.page-new-content .message-section .type-wrap {
    margin: 3px 0 3px 0;
    width: 80%;
}

.page-new-content .other-section {
	padding-right: 30px !important;
}

.page-new-content .other-section > div.content {
	width: 80%;
}

.page-new-content .other-section nav {
    height: 22px;
    border: 1px solid #ACB6BF;
    .border-radius(4px, 4px, 4px, 4px);

    .gradient(#F0F1F3, #DADBDE);
	position: relative;
	overflow: hidden;
}

.page-new-content .other-section nav.on {
    .border-radius(4px, 4px, 0px, 0px);
}

.page-new-content .other-section {
    padding-right: 12px;
}

.page-new-content .other-section nav li {
    border-right: 1px solid #CBD4DF;
    padding: 0 17px 0 8px;
    height: 22px;
    float: left;
    cursor: pointer;
    background: #EBEEF1 url("../../images/agent/icons/bullet_arrow_down.png") no-repeat 100% 50%;
    font-weight: bold;

	overflow: hidden;
	line-height: 22px;

	display: block;
	float: left;

	font-size: 10px;
	font-weight: bold;
	color: #738699;
	padding: 0px 17px 0 8px;

	font-family: @heading-font;
	text-shadow: 0 1px 0 #FFFFFF;

	text-transform:uppercase;
	cursor: pointer;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.page-new-content .other-section nav.on li.on {
    color: #404040;
    background: #C7CFD5 url("../../images/agent/icons/bullet_arrow_up.png") no-repeat 100% 50%;
}

.page-new-content .other-section .tab-container .content-wrapper {
    background-color: #fff;
    border: 1px solid #CBD4DF;
    border-top: none;
    padding: 6px;
	.border-radius(0px, 0px, 4px, 4px);
}

.page-new-content .foot {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}


.page-new-content input.fill {
	width: 80%;
}
