@static_path: '../..';
@img_path: "@{static_path}/images";

//----------------------------------------------------------------------------------------------------------------------
// HEADER
//----------------------------------------------------------------------------------------------------------------------

@agent_header_bg: #1A77AF;

@agent_header_height: 49px;
@agent_header_border_color: #273036;

@agent_header_userprofile_bg: #1a6299;
@agent_header_userprofile_border_color: #2d85c4;
@agent_header_userprofile_text_color: #bcd6e8;

@agent_header_userchat_bg: #00a187;