.dpw--item-id {// Take this out
  display: inline-block;
  padding: 2px 4px;
  float: right;
  height: 16px;
  background: #efefef;
  border-radius: 2px;
  line-height: 1em;
  font-size: 0.8em;
  color: #7f7f7f;
  text-align: center;
}
