<div class="form-group">
	<div class="col-lg-4">
		<h3>Base URL</h3>
	</div>
	<div class="col-lg-8">
		<input type="text" class="form-control" ng-model="setting_values.jira_url" />
		<span class="help-block">
			<span ng-class="errors.jira_url && 'text-danger'">URL to your JIRA installation.</span>
		</span>
	</div>
</div>

<div class="form-group">
	<div class="col-lg-4">
		<h3>Your JIRA Username</h3>
	</div>
	<div class="col-lg-8">
		<input type="text" class="form-control" ng-model="setting_values.jira_username" />
		<span class="help-block">
			<span ng-class="errors.jira_username && 'text-danger'">Enter your JIRA username.</span>
		</span>
	</div>
</div>

<div class="form-group">
	<div class="col-lg-4">
		<h3>Your JIRA Password</h3>
	</div>
	<div class="col-lg-8">
		<input type="password" class="form-control" ng-model="setting_values.jira_password" />
		<span class="help-block">
			<span ng-class="errors.jira_password && 'text-danger'">Enter your JIRA password.</span>
		</span>
	</div>
</div>

<div class="form-group">
	<div class="col-lg-4">
		<h3>Default Project</h3>
	</div>
	<div class="col-lg-8">
		<input type="text" class="form-control" ng-model="setting_values.jira_default_project" />
		<span class="help-block">
			<span ng-class="errors.jira_default_project && 'text-danger'">
				Enter the key for the default project to use. The key is the unique uppercase string that is used to identify a project.
			</span>
		</span>
	</div>
</div>

<div class="form-group">
	<div class="col-lg-4">
		<h3>Default Tags</h3>
	</div>
	<div class="col-lg-8">
		<input type="text" class="form-control" ng-model="setting_values.jira_default_tags" />
		<span class="help-block">
			<span ng-class="errors.jira_default_tags && 'text-danger'">
				Enter tags to add by default when creating new JIRA tickets (optional).
			</span>
		</span>
	</div>
</div>

<div class="form-group">
	<div class="col-lg-4">
		<h3>Default Priority</h3>
	</div>
	<div class="col-lg-8">
		<input type="text" class="form-control" ng-model="setting_values.jira_default_priority" />
		<span class="help-block">
			<span ng-class="errors.jira_default_priority && 'text-danger'">
				Enter priority to add by default when creating new JIRA tickets (optional).
			</span>
		</span>
	</div>
</div>