<form name="jira_form" ng-submit="jira_form.$valid && saveSettings()" novalidate>
<article class="form-horizontal dp-form">
	<div class="panel panel-fill indent">
		<div class="panel-body" ng-if="no_curl_support">
			<h3>Server Requirements</h3>
			<p>
				This app requires PHP to be compiled with cURL support.
			</p>
			<p>
				According to our tests, your server does not have the cURL support.
			</p>
			<p>
				<a href="http://php.net/manual/curl.installation.php" target="_blank" class="btn btn-default">Refer to the PHP manual for more information</a>
			</p>
		</div>
		<div class="panel-body" ng-if="!no_curl_support">
            <div class="form-group">
                <div class="col-lg-12" style="font-size: 130%">
                    <i class="fa fa-question-circle"></i> Please refer to our knowledgebase for information about the JIRA App and how to install it.
                    <br/>
                    <a href="https://support.deskpro.com/kb/articles/365" target="_blank" class="btn btn-default btn-lg" style="margin-top: 10px;">Read Install Instructions</a>
                </div>
            </div>

			<!--#include file="AdminInterface/Install/settings-list.html" -->

            <div class="form-group">
                <div class="col-lg-4">
                    <h3>Config</h3>
                </div>
                <div class="col-lg-8">

                    <div ng-show="loading_meta">
                        <i class="fa fa-refresh fa-spin"></i> API check in progress...
                    </div>
                    <div class="text-danger" ng-show="meta_errors.url">
                        Host is unreachable
                    </div>
                    <div class="text-danger" ng-show="meta_errors.api">
                        Error while connecting to your Application Link, please check your JIRA configuration.
                    </div>
                    <div class="text-danger" ng-show="meta_errors.message">
                        {{ meta_errors.message }}
                    </div>

                    <div ng-show="meta_errors.token">
                        <p>
                            You need to connect JIRA to DeskPRO. Click the button below. You will be asked to log-in.
                        </p>
                        <p>
                            <strong>Note:</strong> The user you log-in with here is very important. The user must have permissions
                            to view and perform actions on the projects you want to enable in DeskPRO.
                        </p>
                        <p>
                            It is recommended that you create a special DeskPRO user in JIRA. You should NOT use your own JIRA user
                            or any other user that a real person will use (this is so things like triggers work properly).
                        </p>
                        <br/>
                        <button class="btn btn-primary" type="button" ng-click="getAccessToken()">
                            Get Access Token
                        </button>
                    </div>


                    <div class="row" ng-if="meta && !loading_meta">
                        <div class="col-lg-4">
                            Default project
                        </div>
                        <div class="col-lg-8">
                            <select ui-select2 style="width: 100%;" ng-model="meta_defaults.default_project">
                                <option ng-repeat="p in meta.projects" value="{{ p.id }}">{{ p.name }}</option>
                            </select>
                        </div>
                        <br /><br />

                        <div class="col-lg-4">
                            Default issue type
                        </div>
                        <div class="col-lg-8">
                            <select ui-select2 style="width: 100%;" ng-model="meta_defaults.default_issuetype">
                                <option ng-repeat="i in meta.issuetypes" value="{{ i.id }}">{{ i.name }}</option>
                            </select>
                        </div>
                        <br /><br />

                        <div class="col-lg-12">
                            <table class="table">
                                <tr>
                                    <th>
                                        Fields
                                    </th>
                                    <th class="text-center" style="width: 170px;">
                                        Create &amp; Detail View
                                        <i class="fa fa-question-circle qmark-icon" tooltip='Fields enabled on the detail view will be the fields displayed on the "Create Issue" window and will be visible when you click "View Details" on a JIRA issue.' tooltip-placement="left"></i>
                                    </th>
                                    <th class="text-center" style="width: 170px;">
                                        List View
                                        <i class="fa fa-question-circle qmark-icon" tooltip='Fields enabled on the list view will be visible in the main list of JIRA issues. This list appears in the sidebar to the right of each ticket.' tooltip-placement="left"></i>
                                    </th>
                                </tr>
                                <tr ng-repeat="f in meta.fields">
                                    <td>
                                        {{ f.name }}
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox"
                                               value="{{ f.id }}"
                                               ng-checked="meta_defaults.default_fields_summary.indexOf(f.id) > -1"
                                               ng-click="toggleField(f, 1)"
                                                />
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox"
                                               value="{{ f.id }}"
                                               ng-checked="meta_defaults.default_fields_list.indexOf(f.id) > -1"
                                               ng-click="toggleField(f)"
                                                />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</article>
<footer class="dp-panelblock-footer">
	<div class="dp-content">
		<div class="dp-delete-control">
			<button class="btn btn-danger" type="button" ng-click="Ctrl.startDelete();">Uninstall App</button>
		</div>

		<div class="dp-btn-controls">
			<div dp-hide-spinning="saving_settings">
				<button class="btn btn-primary" dp-submit-form>Save Settings</button>
			</div>
			<div dp-show-spinning="saving_settings">
				<i class="spinner-flat"></i>
			</div>
		</div>
	</div>
</footer>
</form>
