<!--#include file="testing/integration/admin/common/top.html" -->

<script type="text/javascript">
	function TEST_PAGE_SETUP() {
		require(['Admin/Main/Directive/DpTristateCheck'], function (Admin_Main_Directive_DpTristateCheck) {
			angular.module('testApp', ['ngAnimate'])
				.directive('dpTristateCheck', Admin_Main_Directive_DpTristateCheck)
				.controller('TestController', ['$scope', function($scope) {
					$scope.model2 = true;
				}]);

			TEST_PAGE_START();
		});
	}
</script>

<div ng-app="testApp">
	<div ng-controller="TestController">
		<input type="checkbox" dp-tristate-check="model1, model2, model3" /> Main<br/>
		&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox" ng-model="model1" /> Sub-Checkbox 1<br/>
		&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox" ng-model="model2" /> Sub-Checkbox 2<br/>
		&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox" ng-model="model3" /> Sub-Checkbox 3<br/>
	</div>
</div>

<!--#include file="testing/integration/admin/common/bottom.html" -->