
/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a:focus, button:focus, input:focus, textarea:focus, submit:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

a, button, input, textarea, submit {
 	outline: 0 none;
	padding: 0;
    margin: 0;
}

body {
	font-family: Verdana, 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 80%;
}

input.placeholder-visible {
	color: #999 !important;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif; }

a {
	color: #4769B3;
}

a:hover {
	color: #376CDE;
	text-decoration: none;
}

.left { float: left; }
.right { float: right; }
.clear {
	clear: both;
	height: 1px;
	width: 1px;
	visibility: hidden;
	overflow: hidden;
}

img {
	border: none;
}

.clear {
	clear: both;
	height: 1px;
	width: 1px;
	visibility: hidden;
	overflow: hidden;
}

input[type="text"], input[type="password"], textarea {
	background-color: #f6f8fb;
	color: #000;
	padding: 2px;
	border: 1px solid #97a6b6;
	font-size: 11px;
	text-shadow: 1px 1px 1px #ffffff;
	filter: dropshadow(color=#ffffff, offx=1, offy=1);
	font-family: Verdana, 'Lucida Grande', Helvetica, Arial, sans-serif;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	background-color: #fff;
	border: 1px solid #3977cb;
	-webkit-box-shadow: 0px 0px 5px #8db6e6;
	-moz-box-shadow: 0px 0px 5px #8db6e6;
	box-shadow: 0px 0px 5px #8db6e6;
}

input[type="checkbox"].small {
	width: 10px;
}

input.input-title {
	width: 98%;
	font-size: 130%;
}

input.flat {
	background-color: #fff;
	border: 1px solid #97a6b6;
	-moz-border-radius: 0;
	border-radius: 0;
	filter: none;
	text-shadow: none;
	font-family: 'Monaco', 'Courier New', monospace;
}

.dev-feature-inactive {
	opacity: 0.6 !important;
}

.nosel {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.menu-trigger { cursor: pointer; }

.term span.menu-trigger {
    border-bottom: 1px dotted #555;
}

.term span.menu-trigger {
    background-color: #E3E5E8;
    border: 1px solid #fff;
    padding: 1px 3px 1px 3px;

    text-shadow: 1px 0px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=0);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.prop-val.trigger {
	cursor: pointer;
	border-bottom: 1px dotted #555;
}

#tiptip_holder { z-index: 1000000; }

.tags-field {
	background: transparent url(../../images/icons/tag_blue.png) no-repeat 5px 50%;
	background-color: transparent;
	padding-left: 25px;
}

.tags-field li {
	font-size: 10px;
}

.tags-field:hover {
	background-color: #fff;
}

.tags-field input[type="text"] {
	background-color: transparent !important;
	border: none;
	margin: 4px;
}

.tags-field input[type="text"]:hover, .tags-field input[type="text"]:focus {
	border: none !important;
	background-color: #fff !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}



.tag-cloud li {
	display: inline;
}

.tag-cloud li.tag-size1  { font-size:1.0em; }
.tag-cloud li.tag-size2  { font-size:1.3em; }
.tag-cloud li.tag-size3  { font-size:1.5em; }
.tag-cloud li.tag-size4  { font-size:1.7em; }
.tag-cloud li.tag-size5  { font-size:1.9em; }
.tag-cloud li.tag-size6  { font-size:2.1em; }
.tag-cloud li.tag-size7  { font-size:2.3em; }
.tag-cloud li.tag-size8  { font-size:2.5em; }
.tag-cloud li.tag-size9  { font-size:2.7em; }
.tag-cloud li.tag-size10 { font-size:2.9em; }

/**********************************************************
 Icons
***********************************************************/

.icon { background-repeat: no-repeat; background-position: center left; padding-left: 20px; }
.icon.tickets { background-image: url(../../images/icons/mail.png); }
.icon.tweets { background-image: url(../../images/icons/social_media_mini_icons/twitter.png); }
.icon.facebook { background-image: url(../../images/icons/social_media_mini_icons/facebook.png); }
.icon.linkedin { background-image: url(../../images/icons/social_media_mini_icons/linkedin.png); }
.icon.chat { background-image: url(../../images/icons/balloons.png); }
.icon.deals { background-image: url(../../images/icons/clipboard_text.png); }
.icon.knowledgebase { background-image: url(../../images/icons/document__pencil.png); }
.icon.troubleshooters { background-image: url(../../images/icons/lightning.png); }
.icon.ideas { background-image: url(../../images/icons/bulb.png); }
.icon.files { background-image: url(../../images/icons/folder_open_document.png); }
.icon.people { background-image: url(../../images/icons/vcards.png); }
.icon.organizations { background-image: url(../../images/icons/briefcase.png); }

.icon-script { background-image: url(../../images/icons/script.png); }
.icon-script-gear { background-image: url(../../images/icons/script_gear.png); }
.icon-keyboard { background-image: url(../../images/icons/keyboard.png); }
.icon-mouse { background-image: url(../../images/icons/mouse.png); }
.icon-key { background-image: url(../../images/icons/key.png); }
.icon-key-add { background-image: url(../../images/icons/key_add.png); }
.icon-key-del { background-image: url(../../images/icons/key_delete.png); }
.icon-page-delete { background-image: url(../../images/icons/page_white_delete.png); }
.icon-page-merge { background-image: url(../../images/icons/table_go.png); }
.icon-page-split { background-image: url(../../images/icons/table_relationship.png); }
.icon-chart { background-image: url(../../images/icons/chart_bar.png); }

.icon-check { background-image: url(../../images/icons/tick.png); }
.icon-cross { background-image: url(../../images/icons/cross.png); }

.icon-attachment  { background-image: url(../../images/icons/page_attach.png); }

/**********************************************************
 Buttons
***********************************************************/

.dp-button {
    background: #6CAFF8; /* old browsers */
    background: -moz-linear-gradient(top, #6CAFF8 0%, #4F97F5 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6CAFF8), color-stop(100%,#4F97F5)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6CAFF8', endColorstr='#4F97F5',GradientType=0 ); /* ie */
    background: -o-linear-gradient(top, #6CAFF8 0%,#4F97F5 100%); /* opera */

    box-shadow: 0 1px #9ECBFA inset;

    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #4475ab;

    text-shadow: 0px -1px 0px #4170a9;
    filter: dropshadow(color=#4170a9, offx=0, offy=-1);

    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;

	display: inline-block;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;

	position: relative;
	cursor: pointer;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.dp-button:hover {
    opacity: 0.7;
}

.small.dp-button { font-size: 11px; padding: 4px 6px; }
.x-small.dp-button { font-size: 11px; padding: 2px 4px; }
.large.dp-button { font-size: 13px; padding: 7px 13px; }
.x-large.dp-button { font-size: 18px; padding: 12px 18px; }

.gray.dp-button { background-color: #677078; }
.green.dp-button { background-color: #749a02; }
.red.dp-button { background-color: #e33100; }
.red.dp-button:hover { background-color: #872300; }






button.clean-gray {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 8px 8px;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
    white-space: nowrap;
  }
  button.clean-gray:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#bbbbbb));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; }
  button.clean-gray:active, button.clean-gray.radio-on {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -ms-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -o-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; }

button.clean-gray.radio-on {
    background-color: #DDF0F1;
}

button.clean-gray.small {
    padding: 4px 4px;
    margin: 0;
}

button.clean-gray.x-small {
    padding: 1px 4px;
    margin: 0;
    font-size: 11px;
}

button.clean-gray.xx-small {
    padding: 1px 3px;
    margin: 0;
    font-size: 10px;
}

button.clean-gray.xxx-small {
    padding: 0px 3px;
    margin: 0;
    font-size: 10px;
    line-height: 100%;
}

button.clean-gray.disabled {
    opacity: 0.8;
    cursor: default;
    color: #777879;
}


/**********************************************************
 Form panel
***********************************************************/

.form-panel .row {
	margin-top: 20px;
}

.form-panel .row:first-of-type {
	margin-top: none;
}

.form-panel .row > label {
	font-size: 115%;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;

	text-shadow: 1px 1px 2px #D3D7E0;
	filter: dropshadow(color=#D3D7E0, offx=0, offy=0);
	font-family: Arial, sans-serif;
}

.form-panel .row > .field.checkselect input[type=checkbox] {
	clear: both;
	float: left;
}

.form-panel .row > .field.checkselect label {
	float: left;
	margin-left: 10px;
}

/**********************************************************
 Item list
***********************************************************/

.item-list > li {
    position: relative;
}

.item-list > li.customized {
	color: #1C6E13;
	border-left: 5px solid #D0D2D6;
}

.item-list > li .controls span.count {
    color: #333EB5;
    background-color: #fff;
    padding: 1px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.item-list > li .controls {
	display: none;
}

.item-list > li:hover .controls {
	display: block;
}

.item-list > li .controls.reverse {
	display: block;
}

.item-list > li:hover .controls.reverse {
	display: none;
}

.item-list ul.controls li {
	float: left;
	border-left: 1px solid #ABA2A2;
	padding: 0 4px 0 8px;
	font-size: 8pt;
	margin-left: 4px;

	line-height: 10pt;

	font-weight: bold;
}

.item-list ul.controls li:first-child {
	border-left: none;
}

.item-list ul.controls .delete a {
	color: #6E2424;
}

.item-list div.rules-wrap {
	background-color: #fff;
	padding: 4px;
	border: 1px solid #3389D4;
}

.item-list .toggle-rules {
	font-size: 10px;
	margin-bottom: 4px;
	margin-left: 4px;
}

.item-list .toggle-rules em {
	cursor: pointer;
	color: #1B83DE;
	font-style: normal;
}

.item-list .ruletype {
	background-color: #E9EEF2;
	padding: 2px;
	border: 1px solid #CCD6DE;
}

.item-list .search-form {
	border-top: 1px solid #C8CACC;
	margin-top: 8px;
	margin-bottom: 8px;
}

.item-list .septop {
	border-top: 1px solid #C8CACC;
	margin-top: 8px;
	margin-bottom: 8px;
}

.item-list > li .drag-handle {
    display: none;
    position: absolute;
    top: 6px;
    left: -12px;

    -moz-border-radius: 6px;
    border-radius: 6px;
    padding:  1px 0 0 1px;
    border: 1px solid #CCCBB6;
    

    background: #FFFCCC url(../../images/drag-handle.png) no-repeat 1px 1px;
    text-indent: -90000px;
    width: 16px;
    height: 16px;
    overflow: none;
    cursor: move;
}

.item-list > li.sub .drag-handle {
    top: 3px !important;
    left: -0px;
}

.item-list > li:hover .drag-handle {
    display: block;
}

/**********************************************************
 Table list
***********************************************************/

div.table-list-wrap {
	-moz-border-radius: 5px;
	border-radius: 5px;

	background-color: #BCC6D6;
	padding: 2px;
	border: 1px solid #979FAD;
}

div.table-list-wrap a.create-link {
	float: right;
	color: #303E40;
	text-decoration: none;
	margin: 4px 4px 0 0;
}

div.table-list-wrap a.create-link:hover {
	text-decoration: underline;
}

div.table-list-wrap > h2 {
	background: #BCC6D6; /* old browsers */
	background: -moz-linear-gradient(top, #BCC6D6 0%, #96A1B3 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BCC6D6), color-stop(100%,#96A1B3)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BCC6D6', endColorstr='#96A1B3',GradientType=0 ); /* ie */

	font-size: 12pt;
	padding: 4px;

	margin-left: -2px;
	margin-right: -2px;
}

table.table-list {
	border-collapse: collapse;
	border: 1px solid #DFDFDF;
}

table.table-list > thead > tr > th {
	background: #e5e5e5; /* old browsers */
	background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* ie */

	border-bottom: 1px solid #A6A6A6;
	border-left: 1px solid #DFDFDF;

	color: #5D5D5D;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	padding: 0 3px 0 3px;

	text-align: left;
}

table.table-list > tbody > tr > td {
	padding: 6px 6px 6px 10px;
	border-left: 1px solid #EDEDED;
	border-bottom: 1px solid #DFDFDF;
	font-size: 9pt;
	background-color: #fff;
}

table.table-list > tbody > tr > td.controls {
	padding: 0 2px 0 2px;
	vertical-align: middle;
}

table.table-list > tbody > tr:hover > td {
	background-color: #F3F6FA;
}

ul.comma-list {
	margin: 0;
	padding: 0;
}

ul.comma-list li {
	display: inline;
}

ul.comma-list li:after { content: ", "; }
ul.comma-list li:last-child:after { content: ""; }

/**********************************************************
 Search form sections (top of list pane usually)
***********************************************************/

.search-form .term {
	font-size: 11px;
	line-height: 15px;
	background-color: #F5F7FA;
	
	padding: 4px;
	margin: 0 0 9px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0px 0px 2px #a5abb5;
    -moz-box-shadow: 0px 0px 2px #a5abb5;
    box-shadow: 0px 0px 2px #a5abb5;
}

.search-form .term:hover {
-webkit-box-shadow: 0px 0px 2px #737880;
-moz-box-shadow: 0px 0px 2px #737880;
box-shadow: 0px 0px 2px #737880;
}

.search-form .controls {
    margin-left: 16px;
}

.search-form .term .type, .search-form .term .op, .search-form .term .options {
	display: inline;
}

.search-form .term .remove {
	width: 11px;
	background: transparent url("../../images/action-remove.png") no-repeat center center;
	text-indent: -1000px;
	overflow: hidden;
	cursor: pointer;
	float: left;
}

.search-form .add-term {
	width: 11px;
	background: transparent url("../../images/action-add.png") no-repeat center center;
	text-indent: -1000px;
	overflow: hidden;
	cursor: pointer;
	float: left;
	margin-right: 5px;
}

/**********************************************************
 Main List Table
***********************************************************/

div.search-top {
	background-color: #E1E1E3;
	border-bottom: 1px solid #878787;
}

div.search-top .selected-counter {
	-moz-border-radius: 8px;
	border-radius: 8px;

	background-color: #D1CFB4;
	padding: 1px 4px 1px 4px;

	font-size: 7pt;

	padding: 3px 5px 5px 5px;
	margin: 8px 0 0 5px;

	text-shadow: 1px 1px 2px #F5F5F5;
	filter: dropshadow(color=#ffffff, offx=0, offy=0);
}

div.search-top ul.grouping-info {
	display: block;
}

div.search-top ul.grouping-info li {
	float: left;
	display: block;
	padding: 5px;
	text-align: center;
	margin-right: 6px;
	cursor: pointer;

	text-shadow: 1px 1px 2px #F5F5F5;
	filter: dropshadow(color=#ffffff, offx=0, offy=0);
}

div.search-top ul.grouping-info li.on span {
	background-color: #95A9CC;
}

div.search-top ul.grouping-info li.total {
	float: right;
}

div.search-top ul.grouping-info li span {
	font-size: 8pt;

	-moz-border-radius: 8px;
	border-radius: 8px;

	font-weight: bold;

	background-color: #ABACB1;
	padding: 1px 4px 1px 4px;
}

div.search-top ul.grouping-info li label {
	font-size: 7pt;
	display: block;
	margin-top: 3px;
}

/*
table.list > thead > tr {
	background: #ABACB1;
	background: -moz-linear-gradient(top, #ABACB1 0%, #E7E9EF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ABACB1), color-stop(100%,#E7E9EF));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ABACB1', endColorstr='#E7E9EF',GradientType=0 );

	text-shadow: 1px 1px 2px #F5F5F5;
	filter: dropshadow(color=#ffffff, offx=0, offy=0);

	border-bottom: 1px solid #A6A6A6;

	font-family: Arial, sans-serif;
}

table.list > thead > tr > th {
	font-weight: bold;
	text-align: left;
	border-left: 1px solid #A6A6A6;
	color: #000;
	font-weight: bold;
	cursor: pointer;
	padding: 0 0 0 8px;
	font-size: 7pt;
	line-height: 22px;
}

table.list > thead > tr > th.check-all {
	padding: 0;
	padding-left: 2px;
	padding-right: 3px;
	margin: 0;
}

table.list > thead > tr > th:first-child {
	border-left: none;
}

table.list > tbody > tr.locked {
	opacity: 0.4;
}

table.list > tbody > tr.locked .check-all {
	background-image: url(../../images/icons/lock.png);
	background-repeat: no-repeat;
	background-position: center center;
}

table.list > tbody > tr.locked .check-all input {
	display: none;
}

table.list > tbody > tr.line-1.hover, table.list > tbody > tr.line-2.hover, table.list > tbody > tr.line-3.hover {

}

table.list > tbody > tr.line-1.on, table.list > tbody > tr.line-2.on , table.list > tbody > tr.line-3.on {

}

table.list.preview-mode > tbody > tr.line-1.on, table.list.preview-mode > tbody > tr.line-2.on, table.list.preview-mode > tbody > tr.line-3.on,
table.list.preview-mode > tbody > tr.line-1.hover, table.list.preview-mode > tbody > tr.line-2.hover, table.list.preview-mode > tbody > tr.line-3.hover {

}

table.list > tbody > tr.line-2 {
	border-bottom: 1px solid #ddd;
}

table.list > tbody > tr.line-2.with-line-3 {
	border-bottom: none !important;
}

table.list > tbody > tr.line-3 {
	border-bottom: 1px solid #ddd;
}

table.list > tbody > tr.line-3 ul li {
	margin: 3px 5px 3px 15px;
}

table.list > tbody > tr.faded {
	opacity: 0.25;
}

table.list > tbody > tr > td {
	padding: 0 5px 0 5px;
	font-size: 7pt;
	color: #3E4042;
	padding-top: 7px;
	padding-bottom: 4px;
}

table.list > tbody > tr.line-1 > td {
	padding-top: 7px;
	padding-bottom: 4px;
}

table.list > tbody > tr.line-2 > td {
	padding-top: 0;
	padding-bottom: 7px;
}

table.list > tbody > tr.line-2.with-line-3 > td {
	padding-bottom: 0 !important;
}

table.list > tbody > tr.line-3 > td {
	padding-left: 20px;
	padding-top: 0;
	padding-bottom: 7px;
}

table.list > tbody > tr {
	background-color: #fff;
}

table.list > tbody > tr > td.check-all {
	padding: 0;
	padding-left: 2px;
	margin: 0;
	vertical-align: middle;
}

table.list > thead > tr > th.flag {
	padding: 0;
	margin: 0;
}
table.list > tbody > tr > td.flag {
	padding: 0;
	padding-left: 2px;
	margin: 0;
	vertical-align: middle;
}

table.list > tbody > tr > td.flag .ticket-flag {
	cursor: pointer;
}

table.list tr span.subject {
	color: #000;
	font-size: 8pt;
	text-shadow: 1px 1px 1px #d4d4d4;
	filter: dropshadow(color=#d4d4d4, offx=1, offy=0);
	padding-right: 19px;
}

table.list tr.open span.subject {
	background: transparent url(../../images/icons/eye.png) no-repeat top right;
}

table.list tr span.subject:hover {
	text-decoration: underline;
	cursor: pointer;
}

table.list tr abbr.timeago {
	float: right;
}
*/
table.list tr.urgency-10  .check { background-color: #fff; }
table.list tr.urgency-20  .check { background-color: #F2F5EB; }
table.list tr.urgency-30  .check { background-color: #F3F5E6; }
table.list tr.urgency-40  .check { background-color: #EFF0DD; }
table.list tr.urgency-50  .check { background-color: #EBE7CC; }
table.list tr.urgency-60  .check { background-color: #E6E0BE; }
table.list tr.urgency-70  .check { background-color: #E6DCBE; }
table.list tr.urgency-80  .check { background-color: #E6D8BE; }
table.list tr.urgency-90  .check { background-color: #E6CEBE; }
table.list tr.urgency-100 .check { background-color: #E6C5BE; }

/**********************************************************
 Main Form Table
***********************************************************/

table.form {
	border: 1px solid #D0D2D6;
}

table.form td {
	background-color: #fff;
	padding: 10px;
}

table.form tr {
	border-top: 1px solid #D0D2D6;
}
table.form tr:first-child {
	border-top: none;
}

table.form td.label {
	background-color: #F0F1F5;
}

table.form td.label label {
	color: #307FE6;
	font-weight: bold;
	font-size: 120%;
}

table.form td.label .info {
	font-size: 8pt;
}


/**********************************************************
 item list
***********************************************************/

ul.item-list {
	background-color: #F0F1F5;
	border: 1px solid #D0D2D6;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

ul.item-list > li {
    background-color: #F0F1F5;
	border-top: 1px solid #D0D2D6;
	padding: 10px;
}

ul.item-list.system-list {
    background-color: #EDF8FF;
	border-top: 1px solid #ABC6D9;
}
ul.item-list > li.system-item {
    background-color: #EDF8FF;
	border-top: 1px solid #ABC6D9;
}

ul.item-list > li.system-item.dark {
    background-color: #DCE7F7;
}

ul.item-list > li:first-of-type {
	border-top: none;
}

ul.item-list > li.empty-list {
	text-align: center;
}


ul.item-list > li.sub {
	padding: 6px 10px 6px 20px;
}

/**********************************************************
 List toolbar
***********************************************************/

.tab-box {
	background: #292a29 url(../../images/page-tabbar-bg.png) repeat-x top left;
	border-bottom: #212121;
	border-top: 1px solid #333;
	height: 28px;
	color: #bababa;
	font-size: 8pt;
	font-family: Arial, sans-serif;
	width: 100%;
	overflow: hidden;
}

.tab-box ul {
	height: 28px;
}

.tab-box ul li {
	float: left;
	border-right: 1px solid #323332;
	color: #fff;
	overflow: hidden;
	cursor: pointer;
	height: 23px;
	margin-top: 5px;
	overflow: hidden;
	max-width: 100px;
	background-color: #5c5c5c;
	border: 1px solid #6e6e6e;
	border-bottom: none;
	margin-right: 3px;
	margin-left: 3px;

	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.tab-box ul li.icon {
	max-width: 120px;
	padding-left: 18px;

	background-repeat: no-repeat;
	background-position: 6px center;
}

.tab-box ul li div.title {
	width: 80px;
	line-height: 22px;
	float: left;
}

.tab-box ul li div.title span {
	padding-left: 8px;
	width: 150px;
	display: block;
}

.tab-box ul li:first {
	border-right: none;
	margin-left: 0;
	padding-left: 0;
}

.tab-box ul li.on {
	background-color: #2a2b2a;
	border: 1px solid #c5c5c5;
	border-bottom: none;
}

.tab-box-content {
	border: 1px solid #000;
	padding: 15px;
}

.tab-box-content > .tab-content {
	display: none;
}
.tab-box-content > .tab-content.on {
	display: block;
}


.list-load-more {
    text-align: center;
    font-size: 11px;
    background-color: #E4EBF0;

    padding:  4px;
    color: #A2B0BA;
}

.list-load-more:hover {
    color: #7C878F;
    background-color: #CFDDE8;
    cursor: pointer;
}


.admin-section-head {

}

.admin-section-head {
	border-bottom: 1px solid #ccc;
	margin: -10px -10px 0 -10px;
	padding: 0 0 10px 3px;
}

.admin-section-head.in-page {
    margin: 25px -10px 8px -10px;
    padding: 0 0 3px 3px;
    border-bottom: none;
}

.admin-section-head h1 {
	font-size: 25px;
	font-weight: normal;
}

.diff-box {
    color: #808080;
}

.diff-box ins {
    color:green;
    background:#dfd;
    text-decoration:none;
}

.diff-box del {
    color:red;
    background:#fdd;
    text-decoration:none;
}



.backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 1000000;
}

.field-overlay {
    border: 3px solid rgba(11, 11, 11, 0.5);
	-webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 9px 9px 20px rgba(0, 0, 0, 0.5);
	background-color: #fff;
	-moz-border-radius: 5px;
	border-radius: 5px;
    padding: 4px;

    position: absolute;

    z-index: 1000001;
}

.field-overlay .close-trigger {
    position: absolute;
    right: -8px;
    top: -8px;

    width: 13px;
    height: 13px;
    background: url(../../images/close-small.png) no-repeat 0 0;

    text-indent: -1000px;
    overflow: hidden;
}



.date-wrap {
    width: 250px;
}

.date-wrap.two {
    width: 515px;
}

.date-wrap .date1 {
    float:left;
}

.date-wrap .date2 {
    display: none;
}

.date-wrap.two .date2 {
    float: right;
    display: block;
}

.date-wrap .widget {
    margin-top: 5px;
}