nav.deskpro-tabstrip {
    height: 20px;

    background: #fbfcfe;
    background: -moz-linear-gradient(top, #fbfcfe 0%, #e8edf1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfcfe), color-stop(100%,#e8edf1));
    background: -webkit-linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);
    background: -o-linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);
    background: -ms-linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBFCFE', endColorstr='#E8EDF1',GradientType=0 );
    background: linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);

    border-bottom: 1px solid #9FA7AA;

    -moz-box-shadow: 0px 0px 1px #A0A1A1;
    box-shadow: 0px 0px 1px #A0A1A1;

    margin-bottom: 1px;
}

nav.deskpro-tabstrip > ul > li {
    display: block;
    float: left;

    background-color: #FAFAFA;
    height: 17px;
    overflow: hidden;
    margin-top: 2px;
    margin-left: 2px;

    padding: 0 3px 0 3px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #757575;

    border: 1px solid #E5EAED;
    border-bottom: none;
    
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

nav.deskpro-tabstrip > ul > li > a {
    line-height: 18px;
    color: #757575;
}

nav.deskpro-tabstrip > ul > li.on {
    height: 19px;
    background-color: #EBEEF3;

    border: 1px solid #CBCFD8;
    border-bottom: none;
}

nav.deskpro-tabstrip > ul > li.on > a {
    line-height: 20px;
    font-weight: bold;

    text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
}

section.deskpro-tab-item {
    display: none;
}
section.deskpro-tab-item.on {
    display: block;
}




/********************************
* Results list
*********************************/

section.deskpro-results-list {

}

section.deskpro-results-list article {
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #ecf1f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#ecf1f5));
    background: -webkit-linear-gradient(top, #fefefe 0%,#ecf1f5 100%);
    background: -o-linear-gradient(top, #fefefe 0%,#ecf1f5 100%);
    background: -ms-linear-gradient(top, #fefefe 0%,#ecf1f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEFE', endColorstr='#ECF1F5',GradientType=0 );
    background: linear-gradient(top, #fefefe 0%,#ecf1f5 100%);

    border-bottom: 1px solid #C3CBCE;
}

section.deskpro-results-list article > div.userinfo {
    height: 28px;
    position: relative;
}

section.deskpro-results-list article > div.userinfo > a.name {
    position: absolute;
    color: #2D76B1;
    top: 5px;
    left: 5px;
    text-decoration: none;
    background-color: #fefefe;
    padding-right: 8px;
}

section.deskpro-results-list article > div.userinfo > address {
    color: #909399;
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
}

section.deskpro-results-list article > div.preview {
    max-height: 26px;
    overflow: hidden;
    padding: 0 3px 0 5px;
    line-height: 125%;
}

section.deskpro-results-list article > div.preview > a {
    color: #535557;
    text-decoration: none;

    text-shadow: 1px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
}

section.deskpro-results-list article > div.preview > a:hover {
    text-decoration: underline;
}

section.deskpro-results-list article > time {
    display: block;
    font-size: 10px;
    color: #A5A9B0;
    padding: 3px 0 5px 5px;
}