/********************************
* common
*********************************/

.deskpro-pane header.section-header {

    height: 38px;

    background: #fbfcfe;
    background: -moz-linear-gradient(top, #fbfcfe 0%, #e8edf1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfcfe), color-stop(100%,#e8edf1));
    background: -webkit-linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);
    background: -o-linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);
    background: -ms-linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBFCFE', endColorstr='#E8EDF1',GradientType=0 );
    background: linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);

    border-bottom: 1px solid #9FA7AA;

    -moz-box-shadow: 0px 0px 2px #5e5e5e;
    box-shadow: 0px 0px 2px #5e5e5e;

    margin-bottom: 5px;
}

.deskpro-pane header.section-header > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 38px;

    color: #4F555A;

    padding-left: 8px;

    text-shadow: 1px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
}

.deskpro-pane header.section-header nav.mode-buttons {
    margin-top: 9px;
    margin-right: 5px;
    float: right;
}

.deskpro-pane header.section-header nav.mode-buttons > ul > li {
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    background: linear-gradient(top, #eeeeee 0%,#cccccc 100%);

    border: 1px solid #9CA1A6;
    border-left: none;

    cursor: pointer;
    line-height: 18px;
    font-size: 10px;
    color: #535557;
    text-shadow: 1px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);

    padding:  0 7px 0 7px;

    display: block;
    float: left;
}

.deskpro-pane header.section-header nav.mode-buttons > ul > li > a {
    color: #535557;
}

.deskpro-pane header.section-header nav.mode-buttons > ul > li:first-child {
    border-left: 1px solid #9CA1A6;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.deskpro-pane header.section-header nav.mode-buttons > ul > li:last-child {
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.deskpro-pane header.section-header nav.mode-buttons > ul > li.on {
    background: #d1d1d1;
    background: -moz-linear-gradient(top, #d1d1d1 0%, #b2b2b2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d1d1), color-stop(100%,#b2b2b2));
    background: -webkit-linear-gradient(top, #d1d1d1 0%,#b2b2b2 100%);
    background: -o-linear-gradient(top, #d1d1d1 0%,#b2b2b2 100%);
    background: -ms-linear-gradient(top, #d1d1d1 0%,#b2b2b2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D1D1D1', endColorstr='#B2B2B2',GradientType=0 );
    background: linear-gradient(top, #d1d1d1 0%,#b2b2b2 100%);
}


#deskpro_layout {
    position: absolute;
    top: 36px;
    right: 0;
    bottom: 0;
    left: 0;
}

/********************************
* #deskpro_sections
*********************************/

#deskpro_sections {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;

    width: 55px;
    font-size: 10px;

    background-color: #383B40;
    border-right: 2px solid #1E2225;
    border-top: 1px solid #292C31;
}

#deskpro_sections > ul  > li {
    padding: 4px 0 4px 0;
    margin:  5px 0 5px 0;

    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    position: relative;
}

#deskpro_sections > ul > li:hover, #deskpro_sections > ul > li.on {
    border-top: 1px solid #181C1D;
    border-bottom: 1px solid #4C4F54;
    background-color: #292C31;
}

#deskpro_sections > ul > li:hover a, #deskpro_sections > ul > li.on a {
    color: #D7DAE1;
}

#deskpro_sections > ul > li > div.nav-counter {
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    text-align: right;
    padding-right: 1px;
}

#deskpro_sections > ul > li > div.nav-counter span {
	padding: 2px 4px 2px 4px;
	background: #A83B3B;
	line-height: 14px;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 1px #8f1313;
	border: 2px solid #fff;
	background-clip: padding-box;

	font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;

	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;

	-webkit-box-shadow:  0 0px 2px #766B6B;
    -moz-box-shadow: inset 0 1px 0 #e55858, 0  0px 2px #766B6B;
    box-shadow: 0 0px 2px #766B6B;

	z-index: 500;
}

#deskpro_sections > ul  > li > a {
	display: block;
	background-repeat: no-repeat;
	background-position: top center;
	padding: 32px 3px 0 3px;
	color: #7E8187;

	line-height: 10px;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;

	text-align: center;

    text-decoration: none;
    font-weight: bold;

    text-shadow: 1px 1px 0px #000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
    
}

#deskpro_sections > ul > li.tickets > a {
	background-image: url("../../images/nav-icons/Tickets.png");
}


#deskpro_sections > ul > li.chats > a {
	background-image: url("../../images/nav-icons/Chat.png");
}

#deskpro_sections > ul > li.twitter >  a {
	background-image: url("../../images/nav-icons/Twitter.png");
}

#deskpro_sections > ul > li.facebook-nav  >a {
	background-image: url("../../images/nav-icons/Facebook.png");
}

#deskpro_sections > ul > li.calls  >a {
	background-image: url("../../images/nav-icons/Calls.png");
}

#deskpro_sections > ul > li.people >  a {
	background-image: url("../../images/nav-icons/People.png");
}

#deskpro_sections > ul > li.deals > a {
	background-image: url("../../images/nav-icons/Deals.png");
}

#deskpro_sections > ul > li.calendar >  a {
	background-image: url("../../images/nav-icons/Calendar.png");
}

#deskpro_sections > ul > li.tasks >  a {
	background-image: url("../../images/nav-icons/Tasks.png");
}

#deskpro_sections > ul > li.publish >  a {
	background-image: url("../../images/nav-icons/Publish.png");
}

#deskpro_sections > ul > li.ideas >  a {
	background-image: url("../../images/nav-icons/Ideas.png");
}

#deskpro_sections > ul > li.files >  a {
	background-image: url("../../images/nav-icons/Files.png");
}

#deskpro_sections > ul > li.troubleshooters >  a {
	background-image: url("../../images/nav-icons/Troubleshooters.png");
}

#deskpro_sections > ul > li.knowledgebase >  a {
	background-image: url("../../images/nav-icons/Knowledgebase.png");
}

#deskpro_sections > ul  > li.setup >  a { background: url("../../images/nav-icons/Settings.png") no-repeat center top; }
#deskpro_sections > ul  > li.server >  a { background: url("../../images/nav-icons/Server.png") no-repeat center top; }
#deskpro_sections > ul  > li.agents >  a { background: url("../../images/nav-icons/Agents.png") no-repeat center top; }
#deskpro_sections > ul  > li.integrations >  a { background: url("../../images/nav-icons/Integrations.png") no-repeat center top; }
#deskpro_sections > ul  > li.integrations >  a { background: url("../../images/nav-icons/Integrations.png") no-repeat center top; }


#deskpro_sections #chat_section {
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    height: 18px;

    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    background: linear-gradient(top, #eeeeee 0%,#cccccc 100%);

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    cursor: pointer;

    border: 1px solid #7D8085;
    border-bottom: none;
}

#deskpro_sections #chat_section:hover {
    webkit-box-shadow: 0px 0px 4px #ffffff;
    -moz-box-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 4px #ffffff;
}

#chat_online_count {
    background: transparent url(../../images/chat-icon.png) no-repeat 3px 50%;
    padding-left: 15px;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 0px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=0);
}

section#agent_chats_wrapper {
    position: absolute;
    bottom: 0;
    left: 65px;
}

section.agent-chat {
    position: absolute;
    bottom: 0;
    left: 0;
}

section.agent-chat nav {

    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    background: linear-gradient(top, #eeeeee 0%,#cccccc 100%);

    position: absolute;
    bottom: 0;

    padding: 0 15px 0 10px;

    border: 1px solid #7F7F80;
    border-bottom: none;

    cursor: pointer;
}
section.agent-chat nav a {
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 0px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=0);
    color: #000;
    white-space: nowrap;
}

section.agent-chat nav .close-trigger {

    position: absolute;
    right: 3px;
    top: 2px;

    display: block;
    background-color: #AAB3BD;
    padding: 0 2px 2px 2px;
    cursor: pointer;
    line-height: 100%;
    border:  none;
    font-size: 8px;
    margin-left: 4px;
}

section.agent-chat.open nav {
    line-height: 20px;
}

section.agent-chat.new-message nav {
    background: #bdd3ed;
    background: -moz-linear-gradient(top, #bdd3ed 0%, #7aa7c9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bdd3ed), color-stop(100%,#7aa7c9));
    background: -webkit-linear-gradient(top, #bdd3ed 0%,#7aa7c9 100%);
    background: -o-linear-gradient(top, #bdd3ed 0%,#7aa7c9 100%);
    background: -ms-linear-gradient(top, #bdd3ed 0%,#7aa7c9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdd3ed', endColorstr='#7aa7c9',GradientType=0 );
    background: linear-gradient(top, #bdd3ed 0%,#7aa7c9 100%);
}

section.agent-chat .messages-container {
    height: 300px;
    overflow: auto;
}

section.agent-chat .messages-box {
    display: none;
}

section.agent-chat.open .messages-box {
    display: block;
}

section.agent-chat .messages-box {
    width: 300px;
    position: absolute;
    bottom: 20px;

    background-color: #E4E4E4;
    border: 1px solid #7F7F80;
    border-bottom: none;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

section.agent-chat .messages-box article {
    background-color: #F0F0F0;
    margin: 4px;
    border: 1px solid #C5C5C5;
    border-bottom: 1px solid #9E9E9E;
    padding: 5px;
    font-size: 11px;
    text-shadow: 1px 0px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=0);
}

section.agent-chat .messages-box article span {
    color: #2569B8;
}

section.agent-chat .messages-box article span.me {
    color: #5C5C5C;
}

section.agent-chat .messages-box div.input-message {
    background-color: #EDEDED;
    border-top: 1px solid #BEBEBE;

    padding-bottom: 2px;
    border-bottom: 2px solid #BEBEBE;
}

section.agent-chat .messages-box div.input-message textarea {

    width: 100%;

    height: 15px;
    margin-top: 2px;
    border: none;
    border-top: 1px solid #BEBEBE;
    background-color: #fff;
    outline: none;
}

section.agent-chat .messages-box div.input-message textarea:focus {
    outline: none;
}

section#agent_chat_panel {
    position: absolute;
    left: 8px;
    bottom: 0;
    width: 200px;
    display: none;

    background-color: #E4E4E4;
    border: 1px solid #7F7F80;
    border-bottom: none;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    font-size: 10px;
}

section#agent_chat_panel.open {
    display: block;
}

section#agent_chat_panel nav {
    border-bottom: 1px solid #ccc;
}

section#agent_chat_panel nav a {
    color: #000;
    cursor: pointer;
    padding:  3px 8px 3px 8px;
}

section#agent_chat_panel ul#agent_online_list {
    background-color: #fff;
    margin:  3px;

    border: 1px solid #D4D4D4;
}

section#agent_chat_panel ul#agent_online_list li {
    padding: 0 8px 0 8px;
    line-height: 19px;
    cursor: pointer;
    border-top: 1px solid #D4D4D4;
}

section#agent_chat_panel ul#agent_online_list li:hover {
    background-color: #D1E7FF;
}

section#agent_chat_panel ul#agent_online_list li:first-child {
    border-top: none;
}

/********************************
* #deskpro_outline
*********************************/

#deskpro_outline {
    position: absolute;
    top: 0;
    left: 56px/*#deskpro_sections width*/;
    bottom: 0;
    overflow: hidden;

    width: 198px;

    background-color: #EBEEF3;
    border-right: 1px solid #95999A;
}

/* Multiple sections exist within the outline as cached
versions for fast-switching.
So only the 'on' one is visible at a time */
#deskpro_outline > section {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#deskpro_outline > section.on {
    display: block;
}


#deskpro_outline h2 {
    font-size: 14px;
    color: #9EA6B5;
    font-weight: bold;
    padding:  3px 0 3px 5px;

    text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
}

/********************************
* #deskpro_list
*********************************/

#deskpro_list {
    position: absolute;
    top: 0;
    left: 255px/*#deskpro_sections width + #deskpro_outline width*/;
    bottom: 0;
    overflow: hidden;

    width: 299px;

    background-color: #F9FAFC;
    border-right: 1px solid #95999A;
}

/* Multiple sections exist within the outline as cached
versions for fast-switching.
So only the 'on' one is visible at a time */
#deskpro_list > section {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#deskpro_list > section.on {
    display: block;
}

/********************************
* #deskpro_content
*********************************/

#deskpro_content {
    position: absolute;
    top: 0;
    left: 555px/*#deskpro_sections width + #deskpro_outline width + #deskpro_list width*/;
    right: 0;
    bottom: 0;
    overflow: hidden;

    background-color: #fff;
}

#deskpro_viewport {
    position: absolute;
    top: 39px /*#deskpro_tabstrip height*/;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#deskpro_viewport > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#deskpro_viewport > div > .layout-content.full-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#deskpro_tabstrip {
    height: 38px;

    background: #fbfcfe;
    background: -moz-linear-gradient(top, #fbfcfe 0%, #e8edf1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfcfe), color-stop(100%,#e8edf1));
    background: -webkit-linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);
    background: -o-linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);
    background: -ms-linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBFCFE', endColorstr='#E8EDF1',GradientType=0 );
    background: linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);

    border-bottom: 1px solid #9FA7AA;

    -moz-box-shadow: 0px 0px 1px #A0A1A1;
    box-shadow: 0px 0px 1px #A0A1A1;
}

#deskpro_tabstrip > ul > li {
    display: block;
    float: left;

    background-color: #FAFAFA;
    height: 29px;
    overflow: hidden;
    margin-top: 8px;
    margin-left: 6px;

    padding: 0 6px 0 6px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #757575;

    border: 1px solid #E5EAED;
    border-bottom: none;
    
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#deskpro_tabstrip > ul > li > a.link {
    line-height: 29px;
    color: #757575;
    max-width: 80px;
	overflow: hidden;
	white-space:nowrap;
    line-height: 33px;
    font-weight: bold;
    display: block;
    float: left;
}

#deskpro_tabstrip > ul > li.active-tab {
    margin-top: 6px;
    height: 33px;
    background-color: #fff;

    border: 1px solid #CBCFD8;
    border-bottom: none;
}

#deskpro_tabstrip > ul > li.icon a.link {
    padding-left: 15px;
}

#deskpro_tabstrip > ul > li > a.close-tab {
	opacity: .5;
    float: right;
	display: block;
	margin: 7px 0px 0px 6px;
	text-indent: -9999px;
	width: 12px;
	height: 13px;
    overflow: hidden;
	background: url("../../images/icn-sprite.png") left -862px;
}





/********************************
* Ticket Section
*********************************/

#tickets_outline_tabstrip {
    margin-top: 15px;
}

#ticket_grouping_options {
    font-size: 10px;
    background-color: #fff;
    padding: 2px;
    margin:  5px 3px 2px 3px;

    border:  1px solid #eee;

    -moz-border-radius: 3px;
    border-radius: 3px;
}

#ticket_grouping_options .grouping-menu-trigger,
#ticket_grouping_options .mode-menu-trigger {
    color: #7A8699;
    cursor: pointer;
}


header.section-header .display-options-trigger {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -1000px;
    overflow: hidden;
    cursor: pointer;

    background: transparent url(../../images/icons/edit-gear.png) no-repeat top right;

    margin: 11px 5px 0 0;
}