/********************************
* common
*********************************/

.deskpro-pane header.section-header {

    height: 38px;

    background: #fbfcfe;
    background: -moz-linear-gradient(top, #fbfcfe 0%, #e8edf1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfcfe), color-stop(100%,#e8edf1));
    background: -webkit-linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);
    background: -o-linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);
    background: -ms-linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBFCFE', endColorstr='#E8EDF1',GradientType=0 );
    background: linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);

    border-bottom: 1px solid #9FA7AA;

    -moz-box-shadow: 0px 0px 2px #5e5e5e;
    box-shadow: 0px 0px 2px #5e5e5e;

    margin-bottom: 5px;
}

.deskpro-pane header.section-header > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 38px;

    color: #4F555A;

    padding-left: 8px;

    text-shadow: 1px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
}

nav.mode-buttons {
    margin-top: 9px;
    margin-right: 5px;
    float: right;
}

nav.mode-buttons > ul > li {
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    background: linear-gradient(top, #eeeeee 0%,#cccccc 100%);

    border: 1px solid #9CA1A6;
    border-left: none;

    cursor: pointer;
    line-height: 18px;
    font-size: 10px;
    color: #535557;
    text-shadow: 1px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);

    padding:  0 7px 0 7px;

    display: block;
    float: left;
}

nav.mode-buttons > ul > li > a {
    color: #535557;
}

nav.mode-buttons > ul > li:first-child {
    border-left: 1px solid #9CA1A6;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

nav.mode-buttons > ul > li:last-child {
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

nav.mode-buttons > ul > li.on {
    background: #d1d1d1;
    background: -moz-linear-gradient(top, #d1d1d1 0%, #b2b2b2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d1d1), color-stop(100%,#b2b2b2));
    background: -webkit-linear-gradient(top, #d1d1d1 0%,#b2b2b2 100%);
    background: -o-linear-gradient(top, #d1d1d1 0%,#b2b2b2 100%);
    background: -ms-linear-gradient(top, #d1d1d1 0%,#b2b2b2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D1D1D1', endColorstr='#B2B2B2',GradientType=0 );
    background: linear-gradient(top, #d1d1d1 0%,#b2b2b2 100%);
}

.overlay header nav.mode-buttons {
    margin-top: 6px;
    margin-right: 15px;
}


.deskpro-pane section.list-top-area {

     -moz-box-shadow: inset 0px 0px 2px #5e5e5e;
    box-shadow: inset 0px 0px 2px #5e5e5e;
    background-color: #D1DBE8;

    padding:  5px;
}

.deskpro-pane section.list-top-area.open {
    background-color: #D1DBE8;
}

.deskpro-pane section.list-top-area .submit-row {
    text-align: center;
    margin-top: 4px;
}

.deskpro-pane section.list-top-area select, .deskpro-pane section.list-top-area input {
    font-size: 9px;
}

.deskpro-pane section.list-top-area .edit {
    float: right;
    background: url(../../images/icons/pencil.png) no-repeat 50% 50%;
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-indent: -1000px;
    overflow: hidden;
}

#deskpro_layout {
    position: absolute;
    top: 36px;
    right: 0;
    bottom: 0;
    left: 0;
}

.deskpro-pane section button.heading-button {
    font-size: 8px;

    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    background: linear-gradient(top, #eeeeee 0%,#cccccc 100%);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    padding: 0px 1px 0px 1px;
    margin-right: 3px;
    margin-top: 3px;

    border: 1px solid #9CA1A6;
    float: right;

    opacity: 0.6;
    cursor: pointer;
}

.deskpro-pane section button.heading-button:hover {
    opacity: 1;
}

/********************************
* #deskpro_sections
*********************************/

#deskpro_sections {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;

    width: 45px;
    font-size: 10px;

    background-color: #383B40;
    border-right: 2px solid #1E2225;
    border-top: 1px solid #292C31;
}

#deskpro_sections > ul  > li {
    padding: 4px 0 4px 0;
    margin:  5px 0 5px 0;

    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    position: relative;
}

#deskpro_sections > ul > li:hover, #deskpro_sections > ul > li.on {
    border-top: 1px solid #181C1D;
    border-bottom: 1px solid #4C4F54;
    background-color: #292C31;
}

#deskpro_sections > ul > li:hover a, #deskpro_sections > ul > li.on a {
    color: #D7DAE1;
}

#deskpro_sections > ul > li > div.nav-counter {
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    text-align: right;
    padding-right: 1px;
}

#deskpro_sections > ul > li > div.nav-counter span {
	padding: 2px 4px 2px 4px;
	background: #A83B3B;
	line-height: 14px;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 1px #8f1313;
	border: 2px solid #fff;
	background-clip: padding-box;

	font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;

	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;

	-webkit-box-shadow:  0 0px 2px #766B6B;
    -moz-box-shadow: inset 0 1px 0 #e55858, 0  0px 2px #766B6B;
    box-shadow: 0 0px 2px #766B6B;

	z-index: 500;
}

#deskpro_sections > ul  > li > a {
	display: block;
	background-repeat: no-repeat;
	background-position: top center;
	padding: 32px 3px 0 3px;
	color: #7E8187;

	line-height: 10px;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;

	text-align: center;

    text-decoration: none;
    font-weight: bold;

    text-shadow: 1px 1px 0px #000;
    filter: dropshadow(color=#000000, offx=1, offy=1);
    
}

#deskpro_sections > ul > li.tickets > a {
	background-image: url("../../images/nav-icons/Tickets.png");
}

#deskpro_sections > ul > li.urgent > a {
	background-image: url("../../images/nav-icons/urgent.png");
    color: #D7DAE1;
}

#deskpro_sections > ul > li.urgent > div.nav-counter span {
    background-color: #65A954;
    text-shadow: 0 1px 1px #2D5225;
}

#deskpro_sections > ul > li.chats > a {
	background-image: url("../../images/nav-icons/Chat.png");
}

#deskpro_sections > ul > li.twitter >  a {
	background-image: url("../../images/nav-icons/Twitter.png");
}

#deskpro_sections > ul > li.facebook-nav  >a {
	background-image: url("../../images/nav-icons/Facebook.png");
}

#deskpro_sections > ul > li.calls  >a {
	background-image: url("../../images/nav-icons/Calls.png");
}

#deskpro_sections > ul > li.people >  a {
	background-image: url("../../images/nav-icons/People.png");
}

#deskpro_sections > ul > li.deals > a {
	background-image: url("../../images/nav-icons/Deals.png");
}

#deskpro_sections > ul > li.calendar >  a {
	background-image: url("../../images/nav-icons/Calendar.png");
}

#deskpro_sections > ul > li.tasks >  a {
	background-image: url("../../images/nav-icons/Tasks.png");
}

#deskpro_sections > ul > li.publish >  a {
	background-image: url("../../images/nav-icons/Publish.png");
}

#deskpro_sections > ul > li.ideas >  a {
	background-image: url("../../images/nav-icons/Ideas.png");
}

#deskpro_sections > ul > li.files >  a {
	background-image: url("../../images/nav-icons/Files.png");
}

#deskpro_sections > ul > li.troubleshooters >  a {
	background-image: url("../../images/nav-icons/Troubleshooters.png");
}

#deskpro_sections > ul > li.knowledgebase >  a {
	background-image: url("../../images/nav-icons/Knowledgebase.png");
}

#deskpro_sections > ul > li.user-chat >  a {
    background-position: 60% 0;
	background-image: url("../../images/nav-icons/UserChat.png");
}

#deskpro_sections > ul  > li.setup >  a { background: url("../../images/nav-icons/Settings.png") no-repeat center top; }
#deskpro_sections > ul  > li.server >  a { background: url("../../images/nav-icons/Server.png") no-repeat center top; }
#deskpro_sections > ul  > li.agents >  a { background: url("../../images/nav-icons/Agents.png") no-repeat center top; }
#deskpro_sections > ul  > li.integrations >  a { background: url("../../images/nav-icons/Integrations.png") no-repeat center top; }
#deskpro_sections > ul  > li.integrations >  a { background: url("../../images/nav-icons/Integrations.png") no-repeat center top; }


#deskpro_sections #agent_chat_section {
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    height: 18px;

    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    background: linear-gradient(top, #eeeeee 0%,#cccccc 100%);

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    cursor: pointer;

    border: 1px solid #7D8085;
    border-bottom: none;
}

#deskpro_sections #agent_chat_section:hover {
    webkit-box-shadow: 0px 0px 4px #ffffff;
    -moz-box-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 4px #ffffff;
}

#chat_online_count {
    background: transparent url(../../images/chat-icon.png) no-repeat 3px 50%;
    padding-left: 15px;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 0px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=0);
}

section#agent_chats_wrapper {
    position: absolute;
    bottom: 0;
    left: 65px;
}

section.agent-chat {
    position: absolute;
    bottom: 0;
    left: 0;
}

section.agent-chat nav {

    background-color: #eee;

    position: absolute;
    bottom: 0;

    padding: 0 15px 0 10px;

    border: 1px solid #7F7F80;
    border-bottom: none;

    cursor: pointer;
}
section.agent-chat nav a {
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 0px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=0);
    color: #000;
    white-space: nowrap;
}

section.agent-chat nav .close-trigger {

    position: absolute;
    right: 3px;
    top: 2px;

    display: block;
    background-color: #AAB3BD;
    padding: 0 2px 2px 2px;
    cursor: pointer;
    line-height: 100%;
    border:  none;
    font-size: 8px;
    margin-left: 4px;
}

section.agent-chat.open nav {
    line-height: 20px;
}

section.agent-chat nav.with-picture {
    background-repeat: no-repeat;
    padding-left: 16px;
    background-position: 2px 50%;
}

section.agent-chat.new-message nav {
    background-color: #bdd3ed;
}

section.agent-chat .messages-container {
    height: 300px;
    overflow: auto;
}

section.agent-chat .messages-box {
    display: none;
}

section.agent-chat.open .messages-box {
    display: block;
}

section.agent-chat .messages-box {
    width: 300px;
    position: absolute;
    bottom: 20px;

    background-color: #E4E4E4;
    border: 1px solid #7F7F80;
    border-bottom: none;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

section.agent-chat .messages-box article {
    background-color: #F0F0F0;
    margin: 4px;
    border: 1px solid #C5C5C5;
    border-bottom: 1px solid #9E9E9E;
    padding: 5px;
    font-size: 11px;
    text-shadow: 1px 0px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=0);
}

section.agent-chat .messages-box article span {
    color: #2569B8;
}

section.agent-chat .messages-box article span.me {
    color: #5C5C5C;
}

section.agent-chat .messages-box div.input-message {
    background-color: #EDEDED;
    border-top: 1px solid #BEBEBE;

    padding-bottom: 2px;
    border-bottom: 2px solid #BEBEBE;
}

section.agent-chat .messages-box div.input-message textarea {

    width: 100%;

    height: 15px;
    margin-top: 2px;
    border: none;
    border-top: 1px solid #BEBEBE;
    background-color: #fff;
    outline: none;
}

section.agent-chat .messages-box div.input-message textarea:focus {
    outline: none;
}

section#agent_chat_panel {
    position: absolute;
    left: 8px;
    bottom: 0;
    width: 265px;
    display: none;

    background-color: #F9FAFC;
    border: 1px solid #95999A;
    border-bottom: none;
    font-size: 10px;

    -webkit-box-shadow: 1px 1px 3px 0px #4d4d4d;
    -moz-box-shadow: 1px 1px 3px 0px #4d4d4d;
    box-shadow: 1px 1px 3px 0px #4d4d4d;
}

#agent_chat_panel .wrap {
    min-height: 300px;
    max-height: 500px;
    overflow:  auto;
}

section#agent_chat_panel nav .close-trigger {
    display: block;
    width: 13px;
    height: 13px;
    text-indent: -100px;
    overflow: hidden;
    background: url(../../images/close-small.png) no-repeat 0 0;
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 0;

    margin-top: -5px;
    margin-right: -8px;
}

section#agent_chat_panel.open {
    display: block;
}

section#agent_chat_panel nav {
    background-color: #798595;
    border-bottom: 1px solid #ccc;

    position: relative;
    color: #fff;

    font-size: 10px;
    padding: 4px 6px 4px 6px;
}

section#agent_chat_panel nav div.title {
    
}

section#agent_chat_panel nav div.title input {
    height: 11px;
}

section#agent_chat_panel nav div.title label {
    font-size: 9px;
}

section#agent_chat_panel nav a.show-section {
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 9px;
}

#agent_chat_panel h6 { display: none; }
#agent_chat_panel .offline-list { display: none; }

#agent_chat_panel.show-offline h6 { display: block; }
#agent_chat_panel.show-offline .offline-list { display: block; }

section#agent_chat_panel h6 {
    font-size: 12px;
    padding:  8px 0 3px 5px;
}

section#agent_chat_panel ul.list {
    background-color: #fff;
    margin:  3px;

    border: 1px solid #D4D4D4;
}

section#agent_chat_panel ul.list li {
    padding: 0 8px 0 8px;
    display: block;
    line-height: 36px;
    cursor: pointer;
    border-top: 1px solid #B6B7B7;
    overflow:  hidden;

    background-repeat: no-repeat;
    background-position: 3px 50%;
    padding-left: 38px;
}

section#agent_chat_panel ul.list li img {
    display: block;
    position: relative;
    top: 4px;
    left: -5px;
    float:left;
}

section#agent_chat_panel ul.list li:hover {
    background-color: #D1E7FF;
}

section#agent_chat_panel ul.list li:first-child {
    border-top: none;
}

/********************************
* #deskpro_outline
*********************************/

#deskpro_outline {
    position: absolute;
    top: 0;
    left: 45px/*#deskpro_sections width*/;
    bottom: 0;
    overflow: hidden;

    width: 198px;

    background-color: #EBEEF3;
    border-right: 1px solid #95999A;
}

/* Multiple sections exist within the outline as cached
versions for fast-switching.
So only the 'on' one is visible at a time */
#deskpro_outline > section {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#deskpro_outline > section.on {
    display: block;
}


#deskpro_outline h2 {
    font-size: 14px;
    color: #9EA6B5;
    font-weight: bold;
    padding:  3px 0 3px 5px;

    text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
}

#deskpro_outline_loading {
    background: url(../../images/loading-big-circle.gif) no-repeat 50% 0;
    padding-top: 50px;
    text-align: center;
    margin-top: 15px;
}


#tickets_outline_flags_list li a {
    padding-left: 19px;
    background-position: 0 50%;
    background-repeat: no-repeat;
}

#tickets_outline_flags_list li.flag-blue a { background-image: url(../../images/icons/flag_blue.png); }
#tickets_outline_flags_list li.flag-green a { background-image: url(../../images/icons/flag_green.png); }
#tickets_outline_flags_list li.flag-orange a { background-image: url(../../images/icons/flag_orange.png); }
#tickets_outline_flags_list li.flag-pink a { background-image: url(../../images/icons/flag_pink.png); }
#tickets_outline_flags_list li.flag-purple a { background-image: url(../../images/icons/flag_purple.png); }
#tickets_outline_flags_list li.flag-red a { background-image: url(../../images/icons/flag_red.png); }
#tickets_outline_flags_list li.flag-yellow a { background-image: url(../../images/icons/flag_yellow.png); }

#tickets_outline_inbox_list .sub-toggle {
    float: left;
    display: block;
    background: url(../../images/icons/bullet_toggle_plus.png) no-repeat 50% 50%;
    cursor: pointer;
    margin-right: 2px;
    margin-top: 6px;
    margin-left: 1px;
    width: 10px;
    height: 10px;
    text-indent: -100px;
    overflow: hidden;
}

#tickets_outline_inbox_list .sub-toggle.open {
    background-image: url(../../images/icons/bullet_toggle_minus.png);
}

/********************************
* #deskpro_list
*********************************/

#deskpro_list {
    position: absolute;
    top: 0;
    left: 244px/*#deskpro_sections width + #deskpro_outline width*/;
    bottom: 0;
    overflow: hidden;

    width: 299px;

    background-color: #F9FAFC;
    border-right: 1px solid #95999A;
}

/* Multiple sections exist within the outline as cached
versions for fast-switching.
So only the 'on' one is visible at a time */
#deskpro_list > section {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#deskpro_list > section.on {
    display: block;
}

#deskpro_list_loading {
    background: url(../../images/loading-big-circle.gif) no-repeat 50% 0;
    padding-top: 50px;
    text-align: center;
    margin-top: 15px;
}

/********************************
* #deskpro_content
*********************************/

#deskpro_content {
    position: absolute;
    top: 0;
    left: 542px/*#deskpro_sections width + #deskpro_outline width + #deskpro_list width*/;
    right: 0;
    bottom: 0;
    overflow: hidden;

    background-color: #fff;
}

#deskpro_viewport {
    position: absolute;
    top: 39px /*#deskpro_tabstrip height*/;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#deskpro_viewport > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#deskpro_viewport > div > .layout-content.full-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#deskpro_tabstrip {
    height: 38px;

    background: #fbfcfe;
    background: -moz-linear-gradient(top, #fbfcfe 0%, #e8edf1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfcfe), color-stop(100%,#e8edf1));
    background: -webkit-linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);
    background: -o-linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);
    background: -ms-linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBFCFE', endColorstr='#E8EDF1',GradientType=0 );
    background: linear-gradient(top, #fbfcfe 0%,#e8edf1 100%);

    border-bottom: 1px solid #9FA7AA;

    -moz-box-shadow: 0px 0px 1px #A0A1A1;
    box-shadow: 0px 0px 1px #A0A1A1;
}

#deskpro_tabstrip > ul > li {
    display: block;
    float: left;

    background-color: #FAFAFA;
    height: 29px;
    overflow: hidden;
    margin-top: 8px;
    margin-left: 6px;

    padding: 0 6px 0 6px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #757575;

    border: 1px solid #E5EAED;
    border-bottom: none;
    
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#deskpro_tabstrip > ul > li > a.link {
    line-height: 29px;
    color: #757575;
    max-width: 80px;
	overflow: hidden;
	white-space:nowrap;
    font-weight: bold;
    display: block;
    float: left;
}

#deskpro_tabstrip > ul > li.alert-highlight {
    background-color: #FCFF96 !important;
    -webkit-transition: background 150ms ease;
    -moz-transition: background 150ms ease;
    -o-transition: background 150ms ease;
    transition: background 150ms ease;

    border-color: #949494;
}

#deskpro_tabstrip > ul > li.active-tab {
    margin-top: 6px;
    background-color: #fff;

    border: 1px solid #CBCFD8;
    border-bottom: none;
}

#deskpro_tabstrip > ul > li.icon a.link {
    padding-left: 15px;
    line-height: 29px;
}

#deskpro_tabstrip > ul > li > a.close-tab {
	opacity: .5;
    float: right;
	display: block;
	margin: 7px 0px 0px 6px;
	text-indent: -9999px;
	width: 12px;
	height: 13px;
    line-height: 13px;
    overflow: hidden;
	background: url("../../images/icn-sprite.png") left -862px;
}

#deskpro_tabstrip > ul > li > a.close-tab:hover {
    background: url("../../images/icn-sprite.png") left -879px;
}

#deskpro_tabstrip > ul > li.ticket a.link {
	padding-left: 20px;
	background: url("../../images/icons/mail.png") 0 50% no-repeat;
}

#deskpro_tabstrip > ul > li.loading a.link {
    padding-left: 19px;
	background: url("../../images/tab-loading.gif") 0 50% no-repeat;
}

#deskpro_viewport .tab-loading {
    text-align: center;
    padding: 50px;
}

/********************************
* Ticket Section
*********************************/

#tickets_outline_tabstrip {
    margin-top: 15px;
}

#ticket_grouping_options {
    font-size: 10px;
    background-color: #fff;
    padding: 2px;
    margin:  5px 3px 2px 3px;

    border:  1px solid #eee;

    -moz-border-radius: 3px;
    border-radius: 3px;
}

#ticket_grouping_options ul li:nth-child(2) {
    background: url(../../images/elbow-end.gif) no-repeat -5px 50%;
    padding-left: 12px;
    margin-top: 2px;
}

#ticket_grouping_options ul li:nth-child(3) {
    background: url(../../images/elbow-end.gif) no-repeat -5px 50%;
    padding-left: 12px;
    margin-top: 2px;
    margin-left: 12px;
}

#ticket_grouping_options .grouping-menu-trigger,
#ticket_grouping_options .mode-menu-trigger {
    color: #7A8699;
    cursor: pointer;
}


header.control-bar {
    background-color: #DFE9F4;
    padding: 2px 5px 2px 5px;
    border-bottom: 1px solid #A7A8A8;
}

header.control-bar .selection-control {
    float: left;
    height: 12px;
    margin-top: 3px;
}

header.control-bar .display-options-trigger {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -1000px;
    overflow: hidden;
    cursor: pointer;

    background: transparent url(../../images/icons/edit-gear.png) no-repeat top right;

    margin: 2px 2px 0 2px;
}

header.control-bar .detail-view-trigger {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -1000px;
    overflow: hidden;
    cursor: pointer;

    background: transparent url(../../images/icons/monitor_go.png) no-repeat top right;

    margin: 2px 2px 0 2px;
}

.mass-actions.overlay {
    min-width: 800px;
}

.mass-actions dl {
    padding-bottom: 10px;
}

.mass-actions dt {
    clear: both;
    float: left;
    width: 160px;
    margin-top: 10px;
}

.mass-actions dd {
    margin-left: 167px;
    margin-top: 10px;
}


.mass-actions .reply-area textarea {
    width: 80%;
    height: 100px;
    margin-bottom: 5px;
}


header.grouping-bar button {
    float: left;
    margin-top: 4px !important;
    margin-left: 4px !important;
}

header.grouping-bar button span {
    background: url(../../images/icons/bullet_arrow_down.png) no-repeat 100% 50%;
    padding-right: 16px;
}

header.grouping-bar {
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #ecf1f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#ecf1f5));
    background: -webkit-linear-gradient(top, #fefefe 0%,#ecf1f5 100%);
    background: -o-linear-gradient(top, #fefefe 0%,#ecf1f5 100%);
    background: -ms-linear-gradient(top, #fefefe 0%,#ecf1f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEFE', endColorstr='#ECF1F5',GradientType=0 );
    background: linear-gradient(top, #fefefe 0%,#ecf1f5 100%);

    border-bottom: 1px solid #C3CBCE;

    padding: 3px 2px 2px 3px;
}

header.grouping-bar ul li {
    float: left;
    display: block;
    background-color: #E8ECF0;
    border: 1px solid #D8DCE0;
    margin-right: 5px;
    margin-bottom: 3px;;
    -webkit-box-shadow: inset 0px 1px 0px px #ffffff;
    -moz-box-shadow: inset 0px 1px 0px px #ffffff;
    box-shadow: inset 0px 1px 0px px #ffffff;
    padding: 1px 2px 1px 2px;
    line-height: 15px;
    cursor: pointer;
}

header.grouping-bar ul li.on, header.grouping-bar ul li:hover {
    background-color: #D9E8F9;

    -webkit-transition: background 550ms ease;
    -moz-transition: background 550ms ease;
    -o-transition: background 550ms ease;
    transition: background 550ms ease;

    border-color: #6A9BB3;
    
}

header.grouping-bar ul li .count {
    margin-left: 3px;
    background-color: #fff;
    font-size: 9px;
    padding: 1px 3px 1px 3px;;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}



header.selection-bar {
    background: #E6EAEF;
    border-bottom: 1px solid #C3CBCE;

    padding: 3px;
}

header.selection-bar button.clean-gray {
    float: right;
    padding-right: 0 !important;
}

header.selection-bar button span {
    background: url(../../images/icons/bullet_arrow_down.png) no-repeat 100% 50%;
    padding-right: 16px;
}
header.control-bar button span {
    background: url(../../images/icons/bullet_arrow_down.png) no-repeat 100% 50%;
    padding-right: 16px;
    margin-right: -4px;
}