/* Get around a bug in less, always have this rule or else compiler error */
.less-rule {
  color: #000;
}
/**
* @color: Color for non-supportive browsers
* @start: Color of start
* @stop: Color of end
*/
/**
* Set a 1px border of color on each side
*/
/**
* Set a black drop shadow
*/
/**
* Set rounded corners
*/
/**
* Set a radius on each corner
*/
/**
* Set opacity
*/
/**
* Set an inner black shadow
*/
/**
* Full box shadow
*/
/**
* Transition effect
*/
.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.boxmodel-border-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
#agent_chat_section {
  background-image: -moz-linear-gradient(top, #eef0f2, #e4e6e9);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#eef0f2), to(#e4e6e9));
  -pie-background: linear-gradient(#eef0f2, #e4e6e9);
  border-radius: 5px 5px 0 0;
  border-top: 1px solid #212326;
  border-left: 1px solid #212326;
  border-right: 1px solid #212326;
  box-shadow: 0 1px 0 #FFFFFF inset;
  bottom: 0;
  cursor: pointer;
  height: 25px;
  left: 8px;
  position: absolute;
  width: 37px;
  z-index: 9999;
}
#chat_online_count {
  background: url("../..//images/agent/navIcon.png") no-repeat;
  color: #FFFFFF;
  float: left;
  font-weight: normal;
  height: 7px;
  margin: 0 10px;
  padding: 28px 0 0;
  width: 33px;
}
#agent_chat_section:hover {
  background: #d2d4d6;
}
#chat_online_count {
  position: relative;
}
#chat_online_count {
  background-position: 0 -350px;
  padding: 11px 1px 5px 24px;
  width: 100%;
  margin: 0;
  color: #000000;
  text-shadow: 0 1px 0 #fff;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 10px;
}
#agent_chat_panel {
  display: none;
  background: #fafafa;
  border: 1px solid #b6babf;
  border-radius: 5px 5px 0 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 8px;
  width: 300px;
  z-index: 99999;
  height: 350px;
}
#agent_chat_panel.open {
  display: block;
}
#agent_chat_panel header {
  background-image: -moz-linear-gradient(top, #eff1f2, #dadcde);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#eff1f2), to(#dadcde));
  -pie-background: linear-gradient(#eff1f2, #dadcde);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35) inset, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #b6babf;
  border-radius: 5px 5px 0 0;
  float: left;
  height: 20px;
  padding: 6px 0 0 5px;
  width: 295px;
}
#agent_chat_panel > header nav {
  float: left;
  margin: 10px 5px 0;
}
#agent_chat_panel > header li {
  background-image: -moz-linear-gradient(top, #6da3c2, #375388);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#6da3c2), to(#375388));
  -pie-background: linear-gradient(#6da3c2, #375388);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  border-radius: 5px 5px 0 0;
  border-right: 1px solid #4d7399;
  border-left: 1px solid #4d7399;
  border-top: 1px solid #4d7399;
  margin: 0 1px;
  display: inline;
  float: left;
  margin: 0 5px 0 1px;
  padding: 0 5px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 20px;
  overflow: hidden;
}
#agent_chat_panel > header li a {
  color: #fff;
  float: left;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  padding: 4px 0 3px;
}
#agent_chat_panel > header li a span {
  background: url("../..//images/agent/imgSprt_ico.png") no-repeat;
}
#agent_chat_panel > header li a span.user-icon {
  background-position: 0 -1281px;
  padding: 0 8px 0 23px;
}
#agent_chat_panel > header li a span.team-icon {
  background-position: 0 -1215px;
  padding: 0 7px 0 26px;
}
#agent_chat_panel > header li:hover {
  background-image: -moz-linear-gradient(top, #93bcdc, #4b7ebb);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#93bcdc), to(#4b7ebb));
  -pie-background: linear-gradient(#93bcdc, #4b7ebb);
}
#agent_chat_panel > header li.on, #agent_chat_panel > header li.on:hover {
  background: #fafafa;
  border-right: 1px solid #b6babf;
  border-left: 1px solid #b6babf;
  border-top: 1px solid #b6babf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
#agent_chat_panel > header li.on a span.user-icon {
  color: #2d5680;
  background-position: 0 -1312px;
}
#agent_chat_panel > header li.on a span.team-icon {
  color: #2d5680;
  background-position: 0 -1246px;
}
#agent_chat_panel .close-btn {
  background: url("../..//images/agent/imgSprt_ico.png") no-repeat 0 -1336px;
  display: block;
  height: 15px;
  width: 16px;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 6px;
}
#agent_chat_panel > section {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  bottom: 37px;
}
#agent_chat_panel > footer {
  background-image: -moz-linear-gradient(top, #ebeced, #d9dadc);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ebeced), to(#d9dadc));
  -pie-background: linear-gradient(#ebeced, #d9dadc);
  border-top: 1px solid #DEDFE0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  height: 26px;
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#agent_chat_panel .show-offline {
  display: block;
  height: 17px;
  padding: 5px;
  position: relative;
  border-bottom: 1px solid #e3e4e6;
}
#agent_chat_panel .show-offline label {
  font-size: 10px;
  font-weight: normal;
  color: #7e858c;
  float: right;
}
#agent_chat_panel input.show-offline-opt {
  margin-right: 4px;
}
#agent_chat_panel button.view-history {
  background: -moz-linear-gradient(top, #fafcfd 0%, #f0f2f3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafcfd), color-stop(100%, #f0f2f3));
  -pie-background: linear-gradient(#f0f2f3, #fafcfd);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6), 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 0 0 1px rgba(255, 255, 255, 0.25) inset;
  border: 1px solid #b6babf;
  border-radius: 3px 3px 3px 3px;
  padding: 2px 8px 3px 6px;
  color: #626A73;
  padding: 2px 6px 2px 8px;
  cursor: pointer;
  font-size: 10px;
  font: bold 10px/12px 'Helvetica Neue', sans-serif;
  position: absolute;
  right: 5px;
  top: 10px;
}
#agent_chat_panel h6 {
  background-color: #fff;
  padding: 4px 0 4px 10px;
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid #E3E4E6;
}
#agent_chat_panel ul.list li {
  background-color: #F3F3F3;
  border-bottom: 1px solid #E3E4E6;
  padding: 0 0 0px 38px;
  position: relative;
  height: 34px;
  line-height: 34px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
}
#agent_chat_panel ul.list li .avatar {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#agent_chat_panel .offline-list {
  display: none;
}
#agent_chat_panel.show-offline .offline-list {
  display: block;
}
#agentChatWrapper {
  position: absolute;
  bottom: 0;
  left: 60px;
  z-index: 10000;
  display: block;
}
.agentChat {
  position: absolute;
  bottom: 0;
  left: 0;
}
.agentChat div.openChat {
  background-image: -moz-linear-gradient(top, #edeff2, #e1e3e6);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#edeff2), to(#e1e3e6));
  -pie-background: linear-gradient(#edeff2, #e1e3e6);
  border-right: 1px solid #b6babf;
  border-left: 1px solid #b6babf;
  border-top: 1px solid #b6babf;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
  left: 0;
  padding: 5px;
  position: absolute;
  width: 70px;
  bottom: 0;
}
.agentChat div.closedChat {
  background-image: -moz-linear-gradient(top, #6ea4c3, #375288);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#6ea4c3), to(#375288));
  -pie-background: linear-gradient(#6ea4c3, #375288);
  border-right: 1px solid #334d66;
  border-left: 1px solid #334d66;
  border-top: 1px solid #334d66;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  width: 70px;
  bottom: 0;
}
.agentChat div.closedChat span.closeTrigger {
  background-position: 0 -1137px;
}
.agentChat div.closedChat a {
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.agentChat div span.closeTrigger {
  background: url("../..//images/agent/imgSprt_ico.png") no-repeat 0 -1335px;
  height: 12px;
  padding: 2px;
  position: absolute;
  right: 5px;
  text-indent: -10000px;
  top: 10px;
  width: 13px;
  cursor: pointer;
}
.agentChat div a {
  color: #626973;
  font: 11px;
  font-weight: bold;
  line-height: 25px;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  white-space: nowrap;
  margin: 0 0 0 6px;
}
.wrapChatBox {
  background: #d8dadc;
  border: 1px solid #B6BABF;
  border-radius: 5px 5px 5px 0;
  bottom: 32px;
  height: 340px;
  left: -1px;
  position: absolute;
  width: 312px;
}
.messageBoxHead {
  background-image: -moz-linear-gradient(top, #f1f3f5, #e4e7eb);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f1f3f5), to(#e4e7eb));
  -pie-background: linear-gradient(#f1f3f5, #e4e7eb);
  border-radius: 5px 5px 0 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
  left: 0;
  position: absolute;
  top: 0;
  width: 312px;
  height: 36px;
}
.messageBoxHead h2 {
  font-size: 14px;
  font-weight: bold;
  color: #2d5680;
  text-shadow: 0 1px 0 #fff;
  float: left;
  padding: 10px;
}
.msgAct {
  float: right;
}
.messageBoxHead span.statusOnline {
  border-right: 1px solid #d8dadc;
  color: #949799;
  font-size: 11px;
  font-weight: bold;
  padding: 11px 5px 12px 0;
  box-shadow: 1px 0 0 #fff;
  float: left;
}
.messageBoxHead span.minimize {
  background: url("../..//images/agent/imgSprt_ico.png") no-repeat 0 -1455px;
  cursor: pointer;
  float: right;
  height: 16px;
  margin: 11px 8px 0 7px;
  text-indent: -9999px;
  width: 16px;
}
.messageBox {
  background: #E4E7EB;
  border-top: 1px solid #b6babf;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
  position: absolute;
  bottom: 53px;
  left: 0;
  padding: 5px 5px 5px 7px;
  top: 35px;
  width: 300px;
  left: 0;
  height: 253px;
}
.agentOnline {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 2px solid #F5F5F5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.1) inset, 0 0 2px 1px rgba(0, 0, 0, 0.1) inset;
  float: left;
  padding: 3px 3px 0;
  position: relative;
}
.messageContainer {
  font-size: 11px;
  line-height: 12px;
  float: left;
  width: 300px;
  margin-bottom: 5px;
}
.messageContainer .chatSend, .messageContainer .chatRecieve {
  color: #626973;
  font-size: 11px;
  line-height: 22px;
  text-shadow: 0 1px 0 #fff;
  padding: 3px 5px;
}
.messageContainer .chatSend {
  float: left;
}
.messageContainer .chatRecieve {
  float: left;
}
.messageContainer .timeChat, .messageContainer .dateChat {
  font-size: 10px;
  color: #a1a8b2;
}
.messageContainer .dateChat {
  padding: 3px 0;
  text-align: center;
}
.chatSend .chatMsgSend, .chatRecieve .chatMsgRecieve {
  color: #595959;
  font-size: 11px;
  float: left;
  line-height: 18px;
  padding: 2px 10px;
  position: relative;
  width: 205px;
}
.chatSend .chatMsgSend {
  background-image: -moz-linear-gradient(top, #f2f2f2, #eaeaea);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f2f2f2), to(#eaeaea));
  -pie-background: linear-gradient(#f2f2f2, #eaeaea);
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 0 0px 1px rgba(255, 255, 255, 0.3) inset;
}
.chatRecieve .chatMsgRecieve {
  background-image: -moz-linear-gradient(top, #cce8f2, #b0dbea);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#cce8f2), to(#b0dbea));
  -pie-background: linear-gradient(#cce8f2, #b0dbea);
  border-radius: 3px;
  border: 1px solid #8fb3bf;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 0 0px 1px rgba(255, 255, 255, 0.3) inset;
  float: left;
}
.chatMsgSend span.bubbleLeft {
  background: url("../..//images/agent/imgSprt_ico.png") no-repeat 0 -1515px;
  bottom: 1px;
  left: -11px;
  padding: 4px 8px;
  position: absolute;
}
.chatMsgRecieve span.bubbleRight {
  background: url("../..//images/agent/imgSprt_ico.png") no-repeat 0 -1538px;
  bottom: 1px;
  right: -11px;
  padding: 4px 8px;
  position: absolute;
}
.chatSend .timeChat {
  float: right;
  text-align: right;
  width: 60px;
  padding: 3px 0 0;
}
.chatRecieve .timeChat {
  float: left;
  width: 60px;
  padding: 3px 0 0;
}
.inputMessageWrap {
  background: #edeff2;
  border-radius: 0 0 5px 0px;
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 1px rgba(255, 255, 255, 0.2) inset;
  bottom: 0;
  padding: 5px 6px;
  position: absolute;
  width: 300px;
}
textarea#typeChat {
  color: #626973;
  font-size: 11px;
  line-height: 18px;
  border: 1px solid #dce1e6;
  border-radius: 3px;
  outline: none;
  width: 290px;
  padding: 3px 5px 2px;
  word-wrap: break-word;
}
span.borderOver {
  border-bottom: 1px solid #edeff2;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 80px;
}
