/*****************************************************************************
 * Layout
/*****************************************************************************/

#dp_content{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 683px;

	background-color: #FFF;
	border-right: 1px;
	border-right-style: solid;
	border-right-color: #8d9094;
	overflow: hidden;
	z-index: 0;
	color: #404040;
}
#dp_content_wrap{
	text-shadow: 0 1px 0 #fff;
	position: absolute;
	top: 39px;
	right: 0;
	bottom: 0;
	left: 0;
}
#dp_content_wrap > div.tabViewDetailContent {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#dp_content_wrap > div.tabViewDetailContent > .with-scrollbar {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#tabNavigationPane{
	background-image: -moz-linear-gradient(top, #DADBDE, #F0F1F3);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#DADBDE), to(#F0F1F3));
	-pie-background: linear-gradient(#DADBDE, #F0F1F3);
	behavior: url(../../static/vendor/PIE.htc);
	height: 37px;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #B6BABF;
}

#tabNavSelectorLeft{
	height: 31px;
	left: 1px;
	position: absolute;
	width: 28px;
	z-index: 99;
	background: url(../../images/agent/tabSelect.png) no-repeat -6px -2px;
}
#tabNavSelectorLeft:hover{
	background-position: -6px -65px;
}
#tabNavSelectorRight{
	height: 30px;
	position: absolute;
	right: 35px;
	width: 32px;
	z-index: 99;
	background: url(../../images/agent/tabSelect.png) no-repeat 0 -131px;
}
#tabNavSelectorRight:hover{
	background-position: 0 -192px;
}
#tabNavSelectorLeft a, #tabNavSelectorRight a{
	cursor: pointer;
	display: block;
	float: left;
	text-indent: -9999px;
}
#tabNavSelectorLeft a.tabSlideLeft{
 	padding: 7px 11px;
}
#tabNavSelectorRight a.tabSlideRight{
	padding: 7px 16px;
}

#tabDropdownPicker{
	display: none;
	background-image: -moz-linear-gradient(top, #6baccc, #5182b3);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#6baccc), to(#5182b3));
	-pie-background: linear-gradient(#6baccc, #5182b3);
	behavior: url(../../static/vendor/PIE.htc);
	z-index: 99;
	height: 10px;
	padding: 10px 5px;
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
  	border-bottom: 1px solid #AAAEB3;
    border-left: 1px solid #4D7399;
	box-shadow: 0 0 1px #FFFFFF inset;
}
#tabDropdownPicker:hover{
	background-image: -moz-linear-gradient(top, #6fa6c4, #375387);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#6fa6c4), to(#375387));
	-pie-background: linear-gradient(#6fa6c4, #375387);
	behavior: url(../../static/vendor/PIE.htc);
}



.deskproTabList{
	position: relative;
	height: 37px;
	padding: 0 0 0 10px;
}

.deskproTabList ul{
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.deskproTabList li{
	background-image: -moz-linear-gradient(top, #d5d8dc, #b6babf);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#d5d8dc), to(#b6babf));
	-pie-background: linear-gradient(#d5d8dc, #b6babf);
	behavior: url(../../static/vendor/PIE.htc);
	box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset;
	border-radius: 3px 3px 0 0;
	border-right: 1px solid #8a9199;
	border-left: 1px solid #8a9199;
	border-top: 1px solid #8a9199;
	padding: 0px 2px 2px 3px;
	margin: 8px 4px 0 0;
	display: inline;
	float: left;
	position: relative;
	max-width: 115px;
	overflow:hidden;
}
.deskproTabList li.important{
	background-image: -moz-linear-gradient(top, #6da3c2, #375388);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#6da3c2), to(#375388));
	-pie-background: linear-gradient(#6da3c2, #375388);
	behavior: url(../../static/vendor/PIE.htc);
	border-right: 1px solid #4d7399;
	border-left: 1px solid #4d7399;
	border-top: 1px solid #4d7399;
	position: relative;
}

.deskproTabList li.activeTabList{
	background: #FFFFFF;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
	behavior: url(../../static/vendor/PIE.htc);
	border-right: 1px solid #b6babf;
	border-left: 1px solid #b6babf;
	border-top: 1px solid #b6babf;
	display: block;
	position: relative;
	z-index: 1;
}
/*.ie .deskproTabList li.activeTabList{
	box-shadow: none !important;
}*/
.deskproTabList li.activeTabList:hover{
	background: #FFFFFF;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
	behavior: url(../../static/vendor/PIE.htc);
	position: relative;
}
.deskproTabList li.activeTabList:hover span.close{
	background-position: -18px -1137px;
}
.deskproTabList li.activeTabList span.close:hover{
	background-position: 0 -1137px;
}

.deskproTabList li.important:hover{
	background-image: -moz-linear-gradient(top, #93bcdc, #4b7ebb);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#93bcdc), to(#4b7ebb));
	-pie-background: linear-gradient(#93bcdc, #4b7ebb);
	behavior: url(../../static/vendor/PIE.htc);
	position: relative;
}

.deskproTabList li.activeTabList .bound-fade {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 45px;

	background: -moz-linear-gradient(left, rgba(245,247,250,0) 0%, rgba(245,247,250,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(245,247,250,0)), color-stop(100%,rgba(245,247,250,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(245,247,250,0) 0%,rgba(245,247,250,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(245,247,250,0) 0%,rgba(245,247,250,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(left, rgba(245,247,250,0) 0%,rgba(245,247,250,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f5f7fa', endColorstr='#f5f7fa',GradientType=1 ); /* IE6-9 */
	background: linear-gradient(left, rgba(245,247,250,0) 0%,rgba(245,247,250,1) 100%); /* W3C */
}

.deskproTabList li .bound-fade {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 45px;
	background: -moz-linear-gradient(left, rgba(186,190,195,0) 0%, rgba(186,190,195,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(186,190,195,0)), color-stop(100%,rgba(186,190,195,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(186,190,195,0) 0%,rgba(186,190,195,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(186,190,195,0) 0%,rgba(186,190,195,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(left, rgba(186,190,195,0) 0%,rgba(186,190,195,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00babec3', endColorstr='#babec3',GradientType=1 ); /* IE6-9 */
	background: linear-gradient(left, rgba(186,190,195,0) 0%,rgba(186,190,195,1) 100%); /* W3C */
}

.deskproTabList li.activeTabList a{
	color: #2d5680;
	text-shadow: none;
}
.deskproTabList li a{
	background: url(../../images/agent/imgSprt_ico.png) no-repeat 0 -468px;
	font-size: 11px;
	color: #676D73;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	padding: 5px 4px 3px 19px;
	float: left;
	behavior: url(../../static/vendor/PIE.htc);
	position: relative;
	width: 300px;
	overflow: hidden;
	white-space: nowrap;
}
.ie .deskproTabList li a{
	padding: 4px 10px 6px 18px;
}
.deskproTabList li.important a{
	background-position: 0 -592px;
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.deskproTabList li a:hover{}
.deskproTabList li span.close{
	display: block;
	float: right;
	height: 13px;
	position: absolute;
	right: 3px;
	top: 8px;
	width: 13px;
}
.deskproTabList li.important:hover span.close, .deskproTabList li.activeTabList:hover span.close{
	background: url(../../images/close-small.png);
}
.deskproTabList li.activeTabList a.open {
	background-position: 0 -1046px !important;
	padding: 5px 10px 5px 18px;
}

.topContentTicketView{
	border-bottom: 1px solid #e1e3e6;
	padding: 15px;
	position: relative;
}






/*****************************************************************************
 * Header elements
/*****************************************************************************/

header.page-header {
	border-bottom: 1px solid #e1e3e6;
	padding: 5px 10px 10px 10px;
	position: relative;
}

header.page-header .id-number {
	background: #e6ebf2;
	border: 1px solid #C3CED9;
    border-radius: 3px 3px 3px 3px;
    float: left;
    padding: 5px 8px 2px 8px;
	font-size: 13px;
	font-weight: bold;
	color: #636b73;
	behavior: url(../../static/vendor/PIE.htc);
	position: relative;
}

header.page-header h1 {
	float: left;
	margin: 5px 0 0 10px;
	color: #2d5680;
	font-size: 13px;
	font-weight: bold;
}

header.page-header .meta-line {
	margin-top: 10px;
}

header.page-header .meta-line .category > span {
	background: #fafafa;
	border-radius: 3px 3px 3px 3px;
	float: left;
	border: 1px solid #D9D9D9;
	cursor: pointer;
	margin-left: 10px;
	behavior: url(../../static/vendor/PIE.htc);
	position: relative;
	color: #697b8c;
	font-size: 11px;
	font-weight: normal;
	float: left;
	padding: 5px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

header.page-header .meta-line .status span {
	background-image: -moz-linear-gradient(top, #8bbe72, #71b058);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#8bbe72), to(#71b058));
	-pie-background: linear-gradient(#8bbe72, #71b058);
	behavior: url(../../static/vendor/PIE.htc);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset;
	border-radius: 3px 3px 3px 3px;
	float: left;
	border: 1px solid #719A5D;
	cursor: pointer;
	position: relative;

	font-size: 11px;
	color: #FFF !important;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) !important;
	padding: 5px;
}

header.page-header .meta-line .set-hold span {
	border-radius: 3px 3px 3px 3px;
	float: left;
	border: 1px solid #719A5D;
	cursor: pointer;
	position: relative;

	font-size: 11px;
	color: #FFF !important;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5) !important;
	padding: 5px;

	background-image: -moz-linear-gradient(top, #be5f5f, #b04949);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#be5f5f), to(#b04949));
	-pie-background: linear-gradient(#be5f5f, #b04949);
	behavior: url(../../static/vendor/PIE.htc);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset;
	float: right;
	border-radius: 3px;
	border: 1px solid #6b4343;
	position: relative;
}

header.page-header .meta-line .set-hold.unhold span {
	background: rgb(169,3,41); /* Old browsers */
background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
}


/*****************************************************************************
 * Page description info
/*****************************************************************************/

section.description-area {
	padding: 10px 15px;
}

section.description-area .info-list {
	color: #5B708C;
	font-size: 10px;
}

section.description-area .info-list dl { line-height: 20px; }

section.description-area .info-list dt {
	float: left;
	text-align: right;
	width: 100px;
	line-height: 20px;
	clear: left;
}

section.description-area .info-list dd {
	margin-left: 110px;
	text-align: left;
	font-weight: normal;
	line-height: 20px;
}

section.description-area .info-list dd span {
	font-weight: normal;
}

section.description-area .info-list dd a {
	color: #5B708C;
	cursor: pointer;
}

section.description-area .info-list dd a:hover{
	color: #6c83a6;
}

section.description-area .info-list dd span.expand{
	background: url(../../images/agent/imgSprt_ico.png) no-repeat 0 -845px;
	padding: 0 7px;
}

section.description-area .controls {
	margin-top: 9px;
}


/*****************************************************************************
 * Tab strip
/*****************************************************************************/

nav.page-tabs {
	background-image: -moz-linear-gradient(top, #F0F1F3, #DADBDE);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#F0F1F3), to(#DADBDE));
	-pie-background: linear-gradient(#F0F1F3, #DADBDE);
	behavior: url(../../static/vendor/PIE.htc);
	height: 27px;
	clear: both;
	border-top: 1px solid #C2C6CC;
	border-bottom: 1px solid #c2c6cc;
	position: relative;
}


nav.page-tabs ul li {
	float: left;
	border-right: 1px solid #C2C6CC;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 20px;
	color: #738699;
	padding: 4px 15px;
	float: left;
}

nav.page-tabs ul li.on {
	background-color: #fff;
}

/*****************************************************************************
 * Mid page section
/*****************************************************************************/

article.mid-page {
	background-color: #fff;
}

article.mid-page .controls {
	border-top: 1px solid #C2C6CC;
	padding: 8px 0 0 10px;
	margin-top: 8px;
	margin-bottom: 8px;
}

article.mid-page footer.time-info {
	padding: 0 8px 0 10px;
	margin: 0px 0 8px 0;
}

article.mid-page footer.time-info ul li {
	font-size: 10px;
	margin: 2px 0 2px 0;
}

article.mid-page footer.time-info .options-text {
	border-bottom: 1px dotted #A9ADB1;
	cursor: pointer;
}

article.mid-page footer.time-info .opt {
	border: 1px solid #CACFD4;
	webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0 3px 0 3px;
	cursor: pointer;
}


/*****************************************************************************
 * A key-value type table/list
/*****************************************************************************/

dl.table-list {
	margin: 5px 10px 5px 10px;
	font-size: 10px;
}

dl.table-list         dt { width: 80px;  }    dl.table-list dd         { margin-left: 85px;  }
dl.table-list.wide    dt { width: 110px; }    dl.table-list.wide dd    { margin-left: 115px; }
dl.table-list.wwide   dt { width: 130px; }    dl.table-list.wwide dd   { margin-left: 135px; }
dl.table-list.wwwide  dt { width: 150px; }    dl.table-list.wwwide dd  { margin-left: 155px; }
dl.table-list.wwwwide dt { width: 170px; }    dl.table-list.wwwwide dd { margin-left: 170px; }

dl.table-list dt:first-of-type,
dl.table-list dt:first-of-type {
	margin-top: 0;
}

dl.table-list dt {
	clear: left;
	float: left;

	color: #7E7E7E;

	margin-top: 8px;
}

dl.table-list dd {
	margin-top: 8px;
}

dl.table-list dt.type-labels {

}

dl.table-list dt.type-labels span.tag-icon {
	display: block;
	height: 16px;
	width: 16px;
	background: url("../../images/icn-sprite.png") left -978px no-repeat;
	float: left;
}



.add-remove-list li span.add {
	display: block;
	background: url(../../images/action-add.png) no-repeat 50% 50%;
	width: 11px;
	height: 11px;
	overflow: hidden;

	cursor: pointer;
	text-indent: -100px;

	float: left;
	margin-right: 4px;
	margin-top: 1px;
}

.add-remove-list li span.remove {
	display: block;
	background: url(../../images/action-remove.png) no-repeat 50% 50%;
	width: 11px;
	height: 11px;
	overflow: hidden;

	cursor: pointer;
	text-indent: -100px;

	float: left;
	margin-right: 4px;
	margin-top: 1px;
}


.sticky-search-words {
	margin: 10px;
}
.sticky-search-words .explain {
	clear: both;
	font-size: 9px;
}

.delete-notice {
	background-color: #D2D6DA;
	border-bottom: 2px solid #ACB0B4;

	padding: 3px 8px 3px 8px;
}

.spam-notice {
	background-color: #E1CDB9;
	border-bottom: 2px solid #BA8F7D;

	padding: 3px 8px 3px 8px;
}


/*****************************************************************************
 * Main content
/*****************************************************************************/

section.main-content {
	padding: 10px 15px 8px;
	border-top: 1px solid #B6BABF;
	background: #eceef0;
	box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15) inset;
	behavior: url(../../static/vendor/PIE.htc);
	position: relative;
}

/*****************************************************************************
 * Messages
/*****************************************************************************/

article.content-message {
	margin: 8px 0 8px 0;
}

article.content-message .avatar {
	background: #fff;
	padding: 2px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.5), inset 0 1px 0 rgba(0,0,0,0.1), inset 0 0 2px 1px rgba(0,0,0,0.1);
	border: 2px solid #f5f5f5;
	float: left;
	behavior: url(../../static/vendor/PIE.htc);
}

article.content-message .content {
	color: #000;
	margin-left: 40px;

	border-radius: 3px 3px 3px 3px;
	behavior: url(../../static/vendor/PIE.htc);
	position: relative;

	background-color: #FAFAFA;
	border: 1px solid #ACB2BF;
}

article.content-message .content header {
	background-image: -moz-linear-gradient(top, #e7eefc, #d7e3fa);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#e7eefc), to(#d7e3fa));
	-pie-background: linear-gradient(#e7eefc, #d7e3fa);
	behavior: url(../../static/vendor/PIE.htc);
	border-radius: 3px 3px 0 0;
	box-shadow: 0 1px 0 rgba(255,255,255,0.9) inset;
	border-bottom: 1px solid #acb2bf;
	position: relative;

	color: #5B513D;
	line-height: 22px;
	padding-top: 1px;
}

article.content-message.note-message .content header {
	background: rgb(235,236,239); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(235,236,239,1) 0%, rgba(215,217,220,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,236,239,1)), color-stop(100%,rgba(215,217,220,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(235,236,239,1) 0%,rgba(215,217,220,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(235,236,239,1) 0%,rgba(215,217,220,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(235,236,239,1) 0%,rgba(215,217,220,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebecef', endColorstr='#d7d9dc',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(235,236,239,1) 0%,rgba(215,217,220,1) 100%); /* W3C */
	border-radius: 3px 3px 0 0;
	box-shadow: 0 1px 0 rgba(255,255,255,0.9) inset;
	border-bottom: 1px solid #acb2bf;
	position: relative;

	color: #5B513D;
	line-height: 22px;
	padding-top: 1px;
}

article.content-message.agent-message .content header {
	background-image: -moz-linear-gradient(top, #fcf6e7, #faf0d8);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#fcf6e7), to(#faf0d8));
	-pie-background: linear-gradient(#fcf6e7, #faf0d8);
	behavior: url(../../static/vendor/PIE.htc);
	border-radius: 3px 3px 0 0;
	box-shadow: 0 1px 0 rgba(255,255,255,0.9) inset;
	border-bottom: 1px solid #bfb9ac;
	position: relative;
	color: #404040;
}

article.content-message .content header h4 {
	font-family: 'Myriad Pro','Myriad',helvetica,arial,sans-serif;
	font-weight: bold;
	font-size: 11px;
	margin: 0 5px 0 8px;
	display: inline;
}

article.content-message .content header .message-counter {
	float: right;
	font-size: 10px;
	margin-right: 6px;
	line-height: 20px;
}

article.content-message .content header .message-counter.with-gear {
	cursor: pointer;
	background: url(../../images/agent/imgSprt_ico.png) no-repeat 0 -777px;
	padding-left: 16px;
}

article.content-message .content header time {
	display: inline;
	font-size: 10px;
	color: #7E798F;
}

article.content-message .content header .comment-validate-btn {
	float: right;
	margin-right: 6px;
	font-size: 11px;
	font-style: italic;
	cursor: pointer;
	text-decoration: underline;
	color: #A47B57;
}

article.content-message .content .body-text {
	padding: 6px;
}

.tabbed-page-contents {
	margin: 10px;
}


/*****************************************************************************
 * Tickets
/*****************************************************************************/

ul.tickets-msg-controls {
	font-size: 10px;
}

ul.tickets-msg-controls li {
	display: inline;
	padding-right: 8px;
}

ul.tickets-msg-controls li input {
	margin-right: 4px;
}

.ticket-hidden-bar {
	background-color: #E2E3E6;
	padding: 3px 8px 3px 8px;
	font-size: 11px;
	text-align: center;
	border-bottom: 1px solid #CDCED2;
}




section.ticket-reply {
	background-color: #fff;
	border-top: 1px solid #ABAFB5;
	position: relative;
}

section.ticket-reply nav {
	background-image: -moz-linear-gradient(top, #F0F1F3, #DADBDE);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#F0F1F3), to(#DADBDE));
	-pie-background: linear-gradient(#F0F1F3, #DADBDE);
	behavior: url(../../static/vendor/PIE.htc);
	height: 27px;
	clear: both;
	border-bottom: 1px solid #c2c6cc;
	position: relative;
}


section.ticket-reply nav ul li {
	float: left;
	border-right: 1px solid #C2C6CC;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 20px;
	color: #738699;
	padding: 4px 15px;
	float: left;
}

section.ticket-reply nav ul li.on {
	background-color: #fff;
}

section.ticket-reply article.reply-area {
	position: relative;
}

section.ticket-reply article.reply-area .options-col {
	float: right;
	width: 150px;
	font-size: 10px;
	padding-top: 7px;
}

section.ticket-reply article.reply-area .options-col .extra-buttons {
	margin: 10px 8px 0 0px;
	background-color: #E8E8E8;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

section.ticket-reply article.reply-area .options-col .extra-buttons li:first-child {
	border-top: none;
}

section.ticket-reply article.reply-area .options-col .extra-buttons li {
	border-top: 1px solid #CCCCCC;
	padding: 3px 5px 3px 5px;
	cursor: pointer;
}

section.ticket-reply article.reply-area .reply-col {
	margin-right: 162px;
	position: relative;
}

section.ticket-reply article.reply-area .reply-col .reply-box-wrap {
	padding: 6px;
	padding-right: 0;
}

section.ticket-reply article.reply-area .reply-col .reply-box-wrap textarea {
	width: 100%;
	min-height: 200px;
	resize: none;
	margin: 0;
	padding: 0;

	border: 1px solid #C8CACC;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2) inset;
}

section.ticket-reply article.reply-area .reply-col footer {
	padding-bottom: 6px;
}

section.ticket-reply article.reply-area .reply-col button.reply {
	margin-left: 8px;
}

section.ticket-reply article.reply-area .reply-col .buttons-right {
	float: right;
}

section.ticket-reply article.reply-area .attach-list-area {
	padding:  10px;
}

section.ticket-reply article.reply-area .attach-list-area strong {
	font-size: 10px;
}

section.ticket-reply article.reply-area .menu-trigger {
	border-bottom: 1px dotted #ccc;
	cursor: pointer;
}

section.ticket-reply article.reply-area .attach-list-area span {
	font-size: 10px;
	margin-left: 5px;
}



.content-post-wrap {
	margin: 10px 10px 40px 10px;
	color: #404040;
	line-height: 145%;
	font-size: 11px;
}

.content-post-wrap p {
	margin-top: 10px;
	margin-bottom: 10px;
}

.content-post-wrap h1,
.content-post-wrap h2,
.content-post-wrap h3,
.content-post-wrap h4,
.content-post-wrap h5,
.content-post-wrap h6,
.content-post-wrap h7,
.content-post-wrap h8 {
	margin-top: 20px;
}


.download-content-info {
	background-color: #F0F1F3;
	border: 1px solid #C2C6CC;
	padding:  4px;
	border-radius: 6px;
	font-size: 11px;

	margin-bottom: 10px;
}

.download-content-info deiv.thumb {
	float: left;
	margin-right: 10px;
}


.profile header.page-header h1 {
	font-size: 16px;
	margin-top: 2px;
}

.profile header.page-header .titlewrap {
	float: left;
}

.profile header.page-header .meta-line {
	clear: left;
	margin-top: 0;
}

.profile header.page-header .meta-line .org {
	font-size: 13px;
	padding: 5px 0 0 3px;
}

.profile {
	background-color: #ECEEF0;
}

.profile header.page-header nav.actions {
	float: right;
}

.profile header {
	background-color: #fff;
}

.profile header.page-header nav.actions ul li {
	float: left;
	margin-right: 8px;
}

.profile .layout-table {

}

.profile .content-col {

}

.profile .property-col .table-container {
	margin-left: 0;
}

.profile .person-picture-box {
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 5px;
}

.table-container {
	border: 1px solid #ACB6BF;
	background-color: #fff;
	margin:  10px;
	border-radius: 3px;
	box-shadow: 0 1px 0 #FFFFFF, 0 1px 0 #FFFFFF inset, 0 0 1px rgba(255, 255, 255, 0.3) inset;
}

.table-container .table-title h4 {
	font-size: 12px;
	color: #404040;
	padding:  6px;
}


table.tickets-simple td {
	border-top: 1px solid #D5E3EE;
	font-size: 11px;
	vertical-align: middle;
	padding: 1px 4px 1px 3px;
}

table.tickets-simple tr.more td {
	text-align: center;
}

table.tickets-simple td.time {
	font-size: 9px;
	color: #777;
	white-space: nowrap;
	text-align: right;
}
table.tickets-simple td.time time {
	white-space: nowrap;
}

table.tickets-simple td.status {
	font-size: 9px;
	white-space: nowrap;
	text-align: right;
}

table.tickets-simple td.status .status {
	display: block;
	white-space: nowrap;;
	background-color: #93C8A8;
	color: #fff;
	border-radius: 6px;
	text-shadow: none;
	line-height: 100%;
	padding: 1px 3px 1px 3px;
	float: right;
}

table.tickets-simple td.status.closed .status,
table.tickets-simple td.status.resolved .status {
	background-color: #C2CCDE;
}

table.tickets-simple td.status.pending .status {
	background-color: #EBEBBD;
}
table.tickets-simple td.status.hidden .status {
	background-color: #fff;
	color: #aaa;
}

table.tickets-simple tr.add-new-member td {
	padding: 4px;
	border: none;
}

table.info-simple td {
	border-top: 1px solid #D5E3EE;
	font-size: 11px;
	vertical-align: middle;
	padding: 1px 4px 1px 3px;
}

table.info-simple tr:first-child td {
	border-top:  none;
}

table.info-simple td.time {
	font-size: 9px;
	color: #777;
	white-space: nowrap;
	text-align: right;
}
table.info-simple td.time time {
	white-space: nowrap;
}

table.info-simple td.label {
	white-space: nowrap;
	background-color: #F2F7FD;
}


ul.activity-stream {
	margin: 8px;
	margin-top: 0;
}

ul.activity-stream li {
	margin-bottom: 5px;
}

ul.activity-stream .what {

}

ul.activity-stream time {
	display: block;
	font-size: 9px;
	color: #777;
}



.notes-wrap {}
.notes-wrap ul li {

}

.notes-wrap .message {
	border-bottom: 1px solid #D5E3EE;
}

.notes-wrap li.note:last-of-type .message {
	border-bottom: none;
}

.notes-wrap .message .message-avatar {
	float: left;
	width: 25px;
	margin: 2px 1px 2px 2px;
}

.notes-wrap .message h4 {
	color: #606060;
}

.notes-wrap .message time {
	float: right;
	font-size: 9px;
	color: #777;
}

.notes-wrap .message .message-body {
	margin-left: 28px;
	padding: 3px;
}

.notes-wrap .new-note .trigger-row {
	text-align: center;
}

.notes-wrap .new-note .saving-row {
	text-align: center;
	display: none;
}

.notes-wrap .new-note textarea {
	width: 100%;
	height: 50px;
}

.notes-wrap .new-note {
	padding: 0;
	position: relative;
}

.notes-wrap .new-note header .controls {
	float: right;
	line-height: 100%;
}

.notes-wrap .new-note header {
	background-color: #DDDEE1;
	padding: 4px 8px 2px 8px;
	font-size: 10px;
	border-bottom:  1px solid #C8C9CD;
	border-top:  1px solid #C8C9CD;
}

.notes-wrap .new-note header h3 {
	font-size: 10px;
	font-weight: normal;
}

.notes-wrap .new-note .is-loading {
	background: url(../../images/loading-arrows-xsmall-whitebg.gif) no-repeat 0 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	text-indent: -100px;
}

.notes-wrap .new-note header .save {
	cursor: pointer;
	text-decoration: underline;
	color: #4769B3;
}

.notes-wrap .new-note textarea {
	margin:  5px;
	width: 90%;
}

.profile .summary {
	position: relative;
}

.profile .summary .wrap {
	text-align: center;
	padding-bottom: 6px;
	padding-top: 6px;
}

.profile .summary .wrap button {
	margin-top: 4px;
}

.profile  .summary textarea {
	width: 95%;
	min-height: 50px;
}

.profile header.page-header .edit-name-gear {
	position: relative;
	top: 3px;
	display: inline-block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: -100px;
	background: url(../../images/icons/edit-gear.png) no-repeat 0 0;
	cursor: pointer;
}

.profile header.page-header .editable div {
	display: inline !important;
}

.profile header.page-header .editing input[type="text"] {
	font-size: 14px;
	margin-top: -3px;
	width: 200px;
}

.profile header.page-header .editing .edit-name-gear {
	display: none;
}






.profile-box-container {
	margin:  10px;
}

.profile-box-container > header {
	background-image: -moz-linear-gradient(top, #F0F1F3, #DADBDE);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#F0F1F3), to(#DADBDE));
	-pie-background: linear-gradient(#F0F1F3, #DADBDE);
	behavior: url(js/lib/PIE.htc);
	height: 22px;
	border: 1px solid #ACB6BF;
	position: relative;

	border-radius: 3px 3px 0 0;
	overflow: hidden;
}

.profile-box-container > header > nav ul li {

	height: 22px;
	overflow: hidden;
	line-height: 24px;

	display: block;
	float: left;

	border-right: 1px solid #C2C6CC;
	background-image: -moz-linear-gradient(top, #edeff2, #e6eaed);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#edeff2), to(#e6eaed));
	-pie-background: linear-gradient(#edeff2, #e6eaed);
	behavior: url(js/lib/PIE.htc);
	position: relative;

	font-size: 10px;
	font-weight: bold;
	color: #738699;
	padding: 0px 8px;

	font-family: Helvetica,Arial;
	text-shadow: 0 1px 0 #FFFFFF;

	text-transform:uppercase;
	cursor: pointer;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.profile-box-container > header > nav ul li.on {
	background: rgb(205,210,217); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(205,210,217,1) 0%, rgba(199,207,213,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(205,210,217,1)), color-stop(100%,rgba(199,207,213,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(205,210,217,1) 0%,rgba(199,207,213,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(205,210,217,1) 0%,rgba(199,207,213,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(left, rgba(205,210,217,1) 0%,rgba(199,207,213,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdd2d9', endColorstr='#c7cfd5',GradientType=1 ); /* IE6-9 */
	background: linear-gradient(left, rgba(205,210,217,1) 0%,rgba(199,207,213,1) 100%); /* W3C */

	color: #404040;
}

.profile-box-container > header > nav ul li span.count {
	text-shadow: none;
	font-size: 9px;
	padding: 2px 3px 2px 3px;
	background-color: rgba(50,50,50,0.2);
	color: #fff;
	margin-left: 2px;
	border-radius: 15px;
	font-weight: normal;
	font-family: Gotham, Arial;
	float: right;
	display: block;
	line-height: 100%;
	position: relative;
	top: 5px;
	right: -2px;
}

.profile-box-container > header h4 {
	font-size: 10px;
	font-weight: bold;
	color: #738699;
	padding: 0px 8px;
	line-height: 24px;
	text-transform: uppercase;
	font-family: Helvetica, Arial;
}

.profile-box-container > header .edit-gear {
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: -100px;
	background: url(../../images/icons/edit-gear.png) no-repeat 0 0;
	cursor: pointer;
	margin: 3px 5px 0 0;
}

.profile-box-container > header .controls {
	float: right;
	line-height: 100%;
	padding:  4px;
}

.profile-box-container > header .is-loading {
	background: url(../../images/loading-arrows-xsmall-whitebg.gif) no-repeat 0 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	text-indent: -100px;
}

.profile-box-container > header .save {
	cursor: pointer;
	text-decoration: underline;
	color: #4769B3;
}

.profile-box-container > section {
	background-color: #fff;
	border: 1px solid #ACB6BF;
	border-top: 0;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 1px 0 #FFFFFF, 0 1px 0 #FFFFFF inset, 0 0 1px rgba(255, 255, 255, 0.3) inset;
}

.profile-box-container.tabbed > section > article { display: none; }
.profile-box-container.tabbed > section > article.on { display: block; }

.property-col .profile-box-container {
	margin-left: 0;
}

.profile-box-container dl.table-list {
	margin: 0 4px 0 4px;
}

.profile-box-container dl.table-list:first-child {
	padding-top: 4px;
}

.profile-box-container dl.table-list:first-child dd {
	margin-top: 0;
}

.profile-box-container ul.twitter-list li {
	border-bottom: 1px solid #CAD0D7;
	padding:  4px;
	font-size: 10px;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

.profile-box-container ul.twitter-list li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

.property-col .profile-box-container dt {
	font-size: 9px;
}












.contact-list {
	position: relative;
}
.contact-list ul {
	padding: 4px;
	position: relative;
}

.contact-list ul li {
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding-left: 20px;
	position: relative;
}

.contact-list ul li.email.is-primary .set-primary,
.contact-list ul li.email.is-primary:hover .set-primary {
	display: none;
}
.contact-list ul li.email.is-primary .primary {
	display: inline;
}

.contact-list ul li.email .set-primary {
	display: none;
}
.contact-list ul li.email:hover .set-primary {
	display: inline;
}
.contact-list ul li.email .primary {
	display: none;
	position: relative;
}

.contact-list ul li.email .primary {
	position: absolute;
	right: 0;
	top: 5px;

	background-color: #FFF09C;
	color: #666;
	font-size: 9px;
	line-height: 100%;
	padding: 0 3px 0 3px;
	border-radius: 4px;
}

.contact-list ul li.email .set-primary {
	position: absolute;
	right: 0;
	top: 5px;

	background-color: #6DF67F;
	color: #666;
	font-size: 9px;
	line-height: 100%;
	padding: 0 3px 0 3px;
	cursor: pointer;
	border-radius: 4px;
}

.contact-list ul li.email {
	background-image: url(../../images/icons/social_media_mini_icons/email.png);
}

.contact-list ul li.facebook {
	background-image: url(../../images/icons/social_media_mini_icons/facebook.png);
}

.contact-list ul li.linked_in {
	background-image: url(../../images/icons/social_media_mini_icons/linkedin.png);
}

.contact-list ul li.twitter {
	background-image: url(../../images/icons/social_media_mini_icons/twitter.png);
}

.contact-list ul li.website {
	background-image: url(../../images/icons/social_media_mini_icons/stumble.png);
}
.contact-list ul li.phone {
	background-image: url(../../images/icons/social_media_mini_icons/sphinn.png);
}
.contact-list ul li.address {
	background-image: url(../../images/icons/social_media_mini_icons/newsvine.png);
	line-height: 100%;
	background-position: 0 0;
}

.contact-list .addresses {
	border-top: 1px solid #CAD0D7;
}

.profile-contact-editor.deskpro-overlay {
	background-color: #ECEEF0;
}

.profile-contact-editor-wrapper {
	width: 680px;
	height: 450px;
	overflow: auto;
	padding: 0;
}

.profile-contact-editor .add-row {
	background-color: #fff;
	border: 1px solid #ACB6BF;
	border-radius: 4px;
	padding: 2px;
	margin-top: 3px;
	box-shadow: 0 1px 0 #FFFFFF, 0 1px 0 #FFFFFF inset, 0 0 1px rgba(255, 255, 255, 0.3) inset;
}

.profile-contact-editor .add-row:hover {
	background-color: #DDE8F2;
}

.add-new-type-trigger {
	display: block;
	padding: 2px 0 2px 15px;
	background: url(../../images/action-add.png) no-repeat 0 50%;
	cursor: pointer;
	font-size: 11px;
}

.contact-edit-list li {
	position: relative;
	margin-bottom: 4px;
	background-color: #fff;
	border: 1px solid #ACB6BF;
	border-radius: 4px;
	box-shadow: 0 1px 0 #FFFFFF, 0 1px 0 #FFFFFF inset, 0 0 1px rgba(255, 255, 255, 0.3) inset;
	padding: 4px;
}

.contact-edit-list li input[type="text"] {
	width: 40%;
	margin: 2px;
	padding: 1px;
}

.contact-edit-list li textarea {
	width: 40%;
	margin: 2px;
	padding: 1px;
	display: block;
}

.contact-edit-list li table td {
	font-size: 11px;
	padding-right: 5px;
}

.contact-edit-list li .type {
	float: left;
	width: 60px;
	font-size: 11px;
	margin-top: 2px;
	color: #404040;
}

.contact-edit-list li .input {
	margin-left: 65px;
}

.contact-edit-list li .input .label {
	float: left;
	width: 80px;
}

.contact-edit-list li .input .label input {
	width: 75px;
}

.contact-edit-list li .input .field {
	margin-left: 85px;
}

.contact-edit-list li .remove {
	position: absolute;
	right: 4px;
	top: 7px;
	width: 16px;
	height: 16px;
	background: url(../../images/icons/cross.png) no-repeat 50% 50%;
	overflow: hidden;
	text-indent: -100px;
	cursor: pointer;
}


.profile .org-edit {
	padding:  4px;
	width: 80%;text-align: center;
	margin: 0 auto 0 auto;
}
.profile .org-edit .new-company-notice {
	font-size: 9px;
	display: block;
	line-height: 100%;
	margin-top: -1px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	color: #399D40;
	width: 85%;
}

.profile .org-edit input[type="text"] {
	width: 100%;
	margin-bottom: 3px;
}

.contact-list-wrapper.org > strong {
	font-size: 12px;
	padding:  4px 0 4px 4px;
	display: block;
	line-height: 100%;
	font-weight: normal;
}

.contact-list-wrapper.org .contact-data-list {
	margin-top: 0;
}

.contact-list-wrapper.org .contact-data-list li.count {
	text-align: right;
}


.remove-icon {
	display: block;
	width: 11px;
	height: 11px;
	overflow: hidden;
	text-indent: -100px;
	float: right;

	background: url(../../images/action-remove.png) no-repeat 0 0;
	opacity: 0.5;
	cursor: pointer;
}

.remove-icon:hover {
	opacity: 1;
}



.page-ticket {
	background-color: #ECEEF0;
}

.page-ticket header {
	background-color: #fff;
}



.log-batch {
    background-color: #F9F9F9;
    border: 1px solid #C9CBCB;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.log-row:first-child {
    border-top: none;
}

.log-row {
    border-top: 1px solid #C9CBCB;
    padding: 3px 4px 3px 4px;
    font-size: 10px;
}

.log-row .changed_department {
    background: url(../../images/icons/application_view_tile.png) no-repeat 0 0;
    padding-left: 22px;
}

.log-row .changed_category {
    background: url(../../images/icons/folder.png) no-repeat 0 0;
    padding-left: 22px;
}

.log-row .changed_priority {
    background: url(../../images/icons/lightning.png) no-repeat 0 0;
    padding-left: 22px;
}

.log-row .changed_agent {
    background: url(../../images/icons/user_gray.png) no-repeat 0 0;
    padding-left: 22px;
}

.log-row .type {
    color: #404040;
}

.log-row .old-val, .log-row .new-val {
    border: 1px solid #E3E3E3;
    padding: 0px 3px 0px 3px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    line-height: 100%;
}

.log-row .old-val {
    background-color: #F5F5F5;
    color: #3C4B54;
}

.log-row .new-val {
    background-color: #F5F5F5;
    color: #17911F;
}

.log-row .new-val.expand {
    padding-left: 14px;
    background: url(../../images/icons/bullet_toggle_plus.png) no-repeat 0 50%;
    cursor: pointer;
}

.log-row .new-val.expand.open {
    background-image: url(../../images/icons/bullet_toggle_minus.png);
}

.log-row .info {
    float: right;
    font-size: 9px;
}
