/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

body {
	font-family: Verdana, 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 80%;
}

input.placeholder-visible {
	color: #999 !important;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif; }

input[type="text"], input[type="password"], textarea {
	background-color: #f6f8fb;
	color: #000;
	padding: 2px;
	border: 1px solid #97a6b6;
	font-size: 11px;
	text-shadow: 1px 1px 1px #ffffff;
	filter: dropshadow(color=#ffffff, offx=1, offy=1);
	font-family: Verdana, 'Lucida Grande', Helvetica, Arial, sans-serif;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	background-color: #fff;
	border: 1px solid #3977cb;
	-webkit-box-shadow: 0px 0px 5px #8db6e6;
	-moz-box-shadow: 0px 0px 5px #8db6e6;
	box-shadow: 0px 0px 5px #8db6e6;
}

.dev-feature-inactive {
	opacity: 0.3 !important;
}

.nosel {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#pane_shell {
	overflow: hidden;
}

#tiptip_holder { z-index: 1000000; }

.ui-layout-pane, #pane_nav, #pane_list, #page { /* all 'panes' */ 
	overflow: auto;
} 

.ui-layout-resizer { /* all 'resizer-bars' */ 
	background: #DDD; 
} 

.ui-layout-toggler { /* all 'toggler-buttons' */ 
	background: #AAA; 
}

#pane_nav-resizer {
	width: 1px;
	background-color: #BBBBBB;
}

#pane_nav-resizer .ui-layout-toggler {
	display:none;
}

#pane_list-resizer {
	width: 1px;
	background-color: #BBBBBB;
	
	/*
	background: #FBF6FA;
	background: -moz-linear-gradient(left, #FBF6FA 0%, #DDE5E7 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#FBF6FA), color-stop(100%,#DDE5E7));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBF6FA', endColorstr='#DDE5E7',GradientType=1 );
	border-left: 1px solid #B4B5B9;
	border-right: 1px solid #B4B5B9;
	*/
}

#pane_list-resizer .ui-layout-toggler {
	display:none !important;
}

.window-loading-indicator {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	
	border: 1px solid #7A84A3;
	border-top: none;
	
	background: #46537D url(../../images/window-loading.gif) no-repeat center center;

	-webkit-box-shadow: 0px 5px 15px rbga(11, 11, 11, 0.6);
	-moz-box-shadow: 0px 5px 15px rgba(11, 11, 11, 0.9);
	box-shadow: 0px 5px 15px rbga(11, 11, 11, 0.6);
	
	width: 80px;
	height: 25px;
}




.ui-autocomplete {
	background-color: #eee;
	position: absolute;
	cursor: default;
}
.ui-autocomplete .ui-menu-item {
}
.ui-autocomplete  .ui-menu-item a {
	display:block;
	padding:4px 6px;
	text-decoration:none;
	line-height:12px;
}
.ui-autocomplete .ui-menu-item a.ui-state-hover,
.ui-autocomplete .ui-menu-item a.ui-state-active {
	background-color:#78959D;
	color:#fff;
	margin:0;
}
.ui-autocomplete-loading {
	background: white url(images/ui-anim_basic_16x16.gif) right center no-repeat;
}

ul.tagit {
	padding:1px 5px;
	overflow:auto;
}
ul.tagit li {
	-moz-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	display: block;
	float: left;
	margin:2px 5px 2px 0;
}
ul.tagit li.tagit-choice {
	background-color:#DEE7F8;
	border:1px solid #CAD8F3;
	padding:2px 4px 3px;
}
ul.tagit li.tagit-choice:hover {
	background-color:#bbcef1;
	border-color:#6d95e0;
}
ul.tagit li.tagit-new {
	padding:2px 4px 3px;
	padding:2px 4px 1px;
	padding:2px 4px 1px 0;
	display: block;
}

ul.tagit li.tagit-choice input {
	display:block;
	float:left;
	margin:2px 5px 2px 0;
}
ul.tagit li.tagit-choice a.close {
	color:#777777;
	cursor:pointer;
	font-weight:bold;
	outline:medium none;
	padding:2px 0 2px 3px;
	text-decoration:none;
}
ul.tagit li.tagit-choice a.close:hover {
  color:#222;
}
ul.tagit input[type="text"] {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
	border:none;
	margin:0;
	padding:0;
	width:inherit;
	border-color:#C6C6C6;
	background-color:#FFFFFF;
	color:#333333;
}













#window_head {
	height: 20px;
	overflow: hidden;
}

#window_head > #window_head_top {
	background-color: #124368;
	border-bottom: 1px solid #356284;
	height: 20px;
	overflow: hidden;
	text-align: right;
}

#window_head > #window_head_top > .logo {
	line-height: 20px;
	overflow: hidden;
	margin-left: 10px;
	cursor: pointer;
	float: left;
	color: #fff;
	font-size: 95%;
	font-weight: bold;
}

#window_head > #window_head_top > ul.current-user {
	float: right;
	line-height: 20px;
	color: #fff;
	font-family: Helvetica, sans-serif;
	font-size: 11px;
	padding-right: 15px;
}

#window_head > #window_head_top > ul.current-user > li {
	float: left;
	margin-left: 20px;
	padding-left: 19px;
	background-repeat: no-repeat;
	background-position: center left;
}

#window_head > #window_head_top > ul.current-user > li.person { background-image: url(../../images/icons/user.png); }
#window_head > #window_head_top > ul.current-user > li.settings { background-image: url(../../images/icons/process.png); }
#window_head > #window_head_top > ul.current-user > li.admin { background-image: url(../../images/icons/favorite.png); }



#window_header_nav {
	background: #192449 url(../../images/agent-header-nav-bg.png) repeat-y bottom left;
	height: 70px;
	overflow: hidden;
	font-size: 11px;
}

#window_header_nav .section {
	margin: 10px;
	background-color: #121932;
	border: 1px solid #4b5579;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #fff;
	float: left;
	padding: 10px 10px 7px 10px;
}

#window_header_nav .section:hover {
	-webkit-box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.3);
	box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.3);
}

#window_header_nav .section h1 {
	font-size: 12px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	display: block;
}

#window_header_nav .section ul li {
	float: left;
	margin-left: 10px;
	padding: 3px;
	
	cursor: pointer;
	
	padding-left: 19px;
	background-repeat: no-repeat;
	background-position: center left;
}

#window_header_nav .section ul li:first-child {
	margin-left: 0;
}

.icon.tickets { background-image: url(../../images/icons/mail.png); }
.icon.tweets { background-image: url(../../images/icons/mail.png); }
.icon.facebook { background-image: url(../../images/icons/mail.png); }
.icon.chat { background-image: url(../../images/icons/balloons.png); }
.icon.leads { background-image: url(../../images/icons/clipboard_text.png); }
.icon.knowledgebase { background-image: url(../../images/icons/document__pencil.png); }
.icon.troubleshooters { background-image: url(../../images/icons/lightning.png); }
.icon.ideas { background-image: url(../../images/icons/bulb.png); }
.icon.files { background-image: url(../../images/icons/folder_open_document.png); }
.icon.people { background-image: url(../../images/icons/vcards.png); }
.icon.organizations { background-image: url(../../images/icons/briefcase.png); }


#window_header_nav .section ul li:hover {
	text-decoration: underline;
}

#window_header_nav .nav-right {
	float: right;
	margin-right: 10px;
	margin-top: 15px;
}

#window_header_nav .create-box {
	text-align: center;
	width: 150px;
}

#window_header_nav .create-box span {
	
	padding: 0 0 0 20px;
	color: #fff;
	font-size: 8pt;
	font-weight: bold;
	font-family: Arial, Verdana, sans-serif;
	background: transparent url(../../images/icons/add.png) no-repeat center left;
	
	line-height: 23px;
	
	text-shadow: 1px 2px 3px #000;
	filter: dropshadow(color=#575757, offx=1, offy=1);
	
	cursor: pointer;
}

#window_header_nav .create-box span:hover {
	text-decoration: underline;
}

#window_header_nav .search-box {
}

#window_header_nav .search-box input[type="text"] {
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px inset #fff;
	color: #000;
	padding: 2px;
	font-size: 11px;
	width: 150px;
}

#pane_tabbar {
	background: #292a29 url(../../images/page-tabbar-bg.png) repeat-x top left;
	border-bottom: #212121;
	border-top: 1px solid #333;
	height: 28px;
	color: #bababa;
	font-size: 8pt;
	font-family: Arial, sans-serif;
	width: 100%;
	overflow: hidden;
}

#pane_tabbar ul {
	height: 28px;
}

#pane_tabbar ul li {
	float: left;
	border-right: 1px solid #323332;
	color: #fff;
	overflow: hidden;
	cursor: pointer;
	height: 23px;
	margin-top: 5px;
	overflow: hidden;
	max-width: 100px;
	background-color: #5c5c5c;
	border: 1px solid #6e6e6e;
	border-bottom: none;
	margin-right: 3px;
	margin-left: 3px;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

#pane_tabbar ul li.icon {
	max-width: 120px;
	padding-left: 18px;
	
	background-repeat: no-repeat;
	background-position: 6px center;
}

.icon-ticket { background-image: url(../../images/tab-icon-ticket.png); }
.icon-person { background-image: url(../../images/tab-icon-person.png); }

#pane_tabbar ul li div.title {
	width: 80px;
	line-height: 22px;
	float: left;
}

#pane_tabbar ul li div.title span {
	padding-left: 8px;
	width: 150px;
	display: block;
}

#pane_tabbar ul li div.close {
	float: right;
	background: #5c5c5c;
	width: 10;
	height: 22px;
	padding: 0 5px 0 5px;
	
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}

#pane_tabbar ul li.tab-active div.close {
	background-color: #2a2b2a;
}

#pane_tabbar ul li div.close span {
	background: transparent url(../../images/tab-close.png) no-repeat center center;
	width: 10px;
	height: 22px;
	display: block;
}

#pane_tabbar ul li div.close span:hover {
	background: transparent url(../../images/tab-close-on.png) no-repeat center center;
}

#pane_tabbar ul li.tab-active div.close {
	background-image: none;
}

#pane_tabbar ul li:first {
	border-right: none;
	margin-left: 0;
	padding-left: 0;
}

#pane_tabbar ul li.tab-active {
	background-color: #2a2b2a;
	border: 1px solid #c5c5c5;
	border-bottom: none;
}

#pane_tabbar.with-scroller ul {
	margin-left: 15px;
	margin-right: 15px;	
}

#pane_tabs_scroll_left, #pane_tabs_scroll_right { display: none; cursor: pointer; }
#pane_tabbar.with-scroller #pane_tabs_scroll_left, #pane_tabbar.with-scroller #pane_tabs_scroll_right { display: block; }

#pane_tabs_scroll_left {
	width: 14px;
	height: 28px;
	position: absolute;
	left: 0;
	background: #000 url(../../images/page-tabbar-left.png) repeat-y top left;
}

#pane_tabs_scroll_left:hover { background-image: url(../../images/page-tabbar-left-on.png); }

#pane_tabs_scroll_right {
	width: 14px;
	height: 28px;
	position: absolute;
	right: 0;
	background: #000 url(../../images/page-tabbar-right.png) repeat-y top right;
}

#pane_tabs_scroll_right:hover { background-image: url(../../images/page-tabbar-right-on.png); }



#pane_nav {
	background-color: #DBDFE6;
}

#pane_nav > h1 {
	padding: 0 4px 0 6px;
	line-height: 30px;
	font-weight: bold;
	font-size: 9pt;
	cursor: pointer;
	display: block;
	background: #4F5268;
	background: -moz-linear-gradient(top, #4F5268 0%, #31323F 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4F5268), color-stop(100%,#31323F));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4F5268', endColorstr='#31323F',GradientType=0 );
	color: #fff;
	text-shadow: 0px 0px 1px #000;
	
	border-bottom: 1px solid #fff;
}

#pane_nav > .main-nav {
	margin-bottom: 25px;
}

#pane_nav > .main-nav.with-side-nav {
	margin-bottom: 26px;
}

#pane_nav ul.nav-list > li {
	display: block;
	font-family: Verdana;
	padding: 6px 5px 6px 5px;
	font-size: 10px;
	cursor: pointer;
	
	text-shadow: 0px 0px 1px #fff;
}

#pane_nav ul.nav-list > li.on {
	background: #919EC0;
	background: -moz-linear-gradient(top, #919EC0 0%, #686E87 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#919EC0), color-stop(100%,#686E87));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919EC0', endColorstr='#686E87',GradientType=0 );
	
	color: #fff;
	font-weight: bold;
	text-shadow: 0px 0px 1px #000000;
}

#pane_nav ul.nav-list > li.important {
	color: #851717;
	font-weight: bold;
}

#pane_nav ul.nav-list li span {
	font-family: Verdana;
	font-size: 7pt;
	background-color: #666;
	padding: 2px;
	border-radius: 13px;
	-moz-border-radius: 13px;
	color: #ccc;
	min-width: 10px;
	text-align: center;
	float: right;
	line-height: 8px;
	margin-top: -2px;
}

#pane_nav ul.nav-list li span.new {
	background-color: #000;
	color: #fff;
}

#pane_nav ul.nav-list > li:hover:not(.on) {
	background-color: #fff;
}

#pane_nav ul.nav-list > li > ul.nav-list {
	margin-left: 5px;
	font-size: 9pt;
}

table.list > thead > tr {
	background: #ABACB1;
	background: -moz-linear-gradient(top, #ABACB1 0%, #E7E9EF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ABACB1), color-stop(100%,#E7E9EF));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ABACB1', endColorstr='#E7E9EF',GradientType=0 );
	
	text-shadow: 1px 1px 2px #F5F5F5;
	filter: dropshadow(color=#ffffff, offx=0, offy=0);
	
	border-bottom: 1px solid #A6A6A6;

	font-size: 8pt;
	font-family: Arial, sans-serif;
}

table.list > thead > tr > th {
	font-weight: bold;
	text-align: left;
	border-left: 1px solid #A6A6A6;
	color: #000;
	font-weight: bold;
	cursor: pointer;
	padding: 0 0 0 8px;
	font-size: 7pt;
	line-height: 22px;
	height: 22px;
}

table.list > thead > tr > th:first-child {
	border-left: none;
}

table.list > tbody > tr.line.line-1 {
	border-top: 1px solid #CCCED9;
}

table.list > tbody > tr:nth-child(4n+1),
table.list > tbody > tr:nth-child(4n+2) {
	background-color: #F8F8F8;
}

table.list > tbody > tr.line:line-2 {
	border-bottom: 1px solid #eee;
}

table.list > tbody > tr {
	background-color: #fff;
}

table.list > tbody > tr > td {
	padding: 5px 5px 5px 10px;
	font-size: 11px;
}

table.list tr span.subject {
	color: #214A6E;
	font-size: 110%;
}

table.list tr span.subject:hover {
	text-decoration: underline;
	cursor: pointer;
}

table.list tr.info-line td {
	padding: 0 5px 5px 10px;
}

table.list tr.info-line td {
	font-size: 9px;
}

table.list tr.info-line div.by {
	color: #A2AABA;
	float: left;
}

table.list tr.info-line div.by cite {
	color: #A2AABA;
}

table.list tr.info-line div.department {
	float: right;
}




.ticket {

}

.ticket > .messages {
	padding: 15px;
}

.ticket .ticket-top {
	background-color: #eceef3;
	border-bottom: 2px solid #dddddd;
}

.ticket .ticket-top .ticket-flag {
	float: right;
	display: block;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.ticket .ticket-top > h1 {
	font-size: 13pt;
	padding: 4px 4px 6px 4px;
	font-weight: normal;
	text-shadow: 2px 3px 3px #ffffff;
	filter: dropshadow(color=#ffffff, offx=, offy=1);
}

.ticket .ticket-top > h1 > .department {
	font-size: 10pt;
	line-height: 13pt;
	color: #485161;
	
	text-shadow: 1px 2px 2px #ffffff;
	filter: dropshadow(color=#ffffff, offx=, offy=1);
}

.ticket .ticket-top ul.ticket-tabs {
	margin-top: 10px;
	height: 21px;
}

.ticket .ticket-top ul.ticket-tabs li {
	float: left;
	background-color: #CED3D9;
	padding: 3px 8px 3px 8px;
	font-size: 10px;
	margin-left: 10px;
	line-height: 15px;
	
	border: 1px solid #CED3D9;
	border-bottom: none;
	
	cursor: pointer;

	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.ticket .ticket-top ul.ticket-tabs li.on {
	background-color: #fff;
}

.ticket .ticket-top .person-info-line {
	padding: 0px 6px 6px 6px;
}

.ticket .ticket-custom-fields {
	margin: 15px;
	margin-top: 5px;
}

.ticket .ticket-attach-upload-btn {
	text-align: right;
}
.ticket .ticket-attach-upload-btn span {
	width: 16px;
	line-height: 16px;
	padding-right: 20px;
	margin-right: 15px;
	background: transparent url(../../images/icons/document__pencil.png) no-repeat center right;
	cursor: pointer;
	font-size: 9px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #6E6E6E;
}

.ticket .ticket-custom-fields-edit-btn {
	text-align: right;
}
.ticket .ticket-custom-fields-edit-btn span {
	width: 16px;
	line-height: 16px;
	padding-right: 20px;
	margin-right: 15px;
	background: transparent url(../../images/icons/document__pencil.png) no-repeat center right;
	cursor: pointer;
	font-size: 9px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #6E6E6E;
}

.ticket .tab-content {
	display: none;
}

.ticket .tab-content.on {
	display: block;
}

.ticket-custom-fields {
	background-color: #fff;
	border: 1px solid #d9dbe1;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 11px;
}

.ticket .person-overview {
	float: left;
}

.ticket .person-overview > .img {
	float: left;
}

.ticket .person-overview > .info {
	margin-left: 55px;
}

.ticket .person-overview > .info > h4 {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
}


.ticket .ticket-info {
	background-color: #d9dbe1;
	padding: 4px 10px 4px 10px;
	font-size: 10px;
	border-top: 1px solid #f4f5f8;
	border-bottom: 1px solid #f4f5f8;
}

.ticket .ticket-info > dl {
	float: left;
	width: 120px;
}

.ticket .ticket-info > dl > dt {
	font-weight: bold;
	color: #636C78;
	font-size: 9px;
	padding-bottom: 3px;
	text-shadow: 1px 1px 1px #ffffff;
}

.ticket .ticket-info > dl > dd {
	display: block;
	padding-left: 3px;
}

.ticket .ticket-info .edit-btn {
	float: right;
	width: 16px;
	height: 16px;
	background: transparent url(../../images/icons/edit-gear.png) no-repeat center center;
	cursor: pointer;
	margin-right: 5px;
	margin-top: 4px;
	display: none;
}

.ticket .ticket-info:hover .edit-btn {
	display: block;
}

.ticket .messages {

}

.ticket .messages > ul > li {
	margin-top: 10px;
	margin-bottom: 10px;
}

.ticket .messages > ul > li > .box {
	margin-right: 25px;
	
	background-color: #f7f8f9;
	border: 1px solid #a2b4c3;
	
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	-webkit-box-shadow: 1px 1px 3px rgba(97, 97, 97, 0.5);
	-moz-box-shadow: 1px 1px 3px rgba(97, 97, 97, 0.5);
	box-shadow: 1px 1px 3px rgba(97, 97, 97, 0.5);
	
	font-size: 11px;
}

.ticket .messages > ul > li > .edit-btn {
	float: right;
	width: 16px;
	height: 16px;
	background: transparent url(../../images/icons/edit-gear.png) no-repeat center center;
	display: none;
	cursor: pointer;
	margin-right: 5px;
	margin-top: 4px;
}

.ticket .messages > ul > li:hover > .edit-btn {
	display: block;
}

.ticket .messages > ul > li.agent > .box {
	border: 1px solid #ccd4db;
}

.ticket .messages > ul > li > .box div.info {
	background-color: #dee2e6;
	padding: 5px;
	border-bottom: 1px solid #a2b4c3;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 6px;
	border-top-right-radius: px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin: 1px;
}

.ticket .messages > ul > li > .box div.info cite {
	background: transparent url(../../images/icons/message-user.png) no-repeat center left;
	padding-left: 15px;
}

.ticket .messages > ul > li.agent > .box div.info cite {
	background: transparent url(../../images/icons/message-agent.png) no-repeat center left;
}

.ticket .messages > ul > li.agent > .box div.info cite {
	color: #2B89D6;
	font-weight: bold;
}

.ticket .messages > ul > li > .box div.info span.time {
	font-size: 90%;
	font-style: italic;
	color: #666;
	float: right;
}

.ticket .messages > ul > li > .box div.message {
	padding: 8px;
}


.ticket-attach {
	width: 550px;
}

.ticket ul.ticket-newreply-attach-list {
	text-align: right;
	margin-right: 15px;
}

.ticket ul.ticket-newreply-attach-list input[type=checkbox] {
	width: 10px;
	height: 10px;
}






.person-overview-popout {
	border: 1px solid #000;
	background-color: #D8DCE3;
	-webkit-box-shadow: 0px 0px 10px #ffffff;
	-moz-box-shadow: 0px 0px 10px #ffffff;
	box-shadow: 0px 0px 10px #ffffff;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
}

.person-overview-popout-content {
	cursor: pointer;
}

.person-overview-popout-content > .img {
	float: left;
}

.person-overview-popout-content > .info {
	margin-left: 55px;
}

.person-overview-popout-content > .info > h4 {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
}

.person-popout {
	padding: 0;
	background-color: #fff;
	border: 3px solid rgba(11, 11, 11, 0.6);

	-webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
	box-shadow: 9px 9px 20px rgba(0, 0, 0, 0.5);
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.person-popout .tabbar {
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;

	background: #292a29 url(../../images/page-tabbar-bg.png) repeat-x top left;
	border-bottom: #212121;
	border-top: 1px solid #333;
	height: 28px;
	color: #bababa;
	font-size: 8pt;
	font-family: Arial, sans-serif;
	width: 100%;
	overflow: hidden;
}

.person-popout .tabbar .pin-icon {
	cursor: pointer;
	background: transparent url(../../images/icons/flag_pink.png) no-repeat center right;
	height: 28px;
	width: 16px;
	margin-right: 8px;
	float: right;
}

.person-popout .tabbar .pin-icon.on {
	background-image: url(../../images/icons/cross.png);
}

.person-popout > .content {
	
}












.listpane-top {
	background-color: #CBE1F2;
	padding: 6px;
	margin: 2px;
	border: 1px solid #9DBAD1;
}

.listpane-top .toggle {
	font-size: 80%;
	color: #4D4A61;
	border-bottom: 1px dotted #4D4A61;
	cursor: pointer;
}





.profile {

}

.profile .main {
	margin-right: 40%;
	padding: 8px 15px 15px 7px;
}

.profile .side {
	position: absolute;
	top: 30px;
	right: 0;
	width: 38%;
	padding: 8px 15px 15px 15px;
}

.profile .header {
	padding-bottom: 8px;
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	font-size: 90%;
	line-height: 130%;
}

.profile .header > h1 {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 15pt;
	font-weight: normal;
	padding-bottom: 4px;
}

.profile .header > .organization > .position {
	padding-left: 8px;
	font-style: italic;
	color: #A1B3AD;
}




.profile .section {
	margin-bottom: 15px;
}

.profile .section > h5 {
	display: block;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	padding-bottom: 2px;
	border-bottom: 2px solid #888;
	padding: 3px;
	cursor: pointer;
}

.profile .section.closed > .trigger {
	display: none;
}

.profile .section.closed > h5 {
	color: #aaa;
	border: 1px solid #aaa;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.profile .section > div {
	font-size: 90%;
}

.profile .section > div > dl > dt {
	display: block;
	font-weight: bold;
	padding: 6px 2px 6px 0;
	border-top: 1px solid #ddd;
}
.profile .section > div > dl > dt:first {
	border-top: none;
}

.profile .section > div > dl > dd {
	display: block;
	padding: 0 2px 6px 0;
	margin-bottom: 6px;
}

.profile .section > div > dl > dt:first, .profile .section > div > dl > dd:first {
	border: none;
}

.profile .section > div > ul.stream {

}

.profile .section > div > ul.stream > li {
	padding: 4px 0 4px 0;
	border-bottom: 1px solid #ddd;
}

.profile .section > div > ul.stream > li a {
	color: #747987;
	text-decoration: none;
}

.profile .section > div > ul.stream > li > span.time {
	float: right;
	color: #A1B3AD;
	font-style: italic;
	font-size: 90%;
}

.profile .section > div > ul.stream > li > span.who {
	
}

.profile .section > div > ul.stream > li > span.what {

}

.profile .section > div > ul.pages {
	background-color: #eee;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 3px;
	text-align: right;
}

.profile .section > div > ul.pages > li {
	display: inline;
	font-size: 95%;
	cursor: pointer;
	margin-left: 6px;
	color: #999;
}

.profile .section > div > ul.pages > li.active {
	text-decoration: underline;
}


.profile .section ul.simple {
	margin-left: 6px;
}

.profile .section ul.simple > li {
	padding: 4px 0 4px 0;
	list-style-type: circle;
	margin-left: 6px;
}

.profile .section ul.simple > li a {
	color: #666;
	text-decoration: none;
}






.profile > .side .section, .profile > .side-section {
	background-color: #eee;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.profile > .side .section > div, .profile > .side-section > div {
	padding: 6px;
}






.profile table.simple > thead > tr {
	background: #eee;
	border-bottom: 1px solid #ddd;
	color: #666;
	font-size: 8pt;
	font-family: Arial, sans-serif;
}

.profile table.simple > thead > tr > th {
	text-align: left;
	color: #666;
	padding: 4px;
}

.profile table.simple > tbody > tr {
	border-top: 1px solid #ddd;
}

.profile table.simple > tbody > tr:nth-child(odd) {
	background-color: #F8F8F8;
}

.profile table.simple > tbody > tr > td {
	padding: 5px;
	font-size: 8pt;
}

.profile table.simple > tbody > tr:hover {
	background-color: #F5F6FA;
	border-top: 1px solid #CCCED9;
	border-bottom: 1px solid #CCCED9;
}

.email-edit-dlg ul.emails-list > li.tpl {
	display: none !important;
}

.email-edit-dlg ul.emails-list > li {
	display: block;
	background-color: #fff;
	border: 1px solid #40AEF7;
	padding: 5px 3px 6px 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 3px;
}

.email-edit-dlg ul.emails-list > li.delete {
	border: 1px solid #C99B9B;
	background-color: #F5EDED;
}

.email-edit-dlg ul.emails-list > li:hover {
	border: 1px solid #666;
	border-bottom: 2px solid #000;
	padding-bottom: 5px;
}

.email-edit-dlg ul.emails-list > li > .trigger {
	font-size: 7pt;
	background-color: #D8E5ED;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: 6px;
	cursor: pointer;
	float: right;
}

.email-edit-dlg ul.emails-list > li > .trigger:hover {
	background-color: #BACDD9;
}

.email-edit-dlg ul.emails-list > li > .primary,
.email-edit-dlg ul.emails-list > li > .undelete {
	display: none;
}

.email-edit-dlg ul.emails-list > li.delete > .delete { display: none; }
.email-edit-dlg ul.emails-list > li.delete > .undelete { display: block; }

.email-edit-dlg ul.emails-list > li.primary > .primary {
	display: block;
	background-color: #F5EB64;
}

.email-edit-dlg ul.emails-list > li.primary > .set-primary {
	display: none;
}

.email-edit-dlg .add-email {
	margin-top: 15px;
	background-color: #fff;
	border: 1px solid #40AEF7;
	padding: 5px 3px 5px 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}



.section > .trigger {
	font-size: 7pt;
	background-color: #D8E5ED;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: 6px;
	cursor: pointer;
	float: right;
}

.section > .trigger:hover {
	background-color: #BACDD9;
}

.section.contact .trigger.save-all { display: none; }
.section.contact.editable .trigger.save-all { display: block; }
.section.contact.editable .trigger.edit-all { display: none; }

.section.contact .contact-group dt .add {
	display: none;
}

.section.contact.editable .contact-group dt .add {
	display: block;
}


.hover-edit:hover {
	background-color: #FAF7D2;
}



.new-note-form textarea {
	width: 85%;
	font-size: 8pt;
	font-family: Verdana, 'Lucida Grande', Helvetica, Arial, sans-serif;
	background-color: #fff;
	border: 1px solid #40AEF7;
	padding: 3px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.new-note-form .trigger.saving { display: none; }
.new-note-form.saving .trigger.saving { display: block; }
.new-note-form.saving .trigger.save { display: none; }
.new-note-form.saving .trigger.cancel { display: none; }


.person-popout .person {
	padding: 0 !important;
}







.section.tags .tags-field {
	background-color: #fff;
	border: 1px solid #ccc;
}

.section.tags .tags-field input {
	background-color: #fff;
	border: none;
	margin: 4px;
}









.search-form .term {
	border-bottom: 1px solid #AFB2BA;
	background-color: #fff;
	padding: 4px;
	margin: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.search-form .term .type, .search-form .term .op, .search-form .term .choice {
	display: inline;
}

.search-form .term .remove {
	font-size: 9pt;
	color: #fff;
	background-color: #BA3C3C;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	float: left;
	margin-right: 5px;
	width: 15px;
	height: 15px;
	line-height: 12px;
	text-align: center;
	overflow: hidden;
	display: block;
}

.search-form .add-term {
	font-size: 9pt;
	color: #fff;
	background-color: #468733;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	float: left;
	margin-right: 5px;
	width: 15px;
	height: 15px;
	line-height: 12px;
	text-align: center;
	overflow: hidden;
	display: block;
}





.loading-more {
	margin-top: 15px;
	text-align: center;
	background: #ebebeb url(../../images/loading-big-circle.gif) no-repeat center bottom;
	padding: 5px 0 36px 0;
	font-size: 12px;
	display: none;
}

.no-more-results {
	margin-top: 15px;
	text-align: center;
	padding: 10px 0 10px 0;
	font-size: 12px;
	display: none;
}

.page-separator {
	background-color: #CCCED9;
	height: 4px;
	overflow: hidden;
}


.dp-button {
	border: none;
	
	background: #222 url(../../images/btn-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.dp-button:hover { background-color: #111; color: #fff; }
.dp-button:active { top: 1px; }
.small.dp-button { font-size: 10px; padding: 4px; }
.dp-button, .medium.dp-button { font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.dp-button { font-size: 14px; padding: 8px 14px 9px; }

.gray.dp-button { background-color: #677078; }
.gray.dp-button:hover { background-color: #7E8991; }
.green.dp-button { background-color: #91bd09; }
.green.dp-button:hover { background-color: #749a02; }
.blue.dp-button  background-color: #2daebf; }
.blue.dp-button:hover { background-color: #007d9a; }
.red.dp-button { background-color: #e33100; }
.red.dp-button:hover { background-color: #872300; }
.magenta.dp-button { background-color: #a9014b; }
.magenta.dp-button:hover							{ background-color: #630030; }
.orange.dp-button { background-color: #ff5c00; }
.orange.dp-button:hover							{ background-color: #d45500; }
.yellow.dp-button { background-color: #ffb515; }
.yellow.dp-button:hover { background-color: #fc9200; }

.overlay { display: none; }

.overlay > h1 {
	font-size: 12pt;
	font-weight: bold;
	padding: 0 0 5px 0;
	margin: -10px -10px 15px -10px;
	border-bottom: 2px solid #6B7075;
}

.overlay > .buttons {
	margin-top: 25px;
	padding-top: 10px;
	border-top: 1px solid #6B7075;
	text-align: center;
}

.deskpro-overlay.no-pad .overlay > .buttons {
	margin-top: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
}


.overlay.display-options {
	width: 550px;
}


ul.sortable-list > li {
	
}

ul.sortable-list > li:hover {
	background: #E9EFF5 url(../../images/drag-handle.png) no-repeat center right;
	cursor: move;
}





.agent-reply .placeholder textarea {
	width: 350px;
	height: 20px;
	color: #828282;
	padding: 3px;
	border: 1px solid #C9C9C9;
	background-color: #fff;
	font-family: sans-serif;
	font-size: 10px;
}

.agent-reply .placeholder .editor-loading {
	background: transparent url(../../images/loading-small.gif) no-repeat center left;
	line-height: 18px;
	padding-left: 20px;
	font-size: 11px;
	display: none;
}

.agent-reply .reply-area .buttons {
	margin-top: 8px;
	text-align: center;
}

.agent-reply .reply-area .send-reply-load { text-align: center; display: none; }
.agent-reply .reply-area .send-reply-load div {
	background: transparent url(../../images/loading-small.gif) no-repeat center left;
	line-height: 18px;
	padding-left: 20px;
	font-size: 11px;
	display: inline;
}



.deskpro-menu { font-size: 11px; }
.deskpro-menu li span.icon.print-ticket { background-image: url(../../images/icons/printer.png); }
.deskpro-menu li span.icon.merge-ticket { background-image: url(../../images/icons/table_relationship.png); }
.deskpro-menu li span.icon.delete-ticket { background-image: url(../../images/icons/page_white_delete.png); }
.deskpro-menu li span.icon.change-ticket-owner { background-image: url(../../images/icons/user_go.png); }
.deskpro-menu li span.icon.view-unformatted { background-image: url(../../images/icons/page_white_text.png); }
.deskpro-menu li span.icon.view-details { background-image: url(../../images/icons/table_multiple.png); }
.deskpro-menu li span.icon.edit { background-image: url(../../images/icons/page_edit.png); }


.ticket-opt-btn:hover {
	cursor: pointer;
}

.ticket-opt-btn:hover dd {
	text-decoration: underline;
	color: #367CFF;
}





.tabbar ul li {
	float: left;
	border-right: 1px solid #323332;
	color: #fff;
	overflow: hidden;
	cursor: pointer;
	height: 23px;
	margin-top: 5px;
	overflow: hidden;
	max-width: 100px;
	background-color: #5c5c5c;
	border: 1px solid #6e6e6e;
	border-bottom: none;
	margin-right: 3px;
	margin-left: 3px;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.tabbar ul li.icon {
	max-width: 120px;
	padding-left: 18px;
	
	background-repeat: no-repeat;
	background-position: 6px center;
}

.icon-ticket { background-image: url(../../images/tab-icon-ticket.png); }
.icon-person { background-image: url(../../images/tab-icon-person.png); }

.tabbar ul li div.title {
	width: 80px;
	line-height: 22px;
	float: left;
}

.tabbar ul li div.title span {
	padding-left: 8px;
	width: 150px;
	display: block;
}

.tabbar ul li div.close {
	float: right;
	background: #5c5c5c;
	width: 10;
	height: 22px;
	padding: 0 5px 0 5px;
	
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}

.tabbar ul li.tab-active div.close {
	background-color: #2a2b2a;
}

.tabbar ul li div.close span {
	background: transparent url(../../images/tab-close.png) no-repeat center center;
	width: 10px;
	height: 22px;
	display: block;
}

.tabbar ul li div.close span:hover {
	background: transparent url(../../images/tab-close-on.png) no-repeat center center;
}

.tabbar ul li.tab-active div.close {
	background-image: none;
}

.tabbar ul li:first {
	border-right: none;
	margin-left: 0;
	padding-left: 0;
}

.tabbar ul li.tab-active {
	background-color: #2a2b2a;
	border: 1px solid #c5c5c5;
	border-bottom: none;
}






.show-fields.edit {
	margin-left: 12px;
	margin-right: 12px;
	border: 3px solid rgba(11, 11, 11, 0.5);
	-webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 9px 9px 20px rgba(0, 0, 0, 0.5);
	background-color: #fff;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.show-fields .field-wrap {
	border-top: 1px solid #d9dbe1;
	padding: 8px;
}

.show-fields .field-wrap:first-child {
	border-top: none;
	margin-top: 0;
}

.show-fields .field-wrap .label-wrap {
	font-weight: bold;
	width: 150px;
	float: left;

}

.show-fields .field-wrap .field-input {
	margin-left: 155px;
}

.show-fields .field-wrap .field-input input[type="text"],
.show-fields .field-wrap .field-input textarea {
	width: 90%;
}

.show-fields.edit .buttons {
	background-color: #d9dbe1;
	text-align: center;
	padding: 4px 0 4px 0;
	margin-top: 10px;
}

.show-fields.edit .buttons .loading-on {
	display: none;
}
.show-fields.edit .buttons .loading-on span {
	background: transparent url(../../images/loading-small.gif) no-repeat center left;
	line-height: 18px;
	padding-left: 20px;
	font-size: 11px;
	text-align: center;
}

#pane_nav ul.nav-list > li.icon { background-repeat: no-repeat; background-position: center left; padding-left: 20px; }
.icon { background-repeat: no-repeat; background-position: center left; padding-left: 20px; }

.icon-flag-none { background-image: url(../../images/icons/bookmark.png); }
.icon-flag-blue { background-image: url(../../images/icons/flag_blue.png); }
.icon-flag-green { background-image: url(../../images/icons/flag_green.png); }
.icon-flag-orange { background-image: url(../../images/icons/flag_orange.png); }
.icon-flag-pink { background-image: url(../../images/icons/flag_pink.png); }
.icon-flag-purple { background-image: url(../../images/icons/flag_purple.png); }
.icon-flag-red { background-image: url(../../images/icons/flag_red.png); }
.icon-flag-yellow { background-image: url(../../images/icons/flag_yellow.png); }