@media screen and (max-width: 600px) {
	#header-top {
		width: 980px;
	}
}

body {
    background-color: #fff;
	color:#3c3e3f;
	min-width: 980px;
}

/**************************************
Header
***************************************/

#header {
	overflow: visible;
	z-index: 9999;

	font: 11px/19px Arial, Helvetica, sans-serif;
	color:#3c3e3f;
	text-shadow: 0 1px #fff;
	letter-spacing: .1px;
}

#header a {
	text-decoration:none;
	color:#4486d8;

	-webkit-transition:all .2s ease-out;
	-moz-transition:all .2s ease-out;
	-o-transition:all .2s ease-out;
}

#header a:hover {
	opacity: .6;
	cursor:pointer;
}

#header a img {
	border: none;
}
#header p {
	color: #687383 ;
	text-shadow: 0 1px #fff;
}
#header p + p {
	margin:15px 0 15px 0;
}

#header ul, ol {
	list-style: none;
}

#header .wrapper {
	overflow: hidden;
}




#header #header-top {
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #333c48;
	color: #fff;
	font-size: 11px;
	text-shadow: 0 1px 1px #212a35;

	background: #6b7888;
	background: -webkit-gradient(linear, 0 bottom, 0 top, from(#647182 ), to(#8591a0));
    background: -moz-linear-gradient(90deg, #647182, #8591a0 );
}

#header .box-header {
	height: 35px;
	padding: 0 8px;
}

#header .box-header-bot {
	height: 65px;
}


#header .wrapper-top-bar {
	padding-top: 4px;
	overflow: hidden;
}

#header a.logo {
	display: block;
	height: 15px;
	width: 83px;
	background: url("../../images/bg-logo.png") no-repeat;
	text-indent: -9999px;
	margin-top: 8px;
}

/**  Type Select**/

#header .select {
	margin: 0 0 0 20px;
	padding: 2px 5px 0 5px;
}

#header .type-select {
	width: 36px;
	height: 22px;
	position: absolute;
	top: 6px;
	padding-left: 10px;
	background-color: #ececec;
	border-right: 1px solid #d8dadb;
	z-index: 1000;

	-webkit-border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    border-radius: 15px 0 0 15px;
}

#header .type-select.all {
	background-image: url("../../images/icn-sprite.png");
	background-position: 9px 3px;
}
#header .type-select.tickets {
	background-image: url("../../images/icn-sprite.png");
	background-position: 9px -27px;
}
#header .type-select.users {
	background-image: url("../../images/icn-sprite.png");
	background-position: 9px -54px;
}

#header .icn-dropdown {
	display: block;
	width: 9px;
	height: 6px;
	background: url("../../images/icn-sprite.png") 4px -78px no-repeat ;
	position: absolute;
	top: 2px;
	right: -1px;
	padding: 5px;
	cursor: pointer;
}

#header .type-select ul.dropdown {
	width: 89px;
}
#header ul.dropdown {
	display: none;
	background: #f8f8f8;
	overflow: hidden;
	position: absolute;
	top: 32px;
	margin: -9px 0 0 -10px;

	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .5), inset 0 1px #fff;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .5), inset 0 1px #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .5), inset 0 1px #fff;
}

#header .type-select .wrap-dropdown {
	margin-top: 22px;
	margin-left: 0px;
	width: 150px;
}

#header .type-select .wrap-dropdown li {
	padding: 4px;
}

#header .type-select .wrap-dropdown li:hover {
	background-color: #edeff3;
	cursor: pointer;
}

#header .type-select ul li span {
	padding: 3px 0px 3px 21px;
	background: url("../../images/icn-sprite.png") left 2px no-repeat;
	font-size: 12px ;
	color: #3c3e3f;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
}

#header .type-select ul li.search-tickets span {
	background-position: left -27px;
}

#header .type-select ul li.search-users span {
	background-position: left -54px;
}

#header #search-form input {
	width: 115px;
	border: 1px solid #636f7d;
	font-size: 12px;
	padding: 4px 12px 4px 50px;
	margin-top: 3px;
	color: #d3d5d7;

	 background-clip: padding-box;

	-webkit-box-shadow: 0 1px 0 #949da8;
    -moz-box-shadow: 0 1px 0 #949da8;
    box-shadow: 0 1px 0 #949da8;

	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#header .search-drop {
	min-width: 285px;
	text-shadow: 0 1px 0 #fff;
}
#header .search-drop a {
	font-weight: bold;
}

#header .top-results {
	border-bottom: 1px solid #e5e6e9;
	text-align: center;
	padding: 5px 0;
}

#header .wrap-results {
	overflow: hidden;
}

#header .results {
	overflow: hidden;
}

#header .title-list {
	width: 125px;
	text-align: right;
	color: #535659;
	font-weight: bold;
	padding: 5px 8px 0 0;
}
#header .title-list span {
	padding: 3px 0 3px 23px;
	background: url("../../images/icn-sprite.png") left -371px no-repeat;
}

#header .title-list span.title-list-people {
	background-position: left -394px;
}

#header .title-list span.title-list-orga {
	background-position: left -415px;
}

#header .results-list {
	width: 380px;
	text-align: left;
	padding-top: 5px;
	border-left: 1px solid #e5e6e9;
}

#header .results-list ul li {
	padding: 2px 8px 2px 8px;
}

#header .results-list ul li:hover {
	background: #edeff3;
}

#header .results-list ul li a {
	color: #838689;
	display: block;
	font-weight: normal;
}

#header .results-list ul li span {
	float: right;
	font-size: 7pt;
	margin-left: 20px;
}

#header .results-list ul li:last-child a {
	color:#4486d8;
	font-weight: bold;
}

/** Notifications **/
#header .notifications {
	margin: 0 0 0 5px;
	padding: 6px 4px 0 4px;
}

#header .notifications .white-drop {
	margin-left: 1px;
}

#header .notifications ul.noti-menu {
	overflow: hidden;
	float: left;
	cursor: pointer;
}

#header .notifications ul.noti-menu li {
	float: left;
	margin-right: 6px;
	padding-bottom: 1px;
}

#header .notifications ul.noti-menu li span {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 1px 1px #000;

	line-height: 20px;
}

#header .notifications ul.noti-menu li span:first-child {
	text-indent: -9999px;
}

#header .notifications ul.noti-menu li span.icn-bar {
	display: block;
	background: url("../../images/icn-sprite.png") left -92px no-repeat;
	text-indent: -999px;
	width: 16px;
	height: 16px;
	float: left;
	margin: 0 2px 0 0;
}

#header .notifications ul.noti-menu li span.chat {
	background-position: left -113px;
}

#header .notifications ul.noti-menu li div.counter {
	float: left;
	background: #79aff0;
	height: 20px;
	padding: 0 2px 0 2px;
	margin-top: 1px;

    -moz-box-shadow:inset 0 1px 0 #98c4f9;
    box-shadow: inset 0 1px 0 #98c4f9;


	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

#header .notifications ul.noti-menu li div.counter span {
	background: #54606e;
	padding: 2px 4px;

	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

	-webkit-box-shadow:  0 1px 0 #98c4f9;
    -moz-box-shadow: 0 1px 0 #98c4f9, inset 0 1px 0 #3d4550;
    box-shadow:  0 1px 0 #98c4f9, inset 0 1px 0 #3d4550;
}

#header .white-drop {
	display: block;
	width: 16px;
	height: 12px;
	float: left;
	margin: 8px 0 0 5px;
	background: url("../../images/icn-sprite.png") left -139px;
}

#header .noti-drop {
	min-width: 220px;
	margin-top: 30px !important;
}

#header .bot-noti {
	text-align: center;
	text-shadow: none;
	font-weight: bold;
	border-top: 1px solid #e8e9ec;
	padding: 5px 0 ;
}

#header .noti-drop ul {
	margin: 5px 0;
	width: 400px;
}

#header .noti-drop ul li {
	margin-bottom: 2px;
	padding: 2px 8px 2px 25px;
	background: url("../../images/icn-sprite.png") left -438px no-repeat;
	color: #55595C;
	text-shadow: 0 1px 1px #fff;
	line-height: 16px;
}

#header .noti-drop ul li span {
	font-size: 8pt;
}

#header .noti-drop ul li em {
	float: right;
	font-style: normal;
	font-size: 7pt;
	margin-left: 6px;
	color:#80868C;
}

#header .noti-drop ul li.tweet-noti {
	background-position: left -460px;
}

#header .noti-drop ul li:hover {
background-color: #edeff3;
}


/** User**/
#header .current-user {
	padding-left: 10px;
	border-left: 1px solid #55606f;

	-webkit-box-shadow:  inset 1px 0 0 #848f9d;
    -moz-box-shadow: inset 1px 0 0 #848f9d;
     box-shadow:  inset 1px 0 0 #848f9d;
}

#header .current-user:hover {
	background: #f8f8f8 !important;
	border-bottom: 1px solid #dfdfdf;

	-webkit-box-shadow:  none;
    -moz-box-shadow: none;
    box-shadow:  none;
}

#header .current-user:hover .current-user-name {
	color: #3c3e3f;
	text-shadow: none;
}

#header .current-user:hover .white-drop {
	background-position: left -83px;
}

#header .current-user-avatar {
	float: left;
	margin-bottom: 2px;

	-webkit-box-shadow: 0 1px 0 #929ba7;
    -moz-box-shadow:  0 1px 0 #929ba7;
    box-shadow:  0 1px 0 #929ba7;
}

#header .current-user-avatar img {
	width: 16px;
	margin-top: 5px;
}

#header .current-user-name {
	float: left;
}

#header .current-user-name span {
	font-weight: bold;
	line-height: 20px;
	margin: 2px 0 0 6px;
	display: block;
}

#header .user-drop {
	margin-top: 9px !important;
	font-size: 12px;
	min-width: 124px;
	margin-left: -23px !important;

	-webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5), inset 0 1px #fff !important;
    -moz-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5), inset 0 1px #fff !important;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, .5), inset 0 1px #fff !important;
}
#header .user-drop ul {
	margin: 5px 0;
}
#header .user-drop ul li {
	text-align: right;
	margin-bottom: 3px;
	padding-right: 10px;
}

#header .user-drop ul li a {
	color: #3c3e3f;
}


/*Actions */
#header .actions {
	padding-left: 7px;
}

#header .actions .wrapper-top-bar {
	padding-top: 0;
}

#header .actions ul.act-list {
	overflow: hidden;
}
#header .actions ul.act-list li {
	float: left;
	margin-right: 7px;
	height: 40px;
}

#header .actions ul.act-list li:last-child {
		margin-right: 0;
}

#header .actions ul.act-list li.active a {
}

#header .actions ul.act-list li a {
	display: block;
	width: 18px;
	height: 18px;
	background: url("../../images/icn-sprite.png") left -311px no-repeat;
	text-indent: -9999px;
	margin-top: 8px;
}

#header .actions ul.act-list li.network a {
	background-position: left -287px;
}

#header .actions ul.act-list li.network.active a {
	background-position: -29px -287px;
}

#header .actions ul.act-list li.keyboard a {
	background-position: left -264px;
}

#header .actions ul.act-list li.multi a {
	background-position: left -244px;
}

#header .actions ul.act-list li.help a {
	background-position: left -220px;
}

#header .admin-actions .wrapper-top-bar {
	margin-top: 4px;
}

#header .admin-actions {
	border-right: 1px solid #55606f;
	padding-right: 10px;

	-webkit-box-shadow:  inset -1px 0 0 #848f9d;
    -moz-box-shadow: inset -1px 0 0 #848f9d;
    box-shadow:  inset -1px 0 0 #848f9d;
}

#header .admin-actions ul li {
	float: left;
	margin-right: 6px;
}

#header .admin-actions ul li a {
	display: block;
	padding-left: 23px;
	background: url("../../images/icn-sprite.png") left -198px no-repeat;
}

#header .admin-actions ul li a {
	color: #fff;
}

#header .admin-actions ul li.billing a {
	background-position: left -179px;
}

#header .admin-actions ul li.admin a {
	background-position: left -160px;
}

/** Lang Dropdown **/
#header .lang-drop {
	margin-top: 10px !important;
}

#header .actions .lang-drop ul {
	margin: 3px 0;
	overflow: hidden;
}

#header .actions .lang-drop ul li {
	margin-bottom: 3px;
}

#header .actions .wrap-dropdown ul li, #header .actions .wrap-dropdown ul li a {
	clear: both;
	text-indent: 0px;
	width: 100%;
	height: auto;
	background: none;
	margin: 0;
	color: #484b4e;
}

#header .actions ul.act-list li.multi .lang-drop ul li a {
	padding: 1px 10px 1px 28px;
	background: url("../../images/icn-sprite.png") left -484px no-repeat;
}

#header .actions ul.act-list li.multi .lang-drop ul li.lang-es a {
	background-position: left -503px;
}

#header .actions ul.act-list li.multi .lang-drop ul li.lang-pr a {
	background-position: left -523px;
}

#header .key-drop {
	width: 474px;
	margin-left: -452px !important;
	margin-top: 10px !important;
}

#header .key-drop .block-shorts {
	float: left;
	margin: 10px ;
}
#header .key-drop .block-shorts h5 {
	font-size: 11px;
	font-weight: bold;
	color: #26282a;
	margin-bottom: 5px;
}

#header .key-drop .block-shorts ul li {
	margin-bottom: 10px;
}

#header .key-drop .block-shorts ul li:hover {
	background: none !important;
}

#header .key-drop .block-shorts ul li p {
	display: inline;
	margin-left: 10px;
}
#header .key-drop .block-shorts ul li span.short {
	background: #f3f4f6;
	padding: 4px 7px 4px 7px ;
	border: 1px solid #eceef2;
	color: #4486d8;
	font-weight: bold;

	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	border-radius: 3px;
}

/** 2nd Bar Header**/

#header #header-bottom {
	width: 100%;
	height: 65px;
	border-bottom: 1px solid #bbbdc4;
	background: #ecedf1;
	background: url("../../images/bg-header-bottom.jpg") repeat-x;
}

#header .nav {
	margin-left: 10px;
}

#header .nav .wrapper-top-bar {
}

#header .nav > .wrapper-top-bar > ul > li {
	float: left;
	margin-right: 5px;
	padding: 5px 4px 15px 4px;
	border:1px solid transparent;

	-webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;

	z-index: 400;
}

#header .nav > .wrapper-top-bar > ul > li:hover {
	background: #fff;

	border:1px solid #c3c4c9;

	-webkit-box-shadow:  inset 0 3px #f5f5f5, 0 2px 3px #b1b5c1;
    -moz-box-shadow: inset 0 3px #f5f5f5, 0 2px 3px #b1b5c1;
    box-shadow: inset 0 3px #f5f5f5, 0 2px 3px #b1b5c1;
}

#header .nav > .wrapper-top-bar > ul > li.on {
	background: #fff;

	border:1px solid #c3c4c9;

	-webkit-box-shadow:  inset 0 3px #f5f5f5, 0 2px 3px #b1b5c1;
    -moz-box-shadow: inset 0 3px #f5f5f5, 0 2px 3px #b1b5c1;
    box-shadow: inset 0 3px #f5f5f5, 0 2px 3px #b1b5c1;

	z-index: 450;
}

#header .nav > .wrapper-top-bar > ul > li.off {
	z-index: 400;
	opacity: 0.2;
}

#header span.nav-counter {
	display: block;
	position: absolute;
	margin-top: -7px;
	margin-left: 28px;
	padding: 1px 4px;
	background: #e34d4d;
	line-height: 14px;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 1px #8f1313;
	border: 2px solid #fff;
	background-clip: padding-box;


	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;

	-webkit-box-shadow:  0 0px 2px #766B6B;
    -moz-box-shadow: inset 0 1px 0 #e55858, 0  0px 2px #766B6B;
    box-shadow: 0 0px 2px #766B6B;

	z-index: 500;
}

#header .off span.nav-counter {
	z-index: 400;
}


#header .nav .wrapper-top-bar > ul  > li > a {
	display: block;
	background: url("../../images/icn-nav-sprite.png") 13px top no-repeat;
	padding: 32px 3px 0 3px;
	color: #3c3e3f;
	font-weight: bold;

	line-height: 10px;
}

#header .nav .wrapper-top-bar > ul li.chats-nav >a {
	background-position: -60px top;
}

#header .nav .wrapper-top-bar > ul li.twitter-nav > a {
	background-position: -122px top;
}

#header .nav .wrapper-top-bar > ul li.facebook-nav  >a {
	background-position: -182px top;
}

#header .nav .wrapper-top-bar > ul li.calls-nav  >a {
	background-position: -268px top;
}

#header .nav .wrapper-top-bar > ul li.users-nav > a {
	background-position: -321px top;
}

#header .nav .wrapper-top-bar > ul li.deals-nav  > a {
	background-position: -381px top;
}

#header .nav .wrapper-top-bar > ul li.calendar-nav > a {
	background-position: -440px top;
}

#header .nav .wrapper-top-bar > ul li.tasks-nav > a {
	background-position: -513px top;
}

#header .nav .wrapper-top-bar > ul li.publish-nav > a {
	background-position: -577px top;
}

#header .nav .wrapper-top-bar > ul li.ideas-nav > a {
	background-position: -652px top;
}

#header .nav .wrapper-top-bar > ul  > li.setup-nav > a { background: url("../../images/nav-icons/Settings.png") no-repeat center top; }
#header .nav .wrapper-top-bar > ul  > li.server-nav > a { background: url("../../images/nav-icons/Server.png") no-repeat center top; }
#header .nav .wrapper-top-bar > ul  > li.agents-nav > a { background: url("../../images/nav-icons/Agents.png") no-repeat center top; }
#header .nav .wrapper-top-bar > ul  > li.portal-nav > a { background: url("../../images/nav-icons/Portal.png") no-repeat center top; }
#header .nav .wrapper-top-bar > ul  > li.integrations-nav > a { background: url("../../images/nav-icons/Integrations.png") no-repeat center top; }
#header .nav .wrapper-top-bar > ul  > li.integrations-nav > a { background: url("../../images/nav-icons/Integrations.png") no-repeat center top; }

/** Dropdown icon-menu **/
#header .nav ol.icon-menu {
	max-width: 300px;
}

#header .nav ol.icon-menu > li {
	padding: 5px 8px 5px 40px;
	margin: 4px 0 4px 0;
	background-position: 6px 8px;
	background-repeat: no-repeat;
	cursor: pointer;
	line-height: 140%;
}

#header .nav ol.icon-menu > li a {
	font-size: 11pt;
	color: #464B54;
}

#header .nav ol.icon-menu > li p {
	margin: 0;
	padding: 0;
}

#header .nav ol.icon-menu ul {
	list-style-type: square;
	margin-left: 15px;
}
#header .nav ol.icon-menu ul li a {
	font-size: 8pt;
}

#header .nav ol.icon-menu.single-line > li {
	background-position: 6px 50%;
	line-height: 25px;
	padding: 3px 8px 3px 37px;
}

#header .nav ol.icon-menu.single-line > li a {
	font-size: 10pt;
}

#header .nav ol.icon-menu > li.link-settings { background-image: url("../../images/nav-icons/Settings.png"); }
#header .nav ol.icon-menu > li.link-departments { background-image: url("../../images/nav-icons/Labels.png"); }
#header .nav ol.icon-menu > li.link-products { background-image: url("../../images/nav-icons/Products.png"); }
#header .nav ol.icon-menu > li.link-email { background-image: url("../../images/nav-icons/Email.png"); }
#header .nav ol.icon-menu > li.link-languages { background-image: url("../../images/nav-icons/Languages.png"); }
#header .nav ol.icon-menu > li.link-scheduled-task { background-image: url("../../images/nav-icons/Escalations.png"); }
#header .nav ol.icon-menu > li.link-database-tools { background-image: url("../../images/nav-icons/Database.png"); }
#header .nav ol.icon-menu > li.link-server-info { background-image: url("../../images/nav-icons/Server.png"); }
#header .nav ol.icon-menu > li.link-logs { background-image: url("../../images/nav-icons/Macros.png"); }
#header .nav ol.icon-menu > li.link-tests { background-image: url("../../images/nav-icons/Widgets.png"); }
#header .nav ol.icon-menu > li.link-labels { background-image: url("../../images/nav-icons/Labels.png"); }
#header .nav ol.icon-menu > li.link-ticket-filters { background-image: url("../../images/nav-icons/Filters.png"); }
#header .nav ol.icon-menu > li.link-fields { background-image: url("../../images/nav-icons/Widgets.png"); }
#header .nav ol.icon-menu > li.link-ticket-triggers { background-image: url("../../images/nav-icons/Escalations.png"); }
#header .nav ol.icon-menu > li.link-ticket-macros { background-image: url("../../images/nav-icons/Macros.png"); }
#header .nav ol.icon-menu > li.link-ticket-macros { background-image: url("../../images/nav-icons/Macros.png"); }
#header .nav ol.icon-menu > li.link-leads-statuses { background-image: url("../../images/nav-icons/Widgets.png"); }
#header .nav ol.icon-menu > li.link-knowledgebase { background-image: url("../../images/nav-icons/Portal.png"); }
#header .nav ol.icon-menu > li.link-troubleshooters { background-image: url("../../images/nav-icons/Portal.png"); }
#header .nav ol.icon-menu > li.link-downloads { background-image: url("../../images/nav-icons/Portal.png"); }
#header .nav ol.icon-menu > li.link-widgets { background-image: url("../../images/nav-icons/Widgets.png"); }
#header .nav ol.icon-menu > li.link-api { background-image: url("../../images/nav-icons/API.png"); }
#header .nav ol.icon-menu > li.link-plugins { background-image: url("../../images/nav-icons/Settings.png"); }

/** Ticket Dropdown **/
#header .tickets-drop {
	width: 600px;
}

/* the ytrack el is given an absolute width when we're sliding stuff
in and out, so we dont want actual scrollbars */
#header .wrap-dropdown .y-track {
	overflow: hidden;
}

#header .wrap-dropdown .inner-container-title .hover-reveal {
	display:none;
	float: right;
	padding: 3px 6px 0 0;
}

#header .wrap-dropdown .inner-container:hover .inner-container-title .hover-reveal {
	display: block;
}

#header .tickets-drop #flagged_edit_btn,
#header .tickets-drop #ticket_labels_viewall {
	display: none;
	float: right;
	padding: 3px 6px 0 0;
}

#header .tickets-drop  #flagged_save_btn {
	display: none;
	float: right;
	padding: 3px 6px 0 0;
}

#header .tickets-drop .inner-container:hover #flagged_edit_btn,
#header .tickets-drop .inner-container:hover #ticket_labels_viewall {
	display: block;
}



#header .top-tickets-info {
	background: #f3f4f5;
	border-bottom: 1px solid #e7e9ef;
}

#header .top-tickets-info ol {
	overflow: hidden;
}

#header .top-tickets-info ol li:first-child {
	border-left: none;
}

#header .top-tickets-info ol li:last-child {
	border-right: none;
}

#header .top-tickets-info ol li {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8ebed;
	padding: 10px 15px;
	float: left;
	color: #4D5054;
	font-weight: bold;
	cursor: pointer;
}

#header .top-tickets-info ol li:hover {
	background: #EBEFF2 !important;
}

#header .top-tickets-info ol li:hover .ticket-counter {
	background-color: #C23E3E;
}

#header .top-tickets-info ol li span.ticket-counter {
	margin-left: 5px;

	padding: 1px 4px;
	background: #e34d4d;
	line-height: 14px;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 1px #8f1313;
	border: 2px solid #fff;
	background-clip: padding-box;


	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;

	-webkit-box-shadow:  0 0px 2px #766B6B;
    -moz-box-shadow: inset 0 1px 0 #e55858, 0  0px 2px #766B6B;
    box-shadow: 0 0px 2px #766B6B;
}

#header .inner-container {
	background: #f8f8f9;
	border: 1px solid #dfe2e8;
	margin: 10px 5px 10px 5px;

	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

#header .inner-container-title {
	color: #4D5054;
	border-bottom: 1px solid #dfe2e8;
	background: #f3f4f6;

	-webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;

}
#header .inner-container-title h3 {
	font-size: 11px;
	padding: 3px 0 3px 27px;
	background: url("../../images/icn-sprite.png") left -554px no-repeat;
}

#header .inner-container-title.open-tickets h3 {
	background-position: left -580px;
}

#header .inner-container-title.tags-title h3 {
	background-position: left -609px;
}

#header .inner-container-title.flag-title h3 {
	background-position: 3px -641px;
}

#header .inner-container-subtitle {
	font-size: 7pt;
	border-bottom: 1px solid #dfe2e8;
}

#header .inner-container-subtitle.open-tickets {
	text-align: center;
}

#header .inner-container-subtitle.open-tickets .menu {
	color: #606770;
	cursor: pointer;
	text-decoration: underline;
}

#header .inner-container-content {
}

#header .inner-container-content ol {
	margin: 5px 0;
}

#header .inner-container-content ol li {
	padding: 0 6px;
	position: relative;
}

#header .inner-container-content ol li a {
	color: #838689;
	display: block;
}

#header .sub-list {
	padding-left: 20px !important;
	color: #9999a1;
	font-size: 10px;
}

#header .sub-list a {
	color: #9999a1 !important;
}

#header .list-counter {
	background: #e8ebed;
	padding: 0px 4px;
	color: #5b606d;
	font-size: 10px;
	float: right;
	line-height: 14px;
	margin-top: 2px;

	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

	-webkit-box-shadow:  inset 0 1px 0 #c8ced3, 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #c8ced3, 0 1px 0 #fff;
    box-shadow:  inset 0 1px 0 #c8ced3, 0 1px 0 #fff;

}

#header .inner-container-content ol.tags {
	text-align: center;
}

#header .inner-container-content ol.tags li {
	display: inline;
}

#header .inner-container-content ol.tags  a {
	margin: 5px;
	color: #5E5E5E;
	display: inline;
}

#header .inner-container-content ol.flags li {
	padding-left: 23px;
	background: url("../../images/icn-sprite.png") 3px -666px no-repeat;
}

#header .inner-container-content ol.flags li.flag-blue {
	background-position: 3px -688px;
}

#header .inner-container-content ol.flags li.flag-green {
	background-position: 3px -710px;
}

#header .inner-container-content ol.flags li.flag-yellow {
	background-position: 3px -730px;
}

/** Global Dropdown */
#header .wrap-dropdown.global > ol {
	margin: 5px 0;
}

#header .wrap-dropdown.global > ol > li {
	margin-bottom: 2px;
	padding: 0 7px;
}


#header .btn-2 {
	color: #fff;
	text-shadow: 0 -1px 0px #5084c5;
	font-weight: bold;
	border: 1px solid #5084c5;
	padding: 6px 10px;
	background-color: #84b4f1;
	line-height: 27px;


    background: -moz-linear-gradient(90deg, #6ba0ec, #98c2f4 );
    background: -webkit-gradient(linear, 0 bottom, 0 top, from(#6ba0ec ), to(#98c2f4));
	-webkit-box-shadow:  inset 0 1px 0 #c2dbf8;
    -moz-box-shadow: inset 0 1px 0 #c2dbf8;
    box-shadow:  inset 0 1px 0 #c2dbf8;


	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#header .wrap-add-new {
padding: 7px 7px 0 7px;
}

#header .new-ticket {
	padding-left: 26px;
	background: url("../../images/icn-sprite.png") 4px -752px no-repeat, -webkit-gradient(linear, 0 bottom, 0 top, from(#6ba0ec ), to(#98c2f4));
	background: url("../../images/icn-sprite.png") 4px -752px no-repeat, -moz-linear-gradient(90deg, #6ba0ec, #98c2f4 );

}

/** Publish Dropdown **/
#header .ideas-drop ol li {
	clear: left;
}

#header .ideas-drop ol li a {
	font-weight: bold;
	color: #3C3E3F !important;
	padding: 38px 0px 6px 6px;
	display: block;
	float: left;
	width: 85px;
	text-align: center;
}

#header .ideas-drop ol li div {
	margin-left: 110px;
	width: 200px;
	display: block;
	line-height: 54px;
}

#header .ideas-drop ol li.link-files a {
	background: url("../../images/icn-files.png") no-repeat 50% 5px;
}

#header .ideas-drop ol li.link-know a {
	background: url("../../images/icn-knowledgebase.png") no-repeat 50% 5px;
}

#header .ideas-drop ol li.link-trouble a {
	background: url("../../images/icn-troubleshooter.png") no-repeat 50% 5px;
}


/** Undo **/

#header .undo {
	margin-right: 10px;
}

#header .undo .wrapper-top-bar {
	margin-top: 19px;
	padding-bottom: 2px;
}

#header .name-file {
	background: #e6e8ec;
	padding: 3px 10px;
	float: left;

	-webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;

	-webkit-box-shadow:  inset 0 1px 0 #b9bdc9, 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #b9bdc9, 0 1px 0 #fff;
    box-shadow:  inset 0 1px 0 #b9bdc9, 0 1px 0 #fff;
}

#header .btn-undo {
	color: #fff;
	text-shadow: 0 -1px 0 #376fb3;
	float: left;
	border: 1px solid #565f6b;
	padding: 3px 8px 1px 6px;

	background: #7a8592;
	background: -webkit-gradient(linear, 0 bottom, 0 top, from(#6f7a88 ), to(#909ba6));
    background: -moz-linear-gradient(90deg, #6f7a88, #909ba6 );

	-webkit-box-shadow:  inset 0 1px 0 #acb4bf;
    -moz-box-shadow: inset 0 1px 0 #acb4bf;
    box-shadow: inset 0 1px 0 #acb4bf;

	-webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

#header .btn-undo span {
	display: block;
	width: 18px;
	height: 12px;
	background: url("../../images/icn-sprite.png") left -351px no-repeat;
	float: left;
	margin: 3px 3px 0 0;
}


/* Dropdowns */


#header .wrap-dropdown {
	color: #838689;
	text-shadow: none;
	display: none;
	margin: 6px 0 0 -5px;
	position: absolute;
	overflow: hidden;
	z-index: 99999;
	background: #f8f8f8;

	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .5), inset 0 1px #fff;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .5), inset 0 1px #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .5), inset 0 1px #fff;

	-webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

#header .wrap-dropdown-tabs .new-ticket {
	padding-left: 26px;
	background: url("../../images/icn-sprite.png") 4px -752px no-repeat, -webkit-gradient(linear, 0 bottom, 0 top, from(#6ba0ec ), to(#98c2f4));
	background: url("../../images/icn-sprite.png") 4px -752px no-repeat, -moz-linear-gradient(90deg, #6ba0ec, #98c2f4 );
}

#header .wrap-dropdown-tabs .search {
	padding-left: 26px;
	background: url("../../images/icn-sprite.png") 4px -752px no-repeat, -webkit-gradient(linear, 0 bottom, 0 top, from(#6ba0ec ), to(#98c2f4));
	background: url("../../images/icn-sprite.png") 4px -752px no-repeat, -moz-linear-gradient(90deg, #6ba0ec, #98c2f4 );
}

#header .wrap-dropdown.has-tabs {
	/*border-top: 1px solid #79AAE8;*/
}

#header .wrap-dropdown.n-drop {
	margin-top: 14px;
	margin-left: -4px;

	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .5), inset 0 1px #fff;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .5), inset 0 1px #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .5), inset 0 1px #fff;
}

#header .wrap-dropdown ul li:hover, #header .wrap-dropdown ol li:hover {
	background-color: #edeff3;

}

#header .wrap-dropdown ul li a , #header .wrap-dropdown ol li a {
	color: #838689;
}
#header .box-header:hover {
	background: rgba(255, 255, 255, .08);
}
#header .select:hover .wrap-dropdown,
#header .notifications:hover .wrap-dropdown,
#header .current-user:hover .wrap-dropdown,
#header .multi:hover .wrap-dropdown,
#header .keyboard:hover .wrap-dropdown {
	/*display: block;*/
}

/* Dropdowns tabs */
#header li.on > ul.wrap-dropdown-tabs {
	display: block;
}

#header ul.wrap-dropdown-tabs {
	display: none;
	z-index: 99998;
	position: absolute;
	margin-left: 50px;
	margin-top: -11px;
}

#header ul.wrap-dropdown-tabs > li {
	line-height: 25px;
	float: left;
	display: block;

	padding: 0 10px;
	margin-left: 10px;

	color: #fff;
	text-shadow: 0 -1px 0px #5084c5;
	font-weight: bold;
	border: 1px solid #5084c5;
	background-color: #84b4f1;

    background: -moz-linear-gradient(90deg, #6ba0ec, #98c2f4 );
    background: -webkit-gradient(linear, 0 bottom, 0 top, from(#6ba0ec ), to(#98c2f4));
	-webkit-box-shadow:  inset 0 1px 0 #c2dbf8;
    -moz-box-shadow: inset 0 1px 0 #c2dbf8;
    box-shadow:  inset 0 1px 0 #c2dbf8;

	cursor: pointer;

	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}


dl#ticket_labels_list {
	margin: 10px 5px 10px 5px;
}

dl#ticket_labels_list dt {
	float: left;
	clear: left;
	font-size: 9pt;
	font-weight: bold;
	width: 20px;
	padding-bottom: 10px;
	text-align: center;
}

dl#ticket_labels_list dd {
	margin-left: 33px;
	padding-top: 2px;
	padding-bottom: 10px;
	color: #333 !important;
}
dl#ticket_labels_list dd a{
	color: #333 !important;
}



#window_search_loading span {
	background: transparent url("../../images/loading-small.gif") no-repeat center left;
	padding: 4px 0 4px 20px;
}