/* BODY */

body {
	background-color: #eaebed;
	font: normal 12px Helvetica, Arial;
	color: #324c66;
}

#DP-Container{
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#DP-MainView{
	position: absolute;
	overflow: hidden;
	top: 41px;
	right: 0;
	bottom: 0;
	left: 54px;
}

/* ----- FIX ----- */

img {
	border: none;	
}

img a {
	
}

img a:hover {
	
}

/* ----- LINKS ----- */

a {
	outline: none;
	text-decoration: none;
}

a:hover {
	
}

a:visited, a:active, a:focus {
	
}
/* ----- GLOBAL USE -----*/
.assignBtn a{
	background: -moz-linear-gradient(top, rgba(250,252,253,1) 0%, rgba(240,242,243,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,252,253,1)), color-stop(100%,rgba(240,242,243,1)));
	-pie-background: linear-gradient(#f0f2f3, #fafcfd);
	behavior: url(js/lib/PIE.htc);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6), 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 0 0 1px rgba(255, 255, 255, 0.25) inset;
	border: 1px solid #b6babf;
	border-radius: 3px 3px 3px 3px;
	padding: 2px 8px 3px 6px;
	color: #626A73;
	padding: 2px 6px 2px 8px;
	cursor: pointer;
	font-size: 10px;
	font: bold 10px/12px 'Helvetica Neue',sans-serif;
	position: relative;
}
span.dropdownIcon{
	background: url(../../images/agent/imgSprt_ico.png) no-repeat 0 -949px;
	height: 6px;
	width: 8px;
}
/* ----- OVERLAY SCREEN ------*/
#overlayScreen{
	background: rgba(0,0,0,0.80);
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1000;
	display: block;
}



.with-scrollbar .thumb .end,
.with-scrollbar .thumb { background-color: #003D5D; }
.with-scrollbar .scroll-viewport { position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: hidden; }
.with-scrollbar .scroll-content { position: absolute; left: 0; top: 0; right: 0; }
.with-scrollbar .scrollbar { position: relative; float: right; width: 6px; z-index: 1000;}
.with-scrollbar .track {

}


.with-scrollbar .scrollbar:hover .thumb, .with-scrollbar .scrollbar.is-scrolling .thumb {
    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    transition: background 500ms ease;

    background-color: #686D75;
}

.with-scrollbar .thumb {
	height: 20px; width: 5px; cursor: pointer; overflow: hidden; position: absolute; top: 0;
	-moz-border-radius: 4px;
	border-radius: 4px;
    background-color: transparent;

    opacity: 0.5;

    -webkit-transition: background 600ms ease;
    -moz-transition: background 600ms ease;
    transition: background 600ms ease;

    min-height: 30px !important;
}
.with-scrollbar .thumb .end {
	display:none;
}
.with-scrollbar .disable{ display: none; }

.with-scrollbar.scrollbar-disabled .viewport {
	position: static;
}

.with-scrollbar.scrollbar-disabled .scrollbar {
	display: none;
}

.inner-container-content.with-scrollbar {
	position: relative;
}
.inner-container-content.with-scrollbar .viewport {
	margin-right: 9px;
}

.inner-container-content.scrollbar-disabled .viewport {
	margin-right: 0;
}