#DP-Navigation{
	background: #363c42 url(../../images/agent/navBack.png) repeat-y scroll 0 0;
	width: 54px;
}
#DP-NavSections{
	background: #383B40;
	border-top: 1px solid #292C31;
	bottom: 0;
	box-shadow: -2px -5px 4px #222222 inset;
	font-size: 10px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 55px;
	z-index: 99999;
	behavior: url(../../js/lib/PIE.htc);
}

#DP-NavSections ul{
	position: relative;
	margin: 60px 0 0;
	padding: 0;
}

#DP-NavSections li{
	background: url(../../images/agent/navPaneBack.png) repeat-y top left;
	border-bottom: 1px solid #272A2E;
	box-shadow: 0 1px 0 #303439 inset;
	float: left;
	width: 100%;
	cursor: pointer;
	padding: 0;
	position: relative;
}
#DP-NavSections li:first-child{
	margin-top:-1px;
	border-top: 1px solid #272A2E;
	box-shadow: 0 1px 0 #3C3F44 inset;
}
#DP-NavSections li.dpNavActive{
	background: url(../../images/agent/pointerNav.png) no-repeat 44px 18px #1f2225;
	padding: 0;
	z-index: 999;
	box-shadow: none;
	border: 1px solid #17191B;
	box-shadow: 0 -1px 0 #17191B;
}
#DP-NavSections li.dpNavActive:first-child{
	margin-top: 0;
	border-top: 1px solid #17191B;
	box-shadow: 0 -1px 0 #17191B;
}


/*#DP-NavSections li .navCounterGreen, #DP-chatOnlineCount .navCounterGreen{
	background: -moz-linear-gradient(top, rgba(119,150,90,1) 0%, rgba(88,119,60,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,150,90,1)), color-stop(100%,rgba(88,119,60,1))); 
	-pie-background: linear-gradient(#77965a, #58773c);
	behavior: url(../../js/lib/PIE.htc);
	border-radius: 10px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 0px 1px rgba(255, 255, 255, 0.2) inset,  0 2px 3px rgba(0, 0, 0, 0.3);
	border: 1px solid #304020;
	display: block;
	left: 25px;
	padding: 1px 2px;
	position: absolute;
	text-align: center;
	top: 0;
	z-index: 99;
}*/

#DP-NavSections li .navCounterRed, #DP-chatOnlineCount .navCounterRed{
	border-radius: 7px;
	background-image: -moz-linear-gradient(top, #bf4d4e, #943232);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#bf4d4e), to(#943232));
	box-shadow: 0 1px 5px rgba(0,0,0,0.25), inset 0 1px 0 #d58181;
	-pie-background: linear-gradient(#bf4d4e, #943232);
	behavior: url(../../js/lib/PIE.htc);
	border: 1px solid #592d2d;
	display: block;
	right: 5px;
	padding: 1px 2px;
	position: absolute;
	text-align: center;
	top: 0;
	z-index: 99;
}
.count-badge.first { 
	top: 0px !important;
	position: absolute;
}
.count-badge{ 
	top: 3px  !important;
	position: absolute;
}

#DP-NavSections li span, #DP-chatOnlineCount span{
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-shadow: 0 1px 0 #000000;
	padding: 1px 2px 0 1px;
}

#DP-NavSections li a{
	color: #FFFFFF;
	float: left;
	font-size: 11px !important;
	padding: 7px 0 9px;
	text-align: center;
}
#DP-NavSections li a span, #DP-NavSections li.dpNavActive a span, #DP-chatOnlineCount a span{
	background: url(../../images/agent/navIcon.png) no-repeat;
 	color: #FFFFFF;
    float: left;
    font-weight: normal;
    height: 7px;
    margin: 0 10px;
    padding: 28px 0 0;
    width: 33px;
}

#DP-NavSections li a span.ticketNavIcon{
	background-position: 0 0;
}
#DP-NavSections li:hover a span.ticketNavIcon {
	background-position: 0 -757px;
}
#DP-NavSections li a span.chatNavIcon{
	background-position: 0 -58px;
}
#DP-NavSections li:hover a span.chatNavIcon {
	background-position: 0 -814px;
}
#DP-NavSections li a span.twitterNavIcon{
	background-position: 0 -115px;
}
#DP-NavSections li:hover a span.twitterNavIcon {
	background-position: 0 -871px;
}
#DP-NavSections li a span.peopleNavIcon{
	background-position: 0 -177px;
}
#DP-NavSections li:hover a span.peopleNavIcon {
	background-position: 0 -933px;
}
#DP-NavSections li a span.ideasNavIcon{
	background-position: 0 -237px;
}
#DP-NavSections li:hover a span.ideasNavIcon {
	background-position: 0 -993px;
}
#DP-NavSections li a span.publishNavIcon{
	background-position:0 -298px;
}
#DP-NavSections li:hover a span.publishNavIcon {
	background-position:0 -1054px;
}

#DP-NavSections li a span.tasksNavIcon{
	background-position: -1px -467px;
}
#DP-NavSections li:hover a span.tasksNavIcon {
	background-position:-1px -1165px;
}

#DP-NavSections li a span.dealsNavIcon{
	background-position: -2px -526px;
}
#DP-NavSections li:hover a span.dealsNavIcon {
	background-position:-2px -1224px;
}

/* Agent Chat Status */
#DP-agenChatIndy{
	background-image: -moz-linear-gradient(top, #eef0f2, #e4e6e9);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#eef0f2), to(#e4e6e9));
	-pie-background: linear-gradient(#eef0f2, #e4e6e9);
	behavior: url(../../js/lib/PIE.htc);
	border-radius: 5px 5px 0 0;
	border-top: 1px solid #212326;
	border-left: 1px solid #212326;
	border-right: 1px solid #212326;
	box-shadow: 0 1px 0 #FFFFFF inset;
	bottom: 0;
	cursor: pointer;
	height: 25px;
	left: 8px;
	position: absolute;
	width: 37px;
	z-index: 9999;
}
#DP-agenChatIndy:hover{
	background: #d2d4d6;
}
#DP-chatOnlineCount{
	position: relative;
}

#DP-chatOnlineCount a{
	padding: 0;
	width: 100%;
}
#DP-chatOnlineCount a span.liveChatIcon{
	background-position:0 -350px;
	padding: 11px 0 5px 24px;
	width: 100%;
	margin: 0;
	color: #000000;
	text-shadow: 0 1px 0 #fff;
}

/* End of Agent Chat Status */