/**********************************************************
 Window Head
***********************************************************/

#window_head {

}

#window_head > #window_head_top {
	background-color: #124368;
	height: 20px;
	overflow: hidden;
	text-align: right;
}

#window_head > #window_head_top > .logo {
	line-height: 20px;
	overflow: hidden;
	margin-left: 10px;
	cursor: pointer;
	float: left;
	color: #fff;
	font-size: 95%;
	font-weight: bold;
}

#window_head > #window_head_top > ul.header-tabs {
	float: left;
	line-height: 18px;
	color: #fff;
	font-family: Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 15px;
	
	margin-top: 3px;
}

#window_head > #window_head_top > ul.header-tabs li {
	float: left;
	margin-left: 10px;
	padding: 0 10px 0 10px;

	background: #000000; /* old browsers */
	background: -moz-linear-gradient(top, #000000 1%, #192449 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#000000), color-stop(100%,#192449)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#192449',GradientType=0 ); /* ie */
	
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	
	-webkit-box-shadow: 2px 1px 3px #000000;
	-moz-box-shadow: 2px 1px 3px #000000;
	box-shadow: 2px 1px 3px #000000;
	
	text-shadow: 1px 1px 1px #8F96A1;
	filter: dropshadow(color=#8F96A1, offx=1, offy=1);
	
	cursor: pointer;
}

#window_head > #window_head_top > ul.header-tabs li:hover:not(.on) {
	background: #000000; /* old browsers */

	background: -moz-linear-gradient(top, #000000 0%, #2C334C 96%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(96%,#2C334C)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#2C334C',GradientType=0 ); /* ie */
}

#window_head > #window_head_top > ul.header-tabs li.on {
	background: #272D47; /* old browsers */

	background: -moz-linear-gradient(top, #272D47 0%, #485F85 47%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#272D47), color-stop(47%,#485F85)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272D47', endColorstr='#485F85',GradientType=0 ); /* ie */

	border: 1px solid #485F85;
	border-bottom: none;
	
	text-shadow: 1px 1px 1px #000;
	filter: dropshadow(color=#000, offx=1, offy=1);
}

#window_head > #window_head_top > ul.current-user {
	float: right;
	line-height: 20px;
	color: #fff;
	font-family: Helvetica, sans-serif;
	font-size: 11px;
	padding-right: 15px;
}

#window_head > #window_head_top > ul.current-user a {
	color: #fff;
	text-decoration: none;
}

#window_head > #window_head_top > ul.current-user > li {
	float: left;
	margin-left: 20px;
	padding-left: 19px;
	background-repeat: no-repeat;
	background-position: center left;
}

#window_head > #window_head_top > ul.current-user > li.person { background-image: url(../../images/icons/user.png); }
#window_head > #window_head_top > ul.current-user > li.settings { background-image: url(../../images/icons/process.png); cursor: pointer; }
#window_head > #window_head_top > ul.current-user > li.admin { background-image: url(../../images/icons/favorite.png); }



/**********************************************************
 Window Header Nav
***********************************************************/

#window_header_nav {
	border-top: 2px solid #485F85;
	height: 30px;
	overflow: hidden;
	font-size: 11px;
	
	background: #192449; /* old browsers */
	background: -moz-linear-gradient(top, #192449 0%, #000000 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#192449), color-stop(100%,#000000)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192449', endColorstr='#000000',GradientType=0 ); /* ie */
}

#window_header_nav .group {
	display: none;
	float: left;
	color: #fff;
}

#window_header_nav .group.on {
	display: block;
}

#window_header_nav .group ul {
}

#window_header_nav .group ul li {
	float: left;
	line-height: 30px;
	cursor: pointer;
	
	padding-left: 15px;
	padding-right: 15px;
	
	border-right: 1px solid #333942;
	
	background: #192449; /* old browsers */
	background: -moz-linear-gradient(top, #192449 0%, #000000 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#192449), color-stop(100%,#000000)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192449', endColorstr='#000000',GradientType=0 ); /* ie */
	
	text-shadow: 1px 1px 1px #000;
	filter: dropshadow(color=#000, offx=1, offy=1);
}

#window_header_nav .group ul li.on, #window_header_nav .group ul li:hover {
	background: #192449; /* old browsers */

	background: -moz-linear-gradient(top, #192449 0%, #344889 100%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#192449), color-stop(100%,#344889)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192449', endColorstr='#344889',GradientType=0 ); /* ie */
}


#window_header_nav .section {
	margin: 5px;
	background-color: #121932;
	border: 1px solid #4b5579;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #fff;
	float: left;
	padding: 8px 6px 7px 6px;
}

#window_header_nav .section h1 {
	font-size: 12px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	display: block;
}

#window_header_nav .section ul li {
	float: left;
	margin-left: 10px;
	padding: 3px;
	
	cursor: pointer;
	
	padding-left: 19px;
	background-repeat: no-repeat;
	background-position: center left;
}

#window_header_nav .section ul li:first-child {
	margin-left: 0;
}


#window_header_nav .section ul li:hover {
	text-decoration: underline;
}

#window_header_nav .nav-right {
	float: right;
	margin-right: 5px;
}

#window_header_nav .create-box {
	text-align: center;
	float: right;
	border-right: 1px solid #333942;
	margin-right: 10px;
	padding-right: 10px;
}

#window_header_nav .create-box span {
	
	padding: 0 0 0 20px;
	color: #fff;
	font-size: 8pt;
	font-weight: bold;
	font-family: Arial, Verdana, sans-serif;
	background: transparent url(../../images/icons/add.png) no-repeat center left;
	
	line-height: 30px;
	
	text-shadow: 1px 2px 3px #000;
	filter: dropshadow(color=#575757, offx=1, offy=1);
	
	cursor: pointer;
}

#window_header_nav .create-box span:hover {
	text-decoration: underline;
}

#window_header_nav .search-box {
	float: right;
	margin-top: 6px;
}

#window_header_nav .search-box input[type="text"] {
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px inset #fff;
	color: #000;
	padding: 0;
	font-size: 11px;
	width: 150px;
}

/**********************************************************
 Window pane nav (left pane)
***********************************************************/

#pane_nav {
	background-color: #DBDFE6;
}

#pane_nav > h1 {
	padding: 0 4px 0 6px;
	line-height: 30px;
	font-weight: bold;
	font-size: 9pt;
	cursor: pointer;
	display: block;
	background: #4F5268;
	background: -moz-linear-gradient(top, #4F5268 0%, #31323F 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4F5268), color-stop(100%,#31323F));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4F5268', endColorstr='#31323F',GradientType=0 );
	color: #fff;
	text-shadow: 0px 0px 1px #000;
	
	border-bottom: 1px solid #fff;
}

#pane_nav > h1.active {
	background: #737A96; /* old browsers */
	background: -moz-linear-gradient(top, #737A96 0%, #515468 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#737A96), color-stop(100%,#515468)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#737A96', endColorstr='#515468',GradientType=0 ); /* ie */
}

#pane_nav > .main-nav {
	margin-bottom: 25px;
}

#pane_nav > .main-nav.with-side-nav {
	margin-bottom: 26px;
}

#pane_nav > .main-nav .options {
	font-size: 10px;
	background-color: #FFF;
	border: 1px solid #A8A8A8;
	border-top: none;
	padding: 4px;
	
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	
	margin: 0 6px 10px 6px;
}

#pane_nav > .main-nav .options .menu {
	color: #455487;
	cursor: pointer;
}

#pane_nav .nav-list-wrapper {
}

#pane_nav .nav-list-wrapper h4 {
	color: #A0A5B8;
	font-weight: bold;
	font-size: 13px;
	padding: 4px;
	cursor: pointer;
	
	text-shadow: 0px 1px 2px #fff;
}

#pane_nav .nav-list-wrapper h4:hover {
	text-decoration: underline;
}

#pane_nav .nav-list-wrapper.on h4 { 
	color: #657080;
	cursor: default;
}

#pane_nav .nav-list-wrapper.on h4:hover {
	text-decoration: none !important;
}

#pane_nav .nav-list-wrapper ul.nav-list > li {
	padding-left: 14px;
	display: none;
}

#pane_nav .nav-list-wrapper.on ul.nav-list > li {
	display: block;
}

#pane_nav ul.nav-list > li {
	display: block;
	font-family: Verdana;
	padding: 6px 5px 6px 5px;
	font-size: 10px;
	cursor: pointer;
	
	text-shadow: 0px 0px 1px #fff;
}

#pane_nav .nav-list-wrapper ul.nav-list > li.sub {
	padding-left: 24px !important;
}

#pane_nav ul.nav-list > li.sub {
	padding: 3px 5px 3px 10px;
	font-size: 7pt;
}

#pane_nav ul.nav-list.small > li span.count {
	font-size: 6pt;
}

#pane_nav ul.nav-list > li.on {
	background: #919EC0;
	background: -moz-linear-gradient(top, #919EC0 0%, #686E87 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#919EC0), color-stop(100%,#686E87));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919EC0', endColorstr='#686E87',GradientType=0 );
	
	color: #fff;
	font-weight: bold;
	text-shadow: 0px 0px 1px #000000;
}

#pane_nav ul.nav-list > li.important {
	color: #851717;
	font-weight: bold;
}

#pane_nav ul.nav-list li span.count {
	font-family: Verdana;
	font-size: 7pt;
	background-color: #666;
	padding: 2px;
	border-radius: 13px;
	-moz-border-radius: 13px;
	color: #ccc;
	min-width: 10px;
	text-align: center;
	float: right;
	line-height: 8px;
	margin-top: -2px;
}

#pane_nav ul.nav-list li span.new {
	background-color: #000;
	color: #fff;
}

#pane_nav ul.nav-list > li:hover:not(.on) {
	background-color: #fff;
}

#pane_nav ul.nav-list > li > ul.nav-list {
	margin-left: 5px;
	font-size: 9pt;
}

#pane_nav ul.nav-list > li.icon { background-repeat: no-repeat; background-position: center left; padding-left: 20px; }