.chart_parent_table td {
  height: 24px;
  vertical-align: middle;
}
.chart_container {
  vertical-align: top !important;
}
.chart_container td {
  height: 25px;
  vertical-align: middle;
}


.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert {
  padding: 15px;
  margin-bottom: 17px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.padd {
  padding: 15px;
}