@import 'lib';

@import 'variables';
html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body {
  background: #f6f6f6;
  font-family: Lato, "proxima nova";
  font-size: 13px;
  font-weight: 400;
  color: #333;
}

#dp_win {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

* { @include box-sizing(border-box); }

p {
  font-weight: 400;
  color: $text-color;
}

a { color: $link-color; }

// So we don't have to repeat it every time we want to reposition an icon
.fa { position: relative; }

// extras
@import 'sidebar';
@import 'top-bar';
@import 'dropdowns';
@import 'live-search';
@import 'forms';
@import 'sidebar-kb';
@import 'user-preferences';
@import 'misc';
@import 'reports';
@import 'tooltips';
@import 'stats';

// To keep a set width sidebar with a full width content columns: float left and give the content container
// padding-left equal to the full width of the sidebars.
//   |   |         |              |
//   | A | sidebar |   content    |
//   |   |         |              |
//   |   |         |              |
//
//    A(pp-bar) + sidebar = content padding-left
//

.app-bar-wrapper {
  position: absolute;
  top: $top-bar-height;
  left: 0;
  bottom: 0;
  width: $app-width;
  background: #2b2f34;
}

.app-container {
  position: absolute;
  top: $top-bar-height;
  left: $app-width;
  right: 0;
  bottom: 0;
  overflow: auto;
}

// Tenmporary for presentation]
.app-bar {
  padding-top: 20px;
  text-align: center;
  a {
    display: block;
    font-size: 1.5em;
    color: #cecece;
    margin-bottom: 30px;

    &:hover {
      color: #fff;
    }
  }

}

// Main sidebar
.sidebar-wrapper {
  float: left;
  width: $sidebar-width;
  background: #cecece;
  border-right: 1px solid #e2e4e5;
}

.content-wrapper {
  padding-left: $content-width;
  background: #fff;
}

.report-wrapper {
  padding-left: $app-width;
}

.report-list-wrapper {
  float: left;
  width: $report-list-width;
}

.stat-large-preview-wrapper {
  padding-left: $app-width + $report-list-width;

  div {
    background: #fff;
    border-left: 1px solid $global-border;
    height: 2400px;
  }
}


.wrapper {
  @include clearfix;
}
