

// Custom Checkboxes
// Base: <span class="c-check"><input type="checkbox" id="checkbox-name" /><label for="checkbox-name"></label></span>

.c-check {
  display: inline-block;
  margin-left: 4px;
  margin-right: 2px;
}


/* Base for label styling */
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 15px;
  height: 15px;
  background: #e1e6eb;
  border-radius: 2px;
}

[type="checkbox"]:checked + label:before {
  background: #93d06e;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
  font-family: 'FontAwesome';
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 10px;
  font-weight: 100;
  color: #fff;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before, [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: none;
}

/* hover style just for information */
label:hover:before {
  background: #93d06e !important;
}

i.spinner-flat {
  display: inline-block;
  width: 16px;
  height: 11px;
  overflow: hidden;
  text-indent: -100px;
  line-height: 100%;
  margin: 0;
  padding: 0;

  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  background-image: url('#{$old-img-path}/spinners/loading-small-flat.gif');
}

i.spinner-circle-32 {
  display: inline-block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  text-indent: -100px;
  line-height: 100%;
  margin: 0;
  padding: 0;

  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  background: url('#{$old-img-path}/spinners/loading-big-circle.gif');
}

i.spinner-big-circle {
  display: inline-block;
  width: 75px;
  height: 75px;
  overflow: hidden;
  text-indent: -100px;
  line-height: 100%;
  margin: 0;
  padding: 0;

  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  background: url('#{$old-img-path}/spinners/editor-loading.gif');
}