// Agent interface variables

$global-border: #cacfd3;
$text-color: #333;
$link-color: #333;
$text-color-secondary: #757575;

// Live Results Stuff
  $results-text-color: #5b5e68;
  $results-background: #ededed;
  $header-background: #e1e6eb;
  $results-link: #1c4f7a;




// Sidebar
  $sidebar-background: #f5f6f7;

  $sidebar-link-color: #5b5b5b;
  $sidebar-divider: #dedfe0;
  $sidebar-left-padding: 10px;// Default left padding for aligning text on the left

  $sidebar-color-selected: #2b77b5;
  $sidebar-color-selected-counter: #6899c1;




// Colors
  $yellow: #ffc65e;
  $orange: #fa7313;
  $green: #3bb870;
  $grey: #bfc3c6;
  $text-grey: #898989;
  $blue: #4681b2;



// Top bar
  $top-bar-blue: #4681b2;
  $top-bar-text-color: #fff;



// Invisible classes
%whitespace {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%flat-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%inline-list {
  li {
    display: inline-block;
  }
}








h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}


p {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-size: 1.05em;
}

h1 {
  font-size: 1.3em;
}



hr {
  display: block;
  width: 100%;
  border: 0px;
  margin: 0px;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}




.tag {
  display: inline-block;
  background: #56bb70;
  color: #fff;
  padding: 0px 3px;
  border-radius: 2px;
  font-size: 0.85em;
  font-weight: 700;
  margin-right: 2px;
}
