
// Feedback

.front-page-feedback {

  ul {

    li {

      span.thumbs {
        cursor: default;
        display: inline-block;
        border-radius: 4px;
        min-width: 45px;
        color: #a3a3a3;
        font-weight: 500;
        font-size: 0.8em;
        border: 1px solid #fff;
        padding: 4px;
        line-height: 1em;

        &:hover {
          cursor: pointer;
          border: 1px solid #e4e4e4;
        }

        i {
          position: relative;
          top: -1px;
          padding-right: 3px;
          color: #3575bd;
        }
      }

    }
  }
}
