


.expand {
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 13px;
  text-align: center;
  color: #e2e2e2;
  top: 13px;
  i {
    position: relative;
    top: 8px;
  }

  &:hover {
    color: #333;
  }
}






.calendar-decoration {
  float: left;
  width: 45px;
  height: 45px;
  background: #3575bd;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  line-height: 1em;
  margin-right: 0.66em;

  span {
    display: block;
  }

  .month {
    font-size: 0.7em;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #7393bf;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .day {
    font-size: 1em;
    font-weight: 600;
    padding-top: 3px;
  }

  hr {
    border: 0px;
    height: 1px;
    margin: 0;
    padding: 0;;
    z-index: 99;
    border-top: 1px solid #2a5e97;
    background: #4a83c4;
    position: relative;
    top: 0px;
  }
}



// News

h1.fancy-header {
  font-size: 1.15em;
  font-weight: 600;
  display: inline-block;
  background: #fff;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
  z-index: 100;
}


.front-page-news {

  header, footer {
    text-align: center;
    hr {
      border: 0px;
      height: 1px;
      background: #e5e5e5;
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 99;
      top: -0.85em;
    }
  }


  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      @include clearfix;
      line-height: 1.4em;
      border-radius: 4px;
      // border: 1px solid #f0f0f0;
      padding: 7px;
      margin-bottom: 10px;
      position: relative;
      padding-right: 70px;

      h1 {
        display: inline;
        font-size: 1.1em;
        font-weight: 400;

        a {
          text-decoration: none;
        }
      }

      h2 {
        display: inline;
        font-size: 0.9em;
        font-weight: 400;

        a {
          color: #cecece;
        }
      }

      p {
        margin-top: 3px;
        color: #737373;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.expanded-post {
        border: 1px solid #ededed;
        background: #f6f6f6;
        p {
          white-space: normal;
          overflow: visible;
          text-overflow: ellipsis;
          line-height: 1.7em;
          margin-bottom: 10px;
          color: #333;
        }
      }
    }
  }
}




.front-page-news-tiny {
  ul {
    li {
      a {
        color: #3575bd;
      }
    }
  }
}
