@import "./bourbon/bourbon";
@import "./neat/neat";

//The important stuff
@import "variables";// and mixins
@import "fonts";
@import "forms";
@import "buttons";

// Content
@import "sidebar";
@import "tiny";
@import "news";
@import "feedback";
@import "downloads";
@import "top-bar";
@import "tabs";
@import "agents";
@import "ticket-page";
@import "top-search";
@import "misc";
@import "kb-expandable";
@import "article-lists";
// Misc
@import "tooltips";
@import "alerts";
@import "../fonts/font-awesome/css/font-awesome.min.css";

// Neat Variables
$grid-columns: 12;// Will change this eventualy to change sidebar width etc
$max-width: 1080px;
$tablet: new-breakpoint(max-width 760px 6);

body {
  color: $text-color;
  padding: 20px;
  background: $page-background;
}

* {
  @include box-sizing(border-box);
}

// Structure

section, .wrapper {
  @include outer-container;
}

  // 12 columns
.column-full {
  @include span-columns(12);
}
  // 6
.column-half {
  @include span-columns(6);
  @include media($tablet) { @include span-columns(6); }
}
  // 4
.column-third {
  @include span-columns(4);
  @include media($tablet) { @include span-columns(6); }
}

  // On a sidebar layout - 2/3rd of the main with a third remaining (so it's .column-third x 2) - i'm pretty sure this is insane
.column-sixth {
  @include span-columns(8);
  @include media($tablet) { @include span-columns(6); }
}

  // full width when sidebared
.column-half-plus {
  @include span-columns(9);
  @include media($tablet) { @include span-columns(6); }
}

.sidebar {
  @include media($tablet) { @include span-columns(6); }
  @include span-columns(3);
  @include omega();
}

  // two columns and sidebar
.column-half-with-sidebar {
  @include span-columns(4.5 of 9);
}

// three columns and sidebar
.column-third-with-sidebar {
@include span-columns(3 of 9);
}

  // clears
.omega {
  @include omega;
}

.container, .row {
  @include row();
}






// These need their own file (eventualy)
.active-button-dropdown {
  position: absolute;
  top: 30px;
  right: 4px;
  background: #fff;
  border: 1px solid #c2c2c2;
  border-radius: 2px;
  display: block;
  position: absolute;
  border-radius: 2px;
  text-align: left;
  min-width: 135px;
  padding: 7px 14px;
  padding-bottom: 14px;
  border-top-right-radius: 0px;
  z-index: 99;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  hr {
    background: #e5e5e5;
    border: 0px;
    height: 1px;
  }
}

.cleared {
  @include clearfix;
}

div.large-title {
  display: block;
  border-bottom: 1px solid $divider-color;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: left;

  h1 {
    font-weight: 100;
    font-size: 1.4em;
    padding-bottom: 0px;
    display: inline-block;
    color: $text-color-darker;
    position: relative;
    background: $page-background;
    padding-left: 10px;
    padding-right: 10px;
    top: 11px;
    left: 30px;

  }
}
