$border-color: #e7e7e7;
$fa-font-path: "../../../../../../node_modules/font-awesome/fonts";

@import "misc/mixins";
@import "./normalize.css";
@import "../../../../../../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../../../../../../node_modules/font-awesome/scss/font-awesome";

.dpdesignportal-chat-assets, .dpdesignportal, .dpdesignportal-popover {// Consider these as the root since we don't know where they'll be imported in
  @import "./normalize.css";// Reset
  h1, h2, h3 { font-weight: normal; font-size: 14px; padding: 0; margin: 0; }
  .fa { position: relative; }
  p { padding: 0; margin: 0; }
  ul { list-style: none; padding: 0; margin: 0; }
  li { display: block; }
  @import "forms/forms";
  @import "header/panel-header";
  @import "chat/chat-header";
  @import "chat/chat-messages";
  @import "chat/chat-reply";
  @import "chat/chat-events";
  @import "chat/ratings";
  @import "misc/checkbox";
  @import "misc/radio";
  @import "misc/powered-by";
  @import "misc/search";
}

@import "misc/popovers";// .dpdesignportal-popover
@import "chat/chat-assets";// .dpdesignportal-chat-assets
@import "panel";
@import "preemptive-chat/preemptive-chat";
@import "chat/collect-user-info";

html, body {
  border: none;
  margin: 0;
  padding: 0;
}

.trigger-button {
  min-width: 100%;
  overflow: hidden;
  background: #0070C2;
  border-radius: 150px;
  color: #fff;
  cursor: pointer;

  strong {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    padding: 12px 30px;
  }
}

.widget-container {
  overflow: auto;
  background: #fff;
}

#react_frame_container {
  position: absolute;
}

.dpdesignportal-button, .dpdesignportal a.dpdesignportal-button, .dpdesignportal .dpdesignportal-button {// Base buttons
  text-decoration: none;
  display: inline-block;
  line-height: 1.3em;
  background: #4681b2;
  color: #e0e5ec;
  padding: 5px 10px;
  border: 1px solid #4681b2;
  border-radius: 2px;
  transition: all 0.2s ease;

  &:hover {
    background: #3b75a4;
    color: #fff;
  }

  &.dpdesignportal-button-wide { width: 100%; }

  &.white {
    background: #ffffff;
    border: 1px solid #d8d8d8;
    color: #959595;
    &:hover {
      background: #f7f7f7;
      color: #333;
    }
  }

  &.grey {
    background: #eaeaea;
    border: 1px solid #eaeaea;
    color: #959595;
    &:hover {
      background: #e0dddd;
      border: 1px solid #e0dddd;
    }
  }
}

.dpdesignportal-button + .dpdesignportal-button { margin-left: 5px; }

// Leftovers?

// Originally for feedback but havent done anything with it, probably redo
.dpdesignportal ul.dpdesignportal-content-list {
  padding: 10px 30px 10px 10px;
  li > ul { margin-left: 10px; }// Add margins to lists in lists

  // Main icon style
  .dpdesignportal-list-icon {
    display: inline-block;
    width: 16px;
    margin-right: 5px;
    i { color: inherit; font-size: 11px; }
  }

  // Main level folders only
  .dpdesignportal-content-list-folder {
    color: #299969;
    .dpdesignportal-list-icon i { font-size: 15px; }
    .dpdesignportal-list-title { font-size: 15px; }
  }

  // Second level folders
  .dpdesignportal-content-list-folder.dpdesignportal-content-list-folder-secondary {
    .dpdesignportal-list-icon i { font-size: 11px; }
  }

  a {
    color: #4c4c4c;
    text-decoration: none;
    display: block;
    width: 100%;
    line-height: 1em;
    padding: 6px 0;
    font-size: 12.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      color: #299969;
      text-decoration: underline;
      i { color: inherit;}
    }
  }
}
