/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }



.ui-layout-pane { /* all 'panes' */ 
	overflow: auto;
} 

.ui-layout-resizer { /* all 'resizer-bars' */ 
	background: #DDD; 
} 

.ui-layout-toggler { /* all 'toggler-buttons' */ 
	background: #AAA; 
} 





#topbar {
	background: #24406a url(../images/topbar-bg.png) repeat-x top left;
	border-bottom: 1px solid #151e41;
	height: 49px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: right;
}

#topbar > .logo {
	background: transparent url(../images/logo.png) no-repeat top left;
	height: 49px;
	width: 95px;
	overflow: hidden;
	margin-left: 10px;
	cursor: pointer;
	float: left;
}

#topbar > .current-user {
	float: right;
	line-height: 49px;
	color: #fff;
	font-family: Helvetica, sans-serif;
	font-size: 12pt;
	background: transparent url(../images/topbar-down-arrow.png) no-repeat right center;
	padding-right: 25px;
	margin-right: 20px;
	cursor: pointer;
}

#topbar > .current-user:hover {
	background-color: #24406a;
}



#btnbar {
	position: absolute;
	width: 60px;
	top: 50px;
	left: 0;
	bottom: 0;
	overflow: hidden;
	background: #c6c6c7 url(../images/btnbar-bg.png) repeat-y top left;
	border-right: 1px solid #848181;
}

#page_wrap {
	position: absolute;
	top: 50px;
	left: 61px; /* width(btnbar)+border(btnbar) */
	bottom: 0;
	right: 0;
	overflow: hidden;
}

#page_wrap > .ui-layout-resizer {
	background: #dadfe6 url(../images/page-splitter-bg.png) repeat-y top right;
	width: 5px;
}

#page_left {
	background-color: #dadfe6;
}



.content .tabbar {
	background: #292a29 url(../images/page-tabbar-bg.png) repeat-x bottom left;
	border-bottom: #212121;
	height: 22px;
	color: #bababa;
	font-size: 8pt;
	font-family: Arial, sans-serif;
}

.content .tabbar ul li {
	float: left;
	line-height: 22px;
	padding: 0 15px 0 15px;
	border-right: 1px solid #323332;
	color: #fff;
}

.content .tabbar ul li:first {
	border-right: none;
	margin-left: 0;
	padding-left: 0;
}

.content .tabbar ul li.active {
	background-color: #2a2b2a;
}