#pane_nav > ul.side-nav > li > span.filters {
	line-height: 20px !important;
	padding-right: 50px;
}

#pane_nav > ul.side-nav > li > span.overview {
	line-height: 20px !important;
	padding-right: 59px !important;
}

#pane_nav > ul.side-nav > li > span.flagged {
	line-height: 20px !important;
	padding-right: 55px !important;
}