<div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Link JIRA Issue</h3>
</div>
<div class="modal-body" ng-style="{maxHeight: height - 220, overflowY: 'auto'}">
    <div class="extended-merge">
        <div class="merge-data-wrap" style="margin: 0;">
            <table class="merge-data" width="100%">
                <tr class="header-row">
                    <td colspan="2" style="border-left: none;">
                        Issue ID: <a href="{{ issue.url }}" target="_blank">{{ issue.key }}</a>
                    </td>
                </tr>
                <tr ng-repeat="field in issue.filtered_fields">
                    <th style="text-align: left; text-wrap: none;" nowrap="nowrap">{{ meta.fieldName(field.id) }}</th>
                    <td width="100%">
                        <div ng-if="issue.renderedFields[field.id]" ng-bind-html="meta.fieldValue(field.id, field.value)">
                        </div>
                        <div ng-if="!issue.renderedFields[field.id]">
                            {{ meta.fieldValue(field.id, field.value) }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer" style="text-align: center;" ng-if="!already_linked">
    <button class="dp-btn" ng-click="confirm()"><i class="fa fa-link"></i> Confirm &mdash; Link to this ticket</button>
</div>