<form name="comment_form" ng-submit="comment_form.$valid && confirm(message); message = null;">
    <div class="modal-header">
        <button type="button" class="close" ng-click="dismiss()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Send Comment:</h3>
    </div>
    <div class="modal-body" ng-style="{maxHeight: meta.windowHeight() - 220, overflowY: 'auto'}">
        <p class="text-muted" ng-if="!issue">
            This will add your comment to all ({{ issues.length }}) issues that this ticket is linked to. If you want to comment on only a specific issue, you should click on "View Details" for the issue you want to comment on and fill in the comment form.
        </p>
        <textarea name="message" ng-model="message" required class="jira-comment-textarea full"></textarea>
    </div>
    <div class="modal-footer" style="text-align: center;">
        <button dp-submit-form class="dp-btn">Add comment to
            <span ng-if="!issue">all ({{ issues.length }}) issues</span>
            <span ng-if="issue">{{ issue.key }}</span>
        </button>
    </div>
</form>