.comment-box {


  .single-comment {
    @include clearfix;
    margin-bottom: 20px;
  }

  .agent-response {
    .blurb {
      background: $surface-secondary;
      border-left: 4px solid $button-color;
    }
  }

  .comment-info, .comment-content {
    float: left;
  }

  .comment-info {
    width: 20%;
    text-align: right;
    line-height: 1.3em;
  }

  .comment-content {
    width: 80%;
  }

  .avatar {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  strong {
    font-weight: 500;
    color: $text-color-darker;
  }

  .author {
    display: block;
  }

  .date {
    font-size: 0.9em;
    color: $text-faded;
  }

  .blurb {
    @include clearfix;
    border-left: 1px solid $divider-color;
    padding: 10px;
    padding-left: 20px;
    margin-left: 20px;

    .response {
      background: $surface-secondary;
      border: 0px;
      border-left: 4px solid $button-color;
      border-radius: 0px;

      span {
        font-size: 1.15em;
        font-weight: 400;
      }
    }
  }

  form {
    textarea {
      background: $page-background;
      border: 1px solid $divider-color;
      border-radius: 2px;
      width: 100%;
      min-height: 50px;
      height: 50px;
    }

    textarea:focus {
      height: 100px;
      transition: all 0.5s ease;
    }
  }
}


.response {
  background: $form-input;
  border: 1px solid $divider-color;
  border-radius: 4px;
  padding: 5px 10px;
  position: relative;
  margin-left: 160px;
  margin-top: 10px;

  .response-meta {
    position: absolute;
    left: -160px;
    width: 160px;
    color: $text-color-lighter;
    font-size: 0.85em;
    text-align: right;
    padding-right: 50px;
    line-height: 1.5em;

    span {
      display: block;
      color: $text-color;
      font-size: 1.2em;
      font-weight: 500;
    }

    .avatar {
      display: block;
      position: absolute;
      right: 15px;
      width: 22px;
      height: 22px;
      background-size: cover;
      float: right;
      border-radius: 199px;
      margin-top: 7px;
      margin-left: 10px;
    }
  }
}
