//Big list of articles
.article-categories-expandable {
  background: darken($page-background, 5%);
  padding: 20px;
  border-radius: $border-radius-small;
  margin-bottom: 10px;

  header {
    line-height: 1em;
    padding-left: 5px;
    position: relative;

    img {
      vertical-align: middle;
      margin-right: 10px;
      opacity: 0.2;
      position: relative;
      top: -2px;
    }

    a {
      text-decoration: none;
      color: inherit;
      display: block;
      @include clearfix;

      &:hover {
        h1 { text-decoration: underline; }
      }
    }
  }

  // Place the tags and slide up/down to the top right
  .article-controls {
    display: block;
    position: absolute;
    top: 3px;
    right: 0px;

    &.single-line { top: -5px; }
  }

  h1, h2 {
    font-weight: 400;
    display: block;
  }

  h1 { font-size: 1.2em; }

  h2 {
    font-size: 0.85em;
    margin-top: 8px;
    color: $text-color-lighter;
  }

  // Use the same list meta but reset the styles
  .list-meta {
    text-align: left;
    background: $page-background;
    margin-top: 0px;

    a {
      color: $button-color;
      text-decoration: underline;
      opacity: 1;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.9em;
      left: 0px;
      margin-left: 20px;
      position: relative;
      top: -13px;

      span {
        color: inherit;
        font-weight: inherit;
      }
    }
  }



  ul {
    @include blank-list;
    background: $page-background;
    padding: 15px 20px;
    margin-top: 18px;
    border-radius: 2px;

    li {
      margin-bottom: 12px;

      &:before {
        content: " ";
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 199px;
        background: $text-color-lighter;
        margin-right: 10px;
        position: relative;
        top: -2px;
      }
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover { color: #333; }
    }
  }

  .text-tag {
    font-size: 0.6em;
    background: $button-color-secondary;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin-left: 3px;
    position: relative;
    top: -1px;

    &.updated {
      background: $surface-secondary;
      color: $text-color-lighter;
    }
  }

}



// The article statuses (# of articles, new) on the top right
.article-tag {
  display: inline-block;
  padding: 8px;
  line-height: 1em;
  background: #fff;
  border-bottom: 1px solid $divider-color;
  font-size: 10px;
  font-weight: 600;
  color: $text-color-lighter;
  text-transform: uppercase;
  border-radius: 2px;
  margin-right: 4px;
  position: relative;

  &.new {
    background: $button-color-secondary;
    border-bottom: 1px solid #70aa45;
    color: $page-background;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }

  &.pointy {
    &:after {
      content: " ";
      display: block;
      width: 0px;
      height: 0px;
      border: 4px solid rgba(255, 255, 255, 0);
      border-left: 4px solid $page-background;
      position: absolute;
      right: -8px;
      top: 35%;
    }
  }
}

// Pointing up/down
.expandable-control {
  display: inline-block;
  padding: 10px 20px 10px 30px;
  color: $text-color-darker;
  margin-left: 20px;
  position: relative;
  line-height: 1px;

  i {
    font-size: 1.3em;
    line-height: 1px;// Small line height to avoid the large icon breaking the inline stuff
    position: relative;
    top: 2px;
  }

  &:after {// Left border line (with :after - we need line larger than the element)
    content: " ";
    display: block;
    width: 1px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: -7px;
    background: rgba(0, 0, 0, 0.1);
  }
}
