<phpunit bootstrap="bootstrap_minimal.php">
    <testsuites>
        <testsuite name="deskpro">
            <directory>phpunit</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-php" target="coverage/cov/phpunit.cov"/>
    </logging>
    <filter>
        <whitelist>
            <directory>../src/Application/AppBundle</directory>
            <directory>../src/Application/PortalBundle</directory>
            <directory>../src/Application/AuthBundle</directory>
            <directory>../src/Application/LanguageBundle</directory>
            <directory>../src/Application/FormsBundle</directory>
            <directory>../src/Application/PersonBundle</directory>
            <directory>../src/Application/TicketBundle</directory>
            <directory>../src/Application/DeskPRO/Brand</directory>
            <directory>../src/Application/DeskPRO/Cache</directory>
            <directory>../src/Application/DeskPRO/NewSettings</directory>
            <directory>../src/Application/DeskPRO/Sms</directory>
        </whitelist>
        <blacklist>
            <directory>../vendor</directory>
            <directory>../vendor-src</directory>
        </blacklist>
    </filter>
</phpunit>