<phpunit bootstrap="bootstrap_minimal.php">
    <testsuites>
        <testsuite name="deskpro">
            <directory>phpunit</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="coverage/phpunit.clover.xml"/>
        <log type="coverage-php" target="coverage/cov/phpunit.cov"/>
    </logging>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src/Application/AppBundle/</directory>
            <directory suffix=".php">../src/Application/PortalBundle/</directory>
            <directory suffix=".php">../src/Application/AuthBundle/</directory>
            <directory suffix=".php">../src/Application/LanguageBundle/</directory>
            <directory suffix=".php">../src/Application/FormsBundle/</directory>
            <directory suffix=".php">../src/Application/PersonBundle/</directory>
            <directory suffix=".php">../src/Application/TicketBundle/</directory>
            <directory suffix=".php">../src/Application/DeskPRO/Brand/</directory>
            <directory suffix=".php">../src/Application/DeskPRO/Cache/</directory>
            <directory suffix=".php">../src/Application/DeskPRO/NewSettings/</directory>
            <directory suffix=".php">../src/Application/DeskPRO/Sms/</directory>
        </whitelist>
    </filter>
</phpunit>