@import "../agent/lib.less";

.overlay-loader {
	position: absolute;
	top: 35px;
	left: 0;
	right: 0;
	bottom: 0;
	background: #eee;
	.opacity(50);
	display: none
}

.overlay-loader img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px;
}

#dp_header {
	max-width: 100%;
}

#dp_page_wrap {
	max-width: 100%;
	padding: 25px 10px 0 10px;
}

.reports-nav {
	margin-bottom: 20px;
}

.reports-nav a.clean-white {
	font-size: 20px;
	display: inline;
	padding: 7px;
}

.stat-list td {
	padding: 10px;
	border-bottom: 1px solid #eee;
	vertical-align: middle;
}

.stat-list th {
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
}

.stat-list a {
	color: #000;
}

.stat-list .center {
	text-align: center;
}

.stat-list .starred {
	background: url(../../images/report/icons/star.png) no-repeat center center;
}

.stat-list .prev-value {
	text-align: center;
}

.stat-list .icon {
	padding: 10px 15px 10px 15px;
	text-align: center;
}

.stat-list td.icon {
	background: #F7F4F4;
}

.stat-list .direction-up-green  {
	background: url(../../images/report/icons/variation-up-green-small.png) no-repeat right center;
}

.stat-list .direction-down-green  {
	background: url(../../images/report/icons/variation-down-green-small.png) no-repeat right center;
}

.stat-list .direction-up-red  {
	background: url(../../images/report/icons/variation-up-red-small.png) no-repeat right center;
}

.stat-list .direction-down-red  {
	background: url(../../images/report/icons/variation-down-red-small.png) no-repeat right center;
}

.stat-list .direction-up-grey  {
	background: url(../../images/report/icons/variation-up-grey-small.png) no-repeat right center;
}

.stat-list .direction-down-grey  {
	background: url(../../images/report/icons/variation-down-grey-small.png) no-repeat right center;
}

.stat-list .center {
	text-align: center
}

#stat_grouping_ref {
	width: 155px;
}

ul.tabs {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

ul.tabs li {
	display: inline-block;
	margin: 0;
	border: 1px solid #ccc;
	border-bottom: none;
	.border-radius(5px, 5px, 0, 0);
}

ul.tabs li.current {
}

ul.tabs a {
	padding: 7px;
	display: inline-block;
}

ul.tabs li.new {
	float: right
}

ul.tabs li a.new {
	background: url(../../images/report/icons/add.png) no-repeat 7px center;
	padding-left: 27px;
}

ul.tabs li.margin-left {
	margin-left: 100px;
}

h2 {
	font-size: 28px;
	padding: 10px 5px;
	line-height: 46px;
	color: #666;
}

.chart-type-select select {
	width: 200px;
}

.dashboard-state {
	display: inline-block;
	margin-bottom: 20px;
	float: right;
}

.dashboard-state a {
	display: block;
	font-size: 16px;
	min-width: 90px;
	text-align: center;
	padding: 8px;
}

.drop-allowed { background: #00ff00; }
.drop-denied { background: #ff0000; }

#report-dashboard {
	min-height: 600px;
	position: relative;
}

#report-dashboard .widget {
	margin: 0;
	width: 25%;
	font-size: 4em;
	text-align: center;
	color: #000;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#report-dashboard .dragging {
	z-index: 10000;
}

#report-dashboard .cell {
	margin: 0;
	width: 25%;
	font-size: 4em;
	text-align: center;
	color: #000;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px dashed #ccc;
	border-radius: 5px;
}

.dashboard-cell-hover-over {
	border: 1px dashed #2A5083  !important;
}

.dashboard-cell-hover-over  a {
	color: #2A5083 !important;
}

#report-dashboard .widget .inner {
	height: 100%;
	padding: 2px;
	display: block;
	font-size: 12px;
	position: relative;
}

#report-dashboard .widget .grid-slot-toolbar {
	font-size: 12px;
	display: block;
	border: 1px solid #ccc;
	padding: 4px;
	text-align: left;
	position: relative;
	min-height: 20px;
	max-height: 20px;
	line-height: 20px;
	overflow: hidden;
}

#report-dashboard .widget .grid-slot-toolbar .toolbar-title {
	color: #000;
}

#report-dashboard .widget .grid-slot-toolbar .icons {
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	cursor: pointer;
	background: #fff;
}

#report-dashboard .widget .grid-slot-toolbar .icons a {
	float: left;
	padding: 5px;
	display: none;
}

#report-dashboard .widget .resize-overlay {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#report-dashboard .widget .resize-right {
	background: url(../../images/report/icons/resize_arrow_right.png) no-repeat center right;
}

#report-dashboard .widget .resize-left {
	background: url(../../images/report/icons/resize_arrow_left.png) no-repeat center right;
}

.ui-resizable-helper {
	border: 1px dotted #757575;
	padding-right: -10px;
}

#report-dashboard .content {
	display: block;
	font-size: 12px;
	text-align: left;
	overflow-x: hidden;
}

#report-dashboard .cell a {
	color: #ccc;
	font-size: 24px;
	line-height: 60px;
	display: block;
	height: 100%;
	width: 100%;
	padding: 37px 0;
}

#report-dashboard-options {
	margin-bottom: 20px;
	display: none;
	padding: 15px;
	background: #F9F9F9;
	border: 1px solid #ccc;
	.border-radius(5px, 5px, 5px, 5px);
}

#report-dashboard-options-num-columns-slider {
	width: 200px;
	display: inline-block;
	margin-left: 10px;
}

#dashboard-empty-notice {
	text-align: center;
	border: 1px dashed #ccc;
	.border-radius(10px, 10px, 10px, 10px);
	font-size: 32px;
	background: #fff;
	line-height: 150px;
}

#dashboard-empty-notice a {
	color: #B5B5B5;
	display: block;
	padding: 40px;
}

.grid-slot-content {
	display: block;
	position: absolute;
	top: 35px;
	bottom: 9px;
	left: 0px;
	right: 5px;
}

.grid-slot-content .content {
	display: block;
	height: 100%;
}

.grid-slot-content .content-loader {
	background: url(../../images/spinners/loading-big-circle.gif) no-repeat center center;
	display: none;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px;
}

.grid-slot-content .content .chart-not-renderable {
	margin: 85px auto;
	background: #cccccc;
	color: #ffffff;
	padding: 13px;
	text-align: center;
}

/** Simple Variation Chart **/
.variation-change-chart {
	padding: 4px;
}

.variation-change-chart .clear {
	both: clear;
}

.variation-change-chart .main {
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	text-align: center;
	padding: 50px 0 15px 0;
}

.variation-change-chart .main table {
	border-collapse: collapse;
	padding: 5px;
	width: 100%;
}

.variation-change-chart .main table td.prev,
.variation-change-chart .main table td.actual {
	width: 33%
}

.variation-change-chart .prev {
	font-size: 28px;
	color: #666;
}

.variation-change-chart .prev span {
	display: block;
	text-align: center;
}

.variation-change-chart .actual {
	font-size: 38px;
	color: #000;
	font-weight: bold;
}

.variation-change-chart .actual span {
	text-align: center;
	display: block;
}

.variation-change-chart .value {
	margin-bottom: 20px;
}

.variation-change-chart .label {
	font-size: 14px;
}

.variation-change-chart .variation {
	color: #666;
}

.variation-change-chart .variation .amount {
	font-size: 18px;
}

.variation-change-chart .direction {
	background-repeat: no-repeat;
	background-position: bottom center;
	height: 85px;
	padding-bottom: 20px;
}

.variation-change-chart .direction-up-red {
	background-image: url(../../images/report/icons/variation-up-red.png);
}

.variation-change-chart .direction-down-red {
	background-image: url(../../images/report/icons/variation-down-red.png);
}

.variation-change-chart .direction-up-green {
	background-image: url(../../images/report/icons/variation-up-green.png);
}

.variation-change-chart .direction-down-green {
	background-image: url(../../images/report/icons/variation-down-green.png);
}

.variation-change-chart .direction-up-grey {
	background-image: url(../../images/report/icons/variation-up-grey.png);
}

.variation-change-chart .direction-down-grey {
	background-image: url(../../images/report/icons/variation-down-grey.png);
}

.variation-change-chart .footer {
	padding: 20px 0 0 0;
	text-align: center;
	clear: both;
}

.variation-change-chart .footer .sparkline {
	display: block;
	width: 100%;
}

/** Simple Drill Down Chart **/
.simple-drill-down {
	font-size: 11px;
	padding: 4px;
}

.simple-drill-down table {
	border-collapse: collapse;
	width: 100%;
}

.simple-drill-down table th {
	border-bottom: 1px solid #ccc;
	padding: 2px 5px;
	text-align: left;
	font-weight: normal;
}

.simple-drill-down table td {
	padding: 2px 5px;
	text-align: left;
}

.simple-drill-down table .trend {
	width: 40%;
}

.simple-drill-down table .value {
	width: 10%;
}

.simple-drill-down table td.value {
	text-align: right;
}

.simple-drill-down table .bar {
	width: 30%;
}

.simple-drill-down table td.bar span {
	background: #ADC5FF;
	border: 1px solid #316AF9;
	display: block;
	height: 16px;
}

/** Detailed Drill Down Chart **/
.detailed-drill-down {
	font-size: 11px;
	padding: 4px;
}

.detailed-drill-down table {
	border-collapse: collapse;
	width: 100%;
}

.detailed-drill-down table th {
	border-bottom: 1px solid #ccc;
	padding: 2px 5px;
	text-align: left;
	font-weight: normal;
}

.detailed-drill-down table td {
	padding: 2px 5px;
	text-align: left;
}

.detailed-drill-down table .trend {
	width: 40%;
}

.detailed-drill-down table .prev-value {
	width: 55px;
	text-align: center;
}

.detailed-drill-down table td.prev-value {
	text-align: center;
}

.detailed-drill-down table .diff {
	width: 55px;
	text-align: center;
	padding-right: 20px;
}

.detailed-drill-down table .diff-red {
	background: #BF0000;
	color: #fff;
}

.detailed-drill-down table .direction-up-green {
	background: url(../../images/report/icons/variation-up-green-small.png) no-repeat center right;
}

.detailed-drill-down table .direction-down-green {
	background: url(../../images/report/icons/variation-down-green-small.png) no-repeat center right;
}

.detailed-drill-down table .direction-up-red {
	background: url(../../images/report/icons/variation-up-red-small.png) no-repeat center right;
}

.detailed-drill-down table .direction-down-red {
	background: url(../../images/report/icons/variation-down-red-small.png) no-repeat center right;
}

.detailed-drill-down table .direction-up-grey {
	background: url(../../images/report/icons/variation-up-grey-small.png) no-repeat center right;
}

.detailed-drill-down table .direction-down-grey {
	background: url(../../images/report/icons/variation-down-grey-small.png) no-repeat center right;
}
