#dp_header {
	max-width: 100%;
}

#dp_page_wrap {
	max-width: 100%;
	padding: 25px 10px 0 10px;
}

.reports-nav {
	margin-bottom: 20px;
}

.reports-nav a.clean-white {
	font-size: 20px;
	display: inline;
	padding: 7px; 
}

.stat-list td {
	padding: 10px;
	border-bottom: 1px solid #eee; 
}

.stat-list th {
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
}

.stat-list a {
	color: #000;
}

.stat-list .starred {
	background: url(../../images/report/icons/star.png) no-repeat center center;
}

.stat-list .icon {
	padding: 10px 2px;
	text-align: center;
}

.stat-list .down {
	background: url(../../images/report/icons/arrow_down_green.png) no-repeat center right;
}

.stat-list .up {
	background: url(../../images/report/icons/arrow_up_green.png) no-repeat center right;
}

.stat-list .center {
	text-align: center
}

ul.tabs {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px; 
}

ul.tabs li {
	display: inline-block;
	margin: 0;
	border: 1px solid #ccc;
	border-bottom: none;
}

ul.tabs li.current {
}

ul.tabs a {
	padding: 10px;
	display: inline-block;
}

ul.tabs li a.new {
	background: url(../../images/report/icons/add.png) no-repeat 7px center;
	padding-left: 27px; 
}

ul.tabs li.margin-left {
	margin-left: 20px;
}

.dashboard-state {
	display: inline-block;
	margin-bottom: 20px;
}

.dashboard-state a {
	display: block;
	font-size: 16px;
	min-width: 90px;
	text-align: center;
	padding: 8px;
}

#report-dashboard-grid {
	list-style-type: none;
	margin: 0;
	padding: 0;
	clear: both; 
}

#report-dashboard-grid li {
	margin: 0 0 16px 0;
	float: left;
	width: 25%;
	font-size: 4em;
	text-align: center;
	color: #000;
	background: #fff;
	height: 250px;
}

#report-dashboard-grid li .inner {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 2px;
	display: block;
	height: 100%;
	font-size: 12px; 
}

#report-dashboard-grid li .grid-slot-toolbar {
	font-size: 12px;
	display: block;
	border: 1px solid #ccc;
	padding: 4px;
	text-align: left;
	position: relative;
	min-height: 22px;
}

#report-dashboard-grid li .grid-slot-toolbar .icons {
	position: absolute;
	top: 2px;
	right: 2px;
	cursor: pointer;
}

#report-dashboard-grid li .grid-slot-toolbar .icons a {
	float: left;
	padding: 5px;
	display: none;
}

.ui-resizable-helper {
	border: 1px dotted #757575;
}

#report-dashboard-grid .content {
	display: block;
	font-size: 12px;
	text-align: left;
}

#report-dashboard-grid #dashboard-new-placeholder .inner {
	border: 1px dashed #ccc;
}

#report-dashboard-grid #dashboard-new-placeholder a {
	color: #ccc;
	font-size: 36px;
	line-height: 250px;
	display: block;
}

#report-dashboard-grid .widget {
	width: 25%;	
}

#grid-lines div.widget {
	border-right: 1px solid #ccc;
	height: 100%;
}

#report-dashboard-options {
	margin-bottom: 20px;
	display: none;
}

#report-dashboard-options-num-columns-slider {
	width: 200px;
	display: inline-block;
	margin-left: 10px;
}

.grid-slot-content {

}

.grid-slot-content .chart {
	display: block;
	width: 100%;
	height: 230px;
}