.reports-nav {
	margin-bottom: 10px;
}

.reports-nav a.clean-white {
	font-size: 20px;
	display: inline;
}

.stat-list .starred {
	background: url(../../images/report/icons/star.png) no-repeat;
}
.stat-list .center {
	text-align: center
}