@import "normalize.css";
@import "raw/styles";
@import "include";
@import "loading/login";
@import "global-widgets/table-view", "global-widgets/id-container", "global-widgets/timer", "global-widgets/pagination", "global-widgets/control-bar", "global-widgets/radio", "global-widgets/cards", "global-widgets/fonts";
@import "global-widgets/popup", "global-widgets/avatar";
@import "global-widgets/navigation-dropdown/navigation-dropdowns";
@import "feedback/cards";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

//######################################################################################################################
//# Frame positioning
//######################################################################################################################

$window-header-height: 44px;
$app-switcher-width: 55px;
$app-switcher-expanded-width: 150px;
$nav-frame-width: 220px;
$nav-frame-header-height: 48px;
$nav-collapsed-width: 15px;

// $list-frame-width: 450px;
$list-frame-width: 800px;
$tab-frame-width: 100%;

$kanban-frame-width: 800px;

// Scrollable elements MUST be within a positioned container.
// In common cases such as the main panes, we use CSS to override the
// top/bottom px positions here to take into account other things like headers, etc
.dp-scrollable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: visible;

  &.as-native-scrollbar { overflow: hidden; }
  &.as-native-scrollbar.as-horizontal { overflow-x: auto; }
  &.as-native-scrollbar.as-vertical   { overflow-y: auto; }
}

.dp-window {
  .dp-window-header {
    @extend .site-header;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $window-header-height;
    z-index: 301;
  }

  .app-bar {
    overflow: hidden;
  }

  .dp-app-switcher {
    @extend .app-bar-wrapper;
    float: none;
    height: auto;

    position: absolute;
    top: $window-header-height;
    left: 0;
    bottom: 0;
    width: $app-switcher-width;
    z-index: 300;

    transition: all 0.25s ease;

    .app-switcher-size-toggle {
      display: block;
      text-align: center;
      position: absolute;
      color: #fff;
      bottom: 0;
      left: 0;
      right: 0;
      text-decoration: none;
    }

    .app-switcher-collapse {
      display: none;
    }
    .app-switcher-expand {
      display: block;
    }

    &.expanded {
      width: $app-switcher-expanded-width;

      .app-switcher-collapse {
        display: block;
      }
      .app-switcher-expand {
        display: none;
      }

      .app-bar {
        width: auto;
      }
    }
  }

  .dp-nav-frame {
    @extend .sidebar;
    float: none;
    height: auto;
    overflow: hidden;

    position: absolute;
    top: $window-header-height;
    left: $app-switcher-width;
    bottom: 0;
    z-index: 100;
    overflow-y: auto;

    transition: all 0.25s ease;

    a.nav-expand-button {
      display: none;
      background-color: #4681B2;
      width: $nav-collapsed-width;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 500;
      bottom: 0;
    }

    &.collapsed {
      width: $nav-collapsed-width;
      overflow-y: hidden;

      a.nav-expand-button {
        display: block;
      }
    }
  }

  .dpw-sidebar-main-title-footer {
    position: absolute;
    top: $nav-frame-header-height;
    height: 10px;
    z-index: 2;
    border-bottom: none;
    background: transparent;
  }

  .list-sidebar-title:first-child {
    margin-top: 0;
  }

  .dp-nav-frame-body {
    position: absolute;
    top: $nav-frame-header-height;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  .dp-content-outer-frame {
    position: absolute;
    top: $window-header-height;
    left: $app-switcher-width + $nav-frame-width;
    bottom: 0;
    right: 0;
    z-index: 95;
    height: auto;
    overflow: hidden;
  }

  .dp-list-frame {
    position: absolute;
    z-index: 50;
    top: $window-header-height;
    left: $app-switcher-width + $nav-frame-width;
    bottom: 0;
    width: $list-frame-width;
    background: #f8f8f8;
    border-right: 1px solid darken(#f8f8f8, 10%);
    height: auto;
    //overflow-y: hidden;

    transition: all 0.25s ease;

    &.kanban {
      width: $kanban-frame-width;
    }

    .dragging-item {
      opacity: 0;
      height: 0;
    }
  }

  .dp-list-frame-contents {
    position: absolute;
    top: $control-bar-height + 1px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .dp-tab-frame {
    position: absolute;
    top: $window-header-height;
    left: $app-switcher-width + $nav-frame-width + $list-frame-width;
    right: 0;
    bottom: 0;
    transition: all 0.25s ease;

    .blank-text {
      font-size: 12px;
      position: absolute;
      top: 50%;
      text-align: center;
      width: 100%;
      line-height: 1em;
      margin-top: -71px;
      font-style: italic;

      p {
        color: #999;
      }

      .hero-icon {
        font-size: 100px;
        margin-bottom: 30px;
      }
    }

    &.collapsed-nav {
      left: $app-switcher-width + $nav-collapsed-width + $list-frame-width;
    }
    &.collapsed-list {
      left: 0;
    }

    &.kanban-shifted {
      left: $app-switcher-width + $nav-frame-width + $kanban-frame-width;
      &.collapsed-nav {
        left: $app-switcher-width + $nav-collapsed-width + $kanban-frame-width;
      }
    }
  }
}

.app-frame-container {
  display: none;
  &.app-active {
    display: block;
  }

  &.collapsed-nav {
    .dp-list-frame {
      left: $app-switcher-width + $nav-collapsed-width;
    }

  }
  &.collapsed-list {
    .dp-list-frame {
      display: none;
    }
  }
}

.positioned-element {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  //visibility: hidden; // todo breaks dropdowns
}
