@import "normalize.css";
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

@import "raw/styles";
@import "include";
@import "loading/login";
@import "global-widgets/table-view", "global-widgets/id-container", "global-widgets/timer", "global-widgets/pagination", "global-widgets/control-bar", "global-widgets/radio", "global-widgets/cards", "global-widgets/fonts";
@import "global-widgets/popup", "global-widgets/avatar";
@import "global-widgets/navigation-dropdown/navigation-dropdowns";

@import "chrome/positioning";
@import "chrome/tabpane";
@import "feedback/cards";

@import "legacy-styles";
