.deskpro-overlay-overlay {
	background: rgba(190, 190, 190, 0.5);
}

.deskpro-overlay-outer {
	background: rgba(11, 11, 11, 0.6);
	
	padding: 8px;
	
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	-webkit-box-shadow: 9px 9px 40px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 9px 9px 40px rgba(0, 0, 0, 0.5);
	box-shadow: 9px 9px 40px rgba(0, 0, 0, 0.5);
}

.deskpro-overlay {
	background-color: #fff;
	
	min-width: 300px;
	min-height: 100px;
	
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	padding: 15px;
}