/**********************************************************************
* Overlay
***********************************************************************/

.overlay-main input[type=text] {
	width: 95%;
	margin-top: 5px;
}

/* The modal background, dims out the screen */
.deskpro-overlay-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url("../../../images/bg-overlay-light.png") repeat;
	z-index: 100000;
}

/* Main overlay wrapper */
.deskpro-overlay-outer {
	position: absolute;
	z-index: 100001;
	background: url("../../../images/bg-overlay-padding.png") repeat;
	border: 1px solid #3c434d;
	padding: 8px ;

	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

	-webkit-box-shadow:   inset 0 1px #777b7d, 0 0 5px rgba(0,0,0,.4);
    -moz-box-shadow: inset 0 1px #777b7d, 0 0 5px rgba(0,0,0,.4);
    box-shadow: inset 0 1px #777b7d, 0 0 5px rgba(0,0,0,.4);
}

.close-overlay {
	display: block;
	width: 29px;
	height: 29px;
	text-indent: -99999px;
	background: url("../../../images/icn-sprite.png") left -1200px no-repeat;
	position: absolute;
	right: -15px;
	top: -15px;

	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20xpx;

	-webkit-box-shadow:0 1px 5px rgba(0,0,0,.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,.4);
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
}

.close-overlay:hover {
	opacity: 1;

	-webkit-box-shadow:0 0 5px red;
    -moz-box-shadow: 0 0 5px red;
    box-shadow: 0 0 5px red;
}

/* The inner wrapper */
.deskpro-overlay {
	position: relative;
	background: #fff;

	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.overlay-title {
	border-bottom: 1px solid #d3d9e0;

	-webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;

	background: #eef1f5;
	background: -webkit-gradient(linear, 0 bottom, 0 top, from(#ebeef3 ), to(#f0f3f6));
    background: -moz-linear-gradient(90deg, #ebeef3, #f0f3f6 );
}

.overlay-title h4{
	font-size: 15px;
	font-weight: bold;
	color: #46515f;
	text-shadow: 0 1px 0 #fff;
	padding: 10px;
}

.overlay-content {
	padding: 10px;
	font-size: 13px;

	-webkit-box-shadow: 0 1px 1px #959ba1;
    -moz-box-shadow: 0 1px 1px #959ba1;
    box-shadow: 0 1px 1px #959ba1;

	min-width: 300px;
	min-height: 100px;
}

.overlay-actions {
	padding: 11px;
	text-align: center;


	-webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;

	background: #ced3d9;
	background: -webkit-gradient(linear, 0 bottom, 0 top, from(#d8dce1 ), to(#c2c8cf));
    background: -moz-linear-gradient(90deg, #d8dce1, #c2c8cf );

	-webkit-box-shadow: inset 0 1px 1px #959ba1, 0 1px 1px #3d4041;
    -moz-box-shadow: inset  0 1px 1px #959ba1, 0 1px 1px #3d4041;
    box-shadow: inset 0 1px 1px #959ba1, 0 1px 1px #3d4041;
}

.deskpro-overlay.iframe {
	background-color: transparent;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.deskpro-overlay.iframe .overlay-content {
	padding: 0;
}

.deskpro-overlay.iframe iframe {
	background-color: #fff;
}

/**********************************************************************
* Menu
***********************************************************************/

.deskpro-menu-outer {
	border: 1px solid #575757;

	-moz-border-radius: 6px;
	border-radius: 6px;

	-webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
	box-shadow: 9px 9px 20px rgba(0, 0, 0, 0.5);
}

.deskpro-menu-inner {
	border: 2px solid rgba(250, 250, 250, 0.7);
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.deskpro-menu {
	border: 1px solid #575757;
	-moz-border-radius: 3px;
	border-radius: 4px;

	padding: 1px;
	background-color: rgba(11, 11, 11, 0.9);

	color: #fff;
}

.deskpro-menu > ul {
	min-width: 160px;
}

.deskpro-menu > ul > li {
	padding: 5px 10px 5px 10px;
}

.deskpro-menu > ul > li:not(.sep):not(.elm):not(.section-title):hover,
.deskpro-menu > ul > li.hover {
	background: #606c88;
	background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );

	cursor: pointer;
}

.deskpro-menu > ul > li.sep {
	border-bottom: 1px solid #A3A3A3;
	height: 3px;
	overflow: hidden;
	padding: 0;
	margin: 0 0 3px 0;
}

.deskpro-menu > ul > li > span.icon {
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: center left;
}

.deskpro-menu > ul > li > span.arrow {
	float: right;
}

.deskpro-menu > ul > li.section-title {
	color: #cecece;
	padding-left: 3px;
	padding-bottom: 3px;
}

/**********************************************************************
* Simple Tabs
***********************************************************************/

.deskpro-tab { display: none; }
.deskpro-tab.on { display: block; }