.dpdesignportal-open-new-ticket {
  background: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 10px 38px;

  .header {
    text-align: center;
    padding-bottom: 10px;

    .img {
      display: block;
      width: 50px;
      height: 47px;
      margin: 15px auto;
      @include retina-image("../img/icon-ticket", 50px 47px);
    }

    h1 {
      font-size: 16px;
      margin-bottom: 10px;
    }

    p {
      opacity: 0.5;
      line-height: 1.7em;
    }
  }

  .dpdesignportal-form {
    text-align: left;

    h2 {
      font-size: 16px;
    }

    label, .label {
      opacity: 0.75;
      padding-bottom: 4px;
      padding-left: 5px;
    }
  }

  .error-large {
    position: absolute;
    margin-bottom: 10px;
    padding: 0.75em 1em;
    border-radius: 2px;
    background: #dc7575;
    color: #ffffff;
    width: 100%;
    max-width: 620px;
    z-index: 199;

    &.no-hover {
      position: relative;
    }
  }
}

.dpdesignportal-ticket-info {
  border: 1px solid #e7e7e7;
  margin: 7px;
  border-radius: 2px;
  font-size: 12px;

  a.category {
    display: block;
    padding: 9px 7px 9px 7px;
    color: inherit;
    text-decoration: none;
    i { margin-right: 4px;}
  }

  li + li { border-top: 1px solid #e7e7e7; }

  .edit-link {
    font-size: 11px;
    float: right;
    color: inherit;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 10px;
    opacity: 0.5;
    i { margin-left: 4px; }
    &:hover { opacity: 1; }
  }

  .ticket-info-panel {
    padding: 0 7px 7px;

    .additional-info{
      font-size: 12px;
      line-height: 1.6em;
      p { display: inline; }

      span {
        opacity: 0.5;
      }
    }

    .file-list {

      li { padding: 5px 0; }

      a {
        font-size: 12px;
        color: #878787;
        text-decoration: none;

        &:hover .file-title { text-decoration: underline; }

        .file-size {
          margin-left: 4px;
          opacity: 0.5;
          text-decoration: none;
          font-size: 10px;
        }

        i {
          font-size: 18px;
          margin-right: 4px;
          opacity: 0.5;
          position: relative;
          top: 2px;
        }
      }
    }

    li {
      padding: 1px 0;
      border: 0;
      > div {
        padding: 3px 0;
      }
    }

    .ticket-reference {
      .title, .reference {
        display: inline-block;
      }

      .reference {
        opacity: 0.5;
        margin-left: 4px;
      }
    }


    .title {
      display: block;
      opacity: 0.6;
      margin-bottom: 2px;
      font-size: 11px;
    }

    .user-link {
      color: #3e77b7;
      text-decoration: none;
      font-size: 12px;
      position: relative;

      &:hover {
        .name {
          text-decoration: underline;
        }
      }

      .name {

      }

      .email {
        color: #cecece;
        margin-left: 3px;
      }

      .dpdesignportal-message-avatar {
        position: relative;
        top: -2px;
        margin-right: 4px;
        background-color: #cecece;

        i {
          position: relative;
          top: 2px;
        }

        .remove-user { opacity: 0; }
        &:hover .remove-user { opacity: 1; }

        .remove-user {
          display: block;
          background: #484848;
          color: #cccccc;
          font-size: 7px;
          position: absolute;
          width: 13px;
          height: 13px;
          top: -4px;
          right: -4px;
          border-radius: 19px;
          text-align: center;
          i {
            position: relative;
            top: -1px;
          }
        }
      }
    }
  }
}


.ticket-message {
  padding: 10px;
  .user-link {
    text-decoration: none;
    color: #3e77b7;
    .dpdesignportal-message-avatar {
      margin-right: 3px;
      position: relative;
      top: -1px;
    }
  }

  .message-files {
    border-left: 2px solid #d1d0d0;
    padding: 5px 10px;
    margin-left: 10px;
    margin-top: 5px;

    a {
      font-size: 12px;
      text-decoration: none;

      i { margin-right: 4px; }
    }

    a:hover { text-decoration: underline; }

    li { padding: 3px 0; }

    .title {
      font-size: 12px;
      display: block;
      margin-bottom: 5px;
      color: #a7a5a5;
    }
  }
}

.ticket-message-agent {
  background: #f6f4ef;
  border-top: 1px solid #eae9e6;
  border-bottom: 1px solid #eae9e6;
}


.ticket-message-header {
  font-size: 12px;
  color: #7c7c7c;

  .date {
    opacity: 0.5;
    &.right {
      float: right;
    }
  }
}

.message-text {
  p {
    line-height: 1.7em;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #595959;
    font-size: 12px;
  }
}
