{% if custom_fields %}
	<div class="ticket-custom-fields-wrap">
		<div class="edit-btn ticket-custom-fields-edit-btn"><span>Edit Fields</span></div>
		<div class="ticket-custom-fields show-fields">
			<div class="wrap">
				{% include 'AgentBundle:Ticket:custom-fields-rendered.twig.html' with {'custom_fields': custom_fields} %}
			</div>
		</div>
	</div>

	<div class="ticket-custom-fields edit show-fields edit-fields-overlay" style="display:none">
		{% for f in custom_fields %}
			<div class="field-wrap">
				<div class="label-wrap"><label>{{f.title}}</label></div>
				<div class="field-input">
					{{ form_field(f.form, {}, {}, 'AgentBundle:Ticket:custom-field-forms.twig.html') }}
				</div>
			</div>
		{% endfor %}
		<div class="buttons">
			<div class="loading-off">
				<button class="save-trigger dp-button small">Save</button>
				<button class="close-trigger dp-button gray small">Cancel</button>
			</div>
			<div class="loading-on">
				<span>Saving ...</span>
			</div>
		</div>
	</div>
{% endif %}