{% include 'AgentBundle:Ticket:part-flag-menu.twig.html' %}
<ul class="ticket-info-edit-menu" style="display:none">
	<li><span class="icon icon-keyboard">Take Ticket</span></li>
	<li><span class="icon icon-key-add">Lock Ticket</span></li>
	<li><span class="icon icon-page-delete">Delete Ticket</span></li>
	<li class="sep">-</li>
	<li><span class="icon print-ticket">Print Ticket</span></li>
	<li><span class="icon icon-page-merge">Merge Ticket</span></li>
	<li><span class="icon icon-page-split">Split Ticket</span></li>
	<li><span class="icon change-ticket-owner">Change User Owner</span></li>
</ul>
<ul class="ticket-message-edit-menu" style="display:none">
	<li><span class="icon view-unformatted">View Unformatted</span></li>
	<li><span class="icon view-details">View Details</span></li>
	<li><span class="icon edit">Edit</span></li>
	<li><span class="icon edit">Quote</span></li>
</ul>
<ul class="ticket-macros-menu" style="display:none">
	{% for macro in macros %}
		<li data-macro-id="{{macro.id}}">{{macro.title}}</li>
	{% endfor %}
</ul>
<ul class="ticket-options-status-menu" data-option-name="status" style="display:none">
	<li data-option-id="awaiting_agent">Open</li>
	<li data-option-id="awaiting_user">Pending</li>
	<li data-option-id="resolved">Resolved</li>
</ul>
<ul class="ticket-options-department-menu" data-option-name="department" style="display:none">
	{% for id,title in ticket_options.departments %}
		<li data-option-id="{{id}}">{{title}}</li>
	{% endfor %}
</ul>
<ul class="ticket-options-category-menu" data-option-name="category" style="display:none">
	{% for id,title in ticket_options.categories %}
		<li data-option-id="{{id}}">{{title}}</li>
	{% endfor %}
</ul>
<ul class="ticket-options-product-menu" data-option-name="product" style="display:none">
	{% for id,title in ticket_options.products %}
		<li data-option-id="{{id}}">{{title}}</li>
	{% endfor %}
</ul>
<ul class="ticket-options-priority-menu" data-option-name="priority" style="display:none">
	{% for id,title in ticket_options.priorities %}
		<li data-option-id="{{id}}">{{title}}</li>
	{% endfor %}
</ul>
<ul class="ticket-options-agent-menu" data-option-name="agent" style="display:none">
	<li data-option-id="0">Unassigned</li>
	<li data-option-id="{{person.id}}">Assign to me</li>
	<li class="sep">-</li>
	{% if ticket_options.agent_teams %}
		{% for id,title in ticket_options.agent_teams %}
			<li data-option-id="{{id}}" data-option-type="agent_team">{{title}}</li>
		{% endfor %}
	{% endif %}
	<li class="sep">-</li>
	{% for id,title in ticket_options.agents %}
		<li data-option-id="{{id}}">{{title}}</li>
	{% endfor %}
</ul>
