<div class="ticket-bar">
	<div class="reply" style="display:none">
		<form class="reply-form">
			<div class="reply-area deskpro-tab on">
				<textarea name="message"></textarea>
				{% if ticket.id %}
					<table cellspacing="0" cellpadding="0">
						<tr><td>
							<input class="small reply-assign-trigger" type="checkbox" name="options[assign]" value="0" /> Assign ticket<span class="reply-assign-label" data-label=": %agent%" style="display:none;cursor:pointer;"></span>
						</td><td>
							<input class="small" type="checkbox" checked="checked" name="options[email_user]" /> Email user this reply
						</td></tr>
						<tr><td>
							<input class="small" type="checkbox" name="options[status]" checked="checked" /> Change status to <span class="menu-trigger change-status">Pending</span>
						</td><td>
							<input class="small cc-to-trigger" type="checkbox" name="options[cc]" value="" /> CC reply<span class="cc-to-label" data-label=": %email%" style="display:none;cursor:pointer;"></span>
							<ul class="cc-to-menu" style="display:none">
								<li class="elm">
									CC reply to:<br />
									<input type="text" value="" style="width:180px; margin-top: 3px; margin-bottom: 3px;" /><br />
									<button class="cc-to-save-trigger dp-button x-small">Okay</button>
								</li>
							</ul>
						</td></tr>
					</table>
				{% else %}
					<table cellspacing="0" cellpadding="0">
						<tr><td>
							<input class="small" type="checkbox" checked="checked" name="options[email_user]" /> Email user about this ticket
						</td><td>
							<input class="small" type="checkbox" name="options[cc]" /> CC reply
						</td></tr>
					</table>
				{% endif %}
			</div>
			<div class="attachments-area deskpro-tab" style="display:none">
				...
			</div>
		</form>
	</div>
	<div class="bar">
		<ul class="tools">
			<li class="macros"><span class="icon icon-script-gear">Macros</span></li>
			<li class="actions"><span class="icon icon-mouse">Actions</span></li>
		</ul>
		<div class="placeholder">
			<input type="text" class="placeholder" value="Start typing a reply..." />
		</div>
		<div class="reply-buttons" style="display:none; padding-left: 10px;">
			{% if ticket.id %}
				<button class="dp-button small submit-trigger">Submit Reply</button>
			{% else %}
				<button class="dp-button small submit-trigger">Save New Ticket</button>
			{% endif %}
		</div>
	</div>
	<ul class="ticket-reply-tabs" style="display:none">
		<li class="tab-trigger on" data-tab-for="div.deskpro-tab.reply-area">Message</li>
		<li class="tab-trigger" data-tab-for="div.deskpro-tab.attachments-area">Attachments</li>
		<li class="close-trigger">Close</li>
	</ul>
</div>