{% include 'AgentBundle:Ticket:part-flag-menu.twig.html' %}
<ul class="ticket-info-edit-menu" style="display:none">
	<li data-option-id="delete"><span class="icon icon-page-delete">Delete Ticket</span></li>
	<li data-option-id="delete-block"><span class="icon icon-page-delete dev-feature-inactive">Delete Ticket and Block User</span></li>
	<li data-option-id="spam"><span class="icon icon-page-delete dev-feature-inactive">Mark as Spam</span></li>
	<li class="sep">-</li>
	<li data-option-id="print"><span class="icon print-ticket">Print Ticket</span></li>
	<li data-option-id="merge"><span class="icon icon-page-merge dev-feature-inactive">Merge Ticket</span></li>
	<li data-option-id="split"><span class="icon icon-page-split dev-feature-inactive">Split Ticket</span></li>
	<li><span class="icon change-ticket-owner dev-feature-inactive">Change User Owner</span></li>
</ul>
<ul class="ticket-message-edit-menu" style="display:none">
	<li><span class="icon view-unformatted">View Unformatted</span></li>
	<li><span class="icon view-details">View Details</span></li>
	<li><span class="icon edit">Edit</span></li>
	<li><span class="icon edit">Quote</span></li>
</ul>
<ul class="ticket-macros-menu" style="display:none">
	{% for macro in macros %}
		<li data-macro-id="{{macro.id}}">{{macro.title}}</li>
	{% endfor %}
</ul>
<ul class="ticket-menu status" data-option-name="status" style="display:none">
	<li data-option-id="open">Open</li>
	<li data-option-id="pending">Pending</li>
	<li data-option-id="resolved">Resolved</li>
</ul>
<ul class="ticket-menu department_id" data-option-name="department_id" style="display:none">
	{% for id,title in ticket_options.departments %}
		<li data-option-id="{{id}}">{{title}}</li>
	{% endfor %}
</ul>
<ul class="ticket-menu category_id" data-option-name="category_id" style="display:none">
	{% for id,title in ticket_options.categories %}
		<li data-option-id="{{id}}">{{title}}</li>
	{% endfor %}
</ul>
<ul class="ticket-menu product_id" data-option-name="product_id" style="display:none">
	{% for id,title in ticket_options.products %}
		<li data-option-id="{{id}}">{{title}}</li>
	{% endfor %}
</ul>
<ul class="ticket-menu priority_id" data-option-name="priority_id" style="display:none">
	{% for id,title in ticket_options.priorities %}
		<li data-option-id="{{id}}">{{title}}</li>
	{% endfor %}
</ul>
<ul class="ticket-menu agent_id" data-option-name="agent_id" style="display:none">
	<li data-option-id="0">Unassigned</li>
	<li data-option-id="{{person.id}}">Assign to me</li>
	<li class="sep">-</li>
	{% for id,title in ticket_options.agents %}
		<li data-option-id="{{id}}" style="line-height: 15px">
			<div style="margin-right: 5px; float: left">
				<img src="{{ path('serve_person_picture_size', {'person_id': id, 'size': 15}) }}" alt="" width="15" height="15" />
			</div>
			{{title}}
		</li>
	{% endfor %}
</ul>
{% if ticket_options.agent_teams %}
<ul class="ticket-menu agent_team_id" data-option-name="agent_team_id" style="display:none">
	<li data-option-id="0">None</li>
	{% for id,title in ticket_options.agent_teams %}
		<li data-option-id="{{id}}">{{title}}</li>
	{% endfor %}
</ul>
{% endif %}