<div class="reply" style="display:none">
	<ul class="ticket-reply-tabs" style="display:none;width: 300px">
		<li class="tab-trigger on" data-tab-for="div.deskpro-tab.reply-area">Message</li>
		<li class="tab-trigger" data-tab-for="div.deskpro-tab.attachments-area">Attachments</li>
		<li class="tab-trigger" data-tab-for="div.deskpro-tab.cc-area">CC</li>
		<li class="close-trigger">Close</li>
	</ul>
	<form class="reply-form">
		<div class="reply-area deskpro-tab on">
			<textarea name="message"></textarea>
			{% if with_ticket_context %}
				<table cellspacing="0" cellpadding="0">
					<tr><td>
						<input type="hidden" name="options[agent_id]" value="{{person.id}}" />
						<input type="hidden" name="options[agent_team_id]" value="{{person.getAgentTeamIds[0]}}" />
						<input type="hidden" name="options[status]" value="pending" />

						<input class="small reply-assign-trigger" type="checkbox" name="options[do_assign]" value="1" checked="checked" /> Assign ticket to
						<span class="prop-val trigger agent_id">Me</span>
						and
						<span class="prop-val trigger agent_team_id">My Team</span>
					</td></tr>
					<tr><td>
						<input class="small" type="checkbox" name="options[do_status]" checked="checked" /> Change status to <span class="prop-val status trigger">Pending</span>
					</td><tr>
				</table>
			<ul class="reply-agent_id-menu" style="display:none">
				<li data-option-id="standard" data-option-name="agent_id" data-option-value="{{person.id}}">Me</li>
				<li class="sep">-</li>
				{% for id,title in ticket_options.agents %}
					<li data-option-id="standard" data-option-name="agent_id" data-option-value="{{id}}">{{title}}</li>
				{% endfor %}
			</ul>
			<ul class="reply-agent_team_id-menu" style="display:none">
				<li data-option-id="standard" data-option-name="agent_team_id" data-option-value="{{person.getAgentTeamIds[0]}}">My Team</li>
				<li class="sep">-</li>
				{% for id,title in ticket_options.agent_teams %}
					<li data-option-id="standard" data-option-name="agent_team_id" data-option-value="{{id}}">{{title}}</li>
				{% endfor %}
			</ul>
			<ul class="reply-status-menu" style="display:none">
				<li data-option-id="standard" data-option-name="status" data-option-value="open">Open</li>
				<li data-option-id="standard" data-option-name="status" data-option-value="pending">Pending</li>
				<li data-option-id="standard" data-option-name="status" data-option-value="resolved">Resolved</li>
			</ul>
			{% endif %}
		</div>
		<div class="attachments-area deskpro-tab" style="display:none">
			...
		</div>
		<div class="cc-area deskpro-tab" style="display:none">
			<input type="text" value="" /> <button class="dp-button xx-small">Add Email Address</button>
		</div>
	</form>
</div>